Repository numpy/numpy, pull requests merged in 2018-04, with the labels that each got.

#10781 NEP index builder
  .circleci/config.yml
  doc/neps/.gitignore
  doc/neps/Makefile
  doc/neps/index.rst.tmpl
  doc/neps/nep-0000.rst
  doc/neps/nep-0001-npy-format.rst
  doc/neps/nep-0002-warnfix.rst
  doc/neps/nep-0003-math_config_clean.rst
  doc/neps/nep-0004-datetime-proposal3.rst
  doc/neps/nep-0005-generalized-ufuncs.rst
  doc/neps/nep-0006-newbugtracker.rst
  doc/neps/nep-0007-datetime-proposal.rst
  doc/neps/nep-0008-groupby_additions.rst
  doc/neps/nep-0009-structured_array_extensions.rst
  doc/neps/nep-0010-new-iterator-ufunc.rst
  doc/neps/nep-0011-deferred-ufunc-evaluation.rst
  doc/neps/nep-0012-missing-data.rst
  doc/neps/nep-0013-ufunc-overrides.rst
  doc/neps/nep-0014-dropping-python2.7-proposal.rst
  doc/neps/nep-template.rst
  doc/neps/tools/build_index.py
Labels: 01 - Enhancement, component: NEP

#10833 ENH: Add support for the 64-bit RISC-V architecture
  doc/release/1.15.0-notes.rst
  numpy/core/include/numpy/npy_cpu.h
  numpy/core/include/numpy/npy_endian.h
Labels: 01 - Enhancement, component: numpy.core

#10834 DOC: note that NDEBUG should be set when OPT should increase optimization
  doc/source/user/building.rst
Labels: 03 - Documentation, component: Documentation

#10827 ENH: Add tester for pytest.
  numpy/__init__.py
  numpy/core/__init__.py
  numpy/f2py/__init__.py
  numpy/fft/__init__.py
  numpy/lib/__init__.py
  numpy/linalg/__init__.py
  numpy/ma/__init__.py
  numpy/matrixlib/__init__.py
  numpy/polynomial/__init__.py
  numpy/random/__init__.py
  numpy/testing/_private/pytesttester.py
  pytest.ini
Labels: 01 - Enhancement, component: numpy.testing

#10836 Fix script name for pushing NEP docs to repo
  .circleci/config.yml
Labels: 00 - Bug, component: NEP

#10840 MAINT: Fix typo in code example.
  doc/release/1.15.0-notes.rst
Labels: 03 - Documentation, 03 - Maintenance

#10849 DOC: fix examples in docstring for np.flip
  numpy/lib/function_base.py
Labels: 00 - Bug, 03 - Documentation

#10814 BUG: verify the OS supports avx instruction
  numpy/core/code_generators/generate_umath.py
  numpy/core/include/numpy/npy_common.h
  numpy/core/setup.py
  numpy/core/setup_common.py
  numpy/core/src/umath/cpuid.c
  numpy/core/src/umath/cpuid.h
Labels: 00 - Bug

#10800 DOC: Add remarks about array vs scalar output to every ufunc
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 03 - Documentation

#10763 BUG: floating types should override tp_print
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_scalarprint.py
Labels: 00 - Bug, component: numpy.core

#10826 BUG: np.squeeze() now respects older API axis expectation
  doc/release/1.15.0-notes.rst
  numpy/core/fromnumeric.py
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, component: numpy.core

#10670 DEP: Deprecate np.sum(generator)
  doc/release/1.15.0-notes.rst
  numpy/core/fromnumeric.py
  numpy/core/tests/test_deprecations.py
Labels: 06 - Deprecation, component: numpy.core

#10862 BUG: floating types should override tp_print (1.14 backport)
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_scalarprint.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10863 MAINT: More Histogramdd cleanup
  numpy/lib/histograms.py
Labels: 03 - Maintenance, component: numpy.lib

#10850 DEP: Issue deprecation warnings for some imports.
  numpy/core/umath_tests.py
  numpy/testing/decorators.py
  numpy/testing/noseclasses.py
  numpy/testing/nosetester.py
  numpy/testing/utils.py
Labels: 06 - Deprecation, component: numpy.core, component: numpy.testing

#10859 MAINT: Remove yield tests
  .appveyor.yml
  numpy/core/tests/test_umath_complex.py
  numpy/lib/tests/test_index_tricks.py
  numpy/lib/tests/test_twodim_base.py
  numpy/polynomial/tests/test_classes.py
  tools/travis-test.sh
Labels: 03 - Maintenance, 04 - Testing

#10796 BUG: fix wrong inplace vectorization on overlapping arguments
  numpy/core/src/umath/loops.c.src
Labels: 00 - Bug

#10860 BUG: core: fix NPY_TITLE_KEY macro on pypy
  numpy/core/include/numpy/ndarrayobject.h
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 24 - PyPy, component: numpy.core

#10869 BUG: Fix encoding regression in ma/bench.py (Issue #10868)
  numpy/ma/bench.py
Labels: 00 - Bug, 05 - Regression

#10739 BUG: Fix histogram bins="auto" for data with little variance
  doc/release/1.15.0-notes.rst
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 00 - Bug, component: numpy.lib

#10874 DOC: State in docstring that lexsort is stable (#10873).
  numpy/add_newdocs.py
Labels: 03 - Documentation, component: numpy.core

#10745 ENH: Add object loops to the comparison ufuncs
  doc/release/1.15.0-notes.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/code_generators/ufunc_docstrings.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/tests/test_ufunc.py
Labels: 01 - Enhancement, component: numpy.core

#10885 TST: Re-enable test display on appveyor
  .appveyor.yml
Labels: 04 - Testing

#10665 ENH: umath: don't make temporary copies for in-place accumulation
  doc/release/1.15.0-notes.rst
  numpy/core/src/umath/ufunc_object.c
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.core

#10905 BUG: for 1.14 back-compat, accept list-of-lists in fromrecords
  numpy/core/records.py
  numpy/core/tests/test_records.py
Labels: 06 - Deprecation

#10901 DOC, BUG : Bad link to `np.random.randint`
  numpy/random/mtrand/mtrand.pyx
Labels: 03 - Documentation, component: numpy.random

#10903 DOC: Fix link in `See Also` section of `randn` docstring.
  numpy/random/mtrand/mtrand.pyx
Labels: 03 - Documentation, component: numpy.random

#10907 TST: reactivate module docstring tests, fix float formatting
  numpy/lib/tests/test_polynomial.py
Labels: 04 - Testing

#10875 BUG: fix savetxt, loadtxt for '+-' in complex
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, component: numpy.lib

#10822 BUG: fixes exception in numpy.genfromtxt, see #10780
  doc/source/user/basics.io.genfromtxt.rst
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, component: numpy.lib

#10872 ENH: Extend np.flip to work over multiple axes
  doc/release/1.15.0-notes.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement, component: numpy.lib

#10775 BUG: Return NULL from PyInit_* when exception is raised
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/umath/umathmodule.c
  numpy/fft/fftpack_litemodule.c
  numpy/linalg/lapack_litemodule.c
  numpy/linalg/umath_linalg.c.src
Labels: 00 - Bug, component: numpy.core

#10936 DOC: Fix NumpyVersion example (closes gh-10935)
  numpy/lib/_version.py
Labels: 03 - Documentation

#10890 MAINT: lstsq: compute residuals inside the ufunc
  numpy/linalg/linalg.py
  numpy/linalg/umath_linalg.c.src
Labels: 03 - Maintenance, component: numpy.linalg

#10921 DOC: clear up warnings, fix matplotlib plot
  doc/source/conf.py
  doc/source/user/quickstart.rst
  numpy/add_newdocs.py
  numpy/core/arrayprint.py
  numpy/core/code_generators/ufunc_docstrings.py
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/doc/constants.py
  numpy/lib/function_base.py
  numpy/lib/mixins.py
  numpy/lib/nanfunctions.py
  numpy/lib/npyio.py
Labels: 03 - Documentation

#10943 ENH: Add a search box to the sidebar in the docs
  doc/source/_templates/searchbox.html
  doc/source/conf.py
Labels: 01 - Enhancement, 03 - Documentation, component: Documentation

#9998 ENH: Nditer as context manager
  doc/release/1.15.0-notes.rst
  doc/source/reference/arrays.nditer.rst
  doc/source/reference/c-api.iterator.rst
  numpy/add_newdocs.py
  numpy/core/code_generators/cversions.txt
  numpy/core/code_generators/numpy_api.py
  numpy/core/setup_common.py
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/nditer_api.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_impl.h
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_nditer.py
  numpy/lib/stride_tricks.py
Labels: 01 - Enhancement, 24 - PyPy, component: numpy.core

#10891 TST: Extract a helper function to test for reference cycles
  numpy/lib/tests/test_io.py
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
  numpy/testing/utils.py
Labels: 04 - Testing, component: numpy.testing

#10951 BUG: it.close() disallows access to iterator, fixes #10950
  doc/source/reference/arrays.nditer.rst
  numpy/add_newdocs.py
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/tests/test_nditer.py
Labels: 00 - Bug, component: numpy.core

#10959 (Backport 1.14.3) BUG: test, fix for missing flags['WRITEBACKIFCOPY'] key
  numpy/core/src/multiarray/flagsobject.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10960 (Backport 1.14.3) Add missing underscore to prototype in check_embedded_lapack
  numpy/distutils/system_info.py
Labels: 00 - Bug, 07 - Backport, component: numpy.distutils

#10961 (Backport 1.14.3) BUG: Fix encoding regression in ma/bench.py (Issue #10868)
  numpy/ma/bench.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10199 ENH: Quantile
  doc/release/1.15.0-notes.rst
  numpy/lib/function_base.py
  numpy/lib/nanfunctions.py
  numpy/lib/tests/test_function_base.py
  numpy/lib/tests/test_nanfunctions.py
Labels: 01 - Enhancement, component: numpy.lib

#10946 BUG: 'style' arg to array2string broken in legacy mode
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#10947 BUG: 'style' arg to array2string broken in legacy mode (1.14 Backport)
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10824 BUG: test, fix PyArray_DiscardWritebackIfCopy refcount issue and docu…
  doc/source/reference/c-api.array.rst
  numpy/core/include/numpy/ndarrayobject.h
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#10882 BUG: have _array_from_buffer_3118 correctly handle errors
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#10883 DOC: Fix negative binomial documentation.
  numpy/random/mtrand/mtrand.pyx
Labels: 03 - Documentation, component: numpy.random

#10973 DOC: advise against use of matrix.
  doc/source/reference/arrays.classes.rst
  doc/source/user/numpy-for-matlab-users.rst
  doc/source/user/quickstart.rst
Labels: 03 - Documentation

#10971 MAINT: Remove workaround for gh-10891
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance

#10911 BUG: Fix casting between npy_half and float in einsum
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, component: numpy.core

#10974 (Backport 1.14.3) BUG: test, fix PyArray_DiscardWritebackIfCopy refcount issue and docu…
  doc/source/reference/c-api.array.rst
  numpy/core/include/numpy/ndarrayobject.h
  numpy/core/src/multiarray/multiarray_tests.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10635 ENH: Implement initial kwarg for ufunc.add.reduce
  doc/release/1.15.0-notes.rst
  numpy/add_newdocs.py
  numpy/core/_methods.py
  numpy/core/fromnumeric.py
  numpy/core/src/umath/override.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.core

#10919 BUG: Pass non-None outputs to __array_prepare__ and __array_wrap__
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, component: numpy.core

#10980 DOC: link to governance, convert external link to internal
  doc/source/about.rst
  doc/source/user/c-info.ufunc-tutorial.rst
Labels: 03 - Documentation, 03 - Maintenance

#10957 DOC: create 1.14.3 release note
  doc/release/1.14.3-notes.rst
Labels: 03 - Documentation

#10986 MAINT: move all masked array matrix tests to matrixlib.
  numpy/ma/core.py
  numpy/ma/extras.py
  numpy/ma/tests/test_core.py
  numpy/ma/tests/test_extras.py
  numpy/ma/tests/test_subclassing.py
  numpy/matrixlib/tests/test_masked_matrix.py
Labels: 03 - Maintenance, component: numpy.ma, component: numpy.matrixlib
