Repository numpy/numpy, pull requests merged in 2018-12, with the labels that each got.

#12464 BUG: IndexError for empty list on structured MaskedArray.
  numpy/ma/core.py
  numpy/ma/tests/test_regression.py
Labels: 00 - Bug, component: numpy.ma

#12466 TST: use openblas for Windows CI
  azure-pipelines.yml
Labels: 05 - Testing

#12445 MAINT: Use list and dict comprehension when possible
  numpy/compat/_inspect.py
  numpy/core/code_generators/genapi.py
  numpy/core/code_generators/generate_umath.py
  numpy/core/einsumfunc.py
  numpy/core/fromnumeric.py
  numpy/core/numeric.py
  numpy/core/records.py
  numpy/core/tests/test_einsum.py
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_numerictypes.py
  numpy/distutils/ccompiler.py
  numpy/distutils/conv_template.py
  numpy/distutils/exec_command.py
  numpy/distutils/npy_pkg_config.py
  numpy/f2py/common_rules.py
  numpy/f2py/crackfortran.py
  numpy/lib/type_check.py
Labels: 03 - Maintenance

#12443 MAINT Use set litterals
  numpy/core/_type_aliases.py
  numpy/core/einsumfunc.py
  numpy/core/numeric.py
  numpy/core/shape_base.py
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_scalarmath.py
  numpy/distutils/command/build_ext.py
  numpy/lib/_iotools.py
  numpy/lib/npyio.py
  numpy/lib/tests/test__iotools.py
  numpy/lib/tests/test_shape_base.py
  numpy/testing/_private/parameterized.py
Labels: 03 - Maintenance

#12471 ENH: override support for np.linspace and friends
  numpy/core/function_base.py
Labels: 01 - Enhancement, component: __array_function__

#12470 MAINT: remove wrapper functions from numpy.core.multiarray
  numpy/core/multiarray.py
  numpy/core/overrides.py
  numpy/core/src/multiarray/compiled_base.c
Labels: component: __array_function__

#12328 MAINT: Allow subclasses in `ndarray.__array_function__`.
  numpy/core/_methods.py
  numpy/core/overrides.py
  numpy/core/tests/test_overrides.py
Labels: 03 - Maintenance, component: __array_function__

#12353 BUG: test, fix for threshold='nan'
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, component: numpy.core

#12474 TST: enable dispatcher test coverage
  tools/travis-test.sh
Labels: 05 - Testing

#12486 DOC: Update copyright year in the license
  LICENSE.txt
Labels: 04 - Documentation

#12488 ENH: implement matmul on NDArrayOperatorsMixin
  doc/release/1.16.0-notes.rst
  numpy/lib/mixins.py
  numpy/lib/tests/test_mixins.py
Labels: 01 - Enhancement, component: numpy.lib

#12388 ENH: allow arrays for start and stop in {lin,log,geom}space
  doc/release/1.16.0-notes.rst
  numpy/core/function_base.py
  numpy/core/tests/test_function_base.py
  numpy/lib/tests/test_histograms.py
Labels: 01 - Enhancement, component: numpy.core

#12498 TST: sync Azure Win openblas
  azure-pipelines.yml
Labels: 03 - Maintenance, 05 - Testing

#12494 BUG: test, fix matmul, dot for vector array with stride[i]=0
  numpy/core/src/common/cblasfuncs.c
  numpy/core/src/umath/matmul.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#12501 MAINT: removed word/typo from comment in site.cfg.example
  site.cfg.example
Labels: 03 - Maintenance

#12508 DOC, MAINT: Make `PYVER = 3` in doc/Makefile.
  doc/Makefile
Labels: 03 - Maintenance, 04 - Documentation, 09 - Backport-Candidate, component: Documentation

#12506 MAINT: Prepare master for 1.17.0 development.
  .appveyor.yml
  .travis.yml
  azure-pipelines.yml
  doc/release/1.17.0-notes.rst
  doc/source/release.rst
  numpy/random/mtrand/mtrand.pyx
  numpy/random/mtrand/numpy.pxd
  pavement.py
  setup.py
  shippable.yml
Labels: 03 - Maintenance, 04 - Documentation, 14 - Release

#12502 TST: Azure Python version fix
  azure-pipelines.yml
Labels: 05 - Testing

#12522 BUG: ensure new-lines in compiler error messages are actually printed to the console
  numpy/distutils/ccompiler.py
  numpy/distutils/exec_command.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.distutils

#12528 BUG: fix an unsafe PyTuple_GET_ITEM call
  numpy/core/src/multiarray/methods.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12538 MAINT: remove VC 9.0 from CI
  azure-pipelines.yml
Labels: 03 - Maintenance, 05 - Testing

#12532 DEV: add ctags option file
  .ctags.d
Labels: 16 - Development

#12526 BUG: reorder operations for VS2015
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, 09 - Backport-Candidate, 26 - Compiler

#12539 DEV: remove travis 32 bit job since it is running on azure
  .travis.yml
  tools/travis-test.sh
Labels: 05 - Testing

#12543 TST: wheel-match Linux openblas in CI
  azure-pipelines.yml
Labels: 03 - Maintenance, 05 - Testing

#12524 BUG: fix improper use of C-API
  numpy/core/src/common/ufunc_override.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/umath/umathmodule.c
Labels: 00 - Bug, 09 - Backport-Candidate, 24 - PyPy

#12534 DOC: Fix desc. of Ellipsis behavior in reference
  doc/source/reference/arrays.indexing.rst
Labels: 04 - Documentation

#12253 DOC, TST: enable doctests
  azure-pipelines.yml
  numpy/core/_add_newdocs.py
  numpy/core/arrayprint.py
  numpy/core/code_generators/ufunc_docstrings.py
  numpy/core/defchararray.py
  numpy/core/einsumfunc.py
  numpy/core/fromnumeric.py
  numpy/core/function_base.py
  numpy/core/memmap.py
  numpy/core/multiarray.py
  numpy/core/numeric.py
  numpy/core/numerictypes.py
  numpy/core/records.py
  numpy/core/shape_base.py
  numpy/ctypeslib.py
  numpy/doc/glossary.py
  numpy/fft/fftpack.py
  numpy/fft/helper.py
  numpy/lib/_datasource.py
  numpy/lib/_iotools.py
  numpy/lib/_version.py
  numpy/lib/arraypad.py
  numpy/lib/arraysetops.py
  numpy/lib/arrayterator.py
  numpy/lib/financial.py
  numpy/lib/function_base.py
  numpy/lib/histograms.py
  numpy/lib/index_tricks.py
  numpy/lib/nanfunctions.py
  numpy/lib/npyio.py
  numpy/lib/polynomial.py
  numpy/lib/recfunctions.py
  numpy/lib/scimath.py
  numpy/lib/shape_base.py
  numpy/lib/twodim_base.py
  numpy/lib/type_check.py
  numpy/lib/ufunclike.py
  numpy/lib/utils.py
  numpy/linalg/linalg.py
  numpy/ma/core.py
  numpy/ma/extras.py
  numpy/matlib.py
  numpy/matrixlib/defmatrix.py
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
  numpy/random/mtrand/mtrand.pyx
  numpy/testing/_private/utils.py
  pytest.ini
  runtests.py
  tools/refguide_check.py
Labels: 04 - Documentation, 05 - Testing

#12554 DOC: more doc updates for structured arrays
  doc/source/reference/arrays.indexing.rst
  numpy/doc/structured_arrays.py
Labels: 04 - Documentation, 09 - Backport-Candidate, component: numpy.core

#12555 BUG: only override vector size for avx code
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12556 BUG: only override vector size for avx code for 1.16
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12564 BUG: fix an unsafe PyTuple_GET_ITEM call
  numpy/core/src/multiarray/methods.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12565 Fix lgtm.com C/C++ build
  .lgtm.yml
Labels: 00 - Bug, 05 - Testing, 08 - Backport

#12563 DOC: more doc updates for structured arrays
  doc/source/reference/arrays.indexing.rst
  numpy/doc/structured_arrays.py
Labels: 04 - Documentation, 08 - Backport, component: numpy.core

#11721 BUG: Make `arr.ctypes.data` hold onto a reference to the underlying array
  doc/release/1.16.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/_internal.py
  numpy/core/tests/test_multiarray.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.ctypes

#12567 BUG: reorder operations for VS2015
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, 08 - Backport, 26 - Compiler, component: numpy.core

#12570 MAINT: don't check alignment size=0 arrays (RELAXED_STRIDES)
  numpy/core/src/multiarray/lowlevel_strided_loops.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12569 BUG: Make new-lines in compiler error messages print to the console
  numpy/distutils/ccompiler.py
  numpy/distutils/exec_command.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#12568 BUG: fix improper use of C-API
  numpy/core/src/common/ufunc_override.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/umath/umathmodule.c
Labels: 00 - Bug, 08 - Backport, 24 - PyPy

#12571 Revert "Merge pull request #11721 from eric-wieser/fix-9647"
  doc/release/1.16.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/_internal.py
  numpy/core/tests/test_multiarray.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, component: numpy.ctypes

#12573 BUG: fix refcount issue caused by #12524
  numpy/core/src/common/ufunc_override.c
  numpy/core/src/common/ufunc_override.h
  numpy/core/src/multiarray/methods.c
  numpy/core/src/umath/override.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12566 BUG: fix segfault in ctypeslib with obj being collected
  numpy/ctypeslib.py
  numpy/tests/test_ctypeslib.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.ctypes

#12578 TST: activate shippable maintenance branches
  shippable.yml
Labels: 03 - Maintenance, 05 - Testing

#12560 DOC: fix some doctest failures
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 04 - Documentation, component: numpy.ufunc

#12581 TST: activate shippable maintenance branches
  shippable.yml
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport

#12577 BUG: fix f2py pep338 execution method
  numpy/f2py/__main__.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.f2py

#12582 BUG: fix f2py pep338 execution method
  numpy/f2py/__main__.py
Labels: 00 - Bug, 08 - Backport, component: numpy.f2py

#12584 Clarify skiprows in loadtxt
  numpy/lib/npyio.py
Labels: 04 - Documentation, component: numpy.lib

#12583 TST: add test for 'python -mnumpy.f2py'
  numpy/tests/test_scripts.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.f2py

#12587 BUG: Make `arr.ctypes.data` hold a reference to the underlying array.
  doc/release/1.16.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/_internal.py
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 08 - Backport, component: numpy.ctypes

#12588 BUG: check for errors after PyArray_DESCR_REPLACE
  numpy/core/src/multiarray/descriptor.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12575 ENH: improve performance for numpy.core.records.find_duplicate
  numpy/core/records.py
Labels: 01 - Enhancement, component: numpy.core

#12592 BUG,TST: Remove the misguided `run_command` that wraps subprocess in …
  numpy/tests/test_scripts.py
Labels: 00 - Bug, 05 - Testing

#12590 DOC, MAINT: Prepare for 1.16.0rc1 release.
  doc/changelog/1.16.0-changelog.rst
  doc/release/1.16.0-notes.rst
  doc/release/template.rst
  tools/changelog.py
Labels: 03 - Maintenance, 04 - Documentation, 14 - Release, 25 - WIP

#12317 ENH: port np.core.overrides to C for speed
  benchmarks/benchmarks/bench_overrides.py
  doc/neps/nep-0018-array-function-protocol.rst
  numpy/core/_internal.py
  numpy/core/_methods.py
  numpy/core/code_generators/genapi.py
  numpy/core/multiarray.py
  numpy/core/overrides.py
  numpy/core/setup.py
  numpy/core/shape_base.py
  numpy/core/src/common/get_attr_string.h
  numpy/core/src/multiarray/arrayfunction_override.c
  numpy/core/src/multiarray/arrayfunction_override.h
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/multiarraymodule.h
  numpy/core/tests/test_overrides.py
  numpy/core/tests/test_shape_base.py
  tools/travis-test.sh
Labels: 25 - WIP, component: __array_function__, component: numpy.core

#12589 MAINT: Update changelog.py for Python 3.
  tools/changelog.py
Labels: 03 - Maintenance, component: Other

#12333 DOC: update description of the Dirichlet distribution
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, component: numpy.random

#12602 DOC: Update RELEASE_WALKTHROUGH.rst.txt.
  doc/RELEASE_WALKTHROUGH.rst.txt
Labels: 04 - Documentation, component: Documentation

#12603 DOC: Fix markup in 1.16.0 release notes.
  doc/release/1.16.0-notes.rst
Labels: 04 - Documentation

#12610 TST: Update runtests.py to specify C99 for gcc.
  runtests.py
Labels: 05 - Testing

#12608 MAINT: Use `*.format` for some strings.
  numpy/dual.py
Labels: 03 - Maintenance

#12611 BUG: longdouble with elsize 12 is never uint alignable
  azure-pipelines.yml
  numpy/core/src/common/array_assign.c
  numpy/core/src/common/array_assign.h
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12552 BENCH: Improve benchmarks for numpy.pad
  benchmarks/benchmarks/bench_lib.py
Labels: 28 - Benchmark

#12601 DOC: Correct documentation of `numpy.delete` obj parameter.
  numpy/lib/function_base.py
Labels: 04 - Documentation, component: numpy.lib

#12618 MAINT: add test for 12-byte alignment
  numpy/core/tests/test_multiarray.py
Labels: 05 - Testing, 09 - Backport-Candidate, component: numpy.core

#12621 BUG: longdouble with elsize 12 is never uint alignable.
  azure-pipelines.yml
  numpy/core/src/common/array_assign.c
  numpy/core/src/common/array_assign.h
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12622 BUG: Add missing free in ufunc dealloc
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12623 MAINT: add test for 12-byte alignment
  numpy/core/tests/test_multiarray.py
Labels: 05 - Testing, 08 - Backport, component: numpy.core
