Repository numpy/numpy, pull requests merged in 2018-08, with the labels that each got.

#11616 DOC: add a brief note on "Protocols for methods" to NEP 18
  doc/neps/nep-0018-array-function-protocol.rst
Labels: 03 - Documentation, component: NEP

#11652 BUG: Ensure singleton dimensions are not dropped when converting ctype arrays to dtypes
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 05 - Regression, 08 - Backport-Candidate, component: numpy.core

#11657 BUG: Ensure singleton dimensions are not dropped when converting ctype arrays to dtypes
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 05 - Regression, 07 - Backport, component: numpy.core

#11611 NEP: Add roadmap section and subdocuments to NEPs
  doc/neps/index.rst.tmpl
  doc/neps/roadmap.rst
  doc/neps/scope.rst
Labels: 01 - Enhancement, 03 - Documentation

#11661 BUG: Warn on Nan in minimum,maximum for scalars
  numpy/core/src/umath/loops.c.src
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 07 - Backport, component: numpy.ufunc

#11299 BUG: Prevent crashes on 0-length structured void scalars
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, component: numpy.ma

#11665 BUG: cython sometimes emits invalid gcc attribute
  doc/release/1.15.1-notes.rst
  numpy/random/setup.py
Labels: 00 - Bug, component: build

#11535 MAINT: Improve memory usage in PEP3118 format parsing
  numpy/core/_internal.py
  numpy/tests/test_ctypeslib.py
Labels: 00 - Bug, 03 - Maintenance

#11615 BUG: Clip uses wrong memory order in output
  doc/release/1.16.0-notes.rst
  numpy/core/src/multiarray/calculation.c
  numpy/core/tests/test_numeric.py
Labels: 00 - Bug, component: numpy.core

#11679 TST: ignore setup.py files for codecov reports
  .codecov.yml
Labels: 04 - Testing

#11669 BUG: Fix regression in `void_getitem`
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 05 - Regression, 08 - Backport-Candidate, component: numpy.core

#11682 BUG: Fix regression in void_getitem
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 05 - Regression, 07 - Backport, component: numpy.core

#11594 ENH: support for empty matrices in linalg.lstsq
  doc/release/1.16.0-notes.rst
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
Labels: 01 - Enhancement, component: numpy.linalg

#11688 DOC: Update broadcasting doc with current exception details
  numpy/doc/broadcasting.py
Labels: component: Documentation

#11670 MAINT: trivially refactor mapped indexing
  numpy/core/src/multiarray/mapping.c
Labels: 03 - Maintenance, component: numpy.lib

#11692 MAINT: Remove duplicate code.
  numpy/linalg/linalg.py
Labels: 03 - Maintenance, component: numpy.linalg

#11673 DOC: Add geomspace to "See also" of linspace
  numpy/core/function_base.py
Labels: 03 - Documentation, component: numpy.core

#11691 BUG: Make matrix_power again work for object arrays.
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
Labels: 00 - Bug, 05 - Regression, 08 - Backport-Candidate, component: numpy.linalg

#11695 BUG: Add missing PyErr_NoMemory after failing malloc
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/ctors.c
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11698 BUG: Make matrix_power again work for object arrays.
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
Labels: 00 - Bug, 05 - Regression, 07 - Backport, component: numpy.linalg

#11700 BUG: Add missing PyErr_NoMemory after failing malloc
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/ctors.c
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11711 BUG: Fix undefined functions on big-endian systems.
  numpy/core/src/multiarray/dragon4.c
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11717 MAINT: Make einsum optimize default to False.
  numpy/core/einsumfunc.py
Labels: 03 - Maintenance, 05 - Regression, 08 - Backport-Candidate, component: numpy.core

#11436 DOC: Document average return type
  numpy/lib/function_base.py
Labels: 03 - Documentation, 55 - Needs work, component: numpy.lib

#11720 MAINT: Make einsum optimize default to False.
  numpy/core/einsumfunc.py
Labels: 03 - Maintenance, 05 - Regression, 07 - Backport, component: numpy.core

#11703 MAINT: Remove np.pkgload, which seems to be unusable anyway
  doc/release/1.16.0-notes.rst
  numpy/__init__.py
  numpy/_import_tools.py
Labels: 03 - Maintenance

#11528 ENH: Add support for ipython latex printing to polynomial
  doc/release/1.16.0-notes.rst
  numpy/polynomial/_polybase.py
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/tests/test_classes.py
Labels: 01 - Enhancement, 56 - Needs Release Note., component: numpy.polynomial

#11731 DOC: fix typo in vectorize docstring
  numpy/lib/function_base.py
Labels: 03 - Documentation, 03 - Maintenance, component: numpy.lib

#11727 BUG: Fix printing of longdouble on ppc64le.
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/dragon4.h
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11725 BUG: Fix Fortran kind detection for aarch64 & s390x.
  numpy/f2py/crackfortran.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.f2py

#11722 MAINT: Remove duplicate docstring and incorrect location of __all__ from np.random
  numpy/random/__init__.py
  numpy/random/info.py
Labels: 03 - Maintenance

#11718 BUG: Revert use of `console_scripts`.
  setup.py
Labels: 00 - Bug, 05 - Regression, 08 - Backport-Candidate, component: numpy.f2py

#11740 BUG: deprecation triggers segfault
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_deprecations.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11733 DOC: recommend polynomial.Polynomial over np.polyfit
  numpy/lib/polynomial.py
  numpy/polynomial/_polybase.py
Labels: 03 - Documentation, component: numpy.polynomial

#11610 TST: including C source line coverage for CI / codecov
  tools/travis-test.sh
Labels: 05 - Testing

#11745 DOC: Small docstring fixes for old polyfit.
  numpy/lib/polynomial.py
  numpy/polynomial/_polybase.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.lib, component: numpy.polynomial

#11746 BUG: Fix regression in loadtxt for bz2 text files in Python 2.
  numpy/lib/_datasource.py
  numpy/lib/tests/test__datasource.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.lib

#11642 BUG: Fixes for unicode field names in Python 2
  numpy/core/_internal.py
  numpy/core/records.py
  numpy/core/tests/test_multiarray.py
Labels: 09 - Backport-Candidate, component: numpy.core

#11757 BUG: Revert use of `console_scripts`.
  setup.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.f2py

#11754 BUG: check return value of _buffer_format_string
  numpy/core/src/multiarray/buffer.c
  numpy/core/tests/test_scalarbuffer.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#11758 BUG: Fix Fortran kind detection for aarch64 & s390x.
  numpy/f2py/crackfortran.py
Labels: 00 - Bug, 08 - Backport, component: numpy.f2py

#11759 BUG: Fix printing of longdouble on ppc64le.
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/dragon4.h
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#11761 BUG: Increase required cython version on python 3.7
  tools/cythonize.py
Labels: 00 - Bug, 08 - Backport, component: build

#11763 BUG: check return value of _buffer_format_string
  numpy/core/src/multiarray/buffer.c
  numpy/core/tests/test_scalarbuffer.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#11760 BUG: Fixes for unicode field names in Python 2
  numpy/core/_internal.py
  numpy/core/records.py
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#11738 TST, MAINT: add lgtm.yml to tweak LGTM.com analysis
  .lgtm.yml
Labels: 03 - Maintenance, 05 - Testing

#11742 DOC: Reduce warnings and cleanup redundant c-api documentation
  doc/release/1.13.0-notes.rst
  doc/release/1.13.1-notes.rst
  doc/release/1.14.0-notes.rst
  doc/release/1.14.1-notes.rst
  doc/release/1.15.0-notes.rst
  doc/release/1.16.0-notes.rst
  doc/source/reference/c-api.ufunc.rst
  doc/source/user/c-info.beyond-basics.rst
  doc/source/user/c-info.ufunc-tutorial.rst
  numpy/core/_add_newdocs.py
  numpy/lib/nanfunctions.py
  numpy/testing/_private/nosetester.py
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#11756 MAINT: Make assert_array_compare more generic.
  numpy/testing/_private/utils.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.testing

#11715 TST: Fix urlopen stubbing.
  numpy/lib/tests/test__datasource.py
Labels: 05 - Testing, 09 - Backport-Candidate, component: numpy.lib

#11777 BUG: Fix regression in intersect1d.
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.lib

#11776 TST: Fix urlopen stubbing.
  numpy/lib/tests/test__datasource.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport, component: numpy.lib

#11775 MAINT: Make assert_array_compare more generic.
  numpy/testing/_private/utils.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.testing

#11735 BUG: Fix test sensitive to platform byte order.
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.ma

#11779 BUG: Fix test sensitive to platform byte order.
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 08 - Backport, component: numpy.ma

#11765 DOC: Move documentation from `help(ndarray.ctypes)` to `help(some_array.ctypes)`
  numpy/core/_add_newdocs.py
  numpy/core/_internal.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.core

#11778 BUG: Avoid signed overflow in histogram
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.lib

#11781 BUG: Avoid signed overflow in histogram
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.lib

#11784 MAINT: reformat line spacing before test methods
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_einsum.py
  numpy/core/tests/test_indexing.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_numeric.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_umath.py
  numpy/lib/tests/test_index_tricks.py
  numpy/lib/tests/test_io.py
  numpy/linalg/tests/test_linalg.py
  numpy/ma/tests/test_core.py
  numpy/random/tests/test_random.py
  numpy/testing/tests/test_decorators.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, 05 - Testing

#11785 BUG: Fix pickle and memoryview for datetime64, timedelta64 scalars
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_scalarbuffer.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.core

#11786 BUG: Deprecation triggers segfault
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_deprecations.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#11422 BENCH: Add benchmarks for np.loadtxt reading from CSV format files
  benchmarks/benchmarks/bench_io.py
Labels: 01 - Enhancement, component: benchmarks

#11573 TST: add broadcast_arrays() kwarg unit test for TypeError
  numpy/lib/stride_tricks.py
  numpy/lib/tests/test_stride_tricks.py
Labels: 05 - Testing, component: numpy.lib

#11755 MAINT: Fix typos in random.hypergeometric's notes
  numpy/random/mtrand/mtrand.pyx
Labels: 03 - Maintenance, component: numpy.random

#11797 DOC: Update docs after 1.15.1 release.
  doc/RELEASE_WALKTHROUGH.rst.txt
  doc/changelog/1.15.1-changelog.rst
  doc/release/1.15.1-notes.rst
  doc/source/release.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#11812 DOC: edit setup.py docstring that is displayed on PyPI.
  setup.py
Labels: 04 - Documentation

#11813 BUG: fix array_split incorrect behavior with array size bigger MAX_INT32
  numpy/lib/shape_base.py
  numpy/lib/tests/test_shape_base.py
Labels: 00 - Bug, component: numpy.lib

#11806 DOC: Polybase augmented assignment notes
  doc/source/reference/routines.polynomials.classes.rst
  numpy/polynomial/_polybase.py
Labels: 04 - Documentation, component: numpy.polynomial

#11823 TST: add test for array2string unexpected kwarg
  numpy/core/tests/test_arrayprint.py
Labels: 05 - Testing

#11802 ENH: Use entry_points to install the f2py scripts.
  doc/release/1.16.0-notes.rst
  numpy/f2py/__main__.py
  numpy/f2py/f2py2e.py
  numpy/f2py/setup.py
  numpy/tests/test_scripts.py
  setup.py
Labels: 01 - Enhancement, component: numpy.f2py

#11800 DOC: document use when f2py is not in the PATH
  doc/source/f2py/compile_session.dat
  doc/source/f2py/getting-started.rst
  doc/source/f2py/run_main_session.dat
  doc/source/f2py/usage.rst
Labels: 04 - Documentation, component: Documentation

#11817 DOC: add examples and extend existing dos for polynomial subclasses
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
Labels: 04 - Documentation, component: numpy.polynomial

#11834 MAINT, DOC: Replace 'an' by 'a' in some docstrings.
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.polynomial

#10915 ENH: implement nep 0015: merge multiarray and umath
  MANIFEST.in
  doc/release/1.16.0-notes.rst
  numpy/core/code_generators/generate_numpy_api.py
  numpy/core/code_generators/generate_ufunc_api.py
  numpy/core/code_generators/generate_umath.py
  numpy/core/multiarray.py
  numpy/core/numeric.py
  numpy/core/setup.py
  numpy/core/src/common/array_assign.c
  numpy/core/src/common/array_assign.h
  numpy/core/src/common/binop_override.h
  numpy/core/src/common/cblasfuncs.c
  numpy/core/src/common/cblasfuncs.h
  numpy/core/src/common/get_attr_string.h
  numpy/core/src/common/lowlevel_strided_loops.h
  numpy/core/src/common/mem_overlap.c
  numpy/core/src/common/mem_overlap.h
  numpy/core/src/common/npy_binsearch.h.src
  numpy/core/src/common/npy_cblas.h
  numpy/core/src/common/npy_config.h
  numpy/core/src/common/npy_extint128.h
  numpy/core/src/common/npy_fpmath.h
  numpy/core/src/common/npy_import.h
  numpy/core/src/common/npy_longdouble.c
  numpy/core/src/common/npy_longdouble.h
  numpy/core/src/common/npy_partition.h.src
  numpy/core/src/common/npy_pycompat.h
  numpy/core/src/common/npy_sort.h
  numpy/core/src/common/python_xerbla.c
  numpy/core/src/common/templ_common.h.src
  numpy/core/src/common/ucsnarrow.c
  numpy/core/src/common/ucsnarrow.h
  numpy/core/src/common/ufunc_override.c
  numpy/core/src/common/ufunc_override.h
  numpy/core/src/common/umathmodule.h
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/umath/cpuid.c
  numpy/core/src/umath/extobj.c
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/reduction.c
  numpy/core/src/umath/scalarmath.c.src
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/ufunc_object.h
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/src/umath/umathmodule.c
  numpy/core/umath.py
  numpy/lib/__init__.py
  numpy/tests/test_ctypeslib.py
Labels: 03 - Maintenance, component: numpy.core

#11805 BUG: add type cast check for ediff1d
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
Labels: 00 - Bug

#11660 ENH: Add Nan warnings for maximum, minimum on more dtypes
  doc/release/1.16.0-notes.rst
  numpy/core/src/umath/loops.c.src
  numpy/core/tests/test_half.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.core, component: numpy.ufunc

#11849 TST: reorder duplicate mem_overlap.c compile
  numpy/core/setup.py
Labels: 05 - Testing

#11840 BUG: Let 0-D arrays of Python timedelta convert to np.timedelta64.
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, component: numpy.core

#11850 DOC: add comment to remove fn after python 2 support is dropped
  numpy/polynomial/_polybase.py
Labels: 04 - Documentation, component: numpy.polynomial
