Repository numpy/numpy, pull requests merged in 2018-06, with the labels that each got.

#11189 NEP: Array function protocol
  doc/neps/nep-0018-array-function-protocol.
Labels: 15 - Discussion, component: NEP

#11225 DOC: add existing recfunctions documentation to output
  doc/source/user/basics.rec.rst
  numpy/lib/recfunctions.py
Labels: 03 - Documentation, component: numpy.lib

#11218 BUG: Fixes einsum broadcasting bug when optimize=True
  numpy/core/einsumfunc.py
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11219 BUG: Fixes einsum broadcasting bug when optimize=True
  numpy/core/einsumfunc.py
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11146 DOC: add a NEP to split MaskedArray into a separate package
  doc/neps/index.rst.tmpl
  doc/neps/nep-0017-split-out-maskedarray.rst
  doc/neps/nep-template.rst
Labels: 03 - Documentation, component: NEP, component: numpy.ma

#11191 MAINT: remove darwin hardcoded LDOUBLE detection
  numpy/core/setup.py
  numpy/core/src/npymath/ieee754.c.src
  numpy/core/src/npymath/npy_math_private.h
  numpy/core/src/private/npy_fpmath.h
  numpy/core/tests/test_umath.py
Labels: 03 - Maintenance, component: build, component: numpy.core

#11231 MAINT: ensure we do not create unnecessary tuples for outputs
  numpy/core/src/umath/ufunc_object.c
Labels: 03 - Maintenance, component: numpy.core

#11089 BLD: cleanup _configtest.o.d during build
  numpy/distutils/command/config.py
  numpy/distutils/unixccompiler.py
Labels: 00 - Bug, component: build

#11209 DOC: Fix doctest formatting in `rot90()` examples
  numpy/lib/function_base.py
Labels: 03 - Documentation

#11223 MAINT: Forcibly promote shape to uint64 in numpy.memmap.
  numpy/core/memmap.py
Labels: 03 - Maintenance, component: numpy.core

#10263 BUG: Fix strange behavior of infinite-step-size/underflow-case in arange
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, component: numpy.core

#11240 MAINT: Remove dead code backporting py2.6 warnings
  numpy/testing/_private/utils.py
Labels: 03 - Maintenance

#11238 MAINT: Don't update the flags a second time
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/nditer_api.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_pywrap.c
Labels: 03 - Maintenance, component: numpy.core

#11239 MAINT: Use PyArray_NewFromDescr where possible, remove unused definitions
  numpy/core/src/multiarray/arraytypes.h
  numpy/core/src/multiarray/calculation.c
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/multiarray/mapping.c
Labels: 03 - Maintenance

#11229 NEP: New RNG policy
  doc/neps/nep-0019-rng-policy.rst
Labels: component: NEP

#11248 MAINT: Don't update the flags a second time
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/src/multiarray/shape.c
Labels: 03 - Maintenance, component: numpy.core

#11247 MAINT/BUG: Remove out-of-band reference count in PyArray_Newshape, fix memory leak
  numpy/core/src/multiarray/shape.c
Labels: 00 - Bug, 03 - Maintenance, component: numpy.core

#11249 BUG: Remove errant flag meddling in .real and .imag
  numpy/core/src/multiarray/getset.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#11252 DOC: show how to generate release notes in release walkthrough
  doc/RELEASE_WALKTHROUGH.rst.txt
Labels: 03 - Documentation, component: Documentation

#11167 MAINT: Cleanup dragon4 code in various ways
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/dragon4.h
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, component: numpy.core

#11257 BUG: ensure extobj and axes have their own references.
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, component: numpy.core

#11263 DOC: Update master after NumPy 1.14.4 release.
  doc/RELEASE_WALKTHROUGH.rst.txt
  doc/changelog/1.14.4-changelog.rst
  doc/release/1.14.4-notes.rst
  doc/source/release.rst
  pavement.py
Labels: 03 - Documentation, 14 - Release

#11269 BUG: Correct use of NPY_UNUSED.
  numpy/core/src/npymath/ieee754.c.src
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#10444 MAINT: Implement float128 dragon4 for IBM double-double (ppc64)
  doc/release/1.15.0-notes.rst
  numpy/core/setup_common.py
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/dragon4.h
  numpy/core/src/npymath/npy_math_private.h
  numpy/core/src/private/npy_fpmath.h
  numpy/core/tests/test_scalarprint.py
Labels: 03 - Maintenance, component: numpy.core

#11122 BUG,MAINT: Ensure masked elements can be tested against nan and inf.
  numpy/lib/tests/test_ufunclike.py
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, 03 - Maintenance, component: numpy.ma, component: numpy.testing

#10970 WIP: Remove fragile use of __array_interface__ in ctypeslib.as_array
  doc/release/1.15.0-notes.rst
  numpy/ctypeslib.py
  numpy/tests/test_ctypeslib.py
Labels: 00 - Bug, 03 - Maintenance, 04 - Testing

#11274 BUG: Correct use of NPY_UNUSED.
  numpy/core/src/npymath/ieee754.c.src
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11275 TST: Do not use empty arrays in tests (unless they are not read)
  numpy/core/tests/test_multiarray.py
Labels: 04 - Testing

#11155 BUG: Prevent stackoverflow in conversion to datetime types
  numpy/core/include/numpy/npy_3kcompat.h
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/number.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, component: numpy.core

#11280 DOC: make docstring of np.interp clearer
  numpy/lib/function_base.py
Labels: 03 - Documentation, component: numpy.lib

#11277 BUG: Work around past and present PEP3118 issues in ctypes
  numpy/core/_internal.py
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 04 - Testing, component: numpy.core

#11273 BUG: Remove invalid read in searchsorted if needle is empty
  numpy/core/src/npysort/binsearch.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#11287 DOC: Minor documentation improvements
  numpy/doc/creation.py
Labels: 03 - Documentation, component: Documentation

#11222 DOC: Make reference doc nditer examples python3 friendly
  doc/source/reference/arrays.nditer.rst
Labels: 03 - Documentation, component: Documentation

#11291 BUG: Remove extra trailing parentheses.
  numpy/core/src/npymath/ieee754.c.src
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11294 BUG: Remove extra trailing parentheses.
  numpy/core/src/npymath/ieee754.c.src
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11260 MAINT: Do proper cleanup in get_ufunc_arguments.
  numpy/core/src/umath/ufunc_object.c
Labels: 03 - Maintenance, component: numpy.core, component: numpy.ufunc

#11293 DOC: fix hierarchy of numericaltype
  numpy/core/numerictypes.py
Labels: 03 - Documentation, component: numpy.core

#11298 BUG: Undo behavior change in ma.masked_values(shrink=True)
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 05 - Regression, component: numpy.ma

#10411 BUG: Revert multifield-indexing adds padding bytes for NumPy 1.15.
  doc/release/1.15.0-notes.rst
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/convert.c
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/private/npy_import.h
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_records.py
  numpy/doc/structured_arrays.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 03 - Maintenance, component: numpy.core

#11307 BUG: Fix memmap regression when shape=None
  numpy/core/memmap.py
  numpy/core/tests/test_memmap.py
Labels: 00 - Bug, 05 - Regression, component: numpy.core

#11311 DOC: document release 1.14.5
  doc/changelog/1.14.5-changelog.rst
  doc/release/1.14.5-notes.rst
  doc/source/release.rst
Labels: 03 - Documentation

#11314 MAINT: remove unused "npy_import"
  numpy/core/src/private/npy_import.h
Labels: 03 - Maintenance, component: numpy.core

#11315 MAINT: Package `tools/allocation_tracking`
  MANIFEST.in
Labels: 03 - Maintenance, component: build

#11286 BUG: einsum needs to check overlap on an out argument
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, component: numpy.einsum

#11318 REL: Setup master for 1.16 development.
  doc/release/1.16.0-notes.rst
  doc/release/template.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: 03 - Maintenance, 14 - Release

#11319 REL, REV: Revert f2py fixes that exposed SciPy bug.
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/test_quoted_character.py
Labels: 03 - Maintenance, component: numpy.f2py

#11324 MAINT: Don't use dtype strings when the dtypes themselves can be used
  numpy/core/tests/test_scalarmath.py
  numpy/random/mtrand/mtrand.pyx
Labels: 03 - Maintenance, component: numpy.random

#11328 MAINT: Misc numeric cleanup
  numpy/core/numeric.py
  numpy/core/numerictypes.py
Labels: 03 - Maintenance

#11297 NEP: Expansion of gufunc signatures.
  doc/neps/nep-0020-gufunc-signature-enhancement.rst
Labels: component: NEP

#11336 BUG: decref in failure path; replace PyObject_Type by Py_TYPE
  numpy/core/src/private/ufunc_override.c
  numpy/core/src/umath/override.c
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.ufunc

#11339 BUG: decref in failure path; replace PyObject_Type by Py_TYPE
  numpy/core/src/private/ufunc_override.c
  numpy/core/src/umath/override.c
Labels: 00 - Bug, 07 - Backport, component: numpy.ufunc

#11327 DOC: Update release notes for 1.15.0.
  doc/changelog/1.14.5-changelog.rst
  doc/release/1.14.5-notes.rst
  doc/release/1.15.0-notes.rst
  doc/source/release.rst
Labels: 03 - Documentation, component: Documentation

#11349 DOC: document new functions
  doc/source/reference/routines.io.rst
  doc/source/reference/routines.ma.rst
  doc/source/reference/routines.statistics.rst
Labels: 03 - Documentation, 08 - Backport-Candidate, component: Documentation

#11352 DEP: Actually deprecate the normed argument to histogram
  doc/release/1.15.0-notes.rst
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 06 - Deprecation, component: numpy.lib

#11359 DOC: document new functions
  doc/source/reference/routines.io.rst
  doc/source/reference/routines.ma.rst
  doc/source/reference/routines.statistics.rst
Labels: 03 - Documentation, 07 - Backport, component: Documentation

#11323 DEP: Actually deprecate the normed argument to histogram
  doc/release/1.15.0-notes.rst
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 06 - Deprecation, component: numpy.lib

#11312 WIP: DOC: slightly tweak the directions to create a release
  doc/HOWTO_RELEASE.rst.txt
  doc/RELEASE_WALKTHROUGH.rst.txt
  doc/source/dev/index.rst
  doc/source/dev/releasing.rst
Labels: 03 - Documentation, component: Documentation, component: distribution

#11365 BUG: add missing NpyIter_Close in einsum
  numpy/core/src/multiarray/einsum.c.src
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11367 BUG: add missing NpyIter_Close in einsum
  numpy/core/src/multiarray/einsum.c.src
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11366 BUG/TST: String indexing should just fail, not emit a futurewarning
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 04 - Testing, 08 - Backport-Candidate, component: numpy.core

#11368 BUG/TST: String indexing should just fail, not emit a futurewarning
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 07 - Backport

#11371 DOC: Clarify requirement that histogram bins are monotonic.
  numpy/lib/histograms.py
Labels: 03 - Documentation, component: numpy.lib

#11356 NEP: Update NEP 19: RNG Policy
  doc/neps/nep-0019-rng-policy.rst
Labels: 03 - Maintenance, component: NEP

#11373 TST: Show that histogramdd's normed argument is histogram's density
  numpy/lib/tests/test_histograms.py
Labels: 04 - Testing, component: numpy.lib

#11379 BUG: changed hardcoded axis to 0 for checking indices
  numpy/core/src/multiarray/lowlevel_strided_loops.c.src
Labels: 00 - Bug, component: numpy.core

#11376 ENH: Remove NpyIter_Close
  doc/release/1.15.0-notes.rst
  doc/source/reference/c-api.iterator.rst
  numpy/core/code_generators/cversions.txt
  numpy/core/code_generators/numpy_api.py
  numpy/core/setup_common.py
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/src/multiarray/nditer_api.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_nditer.py
Labels: 01 - Enhancement, 08 - Backport-Candidate, component: numpy.core

#11389 ENH: Remove NpyIter_Close
  doc/release/1.15.0-notes.rst
  doc/source/reference/c-api.iterator.rst
  numpy/core/code_generators/cversions.txt
  numpy/core/code_generators/numpy_api.py
  numpy/core/setup_common.py
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/src/multiarray/nditer_api.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_nditer.py
Labels: 01 - Enhancement, 07 - Backport, component: numpy.core

#11385 Make scalar.squeeze accept axis arg
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_regression.py
Labels: 05 - Regression, 08 - Backport-Candidate, component: numpy.core

#11391 MAINT: Update mailmap
  .mailmap
Labels: 03 - Maintenance, 08 - Backport-Candidate, component: git

#11390 REL: Update numpyconfig.h for 1.15.
  numpy/core/include/numpy/numpyconfig.h
Labels: 08 - Backport-Candidate, 14 - Release, component: numpy.core

#11394 MAINT: Update mailmap
  .mailmap
Labels: 03 - Maintenance, 07 - Backport, component: git

#11392 BUG: Make scalar.squeeze accept axis arg
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_regression.py
Labels: 05 - Regression, 07 - Backport, component: numpy.core

#6256 WIP,NEP: Add proposal for oindex and vindex.
  doc/neps/nep-0021-advanced-indexing.rst
Labels: 16 - Development, component: NEP

#11282 MAINT: move comparison operator special-handling out of ufunc parsing.
  doc/release/1.16.0-notes.rst
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
Labels: 03 - Maintenance, component: numpy.core, component: numpy.ufunc

#11405 BUG: Ensure comparisons on scalar strings pass without warning.
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, component: numpy.core

#11409 DOC: Update testing section of README.
  README.md
Labels: 03 - Maintenance, component: Documentation

#11383 ENH: Allow size=0 in numpy.random.choice
  doc/release/1.16.0-notes.rst
  numpy/random/mtrand/mtrand.pyx
  numpy/random/mtrand/randint_helpers.pxi.in
  numpy/random/tests/test_random.py
Labels: 01 - Enhancement, component: numpy.random

#11414 DOC: major revision of NEP 21, advanced indexing
  doc/neps/nep-0021-advanced-indexing.rst
Labels: component: NEP

#11335 DOC: Change array lengths/entries in broadcast_arrays example to reduce confusion.
  numpy/lib/stride_tricks.py
Labels: 03 - Documentation

#11427 BUG: Fix incorrect deprecation logic for histogram(normed=...) (1.15.x)
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 00 - Bug, 05 - Regression, 07 - Backport, component: numpy.lib

#11428 BUG: Fix incorrect deprecation logic for histogram(normed=...) (master)
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 00 - Bug, 05 - Regression, component: numpy.lib

#11424 ENH: Allow use of svd on empty arrays
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
  numpy/linalg/umath_linalg.c.src
Labels: 01 - Enhancement, component: numpy.linalg

#11234 DOC: Update einsum docs
  numpy/add_newdocs.py
  numpy/core/einsumfunc.py
Labels: 03 - Documentation, component: numpy.core

#11434 MAINT: add PyPI classifier for Python 3.7
  setup.py
Labels: 03 - Maintenance, 08 - Backport-Candidate

#11338 MAINT: Ensure ufunc override call each class only once, plus cleanup
  numpy/core/src/multiarray/methods.c
  numpy/core/src/private/ufunc_override.c
  numpy/core/src/private/ufunc_override.h
  numpy/core/tests/test_umath.py
Labels: 03 - Maintenance, component: numpy.ufunc

#11425 DOC: Clear up confusion between np.where(cond) and np.where(cond, x, y)
  numpy/add_newdocs.py
  numpy/core/fromnumeric.py
  numpy/lib/arraysetops.py
  numpy/ma/core.py
Labels: 03 - Documentation, component: numpy.core

#11406 BUG: ensure ret is out in einsum
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11455 BENCH: belated addition of lcm, gcd to ufunc benchmark.
  benchmarks/benchmarks/bench_ufunc.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: benchmarks, component: numpy.ufunc

#11449 BUG: Revert #10229 to fix DLL loads on Windows.
  numpy/distutils/misc_util.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: distribution

#10704 NEP 15: Merging multiarray and umath
  doc/neps/nep-0015-merge-multiarray-umath.rst
Labels: 01 - Enhancement, component: NEP

#11453 BENCH: add ufunc argument parsing benchmarks.
  benchmarks/benchmarks/bench_ufunc.py
Labels: 01 - Enhancement, component: benchmarks, component: numpy.ufunc

#11461 MAINT: Add discussion link to NEP 15
  doc/neps/nep-0015-merge-multiarray-umath.rst
Labels: 03 - Maintenance, component: NEP

#11440 BUG: fix interpolation with inf and NaN present
  numpy/core/src/multiarray/compiled_base.c
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug

#11396 TST: Added regression test for #11395
  numpy/lib/tests/test_arraypad.py
Labels: 04 - Testing, component: numpy.lib

#11463 MAINT: Produce a more readable repr of argument packs in benchmark
  benchmarks/benchmarks/bench_ufunc.py
Labels: 03 - Maintenance, component: benchmarks

#11432 MAINT: Refactor differences between cblas_matrixproduct and PyArray_MatrixProduct2
  numpy/core/src/multiarray/cblasfuncs.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 03 - Maintenance, component: numpy.core
