Repository numpy/numpy, pull requests merged in 2018-02, with the labels that each got.

#10558 DEP: Issue FutureWarning when malformed records detected.
  numpy/core/records.py
Labels: 06 - Deprecation, 07 - Backport, component: numpy.core

#10561 BUG: Fix various Big-Endian test failures (ppc64)
  numpy/core/tests/test_arrayprint.py
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_records.py
  numpy/core/tests/test_scalarmath.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10557 BUG: In numpy.i, clear CARRAY flag if wrapped buffer is not C_CONTIGUOUS.
  tools/swig/numpy.i
Labels: 00 - Bug, 07 - Backport, component: swig

#10559 BUG: Fix einsum optimize logic for singleton dimensions
  numpy/core/einsumfunc.py
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10560 BUG: Fix calling ufuncs with a positional output argument.
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 07 - Backport, component: numpy.ma

#10563 BUG: arrays not being flattened in `union1d`
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
  numpy/ma/extras.py
  numpy/ma/tests/test_extras.py
Labels: 00 - Bug, 07 - Backport, component: numpy.lib

#10562 BUG: Make dtype.descr error for out-of-order fields.
  numpy/core/_internal.py
  numpy/core/tests/test_records.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10555 BUG: Add missing PyErr_NoMemory() after malloc
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 00 - Bug

#10566 BUG: Fix travis failure in previous commit
  numpy/core/src/multiarray/convert_datatype.c
Labels: 00 - Bug, component: numpy.core

#10553 MAINT: Cleanups to promote_types and result_types
  numpy/core/src/multiarray/convert_datatype.c
Labels: 03 - Maintenance, component: numpy.core

#10550 BUG: Set missing exception after malloc
  numpy/core/src/multiarray/buffer.c
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10544 BUG: infinite recursion in str of 0d subclasses
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#10571 BUG: Fix corner-case behavior of cond() and use SVD when possible
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
Labels: 00 - Bug, component: numpy.linalg

#10583 MAINT: Fix typos in DISTUTILS.rst.txt.
  doc/DISTUTILS.rst.txt
Labels: 03 - Documentation, 03 - Maintenance, component: Documentation

#10588 BUG: Revert sort optimization in np.unique.
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.lib

#10589 BUG: fix entry_points typo for from-template
  setup.py
Labels: 00 - Bug, component: build

#10592 DOC: Corrected url for Guide to NumPy book; see part of #8520, all of…
  doc/source/_templates/indexcontent.html
  doc/source/reference/index.rst
Labels: 03 - Documentation, 03 - Maintenance

#10381 BUG/ENH: Improve output for structured non-void types
  numpy/core/arrayprint.py
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 01 - Enhancement, 08 - Backport-Candidate, component: numpy.core

#10604 MAINT: Fix Misc. typos
  numpy/core/einsumfunc.py
  numpy/core/tests/test_arrayprint.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_scalar_ctors.py
  numpy/f2py/setup.py
Labels: 03 - Documentation, 03 - Maintenance

#10477 BUG: Align type definition with generated lapack
  numpy/linalg/lapack_lite/clapack_scrub.py
  numpy/linalg/lapack_lite/f2c.h
  numpy/linalg/lapack_lite/f2c_blas.c
  numpy/linalg/lapack_lite/f2c_c_lapack.c
  numpy/linalg/lapack_lite/f2c_config.c
  numpy/linalg/lapack_lite/f2c_d_lapack.c
  numpy/linalg/lapack_lite/f2c_lapack.c
  numpy/linalg/lapack_lite/f2c_s_lapack.c
  numpy/linalg/lapack_lite/f2c_z_lapack.c
  numpy/linalg/lapack_lite/make_lite.py
  numpy/linalg/lapack_lite/python_xerbla.c
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.linalg

#10606 MAINT: Do not use random roots when testing roots.
  numpy/polynomial/tests/test_classes.py
Labels: 03 - Maintenance, 04 - Testing, component: numpy.polynomial

#10609 BUG: infinite recursion in str of 0d subclasses
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10608 BUG: Revert sort optimization in np.unique.
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
Labels: 00 - Bug, 07 - Backport, component: numpy.lib

#10610 BUG: Align type definition with generated lapack
  numpy/linalg/lapack_lite/clapack_scrub.py
  numpy/linalg/lapack_lite/f2c.h
  numpy/linalg/lapack_lite/f2c_blas.c
  numpy/linalg/lapack_lite/f2c_c_lapack.c
  numpy/linalg/lapack_lite/f2c_config.c
  numpy/linalg/lapack_lite/f2c_d_lapack.c
  numpy/linalg/lapack_lite/f2c_lapack.c
  numpy/linalg/lapack_lite/f2c_s_lapack.c
  numpy/linalg/lapack_lite/f2c_z_lapack.c
  numpy/linalg/lapack_lite/make_lite.py
  numpy/linalg/lapack_lite/python_xerbla.c
Labels: 00 - Bug, 07 - Backport, component: numpy.linalg

#10612 BUG/ENH: Improve output for structured non-void types
  numpy/core/arrayprint.py
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 01 - Enhancement, 07 - Backport, component: numpy.core

#10554 DOC: promote_types is _not_ associative by design,
  numpy/add_newdocs.py
Labels: 03 - Documentation, component: numpy.core

#10623 BUG: Correctly identify comma seperated dtype strings
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#10624 BUG: Correctly identify comma seperated dtype strings
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10621 BUG: deallocate recursive closure in arrayprint.py
  numpy/core/arrayprint.py
  numpy/core/shape_base.py
  numpy/core/tests/test_arrayprint.py
  numpy/lib/npyio.py
Labels: 00 - Bug, component: numpy.core

#10629 BUG: deallocate recursive closure in arrayprint.py (backport try 2)
  numpy/core/arrayprint.py
  numpy/core/shape_base.py
  numpy/lib/npyio.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10501 BUG: fromregex: asbytes called on regexp objects
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, component: numpy.lib

#10625 [BUG] Improving the accuracy of the FFT implementation
  numpy/fft/fftpack.c
Labels: 00 - Bug, 03 - Maintenance, component: numpy.fft

#10603 MAINT: Improve error message in histogram.
  numpy/lib/histograms.py
Labels: 03 - Maintenance, component: numpy.lib

#10599 ENH: Make flatnonzero call asanyarray before ravel()
  doc/release/1.15.0-notes.rst
  numpy/core/numeric.py
Labels: 01 - Enhancement, component: numpy.core

#10650 BUG: Fix missing NPY_VISIBILITY_HIDDEN on npy_longdouble_to_PyLong
  numpy/core/src/private/npy_longdouble.c
  numpy/core/src/private/npy_longdouble.h
Labels: 00 - Bug, 08 - Backport-Candidate, component: build, component: numpy.core

#10657 BUG: f2py: fix f2py generated code to work on Pypy
  numpy/f2py/cb_rules.py
Labels: 08 - Backport-Candidate, 24 - PyPy, component: numpy.f2py

#10653 MAINT: Remove duplicate implementation for aliased functions.
  numpy/core/fromnumeric.py
Labels: 03 - Maintenance

#10660 BUG/MAINT: Remove special cases for 0d arrays in interp
  doc/release/1.15.0-notes.rst
  numpy/core/src/multiarray/compiled_base.c
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, 03 - Maintenance, component: numpy.core, component: numpy.lib

#10658 BUG: Make np.partition and np.sort work on np.matrix when axis=None
  numpy/core/fromnumeric.py
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.matrixlib

#10661 MAINT: Unify reductions in fromnumeric.py
  numpy/core/fromnumeric.py
Labels: 03 - Maintenance, component: numpy.core

#8819 ENH: Implement axes keyword argument for gufuncs.
  doc/source/reference/ufuncs.rst
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
Labels: 01 - Enhancement, component: numpy.core
