Repository numpy/numpy, pull requests merged in 2018-11, with the labels that each got.

#12268 DOC: add broadcasting article from scipy old-wiki
  doc/source/user/basics.broadcasting.rst
  doc/source/user/theory.broadcast_1.gif
  doc/source/user/theory.broadcast_2.gif
  doc/source/user/theory.broadcast_3.gif
  doc/source/user/theory.broadcast_4.gif
  doc/source/user/theory.broadcast_5.png
  doc/source/user/theory.broadcasting.rst
  numpy/doc/broadcasting.py
Labels: 04 - Documentation

#12299 BUILD: use system python3 in the chroot
  .travis.yml
  tools/travis-test.sh
Labels: 05 - Testing

#11348 ENH: Improve support for pathlib.Path objects in load functions
  doc/release/1.16.0-notes.rst
  numpy/core/records.py
  numpy/core/tests/test_records.py
  numpy/lib/format.py
  numpy/lib/tests/test_io.py
Labels: 55 - Needs work, 56 - Needs Release Note., component: numpy.core

#12266 BUG: Avoid SystemErrors by checking the return value of PyPrint
  numpy/core/src/multiarray/dtype_transfer.c
Labels: 00 - Bug, component: numpy.core

#12215 TST: test dims match on lstsq()
  numpy/linalg/tests/test_linalg.py
Labels: 05 - Testing, component: numpy.linalg

#12073 MAINT Avoid some memory copies in numpy.polynomial.hermite
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
Labels: 03 - Maintenance, 59 - Needs tests, component: numpy.polynomial

#12321 MAINT: Simple speed-ups for getting overloaded types
  numpy/core/overrides.py
Labels: 03 - Maintenance, component: __array_function__

#12326 DOC: NumPy 1.15.4 post release documentation update.
  doc/changelog/1.15.4-changelog.rst
  doc/release/1.15.4-notes.rst
  doc/source/release.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#12250 DOC: add missing docs
  doc/CAPI.rst.txt
  doc/source/dev/conduct/report_handling_manual.rst
  doc/source/dev/index.rst
  doc/source/dev/style_guide.rst
  doc/source/reference/alignment.rst
  doc/source/reference/c-api.array.rst
  doc/source/reference/c-api.dtype.rst
  doc/source/reference/distutils.rst
  doc/source/reference/distutils_guide.rst
  doc/source/reference/index.rst
  doc/source/reference/internals.rst
Labels: 01 - Enhancement, 04 - Documentation

#11580 MAINT: refactor ufunc iter operand flags handling
  numpy/core/src/umath/ufunc_object.c
Labels: 03 - Maintenance, component: numpy.core

#12259 TST: simplify how the different code paths for block are tested.
  numpy/core/tests/test_shape_base.py
Labels: 05 - Testing

#12330 TST: test_tofile_fromfile now uses initialized memory
  numpy/core/tests/test_records.py
Labels: 05 - Testing

#12331 DEV: change ASV benchmarks to run on Python 3.6 by default
  benchmarks/asv.conf.json
Labels: 03 - Maintenance, 28 - Benchmark, component: benchmarks

#12357 MAINT: Cleanup pavement file
  doc/RELEASE_WALKTHROUGH.rst.txt
  pavement.py
Labels: 03 - Maintenance, 14 - Release

#12349 TST, DOC: store circleci doc artifacts
  .circleci/config.yml
Labels: 04 - Documentation, 05 - Testing

#11916 DEP: deprecate np.set_numeric_ops and friends
  doc/release/1.16.0-notes.rst
  doc/source/reference/arrays.ndarray.rst
  doc/source/reference/c-api.array.rst
  numpy/core/_add_newdocs.py
  numpy/core/code_generators/cversions.txt
  numpy/core/setup.py
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/number.c
  numpy/core/src/multiarray/number.h
  numpy/core/src/multiarray/temp_elide.c
  numpy/core/src/umath/umathmodule.c
  numpy/core/tests/test_deprecations.py
Labels: 07 - Deprecation, component: numpy.core

#12354 BUG: Fix segfault when an error occurs in np.fromfile
  numpy/core/include/numpy/npy_3kcompat.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#12363 MAINT: update gfortran RPATH for AIX/Windows non-support.
  numpy/distutils/fcompiler/gnu.py
Labels: 03 - Maintenance, component: numpy.distutils

#12366 MAINT: Refactor sorting header file
  numpy/core/setup.py
  numpy/core/src/common/npy_sort.h
  numpy/core/src/common/npy_sort.h.src
Labels: 03 - Maintenance, component: numpy.core

#12312 MAINT, TST: unreachable Python code paths
  azure-pipelines.yml
  numpy/f2py/capi_maps.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.f2py

#8955 ENH: Allow ufunc.identity to be any python object
  doc/release/1.16.0-notes.rst
  doc/source/reference/c-api.ufunc.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/code_generators/numpy_api.py
  numpy/core/include/numpy/ufuncobject.h
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.core

#12362 MAINT: disable `__array_function__` dispatch unless environment variable set
  .travis.yml
  doc/neps/nep-0018-array-function-protocol.rst
  numpy/core/arrayprint.py
  numpy/core/overrides.py
  numpy/core/shape_base.py
  numpy/core/tests/test_overrides.py
  numpy/lib/shape_base.py
  numpy/lib/ufunclike.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, component: __array_function__

#12241 TST: arg handling tests in histogramdd
  numpy/lib/tests/test_histograms.py
Labels: 05 - Testing, component: numpy.lib

#12373 MAINT: Improve error message for legal but unsupported PEP3118 types
  numpy/core/_internal.py
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, component: numpy.core

#12377 NEP: move nep 15 from accepted to final
  doc/neps/nep-0015-merge-multiarray-umath.rst
Labels: 03 - Maintenance, component: NEP

#12338 DOC: add a docstring for the function 'compare_chararrays' (See #10106)
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation

#11480 MAINT: move ufunc override code to umath and multiarray as much as possible.
  numpy/core/src/common/ufunc_override.c
  numpy/core/src/common/ufunc_override.h
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/number.c
  numpy/core/src/umath/override.c
Labels: 03 - Maintenance, component: numpy.ufunc

#12378 TST: Update complex long double precision tests.
  numpy/core/tests/test_umath.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.core

#12376 BUG: do not override exception on import failure
  numpy/core/code_generators/generate_numpy_api.py
Labels: 00 - Bug, component: numpy.core

#12358 BUG: test, fix loading structured dtypes with padding
  numpy/lib/format.py
  numpy/lib/tests/test_format.py
Labels: 00 - Bug, component: numpy.lib

#12382 ENH: set correct __module__ for objects in numpy's public API
  numpy/_globals.py
  numpy/core/_add_newdocs.py
  numpy/core/_internal.py
  numpy/core/arrayprint.py
  numpy/core/defchararray.py
  numpy/core/function_base.py
  numpy/core/getlimits.py
  numpy/core/machar.py
  numpy/core/memmap.py
  numpy/core/multiarray.py
  numpy/core/numeric.py
  numpy/core/numerictypes.py
  numpy/core/overrides.py
  numpy/core/records.py
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/tests/test_overrides.py
  numpy/fft/helper.py
  numpy/lib/_datasource.py
  numpy/lib/arraysetops.py
  numpy/lib/function_base.py
  numpy/lib/histograms.py
  numpy/lib/index_tricks.py
  numpy/lib/npyio.py
  numpy/lib/polynomial.py
  numpy/lib/twodim_base.py
  numpy/lib/type_check.py
  numpy/lib/utils.py
  numpy/linalg/linalg.py
  numpy/matrixlib/defmatrix.py
  numpy/tests/test_public_api.py
Labels: 01 - Enhancement

#11898 MAINT: remove exec_command usage from ccompiler.py
  numpy/distutils/ccompiler.py
  numpy/distutils/fcompiler/__init__.py
Labels: 03 - Maintenance, component: numpy.distutils

#12392 DOC: Add release notes for ctypes improvements
  doc/release/1.16.0-notes.rst
Labels: 04 - Documentation

#12390 DEV: remove shim added in 1.4
  numpy/lib/utils.py
Labels: 03 - Maintenance

#12381 BUG: graceful DataSource __del__ when __init__ fails
  numpy/lib/_datasource.py
  numpy/lib/tests/test__datasource.py
Labels: 00 - Bug, component: numpy.lib

#12391 DEP: raise on a call to deprecated numpy.lib.function_base.unique
  doc/release/1.16.0-notes.rst
  numpy/lib/function_base.py
Labels: 07 - Deprecation, component: numpy.lib

#12398 BUG: fix possible overlap issues with avx enabled
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, component: numpy.core

#12399 DOC: Fix typo in polyint. Fixes #12386.
  numpy/lib/polynomial.py
Labels: 04 - Documentation, component: numpy.lib

#11966 MAINT: Rewrite shape normalization in pad function
  numpy/lib/arraypad.py
  numpy/lib/tests/test_arraypad.py
Labels: 03 - Maintenance, component: numpy.lib

#12409 MAINT: correct the dtype.descr docstring
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#12407 BUG: Fall back to 'ascii' locale in build (if needed)
  numpy/distutils/exec_command.py
Labels: 00 - Bug, component: numpy.distutils

#12405 ENH: Add support for `np.dtype(ctypes.Union)`
  numpy/core/_dtype_ctypes.py
  numpy/core/tests/test_dtype.py
Labels: 01 - Enhancement, component: numpy.core

#12413 BUG: Do not double-quote arguments to the command line
  numpy/distutils/ccompiler.py
Labels: 00 - Bug, component: numpy.distutils

#12414 MAINT: Update cversion hash.
  numpy/core/code_generators/cversions.txt
  numpy/core/code_generators/numpy_api.py
Labels: 03 - Maintenance, component: numpy.core

#12417 BUG: Fix regression on np.dtype(ctypes.c_void_p)
  numpy/core/_dtype_ctypes.py
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 06 - Regression, component: numpy.core

#12410 MAINT: rename helper functions for consistency
  numpy/core/_dtype_ctypes.py
Labels: 03 - Maintenance, component: numpy.core

#12286 ENH: Do not emit compiler warning if forcing old API
  numpy/core/include/numpy/npy_1_7_deprecated_api.h
Labels: 03 - Maintenance, component: numpy.core

#12306 TST: add 32-bit linux Azure CI job
  azure-pipelines.yml
Labels: 05 - Testing

#12422 MNT: Reword error message about loading pickled data.
  numpy/lib/npyio.py
Labels: 01 - Enhancement

#12420 gfortran needs -lpthread & -maix64(64 build) in AIX
  numpy/distutils/fcompiler/gnu.py
Labels: component: numpy.distutils

#12424 BUG: Fix inconsistent cache keying in ndpointer
  numpy/ctypeslib.py
  numpy/tests/test_ctypeslib.py
Labels: 00 - Bug, 06 - Regression, component: numpy.core

#12429 MAINT: Update mailmap for 1.16.0 release.
  .mailmap
Labels: 03 - Maintenance

#12431 BUG/ENH: Fix use of ndpointer in return values
  doc/release/1.16.0-notes.rst
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/ctypeslib.py
  numpy/tests/test_ctypeslib.py
Labels: 00 - Bug, 01 - Enhancement, 06 - Regression, component: numpy.core

#8923 ENH: Add 'stone' estimator to np.histogram
  doc/release/1.16.0-notes.rst
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 01 - Enhancement, component: numpy.lib

#12440 BUG: don't override original errors when casting inside np.dot() fails
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#12439 BUG: test, fix NPY_VISIBILITY_HIDDEN on gcc, which becomes NPY_NO_EXPORT
  numpy/core/setup.py
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/tests/test_public_api.py
Labels: 00 - Bug, component: build

#11526 ENH: add multi-field assignment helpers in np.lib.recfunctions
  doc/release/1.16.0-notes.rst
  numpy/doc/structured_arrays.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 01 - Enhancement, 56 - Needs Release Note., component: numpy.dtype, component: numpy.lib

#12437 MAINT: refactor datetime.c_metadata creation
  numpy/core/src/multiarray/arraytypes.c.src
Labels: 03 - Maintenance, component: numpy.dtype

#12408 BUG: multifield-view of MaskedArray gets bad fill_value
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, component: numpy.ma

#11739 BUG: disallow setting flag to writeable after fromstring, frombuffer
  doc/release/1.16.0-notes.rst
  numpy/core/src/multiarray/common.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#11197 BUG/ENH: Removed non-standard scaling of the covariance matrix and added option to disable scaling completely.
  doc/release/1.16.0-notes.rst
  numpy/lib/polynomial.py
  numpy/lib/tests/test_polynomial.py
Labels: 00 - Bug, 01 - Enhancement, 56 - Needs Release Note., 59 - Needs tests, component: numpy.polynomial

#12455 TST: use condition directive for Azure 2.7 check
  azure-pipelines.yml
Labels: 03 - Maintenance, 05 - Testing

#12458 MAINT, DOC: fix Azure README badge
  README.md
Labels: 03 - Maintenance, 04 - Documentation

#12446 MAINT: Fixups to new functions in np.lib.recfunctions
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 03 - Maintenance, component: numpy.lib
