Repository numpy/numpy, pull requests merged in 2018-07, with the labels that each got.

#11470 BLD: Don't leave the build task running if runtests.py is interrupted
  runtests.py
Labels: 00 - Bug, component: build

#11471 MAINT: Remove python-side docstrings from add_newdocs.
  numpy/add_newdocs.py
  numpy/lib/index_tricks.py
Labels: 03 - Maintenance, component: numpy.lib

#11444 DOC: Fix documentation for fromfunction
  numpy/core/numeric.py
Labels: 03 - Documentation, component: numpy.ufunc

#11351 MAINT: Improve speed of ufunc kwargs parsing
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/ufunc_object.h
  numpy/core/src/umath/umathmodule.c
Labels: 03 - Maintenance, component: numpy.ufunc

#11473 MAINT: Move pytesttester outside of np.testing, to avoid creating unnecessary import dependencies
  numpy/__init__.py
  numpy/_pytesttester.py
  numpy/core/__init__.py
  numpy/distutils/__init__.py
  numpy/f2py/__init__.py
  numpy/fft/__init__.py
  numpy/lib/__init__.py
  numpy/linalg/__init__.py
  numpy/ma/__init__.py
  numpy/matrixlib/__init__.py
  numpy/polynomial/__init__.py
  numpy/random/__init__.py
  numpy/testing/__init__.py
Labels: 03 - Maintenance

#11474 MAINT: Move add_newdocs into core, since it only adds docs to those pieces
  numpy/__init__.py
  numpy/core/__init__.py
  numpy/core/_add_newdocs.py
  numpy/core/function_base.py
  numpy/lib/function_base.py
Labels: 03 - Maintenance, component: numpy.core, component: numpy.lib

#11472 DOC: include NEP number on each NEP page
  doc/neps/index.rst.tmpl
  doc/neps/nep-0000.rst
  doc/neps/nep-0001-npy-format.rst
  doc/neps/nep-0002-warnfix.rst
  doc/neps/nep-0003-math_config_clean.rst
  doc/neps/nep-0004-datetime-proposal3.rst
  doc/neps/nep-0005-generalized-ufuncs.rst
  doc/neps/nep-0006-newbugtracker.rst
  doc/neps/nep-0007-datetime-proposal.rst
  doc/neps/nep-0008-groupby_additions.rst
  doc/neps/nep-0009-structured_array_extensions.rst
  doc/neps/nep-0010-new-iterator-ufunc.rst
  doc/neps/nep-0011-deferred-ufunc-evaluation.rst
  doc/neps/nep-0012-missing-data.rst
  doc/neps/nep-0013-ufunc-overrides.rst
  doc/neps/nep-0014-dropping-python2.7-proposal.rst
  doc/neps/nep-0015-merge-multiarray-umath.rst
  doc/neps/nep-0017-split-out-maskedarray.rst
  doc/neps/nep-0018-array-function-protocol.rst
  doc/neps/nep-0019-rng-policy.rst
  doc/neps/nep-0020-gufunc-signature-enhancement.rst
  doc/neps/nep-0021-advanced-indexing.rst
  doc/neps/tools/build_index.py
Labels: 03 - Documentation, 03 - Maintenance, component: NEP

#11468 BUG: Advanced indexing assignment incorrectly took 1-D fastpath
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/private/lowlevel_strided_loops.h
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11345 BUG/ENH: Einsum optimization path updates and bug fixes.
  numpy/core/einsumfunc.py
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 01 - Enhancement, 08 - Backport-Candidate, component: numpy.core

#11489 BUG: Ensure out is returned in einsum.
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11491 BUG/ENH: Einsum optimization path updates and bug fixes.
  numpy/core/einsumfunc.py
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 01 - Enhancement, 07 - Backport, component: numpy.core

#11493 BUG: Revert #10229 to fix DLL loads on Windows.
  numpy/distutils/misc_util.py
Labels: 00 - Bug, 07 - Backport, component: distribution

#11494 MAINT: add PyPI classifier for Python 3.7
  setup.py
Labels: 03 - Maintenance, 07 - Backport

#11495 BENCH: belated addition of lcm, gcd to ufunc benchmark.
  benchmarks/benchmarks/bench_ufunc.py
Labels: 00 - Bug, 07 - Backport, component: benchmarks, component: numpy.ufunc

#11496 BUG: Advanced indexing assignment incorrectly took 1-D fastpath
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/private/lowlevel_strided_loops.h
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11016 ENH: Add AARCH32 support.
  doc/release/1.16.0-notes.rst
  numpy/core/include/numpy/npy_cpu.h
  numpy/core/include/numpy/npy_endian.h
  numpy/core/src/private/npy_config.h
Labels: 01 - Enhancement, 56 - Needs Release Note., component: build, component: numpy.core

#11487 DOC: extend sanity check message
  numpy/__init__.py
Labels: 03 - Maintenance, 04 - Testing

#11479 BUG: Fix #define for ppc64 and ppc64le
  numpy/core/include/numpy/npy_cpu.h
Labels: 00 - Bug, 08 - Backport-Candidate, component: build

#11501 MAINT: Tidy cython invocation
  tools/cythonize.py
Labels: 03 - Maintenance, component: build

#11511 BUG: Fix #define for ppc64 and ppc64le
  numpy/core/include/numpy/npy_cpu.h
Labels: 00 - Bug, 07 - Backport, component: build

#11514 Prefer the same-python cython to the on-PATH cython
  tools/cythonize.py
Labels: 00 - Bug, component: build

#11527 DOC: Note that method is the polar form of Box-Muller.
  numpy/random/mtrand/randomkit.c
Labels: 03 - Documentation, component: numpy.random

#11529 ENH: Add density argument to histogramdd.
  doc/release/1.15.0-notes.rst
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
  numpy/lib/tests/test_twodim_base.py
  numpy/lib/twodim_base.py
Labels: 01 - Enhancement, component: numpy.lib

#11515 BUG: decref of field title caused segfault
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#11531 ENH: Add density argument to histogramdd.
  doc/release/1.15.0-notes.rst
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
  numpy/lib/tests/test_twodim_base.py
  numpy/lib/twodim_base.py
Labels: 01 - Enhancement, component: numpy.lib

#11532 BUG: Decref of field title caused segfault
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11464 BUG: Don't convert inputs to `np.float64` in digitize
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/multiarray/compiled_base.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, component: numpy.core

#11533 DOC: Fixed example code for cheb2poly and poly2cheb (see #11519)
  numpy/polynomial/chebyshev.py
Labels: 03 - Documentation, component: numpy.polynomial

#11482 DOC: Include warning in np.resize() docs
  numpy/core/fromnumeric.py
Labels: 03 - Documentation, component: numpy.core

#11518 MAINT: Speed up normalize_axis_tuple by about 30%
  numpy/core/numeric.py
Labels: 03 - Maintenance, component: numpy.core

#11534 DOC: Minor improvements to np.concatenate docstring
  numpy/core/_add_newdocs.py
Labels: 03 - Documentation

#11540 DOC: Update the 1.15.0 release notes.
  doc/release/1.15.0-notes.rst
Labels: 03 - Documentation, component: Documentation

#11553 DOC: Tiny typo on numpy/reference/arrays.dtypes.html
  doc/source/reference/arrays.dtypes.rst
Labels: 03 - Documentation

#11525 Append *FLAGS instead of overriding
  numpy/distutils/fcompiler/__init__.py
  numpy/distutils/fcompiler/environment.py
  numpy/distutils/tests/test_fcompiler.py
Labels: 03 - Maintenance, component: numpy.distutils

#11560 NEP: accept nep 0019
  doc/neps/nep-0019-rng-policy.rst
Labels: 03 - Documentation, component: NEP

#11084 DOC: link to TESTS.rst.txt testing guidelines document, tweaks
  INSTALL.rst.txt
  doc/TESTS.rst.txt
  doc/source/dev/development_environment.rst
  doc/source/reference/routines.testing.rst
  doc/source/reference/testing.rst
  numpy/lib/tests/test_format.py
Labels: 03 - Documentation

#11382 DEP: deprecate undocumented, unused dtype type dicts
  doc/release/1.16.0-notes.rst
  numpy/core/numerictypes.py
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_regression.py
Labels: 06 - Deprecation, 54 - Needs decision, component: numpy.oldnumeric

#11559 NEP: accept nep 0015
  doc/neps/nep-0015-merge-multiarray-umath.rst
Labels: 03 - Documentation, component: NEP

#11565 MAINT: convert the doctests for polynomial to regular tests
  numpy/lib/tests/test_polynomial.py
Labels: 03 - Maintenance, 04 - Testing, component: numpy.lib

#11562 DOC: update release notes for LDFLAGS append behavior (gh-11525).
  doc/release/1.16.0-notes.rst
Labels: 03 - Documentation

#11568 BLD: Modify cpu detection and printing to get working aarch64 build
  numpy/core/include/numpy/npy_cpu.h
  numpy/core/src/multiarray/dragon4.c
Labels: 00 - Bug, 05 - Regression, 08 - Backport-Candidate, component: numpy.core

#11577 BLD: Modify cpu detection and printing to get working aarch64 build
  numpy/core/include/numpy/npy_cpu.h
  numpy/core/src/multiarray/dragon4.c
Labels: 00 - Bug, 05 - Regression, 07 - Backport, component: build, component: numpy.core

#11578 DOC: link to TESTS.rst.txt testing guidelines, tweak testing docs
  INSTALL.rst.txt
  doc/TESTS.rst.txt
  doc/source/dev/development_environment.rst
  doc/source/reference/routines.testing.rst
  doc/source/reference/testing.rst
  numpy/lib/tests/test_format.py
Labels: 03 - Documentation, 07 - Backport, component: Documentation

#11429 NEP: accept NEP 20 partially (frozen, flexible, but not broadcastable dimensions)
  doc/neps/nep-0020-gufunc-signature-enhancement.rst
Labels: component: NEP

#11567 TST: Integrate codecov testing
  .codecov.yml
  .travis.yml
  README.md
  tools/test-installed-numpy.py
  tools/travis-test.sh
Labels: 04 - Testing

#11592 DOC: add Stefan van der Walt to Steering Council
  doc/source/dev/governance/people.rst
Labels: 03 - Documentation

#11591 MAINT: update runtests.py node id example for pytest usage
  runtests.py
Labels: 03 - Maintenance

#11598 TST: Add Python 3.7 to CI testing
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
Labels: 04 - Testing

#11601 BUG: Make np.array([[1], 2]) and np.array([1, [2]]) behave in the same way
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 03 - Maintenance, 04 - Testing

#11602 TST: Add Python 3.7 to CI testing (#11598)
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
Labels: 04 - Testing, 07 - Backport

#11566 BLD: Do not use gcc warnings flags when 'gcc' is actually clang.
  runtests.py
Labels: 03 - Maintenance, component: build

#11606 DOC: Post 1.15.0 release updates for master.
  doc/changelog/1.15.0-changelog.rst
  doc/release/1.15.0-notes.rst
Labels: 03 - Documentation, component: Documentation

#11450 MAINT/DEP: properly implement ndarray.__pos__
  doc/release/1.16.0-notes.rst
  numpy/core/src/multiarray/number.c
  numpy/core/src/private/ufunc_override.c
  numpy/core/src/private/ufunc_override.h
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_multiarray.py
  numpy/lib/type_check.py
Labels: 03 - Maintenance, 06 - Deprecation, component: numpy.core

#9022 BUG: don't silence __array_wrap__ errors in ufunc.reduce
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_umath.py
  numpy/lib/tests/test_ufunclike.py
Labels: 00 - Bug, component: numpy.core

#11626 DOC: Show plot in meshgrid example.
  numpy/lib/function_base.py
Labels: 03 - Documentation, component: numpy.lib

#11522 BUG: fix np.load() of empty .npz file
  numpy/lib/npyio.py
  numpy/lib/tests/test_format.py
Labels: 03 - Maintenance, component: numpy.lib

#11630 [DOC]: Include the versionadded to the isnat documentation.
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 03 - Documentation

#11512 DOC: Add templates for issues and PRs
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 01 - Enhancement, 03 - Documentation, component: Other

#11643 DOC: Insert up to date link to Spyder website in Dev Env doc where Spyder is mentioned
  doc/source/dev/development_environment.rst
Labels: 03 - Documentation, 03 - Maintenance

#11593 ENH: handle empty matrices in qr decomposition
  doc/release/1.16.0-notes.rst
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
Labels: 01 - Enhancement, component: numpy.linalg

#11634 Filter Cython warnings in __init__.py
  numpy/__init__.py
Labels: 03 - Maintenance, 08 - Backport-Candidate

#11637 ENH: np.angle: Remove unnecessary multiplication, and allow subclasses to pass through
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement, component: numpy.lib

#11644 BUG: Fix doc source links to unwrap decorators
  doc/source/conf.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: Documentation

#11647 MAINT: Filter Cython warnings in ``__init__.py``
  numpy/__init__.py
Labels: 03 - Maintenance, 05 - Regression, 07 - Backport

#11638 ENH: Make expand_dims work on subclasses
  numpy/lib/shape_base.py
  numpy/lib/tests/test_shape_base.py
  numpy/ma/core.py
  numpy/matrixlib/tests/test_defmatrix.py
Labels: 01 - Enhancement, component: numpy.lib, component: numpy.ma

#11484 BUG: Increase required cython version on python 3.7
  tools/cythonize.py
Labels: 00 - Bug, component: build

#11648 BUG: Fix doc source links to unwrap decorators
  doc/source/conf.py
Labels: 00 - Bug, 07 - Backport, component: Documentation
