Repository numpy/numpy, pull requests merged in 2018-09, with the labels that each got.

#11862 BUG: Re-add _ones_like to numpy.core.umath.
  numpy/core/umath.py
Labels: 00 - Bug, component: numpy.ufunc

#11864 TST: Update travis testing to use latest virtualenv.
  tools/travis-before-install.sh
Labels: 05 - Testing

#11865 DOC: add a Code of Conduct document.
  .github/CODE_OF_CONDUCT.md
  doc/source/dev/conduct/code_of_conduct.rst
  doc/source/dev/conduct/report_handling_manual.rst
  doc/source/dev/index.rst
Labels: 04 - Documentation

#11866 TST: Drop Python 3.4 testing
  .appveyor.yml
  .travis.yml
  doc/release/1.16.0-notes.rst
  tools/travis-test.sh
Labels: 05 - Testing

#11868 MAINT: include benchmarks, complete docs, dev tool files in sdist.
  MANIFEST.in
Labels: 03 - Maintenance

#11843 MAINT: remove surviving, unused, list comprehension
  numpy/polynomial/_polybase.py
Labels: 03 - Maintenance, component: numpy.polynomial

#11880 BUG: The multiarray/ufunc merge broke old wheels.
  numpy/core/multiarray.py
  numpy/core/umath.py
Labels: 00 - Bug, 06 - Regression, component: numpy.core

#11837 DOC: Make clear the connection between numpy types and C types
  numpy/doc/basics.py
Labels: 04 - Documentation

#11892 TST: Parametrize PEP3118 scalar tests.
  numpy/core/tests/test_scalarbuffer.py
Labels: 05 - Testing

#11896 BUG: Fix matrix PendingDeprecationWarning suppression for pytest 3.8+.
  numpy/_pytesttester.py
  numpy/matrixlib/tests/test_defmatrix.py
  numpy/matrixlib/tests/test_interaction.py
  numpy/matrixlib/tests/test_masked_matrix.py
  numpy/matrixlib/tests/test_matrix_linalg.py
  numpy/matrixlib/tests/test_multiarray.py
  numpy/matrixlib/tests/test_numeric.py
  numpy/matrixlib/tests/test_regression.py
  pytest.ini
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate

#11902 BUG: Fix matrix PendingDeprecationWarning suppression for pytest 3.8+.
  numpy/matrixlib/tests/test_defmatrix.py
  numpy/matrixlib/tests/test_interaction.py
  numpy/matrixlib/tests/test_masked_matrix.py
  numpy/matrixlib/tests/test_matrix_linalg.py
  numpy/matrixlib/tests/test_multiarray.py
  numpy/matrixlib/tests/test_numeric.py
  numpy/matrixlib/tests/test_regression.py
  numpy/testing/_private/pytesttester.py
  pytest.ini
Labels: 00 - Bug, 03 - Maintenance, 05 - Testing, 08 - Backport

#11907 Link HOWTO_DOCUMENT to specific section on docstrings
  doc/HOWTO_DOCUMENT.rst.txt
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#11906 TST: add shippable ARMv8 to CI
  shippable.yml
Labels: 05 - Testing

#11882 DOC: Recommend the use of `np.ndim` over `np.isscalar`, and explain the differences
  numpy/core/numeric.py
Labels: 04 - Documentation

#11693 NEP: Mark NEP 18 as accepted
  doc/neps/nep-0018-array-function-protocol.rst
Labels: 04 - Documentation, component: NEP

#11912 DOC: dtype offset and itemsize is limited by range of C int
  doc/source/reference/arrays.dtypes.rst
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: Documentation, component: numpy.dtype

#11877 BUG: Fix memory leak in pyfragments.swg
  tools/swig/pyfragments.swg
Labels: 00 - Bug, component: swig

#11900 MAINT: remove exec_command from gnu.py
  numpy/distutils/exec_command.py
  numpy/distutils/fcompiler/gnu.py
Labels: 03 - Maintenance, component: numpy.distutils

#11922 TST: Add tests for maximum_sctype
  numpy/core/tests/test_numerictypes.py
Labels: 05 - Testing, component: numpy.core

#11914 DOC: Clarify difference between PySequence_GETITEM, PyArray_GETITEM
  doc/source/reference/c-api.array.rst
Labels: 04 - Documentation, component: Documentation

#11899 MAINT: remove exec_command from system_info.py
  doc/release/1.16.0-notes.rst
  numpy/distutils/system_info.py
Labels: 03 - Maintenance, component: numpy.distutils

#11891 MAINT: remove exec_command() from build_ext
  numpy/distutils/command/build_ext.py
Labels: 03 - Maintenance, component: numpy.distutils

#11930 DOC: fix scipy-sphinx-theme license path
  LICENSE.txt
Labels: 04 - Documentation, component: Documentation

#11921 MAINT: Don't rely on `__name__` in bitname - use the information directly from the typeinfo.
  numpy/core/numerictypes.py
  numpy/core/tests/test_numerictypes.py
Labels: 03 - Maintenance, component: numpy.core

#11909 MAINT: flake8 cleanups
  numpy/core/arrayprint.py
  numpy/core/numeric.py
  numpy/distutils/command/config.py
  numpy/distutils/npy_pkg_config.py
  numpy/random/tests/test_random.py
  numpy/testing/tests/test_decorators.py
Labels: 03 - Maintenance, component: numpy.core

#11949 MAINT: Small tidy-ups to `np.core._dtype`
  numpy/core/_dtype.py
Labels: 03 - Maintenance, component: numpy.core

#11950 MAINT: Extract tangential improvements made in #11175
  doc/source/reference/c-api.generalized-ufuncs.rst
  doc/source/reference/c-api.types-and-structures.rst
  numpy/core/tests/test_ufunc.py
Labels: 04 - Documentation, 05 - Testing

#11943 DOC: Add warning/clarification about backwards compat in NEP-18
  doc/neps/nep-0018-array-function-protocol.rst
Labels: 04 - Documentation, component: NEP

#11948 DEP: finish making all comparisons to NaT false
  doc/release/1.16.0-notes.rst
  numpy/core/src/umath/loops.c.src
  numpy/core/tests/test_datetime.py
Labels: 07 - Deprecation, 56 - Needs Release Note., component: numpy.core

#11952 MAINT: test NPY_INTERNAL_BUILD only if defined
  numpy/core/include/numpy/npy_common.h
Labels: 03 - Maintenance, component: numpy.core

#11953 TST: codecov.yml improvements
  .codecov.yml
Labels: 05 - Testing

#11901 MAINT: remove exec_command usage in ibm.py
  numpy/distutils/fcompiler/ibm.py
Labels: 03 - Maintenance, component: numpy.distutils

#11967 BUG: fix refcount leak in PyArray_AdaptFlexibleDType
  numpy/core/src/multiarray/convert_datatype.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#11910 MAINT: test, refactor design of recursive closures
  numpy/core/_internal.py
  numpy/core/shape_base.py
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
  numpy/ma/core.py
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.core, component: numpy.ma

#11935 MAINT: remove usage of exec_command in config.py
  numpy/distutils/command/config.py
Labels: 03 - Maintenance, component: numpy.distutils

#11937 MAINT: remove exec_command() from f2py init
  numpy/f2py/__init__.py
  numpy/f2py/tests/test_quoted_character.py
Labels: 03 - Maintenance, component: numpy.f2py

#11976 MAINT/DOC: Show the location of an empty list in np.block
  numpy/core/shape_base.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.core

#11973 BUG: fix cached allocations without the GIL
  numpy/core/src/multiarray/alloc.c
  numpy/core/src/multiarray/item_selection.c
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.core

#11961 TST: Add more tests for np.pad
  numpy/lib/tests/test_arraypad.py
Labels: 05 - Testing, component: numpy.lib

#11858 DOC: add docstrings for numeric types
  doc/release/1.16.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_numerictypes.py
Labels: 04 - Documentation, component: numpy.core

#11981 BUG: fix cached allocations without the GIL for 1.15.x
  numpy/core/src/multiarray/alloc.c
  numpy/core/src/multiarray/item_selection.c
Labels: 00 - Bug, 06 - Regression, 08 - Backport, 09 - Backport-Candidate, component: numpy.core

#11982 BUG: fix refcount leak in PyArray_AdaptFlexibleDType
  numpy/core/src/multiarray/convert_datatype.c
Labels: 00 - Bug, 08 - Backport, 09 - Backport-Candidate, component: numpy.core

#11992 BUG: Ensure boolean indexing of subclasses sets base correctly.
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#10998 DOC: removed spurious FIXME comment in number.c
  numpy/core/src/multiarray/number.c
Labels: 03 - Maintenance, 51 - In progress

#11996 TST: Parametrize and break apart dtype tests
  numpy/core/tests/test_dtype.py
Labels: 05 - Testing

#11995 TST: Add Python 3.7 testing to NumPy 1.14.
  .appveyor.yml
  .travis.yml
  numpy/testing/nose_tools/noseclasses.py
  numpy/testing/nose_tools/nosetester.py
  numpy/testing/nose_tools/utils.py
  numpy/testing/tests/test_utils.py
  tools/travis-test.sh
Labels: 03 - Maintenance, 05 - Testing, component: numpy.testing

#11997 MAINT: Extract string helpers to a new private file
  numpy/core/_string_helpers.py
  numpy/core/numerictypes.py
Labels: 03 - Maintenance

#11994 DOC, REL: Prepare NumPy 1.14.6 release.[ci skip]
  doc/changelog/1.14.6-changelog.rst
  doc/release/1.14.6-notes.rst
  doc/source/release.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#12000 DOC, REL: Prepare for NumPy 1.15.2 release.[ci skip]
  doc/changelog/1.14.6-changelog.rst
  doc/changelog/1.15.2-changelog.rst
  doc/release/1.14.6-notes.rst
  doc/release/1.15.2-notes.rst
  doc/source/release.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#12002 Revert "NEP: Revert "NEP: Mark NEP 18 as accepted""
  doc/neps/nep-0018-array-function-protocol.rst
Labels: component: NEP

#12009 MAINT: Eliminate the private `numerictypes._typestr`
  numpy/core/numerictypes.py
  numpy/ma/mrecords.py
Labels: 03 - Maintenance, component: numpy.core

#12008 MAINT: Reassociate `np.cast` with the comment describing it
  numpy/core/numerictypes.py
Labels: 03 - Maintenance, component: numpy.core

#12004 BUG: Fix f2py compile function testing.
  numpy/f2py/tests/test_compile_function.py
  numpy/f2py/tests/test_quoted_character.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.f2py

#12014 TST: prefer pytest.skip() over SkipTest
  numpy/core/tests/_locales.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_print.py
  numpy/f2py/tests/test_array_from_pyobj.py
  numpy/f2py/tests/util.py
  numpy/lib/tests/test__datasource.py
  numpy/lib/tests/test_format.py
  numpy/lib/tests/test_io.py
  numpy/linalg/tests/test_linalg.py
Labels: 03 - Maintenance, component: numpy.testing

#12017 NEP: add 3 missing data NEPs rescued from 2011-2012
  doc/neps/_static/nep0013_image1.png
  doc/neps/_static/nep0013_image2.png
  doc/neps/_static/nep0013_image3.png
  doc/neps/conf.py
  doc/neps/nep-0013-ufunc-overrides.rst
  doc/neps/nep-0024-missing-data-2.rst
  doc/neps/nep-0025-missing-data-3.rst
  doc/neps/nep-0026-missing-data-summary.rst
Labels: 04 - Documentation, component: NEP

#11941 BUG: Ensure einsum(optimize=True) dispatches tensordot deterministically
  numpy/core/einsumfunc.py
Labels: 00 - Bug, 25 - WIP, component: numpy.core

#11957 ENH: mark that large allocations can use huge pages
  benchmarks/benchmarks/bench_io.py
  doc/release/1.16.0-notes.rst
  numpy/core/setup.py
  numpy/core/setup_common.py
  numpy/core/src/multiarray/alloc.c
Labels: 01 - Enhancement, component: numpy.core

#11894 TST: Parametrize f2py tests.
  numpy/f2py/tests/test_array_from_pyobj.py
  numpy/f2py/tests/test_callback.py
  numpy/f2py/tests/test_return_character.py
  numpy/f2py/tests/test_return_complex.py
  numpy/f2py/tests/test_return_integer.py
  numpy/f2py/tests/test_return_logical.py
  numpy/f2py/tests/test_return_real.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.f2py

#11889 BENCH: Split bench_function_base.Sort into Sort and SortWorst.
  benchmarks/benchmarks/bench_function_base.py
Labels: 03 - Maintenance, component: benchmarks

#12012 MAINT: Extract the crazy number of type aliases to their own file
  numpy/core/_type_aliases.py
  numpy/core/numerictypes.py
Labels: 03 - Maintenance, component: numpy.core

#12019 DOC: MAINT: address comments @eric-wieser on NEP 24-26 PR.
  doc/neps/conf.py
  doc/neps/nep-0026-missing-data-summary.rst
Labels: 03 - Maintenance, 04 - Documentation

#12018 MAINT: Simplify parts of _type_aliases
  numpy/core/_type_aliases.py
  numpy/core/numerictypes.py
Labels: 03 - Maintenance, component: numpy.core

#12021 DOC: Post NumPy 1.15.2 release updates.[ci skip]
  doc/changelog/1.14.6-changelog.rst
  doc/changelog/1.15.2-changelog.rst
  doc/release/1.14.6-notes.rst
  doc/release/1.15.2-notes.rst
  doc/source/release.rst
Labels: 04 - Documentation, component: Documentation

#12015 TST: improve warnings parallel test safety
  numpy/testing/tests/test_utils.py
Labels: 05 - Testing

#12024 MAINT: Normalize axes the normal way in fftpack.py
  numpy/fft/fftpack.py
Labels: 03 - Maintenance, component: numpy.fft

#12027 DOC: Add docstrings for abstract types in scalar type hierarchy
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#10551 BUG: memmap close files when it shouldn't, load leaves them open when it shouldn't
  numpy/compat/py3k.py
  numpy/core/_aliased_types.py
  numpy/core/memmap.py
  numpy/lib/npyio.py
Labels: 00 - Bug, 03 - Maintenance, component: numpy.core, component: numpy.lib

#12005 ENH: initial implementation of core __array_function__ machinery
  benchmarks/benchmarks/bench_overrides.py
  numpy/core/_methods.py
  numpy/core/overrides.py
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_overrides.py
Labels: 01 - Enhancement, component: numpy.core

#12030 DOC: use "import numpy as np" style
  doc/source/user/c-info.python-as-glue.rst
Labels: 04 - Documentation

#11783 MAINT: check _append_char return value
  numpy/core/src/multiarray/buffer.c
Labels: 03 - Maintenance, component: numpy.core

#11002 MAINT: add clearer message to assist users with failed builds.
  numpy/core/__init__.py
Labels: 03 - Maintenance, component: build

#11596 NEP: backwards compatibility and deprecation policy
  doc/neps/nep-0023-backwards-compatibility.rst
Labels: 04 - Documentation, 16 - Development, component: NEP

#12033 TST: updating f2py to ensure that at least f2py base exists, and doesn't e…
  numpy/tests/test_scripts.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.f2py

#12034 MAINT: Add version deprecated to some deprecation messages.
  numpy/testing/decorators.py
  numpy/testing/noseclasses.py
  numpy/testing/nosetester.py
  numpy/testing/utils.py
Labels: 03 - Maintenance, 07 - Deprecation, component: numpy.testing

#12032 BUG: check return value from PyArray_PromoteTypes
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#12048 BLD: pin sphinx to 1.7.9
  .circleci/config.yml
Labels: 04 - Documentation, 05 - Testing

#12051 TST: add macos azure testing to CI
  azure-pipelines.yml
  numpy/f2py/tests/test_semicolon_split.py
Labels: component: numpy.testing

#12057 MAINT: remove unused imports
  numpy/core/_internal.py
  numpy/core/einsumfunc.py
  numpy/lib/function_base.py
Labels: 03 - Maintenance, component: numpy.core, component: numpy.lib

#12056 MAINT: The crackfortran function is called with an extra argument
  numpy/f2py/crackfortran.py
Labels: 03 - Maintenance, component: numpy.f2py

#12042 MAINT: cleanup and better document core/overrides.py
  numpy/core/overrides.py
Labels: 03 - Maintenance, component: numpy.core

#12035 BUG: Fix memory leak in PY3K buffer code.
  numpy/core/src/multiarray/buffer.c
Labels: 00 - Bug, component: numpy.core

#12045 BUG: fix memory leak of buffer format string
  numpy/core/src/multiarray/buffer.c
Labels: 00 - Bug, component: numpy.core

#12054 MAINT: avoid modifying mutable default values
  numpy/distutils/command/config_compiler.py
  numpy/distutils/core.py
Labels: 03 - Maintenance, component: numpy.distutils

#11962 ENH: maximum lines of content to be read from numpy.loadtxt
  doc/release/1.16.0-notes.rst
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 01 - Enhancement, 56 - Needs Release Note., component: numpy.lib

#6377 BUG: define "uint-alignment", fixes complex64 alignment
  doc/release/1.16.0-notes.rst
  doc/source/dev/alignment.rst
  numpy/core/src/common/array_assign.c
  numpy/core/src/common/array_assign.h
  numpy/core/src/common/lowlevel_strided_loops.h
  numpy/core/src/common/npy_config.h
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/array_assign_array.c
  numpy/core/src/multiarray/array_assign_scalar.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/flagsobject.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/multiarray/lowlevel_strided_loops.c.src
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.core

#12060 MAINT: remove unused stdlib imports
  numpy/conftest.py
  numpy/core/setup.py
  numpy/ctypeslib.py
  numpy/distutils/command/build_ext.py
  numpy/distutils/fcompiler/gnu.py
  numpy/distutils/fcompiler/pg.py
  numpy/distutils/lib2def.py
  numpy/distutils/npy_pkg_config.py
  numpy/distutils/system_info.py
  numpy/f2py/setup.py
  numpy/lib/npyio.py
  numpy/matrixlib/setup.py
  numpy/polynomial/chebyshev.py
  numpy/random/setup.py
Labels: 03 - Maintenance

#12061 MAINT: remove redundant imports
  numpy/distutils/mingw32ccompiler.py
  numpy/distutils/misc_util.py
  numpy/lib/utils.py
Labels: 03 - Maintenance
