Repository numpy/numpy, pull requests merged in 2018-03, with the labels that each got.

#10248 DOC: Add installation notes for Linux users
  INSTALL.rst.txt
Labels: 03 - Documentation, component: Other

#10547 DOC: Fix incorrect formula in gradient docstring.
  numpy/lib/function_base.py
Labels: 03 - Documentation, component: numpy.lib

#10679 DOC zeros, empty, and ones now have consistent docstrings
  numpy/add_newdocs.py
  numpy/core/numeric.py
Labels: 03 - Documentation

#10674 BUG: Further back-compat fix for subclassed array repr
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, 08 - Forwardport-Candidate, component: numpy.core

#10676 BUG: F2py mishandles quoted control characters
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/test_quoted_character.py
Labels: 00 - Bug, component: numpy.f2py

#10669 MAINT: Covariance must be symmetric as well as positive-semidefinite.
  numpy/random/mtrand/mtrand.pyx
Labels: 03 - Documentation, 03 - Maintenance, component: numpy.random

#10691 DOC: add versionadded for NDArrayOperatorsMixin.
  numpy/lib/mixins.py
Labels: 03 - Documentation, component: numpy.lib

#10699 DOC: Grammar of np.gradient docstring
  numpy/lib/function_base.py
Labels: 03 - Documentation, component: numpy.core

#10703 NEP process updates
  doc/neps/index.rst
  doc/neps/nep-0000.rst
  doc/neps/nep-0001-npy-format.rst
  doc/neps/nep-0002-warnfix.rst
  doc/neps/nep-0003-math_config_clean.rst
  doc/neps/nep-0004-datetime-proposal3.rst
  doc/neps/nep-0005-generalized-ufuncs.rst
  doc/neps/nep-0006-newbugtracker.rst
  doc/neps/nep-0007-datetime-proposal.rst
  doc/neps/nep-0008-groupby_additions.rst
  doc/neps/nep-0009-structured_array_extensions.rst
  doc/neps/nep-0010-new-iterator-ufunc.rst
  doc/neps/nep-0011-deferred-ufunc-evaluation.rst
  doc/neps/nep-0012-missing-data.rst
  doc/neps/nep-0013-ufunc-overrides.rst
  doc/neps/nep-0014-dropping-python2.7-proposal.rst
Labels: 01 - Enhancement, 03 - Documentation, component: NEP

#10672 ENH: Allow dtype field names to be ascii encoded unicode in Python2
  doc/release/1.15.0-notes.rst
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.core

#10710 BUG: fix error message in numpy.select
  numpy/lib/function_base.py
Labels: 00 - Bug, component: numpy.lib

#10694 DOC: Improve docstring of memmap
  numpy/core/memmap.py
Labels: 03 - Documentation, 03 - Maintenance, component: numpy.core

#10708 BUG: fix problem with modifing pyf lines containing ';' in f2py
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/test_semicolon_split.py
Labels: 00 - Bug, component: numpy.f2py

#10698 BUG: Further back-compat fix for subclassed array repr (forward port)
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, component: numpy.core

#10711 MAINT: Hard tab and whitespace cleanup.
  numpy/core/include/numpy/npy_common.h
  numpy/core/src/multiarray/alloc.c
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/npymath/ieee754.c.src
  numpy/distutils/mingw/gfortran_vs2003_hack.c
  numpy/f2py/src/fortranobject.c
  numpy/f2py/src/fortranobject.h
  numpy/f2py/tests/src/array_from_pyobj/wrapmodule.c
  numpy/f2py/tests/test_semicolon_split.py
  numpy/linalg/lapack_litemodule.c
  numpy/linalg/umath_linalg.c.src
Labels: 03 - Maintenance

#10689 BLD: Add configuration changes to allow cross platform builds for iOS.
  doc/release/1.15.0-notes.rst
  numpy/_build_utils/apple_accelerate.py
  numpy/core/src/multiarray/strfuncs.c
  numpy/distutils/system_info.py
  numpy/linalg/lapack_lite/f2c.h
Labels: 01 - Enhancement, 56 - Needs Release Note., component: build

#10715 MAINT: Fixed C++ guard in f2py test.
  numpy/f2py/src/test/foomodule.c
Labels: 03 - Maintenance, component: numpy.f2py

#10719 DOC: add documentation for constants
  doc/source/reference/constants.rst
  doc/source/reference/index.rst
  numpy/doc/constants.py
Labels: 03 - Documentation, component: Documentation, component: numpy.core

#10720 BUG: distutils: Remove named templates from the processed output (fix gh-10712)
  numpy/distutils/from_template.py
  numpy/distutils/tests/test_from_template.py
Labels: 00 - Bug, component: numpy.distutils

#10716 BUG: dragon4 fractional output mode adds too many trailing zeros
  numpy/core/src/multiarray/dragon4.c
  numpy/core/tests/test_scalarprint.py
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#10722 MAINT: Misc small fixes.
  numpy/linalg/lapack_lite/clapack_scrub.py
  tools/swig/test/testSuperTensor.py
Labels: 03 - Maintenance, component: numpy.linalg, component: swig

#10725 BUG: dragon4 fractional output mode adds too many trailing zeros
  numpy/core/src/multiarray/dragon4.c
  numpy/core/tests/test_scalarprint.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10726 BUG: Fix f2py generated code to work on PyPy
  numpy/f2py/cb_rules.py
Labels: 00 - Bug, 07 - Backport, component: numpy.f2py

#10727 BUG: Fix missing NPY_VISIBILITY_HIDDEN on npy_longdouble_to_PyLong
  numpy/core/src/private/npy_longdouble.c
  numpy/core/src/private/npy_longdouble.h
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#10730 DOC: Fix minor typo in how-to-document.
  doc/HOWTO_DOCUMENT.rst.txt
Labels: 03 - Documentation, 03 - Maintenance, component: Documentation

#10729 DOC: Create 1.14.2 notes and changelog.
  doc/changelog/1.14.2-changelog.rst
  doc/release/1.14.2-notes.rst
  doc/source/release.rst
Labels: 03 - Documentation, 08 - Forwardport-Candidate, component: Documentation

#10734 DOC: Post 1.14.2 release update.
  doc/changelog/1.14.2-changelog.rst
  doc/release/1.14.2-notes.rst
  doc/source/release.rst
Labels: 03 - Documentation, component: Documentation

#10732 BUG: Fix `setup.py build install egg_info`, which did not previously build
  setup.py
Labels: 00 - Bug, component: build

#10718 BUG: Fix bug in asserting near equality of float16 arrays.
  numpy/testing/nose_tools/utils.py
  numpy/testing/pytest_tools/utils.py
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, component: numpy.testing

#10743 MAINT: Import abstract classes from collections.abc
  doc/summarize.py
  numpy/core/numeric.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_records.py
  numpy/lib/function_base.py
  numpy/matrixlib/tests/test_defmatrix.py
  numpy/testing/nose_tools/decorators.py
  numpy/testing/pytest_tools/decorators.py
Labels: 03 - Maintenance, 04 - Testing

#10746 DOC: Fix typo in warning message
  numpy/core/src/multiarray/shape.c
Labels: 03 - Maintenance, component: numpy.core

#10750 DOC: Add graph showing different behaviors of np.percentile
  numpy/lib/function_base.py
Labels: 03 - Documentation, component: numpy.lib

#10618 MAINT: Stop using non-tuple indices internally
  numpy/core/tests/test_indexing.py
  numpy/core/tests/test_memmap.py
  numpy/fft/fftpack.py
  numpy/lib/arraypad.py
  numpy/lib/function_base.py
  numpy/lib/histograms.py
  numpy/ma/core.py
  numpy/ma/extras.py
Labels: 03 - Maintenance

#10591 ENH: Add histogram_bin_edges function and test
  doc/release/1.15.0-notes.rst
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 01 - Enhancement, component: numpy.lib

#10702 TST, DOC: Upload devdocs and neps after circleci build
  .circleci/config.yml
  numpy/ma/core.py
  tools/ci/push_docs_to_repo.py
Labels: 04 - Testing

#10666 BUG: fix complex casting error in cov with aweights
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, component: numpy.lib

#10755 DOC: Move bin estimator documentation from `histogram` to `histogram_bin_edges`
  numpy/lib/histograms.py
Labels: 03 - Documentation, component: numpy.lib

#10758 TST: Change most travisci tests to Python3.6.
  .travis.yml
Labels: 04 - Testing

#10740 MAINT, TST: Fixes for Python 3.7
  .travis.yml
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, 04 - Testing

#10766 MAINT: Remove the unused scalarmath getters for fmod and sqrt
  numpy/core/src/umath/scalarmath.c.src
Labels: 03 - Maintenance

#10777 MAINT: Remove use of unittest in NumPy tests.
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_umath.py
  numpy/core/tests/test_umath_complex.py
  numpy/distutils/tests/test_system_info.py
  numpy/lib/tests/test_io.py
  numpy/ma/testutils.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, 04 - Testing

#10785 DOC: Fixed author name in reference to book
  numpy/core/numeric.py
Labels: 03 - Documentation, 03 - Maintenance, component: numpy.core

#10790 TST: Various fixes prior to switching to pytest
  numpy/compat/setup.py
  numpy/conftest.py
  numpy/core/setup.py
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/umath/_operand_flag_tests.c.src
  numpy/core/src/umath/_rational_tests.c.src
  numpy/core/src/umath/_struct_ufunc_tests.c.src
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/tests/_locales.py
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_extint128.py
  numpy/core/tests/test_indexing.py
  numpy/core/tests/test_longdouble.py
  numpy/core/tests/test_mem_overlap.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_print.py
  numpy/core/tests/test_ufunc.py
  numpy/core/tests/test_umath.py
  numpy/lib/tests/test_stride_tricks.py
  numpy/testing/nose_tools/noseclasses.py
  numpy/testing/nose_tools/utils.py
Labels: 03 - Maintenance, 04 - Testing

#10564 BUG: Provide correct format in Py_buffer for scalars
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/buffer.h
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_scalarbuffer.py
Labels: 00 - Bug, component: numpy.core

#10807 DOC: Update link to tox in development docs (#10806)
  doc/source/dev/development_environment.rst
Labels: 03 - Documentation, component: Documentation

#10619 BUG: np.ma.flatnotmasked_contiguous behaves differently on mask=nomask and mask=zeros
  doc/release/1.15.0-notes.rst
  numpy/ma/extras.py
  numpy/ma/tests/test_extras.py
Labels: 00 - Bug, component: numpy.ma

#10828 BUG: fix obvious mistake in testing/decorators warning.
  numpy/testing/decorators.py
Labels: 00 - Bug, component: numpy.testing

#10829 BLD: use Python 3.6 instead of 2.7 as default for doc build.
  doc/Makefile
Labels: component: build

#10831 DOC: Fix minor typos
  doc/summarize.py
  numpy/core/numeric.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_records.py
  numpy/core/tests/test_ufunc.py
  numpy/doc/subclassing.py
  numpy/f2py/crackfortran.py
  numpy/matrixlib/tests/test_defmatrix.py
  numpy/testing/_private/decorators.py
  numpy/testing/pytest_tools/decorators.py
Labels: 03 - Documentation, 03 - Maintenance

#10786 ENH: Add "stablesort" option to inp.sort as an alias for "mergesort".
  doc/release/1.15.0-notes.rst
  numpy/add_newdocs.py
  numpy/core/fromnumeric.py
  numpy/core/src/multiarray/conversion_utils.c
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 01 - Enhancement, 56 - Needs Release Note., component: numpy.core
