Repository numpy/numpy, pull requests merged in 2018-10, with the labels that each got.

#12062 BUG: OBJECT_to_* should check for errors
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, component: numpy.core

#12072 BUG: test_path() now uses Path.resolve()
  numpy/core/tests/test_memmap.py
Labels: 00 - Bug, component: numpy.testing

#11119 ENH: Chain exceptions to give better error messages for invalid PEP3118 format strings
  numpy/core/include/numpy/npy_3kcompat.h
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/buffer.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.dtype

#12079 MAINT: Blacklist some MSVC complex functions.
  numpy/core/src/common/npy_config.h
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#12080 MAINT: Blacklist some MSVC complex functions.
  numpy/core/src/private/npy_config.h
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#12081 TST: add Windows test matrix to Azure CI
  azure-pipelines.yml
Labels: 05 - Testing

#12082 TST: Add Python 3.5 to Azure windows CI.
  azure-pipelines.yml
Labels: 05 - Testing

#12084 BUG: test_path() now uses Path.resolve()
  numpy/core/tests/test_memmap.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport, component: numpy.core

#12103 MAINT: Add azure-pipeline status badge to README.md
  README.md
Labels: 03 - Maintenance

#12093 Provide information about what kind is actually not integer kind
  numpy/core/getlimits.py
Labels: 03 - Maintenance, component: numpy.core

#12106 TST, MAINT: Skip some f2py tests on Mac.
  numpy/f2py/tests/test_return_real.py
  numpy/f2py/tests/test_semicolon_split.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.f2py

#12091 TST: Install pickle5 for CI testing with python 3.6/7
  .appveyor.yml
  .travis.yml
  azure-pipelines.yml
  tools/travis-before-install.sh
  tools/travis-test.sh
Labels: 03 - Maintenance

#12090 TST, MAINT: Update pickling tests by making them loop over all protocols
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_records.py
  numpy/core/tests/test_regression.py
  numpy/matrixlib/tests/test_masked_matrix.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.core

#12099 ENH: Validate dispatcher functions in array_function_dispatch
  numpy/core/overrides.py
  numpy/core/tests/test_overrides.py
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.core

#12109 TST: add unit test for issctype
  numpy/core/tests/test_numerictypes.py
Labels: 05 - Testing

#12088 BUG: limit default for get_num_build_jobs() to 8
  numpy/distutils/misc_util.py
Labels: 00 - Bug, component: numpy.distutils

#11979 MAINT: Ensure that a copy of the array is returned when calling `block`.
  numpy/core/shape_base.py
  numpy/core/tests/test_shape_base.py
Labels: 03 - Maintenance

#12125 TST: expand cases in test_issctype()
  numpy/core/tests/test_numerictypes.py
Labels: 05 - Testing, component: numpy.core

#12112 ENH: check getfield arguments to prevent invalid memory access
  doc/release/1.16.0-notes.rst
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 01 - Enhancement, component: numpy.core

#12131 BUG: fix PyDataType_ISBOOL
  numpy/core/include/numpy/ndarraytypes.h
Labels: 00 - Bug, 03 - Maintenance, component: numpy.core

#12127 BUG: Fix memory leak in mapping.c
  numpy/core/src/multiarray/mapping.c
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.core

#12123 DEP: deprecate asscalar
  doc/release/1.16.0-notes.rst
  numpy/lib/type_check.py
Labels: 07 - Deprecation, component: numpy.core

#12133 MAINT, TST refactor pickle imports and tests
  doc/cdoc/numpyfilter.py
  numpy/core/numeric.py
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_overrides.py
  numpy/core/tests/test_records.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_ufunc.py
  numpy/lib/format.py
  numpy/lib/npyio.py
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/ma/tests/test_mrecords.py
  numpy/ma/tests/test_old_ma.py
  numpy/matrixlib/tests/test_masked_matrix.py
  numpy/tests/test_reloading.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.core, component: numpy.lib, component: numpy.ma

#12108 BUG: Allow boolean subtract in histogram
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.lib

#12011 ENH: implementation of array_reduce_ex
  doc/release/1.16.0-notes.rst
  numpy/core/numeric.py
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.core, component: numpy.ma

#12141 DOC: minor tweak to CoC (update NumFOCUS contact address).
  doc/source/dev/conduct/code_of_conduct.rst
Labels: 04 - Documentation

#12134 DOC: Remove duplicated sentence in numpy.multiply
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 04 - Documentation, component: numpy.core

#12146 MAINT: Fix typo in comment
  numpy/core/src/umath/ufunc_type_resolution.c
Labels: 03 - Maintenance

#12115 ENH: __array_function__ support for most of numpy.core
  numpy/core/arrayprint.py
  numpy/core/fromnumeric.py
  numpy/core/numeric.py
  numpy/core/shape_base.py
Labels: 01 - Enhancement, component: __array_function__, component: numpy.core

#12116 ENH: __array_function__ support for np.lib, part 1/2
  numpy/lib/arraypad.py
  numpy/lib/arraysetops.py
  numpy/lib/financial.py
  numpy/lib/function_base.py
  numpy/lib/histograms.py
  numpy/lib/index_tricks.py
  numpy/lib/nanfunctions.py
Labels: 01 - Enhancement, component: __array_function__, component: numpy.lib

#12140 DOC: fixups for NEP-18 based on the implementation
  doc/neps/nep-0018-array-function-protocol.rst
Labels: component: Documentation, component: NEP

#11613 BUG: have geometric() raise ValueError on p=0
  numpy/random/mtrand/mtrand.pyx
Labels: component: numpy.random

#12117 ENH: __array_function__ support for np.fft and np.linalg
  numpy/fft/fftpack.py
  numpy/fft/helper.py
  numpy/linalg/linalg.py
Labels: 01 - Enhancement, component: __array_function__, component: numpy.fft, component: numpy.linalg

#12148 DOC: document NEP-18 overrides in release notes
  doc/release/1.16.0-notes.rst
Labels: 04 - Documentation, component: __array_function__

#12176 TST: add test for weighted histogram mismatch
  numpy/lib/tests/test_histograms.py
Labels: 05 - Testing

#12165 Mark NEP 22 as accepted, and add "Informational" NEPs to NEP 1
  doc/neps/nep-0000.rst
  doc/neps/nep-0022-ndarray-duck-typing-overview.rst
Labels: 04 - Documentation, component: NEP

#12145 MAINT: Update ndarrayobject.h `__cplusplus` block.
  numpy/core/include/numpy/ndarrayobject.h
Labels: 03 - Maintenance, component: numpy.core

#12166 NEP: Add zero-rank arrays historical info NEP
  doc/neps/nep-0027-zero-rank-arrarys.rst
Labels: component: NEP

#12151 TST: byte_bounds contiguity handling
  numpy/lib/tests/test_utils.py
Labels: 05 - Testing

#12155 MAINT: Move NPY_SETREF to somewhere more reusable
  numpy/core/include/numpy/npy_3kcompat.h
  numpy/core/src/common/npy_longdouble.c
Labels: 03 - Maintenance

#12173 NEP: add notes about updates to NEP-18
  doc/neps/nep-0018-array-function-protocol.rst
Labels: component: NEP

#12191 BUG: OBJECT_to_* should check for errors
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12189 BUG: Fix in-place permutation
  numpy/random/mtrand/mtrand.pyx
  numpy/random/tests/test_regression.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.random

#12187 BUG: Fix memory leak in mapping.c
  numpy/core/src/multiarray/mapping.c
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.core

#12188 BUG: Allow boolean subtract in histogram
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.lib

#12190 BUG: limit default for get_num_build_jobs() to 8
  numpy/distutils/misc_util.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#12177 MAINT: remove unused _assertSquareness()
  numpy/linalg/linalg.py
Labels: 03 - Maintenance, component: numpy.linalg

#12185 TST: test multi_dot with 2 arrays
  numpy/linalg/tests/test_linalg.py
Labels: 05 - Testing, component: numpy.linalg

#12199 TST: add Azure CI triggers
  azure-pipelines.yml
Labels: 05 - Testing

#12159 MAINT: remove unused nd_grid __len__
  doc/release/1.16.0-notes.rst
  numpy/lib/index_tricks.py
Labels: 03 - Maintenance, component: numpy.lib

#12179 MAINT: Move _kind_to_stem to np.core._dtype, so that it can be used as part of dtype.__repr__
  numpy/core/_dtype.py
  numpy/core/_type_aliases.py
  numpy/core/numerictypes.py
Labels: 03 - Maintenance

#12153 DOC, TST: cover setdiff1d assume_unique
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
Labels: 04 - Documentation, 05 - Testing, component: numpy.lib

#12217 TST: test histogram bins dims
  numpy/lib/tests/test_histograms.py
Labels: 05 - Testing, component: numpy.lib

#12216 TST: test invalid histogram range
  numpy/lib/tests/test_histograms.py
Labels: 05 - Testing, component: numpy.lib

#11175 ENH: Generalized ufunc signature expansion for frozen and flexible dimensions
  doc/release/1.16.0-notes.rst
  doc/source/reference/c-api.generalized-ufuncs.rst
  doc/source/reference/c-api.types-and-structures.rst
  numpy/core/code_generators/cversions.txt
  numpy/core/include/numpy/ufuncobject.h
  numpy/core/setup.py
  numpy/core/setup_common.py
  numpy/core/src/common/numpyos.c
  numpy/core/src/common/numpyos.h
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
Labels: 01 - Enhancement, 15 - Discussion, component: numpy.core, component: numpy.ufunc

#11965 BENCH: Add a benchmark comparing block to copy in the 3D case
  benchmarks/benchmarks/bench_shape_base.py
Labels: 28 - Benchmark, component: benchmarks

#12154 ENH: __array_function__ for np.core.defchararray
  numpy/core/defchararray.py
Labels: 01 - Enhancement, component: __array_function__

#12211 DOC: Clarify the examples for argmax and argmin
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#12175 ENH: __array_function__ for multiarray functions
  numpy/core/_add_newdocs.py
  numpy/core/multiarray.py
  numpy/core/overrides.py
Labels: 01 - Enhancement, component: __array_function__

#11852 BUG: timedelta64 now accepts NumPy ints
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, component: numpy.core

#12209 Delay import of distutils.msvccompiler to avoid warning on non-Windows.
  numpy/distutils/misc_util.py
Labels: 03 - Maintenance, component: numpy.distutils

#12229 MAINT: Fix typo in comment
  numpy/core/overrides.py
Labels: 03 - Maintenance, component: numpy.core

#12222 TST: unit tests for column_stack.
  numpy/lib/tests/test_shape_base.py
Labels: 05 - Testing, component: numpy.lib

#12224 BUG: Fix MaskedArray fill_value type conversion.
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.ma

#12237 BUG: Fix MaskedArray fill_value type conversion.
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.ma

#12238 TST: Backport azure-pipeline testing fixes for Mac
  numpy/f2py/tests/test_return_real.py
  numpy/f2py/tests/test_semicolon_split.py
Labels: 05 - Testing, component: numpy.f2py

#12192 DOC: Prepare for NumPy 1.15.3 release.
  doc/changelog/1.15.3-changelog.rst
  doc/release/1.15.3-notes.rst
  doc/source/release.rst
Labels: 04 - Documentation

#12119 ENH: __array_function__ support for np.lib, part 2/2
  numpy/core/tests/test_overrides.py
  numpy/lib/npyio.py
  numpy/lib/polynomial.py
  numpy/lib/recfunctions.py
  numpy/lib/scimath.py
  numpy/lib/shape_base.py
  numpy/lib/stride_tricks.py
  numpy/lib/twodim_base.py
  numpy/lib/type_check.py
  numpy/lib/ufunclike.py
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 01 - Enhancement, component: __array_function__, component: numpy.lib

#12245 TST: tests for sort_complex()
  numpy/lib/tests/test_function_base.py
Labels: 05 - Testing, component: numpy.lib

#12243 BUG: Fix misleading assert message in assert_almost_equal #12200
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, component: numpy.testing

#12240 BUG: Fix crash in repr of void subclasses
  numpy/core/_dtype.py
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 06 - Regression, component: numpy.core

#12251 MAINT: improved error message when no __array_function__ implementation found
  doc/release/1.16.0-notes.rst
  numpy/core/arrayprint.py
  numpy/core/defchararray.py
  numpy/core/fromnumeric.py
  numpy/core/multiarray.py
  numpy/core/numeric.py
  numpy/core/overrides.py
  numpy/core/tests/test_overrides.py
  numpy/fft/fftpack.py
  numpy/fft/helper.py
  numpy/lib/arraypad.py
  numpy/lib/arraysetops.py
  numpy/lib/financial.py
  numpy/lib/function_base.py
  numpy/lib/index_tricks.py
  numpy/lib/nanfunctions.py
  numpy/lib/polynomial.py
  numpy/lib/shape_base.py
  numpy/lib/stride_tricks.py
  numpy/lib/twodim_base.py
  numpy/lib/type_check.py
  numpy/lib/ufunclike.py
  numpy/linalg/linalg.py
Labels: 01 - Enhancement, component: __array_function__, component: numpy.core

#12163 ENH: __array_function__ for np.einsum and np.block
  numpy/core/einsumfunc.py
  numpy/core/shape_base.py
  numpy/core/tests/test_shape_base.py
Labels: 01 - Enhancement, component: __array_function__

#12254 MAINT: Move ctype -> dtype conversion to python
  numpy/core/_dtype_ctypes.py
  numpy/core/_internal.py
  numpy/core/setup.py
  numpy/core/src/common/npy_ctypes.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/descriptor.h
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 03 - Maintenance, component: numpy.core

#12257 BUG: Fix fill value in masked array '==' and '!=' ops.
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.ma

#12214 TST: add test for tensorinv()
  numpy/linalg/tests/test_linalg.py
Labels: 05 - Testing, component: numpy.linalg

#12276 MAINT: remove unused parse_index()
  numpy/core/src/multiarray/iterators.c
  numpy/core/src/multiarray/iterators.h
Labels: 03 - Maintenance, component: numpy.core

#12212 MAINT: ndarray.__repr__ should not rely on __array_function__
  numpy/core/arrayprint.py
  numpy/core/overrides.py
  numpy/core/tests/test_overrides.py
Labels: 03 - Maintenance, component: numpy.core

#12285 ENH: array does not need to be writable to use as input to take
  doc/release/1.16.0-notes.rst
  numpy/core/src/multiarray/item_selection.c
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.core

#12236 BUG: maximum, minimum no longer emit warnings on NAN
  doc/release/1.16.0-notes.rst
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_half.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, 54 - Needs decision, component: numpy.ufunc

#12288 BUILD: force LGTM to use cython>=0.29
  .lgtm.yml
Labels: 03 - Maintenance, 05 - Testing

#12280 DEP: deprecate passing a generator to stack functions
  numpy/core/shape_base.py
  numpy/core/tests/test_shape_base.py
  numpy/lib/shape_base.py
  numpy/lib/tests/test_shape_base.py
Labels: 07 - Deprecation, component: __array_function__

#12292 MAINT: removed unused vars in f2py test code
  numpy/f2py/src/test/foomodule.c
Labels: 03 - Maintenance, component: numpy.f2py

#12120 ENH: add timedelta modulus operator support (mm)
  doc/release/1.16.0-notes.rst
  doc/source/reference/arrays.datetime.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/src/umath/ufunc_type_resolution.h
  numpy/core/tests/test_datetime.py
Labels: 01 - Enhancement, component: numpy.datetime64

#12249 BUG: clear buffer_info_cache on scalar dealloc
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/buffer.h
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12279 NEP: tweak and mark NEP 0027 as final
  doc/neps/nep-0027-zero-rank-arrarys.rst
Labels: 03 - Maintenance, component: NEP

#12297 BUG: Fix fill value in masked array '==' and '!=' ops.
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 08 - Backport, component: numpy.ma

#12296 BUG: Dealloc cached buffer info (#12249)
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/buffer.h
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12157 ENH: Add support for third-party path-like objects by backporting os.fspath
  numpy/compat/py3k.py
  numpy/core/memmap.py
  numpy/lib/npyio.py
Labels: 01 - Enhancement, component: numpy.lib

#12302 DOC: Update the docstring of asfortranarray and ascontiguousarray
  numpy/core/numeric.py
Labels: 04 - Documentation, component: numpy.core
