Repository numpy/numpy, pull requests merged in 2018-05, with the labels that each got.

#11003 DOC: work around GH isaacs/github#316 to show SVG image
  README.md
Labels: 03 - Documentation, component: Documentation

#11006 TST, BUILD: add latex to circleci doc build
  .circleci/config.yml
Labels: 04 - Testing

#11055 DOC: Add explanation for comments=None in loadtxt.
  numpy/lib/npyio.py
Labels: 03 - Documentation, component: numpy.lib

#11057 BUG: use absolute imports in test files
  numpy/core/tests/test_longdouble.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_print.py
Labels: 00 - Bug, 04 - Testing

#11066 MAINT: `distutils.system_info`: handle Accelerate like any other library
  numpy/distutils/system_info.py
  site.cfg.example
Labels: 01 - Enhancement, component: numpy.distutils

#11037 BUG: initialize value before use
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, 03 - Maintenance, component: numpy.core

#11036 BUG: optimizing compilers can reorder call to npy_get_floatstatus
  doc/release/1.15.0-notes.rst
  doc/source/reference/c-api.coremath.rst
  numpy/core/include/numpy/npy_math.h
  numpy/core/src/npymath/ieee754.c.src
  numpy/core/src/umath/extobj.c
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/reduction.c
  numpy/core/src/umath/scalarmath.c.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_umath.py
  numpy/linalg/umath_linalg.c.src
Labels: 00 - Bug, component: numpy.core

#11056 MAINT: Improve performance of random permutation
  benchmarks/benchmarks/bench_random.py
  doc/release/1.15.0-notes.rst
  numpy/random/mtrand/mtrand.pyx
Labels: 03 - Maintenance, component: numpy.random

#11043 BUG: reduce using SSE only warns if inside SSE loop
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, component: numpy.core

#11073 DOC: expand reasoning behind npy_*floatstatus_barrer()
  doc/source/reference/c-api.coremath.rst
  numpy/core/include/numpy/npy_math.h
Labels: 03 - Documentation

#11076 BUG: Ensure `PyArray_AssignRawScalar` respects `NPY_NEEDS_INIT`
  numpy/core/src/multiarray/array_assign_scalar.c
Labels: 00 - Bug, component: numpy.core

#8157 BUG: void .item() doesn't hold reference to original array
  doc/release/1.15.0-notes.rst
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, component: numpy.core

#10975 MAINT: move linalg tests using matrix to matrixlib
  numpy/linalg/tests/test_linalg.py
  numpy/matrixlib/tests/test_matrix_linalg.py
Labels: 03 - Maintenance, 04 - Testing

#11083 ENH: remove nose from travis tests
  .travis.yml
Labels: 03 - Maintenance, 04 - Testing

#11082 DOC: link to updated module docstring, not NEP
  doc/source/reference/routines.io.rst
  numpy/lib/format.py
  numpy/lib/npyio.py
Labels: 03 - Documentation, component: Documentation

#11011 MAINT: Simplify dimension-juggling in np.pad
  numpy/lib/arraypad.py
Labels: 03 - Maintenance, component: numpy.lib

#11085 DOC: create label and ref, fixes broken link
  doc/source/reference/routines.io.rst
  numpy/lib/format.py
  numpy/lib/npyio.py
Labels: 03 - Documentation

#11023 BUG: np.histogramdd loses precision on its inputs, leading to incorrect results
  doc/release/1.15.0-notes.rst
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
  numpy/lib/twodim_base.py
Labels: 00 - Bug, component: numpy.lib

#11009 DOC: release walkthrough updates from 1.14.3
  doc/RELEASE_WALKTHROUGH.rst.txt
Labels: 03 - Documentation, component: Documentation

#10988 MAINT: Small tidy-ups to ufunc_object.c
  numpy/core/src/umath/ufunc_object.c
Labels: 03 - Maintenance, component: numpy.core

#10985 MAINT, ENH: Move matrix_power to linalg and allow higher dimensions.
  doc/release/1.15.0-notes.rst
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
  numpy/matrixlib/defmatrix.py
  numpy/matrixlib/tests/test_defmatrix.py
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.linalg, component: numpy.matrixlib

#11094 DOC: add numpy.lib.format to docs and link to it
  doc/source/_templates/autosummary/minimal_module.rst
  doc/source/reference/routines.io.rst
  numpy/lib/format.py
  numpy/lib/npyio.py
Labels: 03 - Documentation, component: Documentation, component: numpy.lib

#11091 BUG: Python2 doubles don't print correctly in interactive shell
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_scalarprint.py
Labels: 00 - Bug, component: numpy.core

#11010 Move remaining Matrix tests to matrixlib
  numpy/core/fromnumeric.py
  numpy/core/numeric.py
  numpy/core/tests/test_api.py
  numpy/core/tests/test_indexing.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_numeric.py
  numpy/core/tests/test_shape_base.py
  numpy/core/tests/test_ufunc.py
  numpy/core/tests/test_umath.py
  numpy/lib/polynomial.py
  numpy/lib/scimath.py
  numpy/lib/tests/test_arraysetops.py
  numpy/lib/tests/test_function_base.py
  numpy/lib/tests/test_index_tricks.py
  numpy/lib/tests/test_nanfunctions.py
  numpy/lib/tests/test_shape_base.py
  numpy/matrixlib/tests/test_interaction.py
  numpy/polynomial/tests/test_polyutils.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, component: numpy.matrixlib

#11050 BUG: remove fast scalar power for arrays with object dtype
  numpy/core/src/multiarray/number.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#10991 DOC: Update genfromtxt docs to use StringIO and u-strings
  doc/source/user/basics.io.genfromtxt.rst
Labels: 03 - Documentation, component: numpy.lib

#11026 MAINT: reduce code duplication in ufunc_frompyfunc
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/umathmodule.c
Labels: 03 - Maintenance, component: numpy.core

#11098 ENH: Add keepdims argument for generalized ufuncs.
  doc/release/1.15.0-notes.rst
  doc/source/reference/ufuncs.rst
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
Labels: 01 - Enhancement, component: numpy.core

#11137 MAINT: move remaining MaskedArray matrix tests to matrixlib.
  numpy/ma/tests/test_extras.py
  numpy/matrixlib/tests/test_masked_matrix.py
Labels: 03 - Maintenance, component: numpy.ma, component: numpy.matrixlib

#11139 TST: turn some build warnings into errors
  runtests.py
Labels: 04 - Testing

#11141 MAINT: Extract a helper function for prepending and appending
  numpy/lib/arraypad.py
Labels: 03 - Maintenance, component: numpy.lib

#11134 DOC: Clarify tofile requirements
  numpy/add_newdocs.py
Labels: 03 - Documentation

#11149 BUG: guessing datetime, time precedence
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, component: numpy.core

#11159 TST: Skip ctypes dependent test that fails on Python < 2.7.7.
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, 04 - Testing, component: numpy.core

#11038 ENH: Add __deepcopy__ to MaskedConstant
  doc/release/1.15.0-notes.rst
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 01 - Enhancement, 56 - Needs Release Note., component: numpy.ma

#11097 BUG: fix datetime.timedelta->timedelta64 unit detection logic
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, component: numpy.core

#11120 MAINT: remove redundant code in MaskedArray.__new__
  numpy/ma/core.py
Labels: 03 - Maintenance, component: numpy.ma

#11168 TST: linalg: add regression test for gh-8577
  numpy/linalg/tests/test_linalg.py
Labels: 04 - Testing, 05 - Regression, 08 - Backport-Candidate

#11169 MAINT: add sanity-checks to be run at import time
  numpy/__init__.py
Labels: 04 - Testing, 05 - Regression, 08 - Backport-Candidate

#11170 TST: linalg: add regression test for gh-8577
  numpy/linalg/tests/test_linalg.py
Labels: 04 - Testing, 05 - Regression, 07 - Backport

#11145 DOC: cleanup NEP creation
  doc/neps/index.rst.tmpl
  doc/neps/nep-0000.rst
Labels: 03 - Documentation, 58 - Ready for review, component: NEP

#9686 DEP: Deprecate non-tuple nd-indices
  doc/release/1.15.0-notes.rst
  doc/source/reference/arrays.indexing.rst
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_deprecations.py
Labels: 06 - Deprecation

#11174 MAINT: add sanity-checks to be run at import time
  numpy/__init__.py
Labels: 04 - Testing, 05 - Regression, 07 - Backport

#10898 ENH: Have dtype transfer for equivalent user dtypes prefer user-defined `copyswapn`
  doc/release/1.15.0-notes.rst
  numpy/core/src/multiarray/dtype_transfer.c
Labels: 01 - Enhancement, component: numpy.core

#11105 ENH: Add (put|take)_along_axis
  doc/release/1.15.0-notes.rst
  doc/source/reference/routines.indexing.rst
  numpy/core/fromnumeric.py
  numpy/lib/shape_base.py
  numpy/lib/tests/test_shape_base.py
  numpy/ma/core.py
  numpy/ma/extras.py
Labels: 01 - Enhancement, component: numpy.lib

#11180 BUG: void dtype setup checked offset not actual pointer for alignment
  numpy/core/src/multiarray/arraytypes.c.src
Labels: 00 - Bug, 08 - Backport-Candidate, component: numpy.core

#10938 MAINT: One step closer to vectorizing lstsq
  numpy/linalg/linalg.py
  numpy/linalg/umath_linalg.c.src
Labels: 03 - Maintenance, component: numpy.linalg

#11178 TST: Test dimensions/indices found from parsed gufunc signatures.
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/tests/test_ufunc.py
Labels: 04 - Testing, component: numpy.core

#11140 MAINT: Update artful to bionic for i386 testing
  .travis.yml
Labels: 03 - Maintenance, 04 - Testing, 08 - Backport-Candidate

#10314 BUG: Ensure __array_finalize__ cannot back-mangle shape
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/ma/tests/test_old_ma.py
  numpy/ma/tests/test_regression.py
Labels: 00 - Bug, component: numpy.ma

#11095 MAINT: Einsum argument parsing cleanup
  numpy/core/src/multiarray/einsum.c.src
Labels: 03 - Maintenance, component: numpy.core

#11182 BUG: Avoid deprecated non-tuple indexing
  numpy/lib/index_tricks.py
  numpy/lib/tests/test_index_tricks.py
Labels: 00 - Bug

#10549 ENH: Make NpzFile conform to the Mapping protocol
  doc/release/1.15.0-notes.rst
  numpy/lib/npyio.py
Labels: 01 - Enhancement, component: numpy.lib

#11185 MAINT: Add comments to long_double detection code
  numpy/core/setup_common.py
Labels: 03 - Maintenance

#11184 MAINT: Add bitmask helper functions
  numpy/core/src/multiarray/dragon4.c
Labels: 03 - Maintenance

#11190 DOC: Update NEP0 to clarify that discussion should happen on mailing list
  doc/neps/nep-0000.rst
Labels: 03 - Documentation

#11104 BUG: str of DOUBLE_DOUBLE format wrong on ppc64
  doc/release/1.14.4-notes.rst
  numpy/core/src/multiarray/dragon4.c
Labels: 00 - Bug, 05 - Regression, component: numpy.core

#10142 DEP: Pending deprecation warning for matrix
  numpy/matrixlib/defmatrix.py
  numpy/matrixlib/tests/test_defmatrix.py
  numpy/matrixlib/tests/test_interaction.py
  numpy/matrixlib/tests/test_masked_matrix.py
  numpy/matrixlib/tests/test_matrix_linalg.py
  numpy/matrixlib/tests/test_multiarray.py
  numpy/matrixlib/tests/test_numeric.py
  numpy/matrixlib/tests/test_regression.py
  numpy/tests/test_matlib.py
Labels: 03 - Documentation, 06 - Deprecation, 15 - Discussion

#11194 BUG: Python2 doubles don't print correctly in interactive shell.
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_scalarprint.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11199 BUG: reduce using SSE only warns if inside SSE loop
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11173 MAINT: Ensure that parsing errors are passed on even in tests.
  numpy/core/src/umath/_umath_tests.c.src
Labels: 03 - Maintenance, component: numpy.core

#11176 MAINT: avoid setting non-existing gufunc strides for keepdims=True.
  numpy/core/src/umath/ufunc_object.c
Labels: 03 - Maintenance, component: numpy.core

#11200 BUG: delimiter/comments in genfromtxt should be encoded
  numpy/lib/_iotools.py
  numpy/lib/tests/test__iotools.py
Labels: 00 - Bug, 05 - Regression, 08 - Backport-Candidate, component: numpy.lib

#11203 BUG: Bytes delimiter/comments in genfromtxt should be decoded
  numpy/lib/_iotools.py
  numpy/lib/tests/test__iotools.py
Labels: 00 - Bug, 05 - Regression, 07 - Backport, component: numpy.lib

#11211 BUG: Fix reference count/memory leak exposed by better testing
  numpy/core/src/umath/override.c
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 07 - Backport, component: numpy.core

#11090 BUG: Added support for index values 27-52 in C einsum
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, component: numpy.core
