Repository numpy/numpy, pull requests merged in 2019-02, with the labels that each got.

#12909 TST: fix vmImage dispatch in Azure
  azure-pipelines.yml
Labels: 05 - Testing, 08 - Backport

#12911 BLD: fix doc build for distribution.
  doc/Makefile
Labels: component: build

#12923 MAINT: remove complicated test of multiarray import failure mode
  numpy/core/setup.py
  numpy/core/src/multiarray/_multiarray_module_test.c
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#12908 DOC: Update master following 1.16.1 release.
  .mailmap
  doc/changelog/1.16.1-changelog.rst
  doc/release/1.16.1-notes.rst
  doc/source/release.rst
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#12937 DOC: Correct negative_binomial docstring
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, component: numpy.random

#12929 DOC: fix documentation bug in np.argsort and extend examples
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#12944 BUG: Make timsort deal with zero length elements.
  numpy/core/src/npysort/timsort.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#12949 DOC: ndarray.max is missing
  doc/source/reference/arrays.ndarray.rst
Labels: component: Documentation

#12928 MAINT: Merge together the unary and binary type resolvers
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/src/umath/ufunc_type_resolution.h
Labels: 03 - Maintenance, component: numpy.ufunc

#12945 BUG: Add timsort without breaking the API.
  doc/changelog/1.15.0-changelog.rst
  doc/release/1.17.0-notes.rst
  doc/source/reference/c-api.array.rst
  numpy/core/_add_newdocs.py
  numpy/core/fromnumeric.py
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#12789 TST: Improve tests for numpy.pad
  numpy/lib/tests/test_arraypad.py
Labels: 05 - Testing, component: numpy.lib

#12932 BUG: do not dereference NULL pointer
  numpy/core/src/umath/_struct_ufunc_tests.c.src
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, component: numpy.core

#8159 ENH: Add import time benchmarks.
  benchmarks/benchmarks/bench_import.py
Labels: 01 - Enhancement, component: benchmarks

#12965 DOC: Properly format Return section of ogrid Docstring,
  numpy/lib/index_tricks.py
Labels: 04 - Documentation

#12963 DOC: Grammatical fix in numpy doc
  doc/source/user/whatisnumpy.rst
Labels: 04 - Documentation

#12964 DOC: Document that ``scale==0`` is now allowed in many distributions.
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, component: numpy.random

#12885 DOC: fix math formatting of np.linalg.lstsq docs
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#12995 BUG: Add missing PyErr_NoMemory() for reporting a failed malloc
  numpy/core/src/multiarray/compiled_base.c
Labels: 00 - Bug

#12996 MAINT: Use the same multiplication order in interp for cached and uncached slopes
  numpy/core/src/multiarray/compiled_base.c
Labels: 03 - Maintenance, component: numpy.lib

#13004 MAINT: minor changes for consistency to site.cfg.example
  site.cfg.example
Labels: 03 - Maintenance

#13008 MAINT: Move pickle import to numpy.compat
  numpy/compat/py3k.py
  numpy/core/numeric.py
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_overrides.py
  numpy/core/tests/test_records.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_ufunc.py
  numpy/lib/format.py
  numpy/lib/npyio.py
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/ma/tests/test_mrecords.py
  numpy/ma/tests/test_old_ma.py
  numpy/matrixlib/tests/test_masked_matrix.py
  numpy/tests/test_reloading.py
Labels: 03 - Maintenance, component: numpy.core

#12831 BUG: Do not catch stderr when checking compiler version
  numpy/distutils/ccompiler.py
Labels: 00 - Bug, 25 - WIP, component: numpy.distutils

#12973 DOC: Recommend adding dimension to switch between row and column vectors
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#12846 BUG: fix signed zero behavior in npy_divmod
  doc/release/1.17.0-notes.rst
  numpy/core/src/npymath/npy_math_internal.h.src
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: npy_math

#13020 BUG: fix signed zero behavior in npy_divmod
  doc/release/1.16.2-notes.rst
  numpy/core/src/npymath/npy_math_internal.h.src
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13023 BUG: Changes to string-to-shell parsing behavior broke paths with quotes
  numpy/distutils/_shell_utils.py
  numpy/distutils/tests/test_shell_utils.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.distutils

#12152 TST: Added tests for np.tensordot()
  numpy/core/tests/test_numeric.py
Labels: 05 - Testing, 55 - Needs work, component: numpy.core

#13026 MAINT: Add functions to parse shell-strings in the platform-native way
  numpy/distutils/_shell_utils.py
  numpy/distutils/tests/test_shell_utils.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#13027 BUG: Fix regression in parsing of F90 and F77 environment variables
  numpy/distutils/fcompiler/__init__.py
Labels: 06 - Regression, 09 - Backport-Candidate, component: numpy.distutils

#13028 BUG: Fix regression in parsing of F90 and F77 environment variables
  numpy/distutils/fcompiler/__init__.py
Labels: 06 - Regression, 08 - Backport, component: numpy.distutils, component: numpy.f2py

#13031 MAINT: Replace if statement with a dictionary lookup for ease of extensibility in ufunc generator
  numpy/core/code_generators/generate_umath.py
Labels: 03 - Maintenance

#12925 BUG: parse shell escaping in extra_compile_args and extra_link_args
  numpy/distutils/system_info.py
  numpy/distutils/tests/test_system_info.py
  site.cfg.example
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.distutils

#13038 BUG: parse shell escaping in extra_compile_args and extra_link_args
  numpy/distutils/system_info.py
  numpy/distutils/tests/test_system_info.py
  site.cfg.example
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#12989 ENH: Correct handling of infinities in np.interp (option B)
  doc/release/1.17.0-notes.rst
  numpy/core/src/multiarray/compiled_base.c
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement, component: numpy.lib

#10855 ENH: Adding a count parameter to np.unpackbits
  doc/release/1.17.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/multiarray.py
  numpy/core/src/multiarray/compiled_base.c
  numpy/lib/tests/test_packbits.py
Labels: 01 - Enhancement, component: numpy.core

#13032 MAINT: Extract the loop macros into their own header
  numpy/core/src/umath/fast_loop_macros.h
  numpy/core/src/umath/loops.c.src
Labels: 03 - Maintenance, component: numpy.ufunc

#13019 BLD: Windows absolute path DLL loading
  azure-pipelines.yml
  numpy/core/__init__.py
Labels: 09 - Backport-Candidate, 29 - Intel/Anaconda, component: distribution

#13041 BLD: Windows absolute path DLL loading
  azure-pipelines.yml
  numpy/core/__init__.py
Labels: 08 - Backport, 29 - Intel/Anaconda, component: distribution

#13039 BUG: remove error-prone borrowed reference handling
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.dtype

#13045 DOC: Prepare for 1.16.2 release.
  .mailmap
  doc/changelog/1.16.2-changelog.rst
  doc/release/1.16.2-notes.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#13044 DOC: link to devdocs in README
  README.md
Labels: 04 - Documentation

#12968 BENCH: Re-write sorting benchmarks
  benchmarks/benchmarks/bench_function_base.py
Labels: 03 - Maintenance, 28 - Benchmark, component: benchmarks

#13055 DOC: Post NumPy 1.16.2 release update.
  .mailmap
  doc/changelog/1.16.2-changelog.rst
  doc/release/1.16.2-notes.rst
  doc/source/release.rst
Labels: 04 - Documentation

#13050 BLD: make doc build work more robustly.
  doc/Makefile
Labels: 03 - Maintenance

#13033 MAINT: Convert property to @property
  numpy/core/getlimits.py
  numpy/ma/core.py
  numpy/ma/mrecords.py
  numpy/ma/tests/test_subclassing.py
  numpy/matrixlib/defmatrix.py
  numpy/matrixlib/tests/test_masked_matrix.py
  tools/npy_tempita/_looper.py
Labels: 03 - Maintenance, 04 - Documentation

#13035 DOC: Draw more attention to which functions in random are convenience wrappers
  doc/source/user/numpy-for-matlab-users.rst
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, component: numpy.random

#13002 DOC: reduce warnings when building, and rephrase slightly
  azure-pipelines.yml
  doc/TESTS.rst.txt
  doc/release/1.16.0-notes.rst
  doc/source/dev/index.rst
  doc/source/reference/arrays.dtypes.rst
  doc/source/reference/arrays.ndarray.rst
  doc/source/reference/arrays.scalars.rst
  doc/source/reference/c-api.array.rst
  doc/source/reference/maskedarray.baseclass.rst
  doc/source/reference/routines.ma.rst
  doc/source/reference/routines.testing.rst
  doc/source/reference/ufuncs.rst
  doc/source/user/whatisnumpy.rst
  numpy/core/_add_newdocs.py
  numpy/core/defchararray.py
  numpy/core/fromnumeric.py
  numpy/core/shape_base.py
  numpy/doc/glossary.py
  numpy/doc/structured_arrays.py
  numpy/linalg/linalg.py
  numpy/ma/core.py
  tools/refguide_check.py
Labels: 04 - Documentation
