Repository numpy/numpy, pull requests merged in 2019-12, with the labels that each got.

#15012 ENH: allow using symbol-suffixed 64-bit BLAS/LAPACK for numpy.dot and linalg
  doc/source/user/building.rst
  numpy/core/setup.py
  numpy/core/src/common/cblasfuncs.c
  numpy/core/src/common/npy_cblas.h
  numpy/core/src/common/npy_cblas64_.h
  numpy/core/src/common/npy_cblas_base.h
  numpy/core/src/common/python_xerbla.c
  numpy/distutils/system_info.py
  numpy/linalg/lapack_lite/python_xerbla.c
  numpy/linalg/lapack_litemodule.c
  numpy/linalg/setup.py
  numpy/linalg/umath_linalg.c.src
  site.cfg.example
Labels: 01 - Enhancement, component: build, component: numpy.core, component: numpy.distutils, component: numpy.linalg

#15021 TST: machinery for tests requiring large memory + lapack64 smoketest
  doc/source/dev/development_environment.rst
  numpy/conftest.py
  numpy/lib/tests/test_io.py
  numpy/linalg/tests/test_linalg.py
  numpy/testing/_private/decorators.py
  numpy/testing/_private/utils.py
Labels: 05 - Testing, component: numpy.lib, component: numpy.linalg, component: numpy.testing

#14994 BUG: warn when saving dtype with metadata
  doc/release/upcoming_changes/14142.change.rst
  numpy/lib/format.py
  numpy/lib/tests/test_format.py
Labels: 00 - Bug, component: numpy.lib

#14996 DEP: Deprecate the axis argument to masked_rows and masked_cols
  doc/release/upcoming_changes/14996.deprecation.rst
  numpy/ma/extras.py
  numpy/ma/tests/test_extras.py
Labels: 07 - Deprecation, component: numpy.ma

#14051 ENH,DEP: Allow multiple axes in expand_dims
  doc/release/upcoming_changes/14051.expired.rst
  doc/release/upcoming_changes/14051.new_feature.rst
  numpy/lib/shape_base.py
  numpy/lib/tests/test_shape_base.py
Labels: 01 - Enhancement, 07 - Deprecation, component: numpy.lib

#15027 REV: "ENH: Improved performance of PyArray_FromAny for sequences of a…"
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 06 - Regression, component: numpy.core

#15031 REL: Prepare for 1.18 branch
  doc/HOWTO_RELEASE.rst.txt
  doc/release/upcoming_changes/10151.improvement.rst
  doc/release/upcoming_changes/12284.new_feature.rst
  doc/release/upcoming_changes/12658.change.rst
  doc/release/upcoming_changes/13605.deprecation.rst
  doc/release/upcoming_changes/13610.improvement.rst
  doc/release/upcoming_changes/13698.deprecation.rst
  doc/release/upcoming_changes/13794.new_function.rst
  doc/release/upcoming_changes/13829.improvement.rst
  doc/release/upcoming_changes/13899.change.rst
  doc/release/upcoming_changes/14036.deprecation.rst
  doc/release/upcoming_changes/14036.expired.rst
  doc/release/upcoming_changes/14039.expired.rst
  doc/release/upcoming_changes/14051.expired.rst
  doc/release/upcoming_changes/14051.new_feature.rst
  doc/release/upcoming_changes/14100.expired.rst
  doc/release/upcoming_changes/14142.change.rst
  doc/release/upcoming_changes/14181.deprecation.rst
  doc/release/upcoming_changes/14197.improvement.rst
  doc/release/upcoming_changes/14227.improvement.rst
  doc/release/upcoming_changes/14248.change.rst
  doc/release/upcoming_changes/14255.improvement.rst
  doc/release/upcoming_changes/14256.expired.rst
  doc/release/upcoming_changes/14259.expired.rst
  doc/release/upcoming_changes/14325.expired.rst
  doc/release/upcoming_changes/14335.expired.rst
  doc/release/upcoming_changes/14393.c_api.rst
  doc/release/upcoming_changes/14464.improvement.rst
  doc/release/upcoming_changes/14498.change.rst
  doc/release/upcoming_changes/14501.improvement.rst
  doc/release/upcoming_changes/14510.compatibility.rst
  doc/release/upcoming_changes/14518.change.rst
  doc/release/upcoming_changes/14567.expired.rst
  doc/release/upcoming_changes/14583.expired.rst
  doc/release/upcoming_changes/14596.expired.rst
  doc/release/upcoming_changes/14620.expired.rst
  doc/release/upcoming_changes/14682.expired.rst
  doc/release/upcoming_changes/14717.compatibility.rst
  doc/release/upcoming_changes/14718.compatibility.rst
  doc/release/upcoming_changes/14720.deprecation.rst
  doc/release/upcoming_changes/14730.improvement.rst
  doc/release/upcoming_changes/14771.improvement.rst
  doc/release/upcoming_changes/14777.compatibility.rst
  doc/release/upcoming_changes/14841.compatibility.rst
  doc/release/upcoming_changes/14996.deprecation.rst
  doc/source/release/1.18.0-notes.rst
  numpy/core/code_generators/cversions.txt
  numpy/core/include/numpy/numpyconfig.h
Labels: 14 - Release, component: Documentation, component: numpy.core

#14794 DEP: issue deprecation warning when creating ragged array (NEP 34)
  doc/release/upcoming_changes/14794.deprecation.rst
  doc/release/upcoming_changes/template.rst
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_numeric.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_ufunc.py
  numpy/lib/tests/test_arraypad.py
  numpy/lib/tests/test_io.py
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/random/tests/test_generator_mt19937_regressions.py
  numpy/random/tests/test_randomstate_regression.py
  numpy/random/tests/test_regression.py
Labels: 07 - Deprecation, component: NEP

#15032 MAINT: Cleaned up mintypecode for Py3 (pt. 2)
  numpy/lib/type_check.py
Labels: 03 - Maintenance

#15023 MAINT: Only copy input array in _replace_nan() if there are nans to replace
  numpy/lib/nanfunctions.py
  numpy/lib/tests/test_nanfunctions.py
Labels: 03 - Maintenance, component: numpy.lib

#15036 BUG: Fix refcounting in ufunc object loops
  numpy/core/src/umath/loops.c.src
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.ufunc

#15039 BUG: Exceptions tracebacks are dropped
  numpy/core/records.py
  numpy/ma/mrecords.py
Labels: 00 - Bug, component: numpy.lib

#15038 BUG: Fix refcounting in ufunc object loops
  numpy/core/src/umath/loops.c.src
Labels: 00 - Bug, 08 - Backport

#15007 DOC, API: improve the C-API/Cython documentation and interfaces for random
  doc/source/reference/random/c-api.rst
  doc/source/reference/random/extending.rst
  numpy/core/include/numpy/random/distributions.h
  numpy/random/_examples/cffi/extending.py
  numpy/random/_examples/cffi/parse.py
  numpy/random/_generator.pyx
  numpy/random/src/distributions/distributions.c
Labels: 04 - Documentation, 30 - API

#15042 REL: Update master after 1.18.x branch.
  .travis.yml
  azure-pipelines.yml
  doc/release/upcoming_changes/14794.deprecation.rst
  doc/source/release.rst
  numpy/core/code_generators/cversions.txt
  numpy/core/include/numpy/numpyconfig.h
  setup.py
Labels: 14 - Release, component: CI, component: build, component: numpy.core

#15028 [DOC] LaTeX: fix preamble (closes #15026)
  doc/Makefile
  doc/source/conf.py
  doc/source/docs/howto_build_docs.rst
Labels: 04 - Documentation, component: build

#15053 REV: Revert "Merge pull request #14794 from mattip/nep-0034-impl"
  doc/release/upcoming_changes/14794.deprecation.rst
  doc/release/upcoming_changes/template.rst
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_numeric.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_ufunc.py
  numpy/lib/tests/test_arraypad.py
  numpy/lib/tests/test_io.py
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/random/tests/test_generator_mt19937_regressions.py
  numpy/random/tests/test_randomstate_regression.py
  numpy/random/tests/test_regression.py
Labels: 34 - Reversion

#15046 API, DOC: change names to multivariate_hypergeometric, improve docs
  doc/source/reference/random/c-api.rst
  doc/source/reference/random/examples/cython/index.rst
  doc/source/reference/random/extending.rst
  numpy/core/include/numpy/random/distributions.h
  numpy/random/_generator.pyx
  numpy/random/src/distributions/random_mvhg_count.c
  numpy/random/src/distributions/random_mvhg_marginals.c
Labels: 04 - Documentation, 30 - API

#15022 ENH: f2py: improve error messages
  numpy/core/include/numpy/npy_3kcompat.h
  numpy/f2py/rules.py
  numpy/f2py/src/fortranobject.c
  numpy/f2py/src/fortranobject.h
Labels: 01 - Enhancement, component: numpy.f2py

#15058 API, DOC: change names to multivariate_hypergeometric, improve docs
  doc/source/reference/random/c-api.rst
  doc/source/reference/random/examples/cython/index.rst
  doc/source/reference/random/extending.rst
  numpy/core/include/numpy/random/distributions.h
  numpy/random/_generator.pyx
  numpy/random/src/distributions/random_mvhg_count.c
  numpy/random/src/distributions/random_mvhg_marginals.c
Labels: 04 - Documentation, 08 - Backport, 30 - API

#15059 REL: Prepare for NumPy 1.18.0 release.
  .mailmap
  doc/changelog/1.18.0-changelog.rst
  doc/source/release/1.18.0-notes.rst
Labels: 03 - Maintenance, 14 - Release

#15054 DOC: add docstrings to refguide-check
  tools/refguide_check.py
Labels: 04 - Documentation

#15052 MAINT: follow-up cleanup for blas64 PR
  doc/source/release/1.18.0-notes.rst
  numpy/distutils/system_info.py
  numpy/lib/tests/test_io.py
  numpy/linalg/tests/test_linalg.py
  numpy/testing/_private/decorators.py
  numpy/testing/_private/utils.py
Labels: 03 - Maintenance

#15043 DOC: Update HOWTO_RELEASE.rst.txt
  doc/HOWTO_RELEASE.rst.txt
Labels: 04 - Documentation, component: Documentation

#15066 Revert "DEP: issue deprecation warning when creating ragged array (NEP 34)"
  doc/release/upcoming_changes/template.rst
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_numeric.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_ufunc.py
  numpy/lib/tests/test_arraypad.py
  numpy/lib/tests/test_io.py
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/random/tests/test_generator_mt19937_regressions.py
  numpy/random/tests/test_randomstate_regression.py
  numpy/random/tests/test_regression.py
Labels: 34 - Reversion

#15024 DOC: clarify documentation for transpose()
  numpy/core/fromnumeric.py
Labels: 04 - Documentation

#15067 BUG: Exceptions tracebacks are dropped
  numpy/core/records.py
  numpy/ma/mrecords.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib, component: numpy.ma

#15070 DOC: correct version for NaT sort
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.datetime64

#15073 MAINT: core: Fix a very long line in the ufunc docstrings.
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.core

#15072 TST: testing: check requires_memory immediately before the test
  numpy/testing/_private/utils.py
Labels: component: numpy.testing

#15035 BUG: add endfunction, endsubroutine to valid fortran end words
  numpy/f2py/cfuncs.py
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/test_crackfortran.py
Labels: 00 - Bug, component: numpy.f2py

#14981 BUG: Make ``ediff1d`` kwarg casting consistent
  doc/release/upcoming_changes/14981.compatibility.rst
  numpy/core/tests/test_regression.py
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
Labels: 00 - Bug, component: numpy.core

#15082 TST: add value to pytest.ini for pytest6 compatibility
  pytest.ini
Labels: 05 - Testing

#14940 BUG: pickle the content of a scalar containing objects, not the address
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_records.py
Labels: 00 - Bug

#15068 ENH: Add support to sort timedelta64 `NaT` to end of the array
  doc/source/release/1.18.0-notes.rst
  numpy/core/src/npysort/npysort_common.h
  numpy/core/tests/test_datetime.py
Labels: 09 - Backport-Candidate, component: numpy.datetime64

#15097 DOC: bring the out parameter docstring into line with ufuncs
  numpy/lib/ufunclike.py
Labels: 04 - Documentation

#15109 TST: Check requires_memory immediately before the test
  doc/source/release/1.18.0-notes.rst
  numpy/testing/_private/utils.py
Labels: 05 - Testing, 08 - Backport, component: numpy.testing

#15106 ENH: f2py: add --f2cmap option for specifying the name of .f2py_f2cmap
  doc/release/upcoming_changes/15106.new_feature.rst
  doc/source/f2py/advanced.rst
  numpy/f2py/capi_maps.py
  numpy/f2py/f2py2e.py
  numpy/f2py/tests/test_assumed_shape.py
  numpy/f2py/tests/util.py
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.f2py

#15069 ENH: add support for ILP64 OpenBLAS (without symbol suffix)
  doc/source/release/1.18.0-notes.rst
  doc/source/user/building.rst
  numpy/core/setup.py
  numpy/core/src/common/cblasfuncs.c
  numpy/core/src/common/npy_cblas.h
  numpy/core/src/common/npy_cblas64_.h
  numpy/core/src/common/python_xerbla.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/vdot.c
  numpy/core/src/umath/matmul.c.src
  numpy/distutils/system_info.py
  numpy/linalg/lapack_lite/python_xerbla.c
  numpy/linalg/lapack_litemodule.c
  numpy/linalg/setup.py
  numpy/linalg/umath_linalg.c.src
  numpy/testing/_private/utils.py
  site.cfg.example
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.core, component: numpy.distutils, component: numpy.linalg

#15111 ENH: Add support to sort timedelta64 `NaT` to end of the array
  doc/source/release/1.18.0-notes.rst
  numpy/core/src/npysort/npysort_common.h
  numpy/core/tests/test_datetime.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.datetime64

#15113 ENH: f2py: add --f2cmap option for specifying the name of .f2py_f2cmap
  doc/release/upcoming_changes/15106.new_feature.rst
  doc/source/f2py/advanced.rst
  numpy/f2py/capi_maps.py
  numpy/f2py/f2py2e.py
  numpy/f2py/tests/test_assumed_shape.py
  numpy/f2py/tests/util.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.f2py

#15114 ENH: add support for ILP64 OpenBLAS (without symbol suffix)
  doc/source/release/1.18.0-notes.rst
  doc/source/user/building.rst
  numpy/core/setup.py
  numpy/core/src/common/cblasfuncs.c
  numpy/core/src/common/npy_cblas.h
  numpy/core/src/common/npy_cblas64_.h
  numpy/core/src/common/python_xerbla.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/vdot.c
  numpy/core/src/umath/matmul.c.src
  numpy/distutils/system_info.py
  numpy/linalg/lapack_lite/python_xerbla.c
  numpy/linalg/lapack_litemodule.c
  numpy/linalg/setup.py
  numpy/linalg/umath_linalg.c.src
  numpy/testing/_private/utils.py
  site.cfg.example
Labels: 01 - Enhancement, 08 - Backport, component: numpy.core, component: numpy.distutils, component: numpy.linalg

#15115 MAINT: random: Remove a few unused imports from test files.
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_generator_mt19937_regressions.py
  numpy/random/tests/test_smoke.py
Labels: 03 - Maintenance, component: numpy.random

#15110 MAINT: Fix expm1 instability for small complex numbers.
  numpy/core/src/umath/funcs.inc.src
  numpy/core/tests/test_umath.py
Labels: 03 - Maintenance, component: numpy.core

#15120 MAINT,CI: fix signed-unsigned comparison warning
  numpy/core/src/umath/simd.inc.src
  tools/travis-test.sh
Labels: component: build

#14933 API: Use `ResultType` in `PyArray_ConvertToCommonType`
  doc/release/upcoming_changes/14933.compatibility.rst
  doc/source/reference/c-api/array.rst
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, 63 - C API, Triage-review, component: numpy.core

#15126 MAINT: Fix randint 0d limits and other 0d cleanups
  numpy/core/tests/test_machar.py
  numpy/core/tests/test_multiarray.py
  numpy/random/_bounded_integers.pyx.in
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance

#14988 DOC: linalg: Include information about scipy.linalg.
  doc/source/reference/routines.linalg.rst
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#15133 MAINT: CI: Clean up .travis.yml
  .travis.yml
Labels: 03 - Maintenance, component: CI

#15143 TST: shippable build efficiency
  shippable.yml
Labels: component: CI

#15146 REL: Prepare for 1.18.0 release.
  doc/changelog/1.18.0-changelog.rst
  doc/release/upcoming_changes/15106.new_feature.rst
  doc/source/release/1.18.0-notes.rst
Labels: 03 - Maintenance, 14 - Release

#15149 REL: Update master after NumPy 1.18.0 release.
  .mailmap
  doc/changelog/1.18.0-changelog.rst
  doc/release/upcoming_changes/15106.new_feature.rst
  doc/source/release/1.18.0-notes.rst
  pavement.py
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#15150 MAINT: Update pavement.py for towncrier.
  doc/HOWTO_RELEASE.rst.txt
  doc/source/release/1.18.0-notes.rst
  pavement.py
Labels: 03 - Maintenance, component: build

#15154 DOC: update documentation on how to build NumPy
  INSTALL.rst.txt
  doc/source/user/building.rst
Labels: 04 - Documentation

#15156 DOC: add moved modules to 1.18 release note
  doc/source/release/1.18.0-notes.rst
Labels: 04 - Documentation, 09 - Backport-Candidate

#15158 MAINT: Update pavement.py for towncrier.
  doc/HOWTO_RELEASE.rst.txt
  doc/source/release/1.18.0-notes.rst
  pavement.py
Labels: 03 - Maintenance, 08 - Backport, component: build

#15159 DOC: add moved modules to 1.18 release note
  doc/source/release/1.18.0-notes.rst
Labels: 04 - Documentation, 08 - Backport

#15076 BUG: test, fix flexible dtype conversion on class with __array__
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_issue14735.py
  numpy/core/tests/test_protocols.py
Labels: 00 - Bug, component: numpy.dtype

#15153 DOC: update cholesky docstring regarding input checking
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#15161 MAINT, DOC: Minor backports and updates for 1.18.x
  INSTALL.rst.txt
  doc/source/release.rst
  doc/source/user/building.rst
  pavement.py
  pyproject.toml
  tools/cythonize.py
Labels: 03 - Maintenance, 04 - Documentation, 08 - Backport, component: Documentation, component: build

#15160 MAINT: Update required cython version to 0.29.14.
  INSTALL.rst.txt
  pyproject.toml
  tools/cythonize.py
Labels: 03 - Maintenance

#14326 TST: Add assert_array_equal test for big integer arrays.
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.testing

#15172 ENH: Backport improvements to testing functions.
  doc/release/1.16.6-notes.rst
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 01 - Enhancement, 08 - Backport

#15175 ENH: Backport improvements to testing functions.
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.testing

#15176 TST: Add assert_array_equal test for big integer arrays
  numpy/testing/tests/test_utils.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.testing

#15170 BUG: use tmp dir and check version for cython test
  numpy/random/_examples/cython/setup.py
  numpy/random/tests/test_extending.py
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate, component: numpy.random

#15184 BUG: use tmp dir and check version for cython test (#15170)
  numpy/random/_examples/cython/setup.py
  numpy/random/tests/test_extending.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport, component: numpy.random

#15196 DOC: Adding instructions for building documentation to developer guide
  doc/source/dev/index.rst
Labels: 04 - Documentation, component: Documentation

#15194 BUG: test, fix for c++ compilation
  numpy/distutils/ccompiler.py
  numpy/distutils/tests/test_ccompiler.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: build
