Repository numpy/numpy, pull requests merged in 2019-03, with the labels that each got.

#13056 BUG: Fixes to numpy.distutils.Configuration.get_version
  numpy/distutils/misc_util.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.distutils

#13063 DOC: revert PR #13058 and fixup Makefile
  doc/Makefile
  doc/source/user/whatisnumpy.rst
  numpy/lib/function_base.py
Labels: 04 - Documentation, component: build

#13072 BUG: Fixes to numpy.distutils.Configuration.get_version (#13056)
  numpy/distutils/misc_util.py
Labels: 00 - Bug, 08 - Backport, component: numpy.distutils

#13067 MAINT: Use with statements for opening files in distutils
  numpy/distutils/command/build_src.py
  numpy/distutils/command/install.py
  numpy/distutils/fcompiler/ibm.py
  numpy/distutils/line_endings.py
  numpy/distutils/misc_util.py
Labels: 03 - Maintenance, component: numpy.distutils

#13073 MAINT: Fix ABCPolyBase in various ways
  numpy/polynomial/_polybase.py
Labels: 03 - Maintenance, component: numpy.polynomial

#13071 DOC: Removed incorrect claim regarding shape constraints for np.tenso…
  numpy/core/numeric.py
Labels: 04 - Documentation, component: numpy.core

#13076 BUG: Remove our patched version of `distutils.split_quoted`, which was a workaround for our broken `exec_command`
  numpy/distutils/ccompiler.py
Labels: 00 - Bug, 06 - Regression, component: numpy.distutils

#13077 BUG: Fix errors in string formatting while producing an error
  numpy/lib/format.py
Labels: 00 - Bug, component: numpy.lib

#13075 Convert fortran flags from environment variable
  numpy/distutils/fcompiler/environment.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.distutils

#13082 BUG: Fix errors in string formatting while producing an error
  numpy/lib/format.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#13083 BUG: Convert fortran flags in environment variable
  numpy/distutils/fcompiler/environment.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#13084 BUG: Remove error-prone borrowed reference handling
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 08 - Backport, component: numpy.dtype

#13068 BUG: Add missing error checking in conversion from integers to datetime types
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13085 BUG: Add error checks when converting integers to datetime types
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13090 BUILD: sphinx 1.8.3 can be used with our outdated templates
  .circleci/config.yml
  azure-pipelines.yml
Labels: 04 - Documentation, component: build

#13091 BUG: Remove our patched version of `distutils.split_quoted`
  numpy/distutils/ccompiler.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#13049 MAINT: remove undocumented __buffer__ attribute lookup
  doc/release/1.17.0-notes.rst
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/multiarraymodule.h
Labels: 03 - Maintenance, component: numpy.core

#13036 BUG: __array_interface__ offset was always ignored
  doc/release/1.17.0-notes.rst
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13093 BUG: Fix parameter validity checks in ``random.choice``.
  numpy/random/mtrand/mtrand.pyx
  numpy/random/tests/test_random.py
Labels: 00 - Bug, 03 - Maintenance, 09 - Backport-Candidate, component: numpy.random

#13097 DOC: update doc of `ndarray.T`
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#13086 BLD: fix include list for sdist building
  MANIFEST.in
Labels: component: distribution

#13095 Fix testsuite failures on ppc and riscv
  numpy/core/tests/test_scalarmath.py
  numpy/f2py/crackfortran.py
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate, component: numpy.core, component: numpy.f2py

#13096 TEST: allow refcheck result to vary, increase discoverability of refcheck option
  numpy/random/mtrand/mtrand.pyx
  runtests.py
Labels: 05 - Testing, component: numpy.random

#13092 BUG: ensure linspace works on object input.
  numpy/core/function_base.py
  numpy/core/tests/test_function_base.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12931 MAINT: Remove recurring check
  numpy/core/src/multiarray/lowlevel_strided_loops.c.src
Labels: 03 - Maintenance, component: numpy.core

#8131 BUG: Fix help() formatting for deprecated functions.
  numpy/lib/tests/test_utils.py
  numpy/lib/utils.py
Labels: 00 - Bug, component: numpy.lib

#13079 MAINT: Merge duplicate implementations of `*vander2d` and `*vander3d` functions
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#13108 MAINT: Merge duplicate implementations of `hermvander2d` and `hermvander3d` functions
  numpy/polynomial/hermite.py
Labels: 03 - Maintenance, component: numpy.polynomial

#13078 MAINT: deduplicate fromroots in np.polynomial
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#13107 MAINT: Unify polynomial valnd functions
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#13111 MAINT: Unify polydiv
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#13109 Prevent traceback chaining in _wrapfunc.
  numpy/core/fromnumeric.py
Labels: 03 - Maintenance, component: numpy.core

#13104 DOC: fix references in docs
  doc/source/reference/c-api.array.rst
  doc/source/reference/c-api.dtype.rst
Labels: 04 - Documentation, difficulty: Easy

#12879 DEP: deprecate exec_command
  doc/release/1.17.0-notes.rst
  numpy/distutils/exec_command.py
  numpy/distutils/tests/test_exec_command.py
Labels: 07 - Deprecation, component: numpy.distutils

#12457 TST: openblas for Azure MacOS
  azure-pipelines.yml
Labels: 05 - Testing

#11689 DOC: Add ref docs for C generic types.
  doc/DISTUTILS.rst.txt
Labels: 04 - Documentation, 55 - Needs work

#12887 ENH: improve performance of numpy.core.records.fromarrays
  numpy/core/records.py
  numpy/core/tests/test_records.py
Labels: 01 - Enhancement, component: numpy.core

#13125 BUG: Fix unhandled exception in CBLAS detection
  numpy/distutils/system_info.py
Labels: 00 - Bug, component: numpy.distutils

#13127 DOC: Tidy 1.17.0 release note newlines
  doc/release/1.17.0-notes.rst
Labels: component: Documentation

#13131 BUILD: use 'quiet' when building docs
  .circleci/config.yml
Labels: 04 - Documentation, component: Documentation, component: build

#13128 MAINT: Unify polynomial addition and subtraction functions
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#4808 ENH: Make the `mode` parameter of np.pad default to 'constant'
  numpy/lib/arraypad.py
  numpy/lib/tests/test_arraypad.py
Labels: 01 - Enhancement, component: numpy.lib

#13130 MAINT: Unify polynomial fitting functions
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#13115 DOC: Fix #12050 by updating numpy.random.hypergeometric docs
  numpy/random/mtrand/mtrand.pyx
Labels: component: Documentation, component: numpy.random

#13126 DEP: polynomial: Be stricter about integral arguments
  doc/release/1.17.0-notes.rst
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
  numpy/polynomial/tests/test_chebyshev.py
  numpy/polynomial/tests/test_hermite.py
  numpy/polynomial/tests/test_hermite_e.py
  numpy/polynomial/tests/test_laguerre.py
  numpy/polynomial/tests/test_legendre.py
  numpy/polynomial/tests/test_polynomial.py
Labels: 07 - Deprecation, component: numpy.polynomial

#13137 BUG: Fix build for glibc on ARC and uclibc.
  numpy/core/src/npymath/ieee754.c.src
Labels: 00 - Bug, component: build

#13141 BUG: Fix testsuite failures on ppc and riscv
  numpy/core/tests/test_scalarmath.py
  numpy/f2py/crackfortran.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport, component: numpy.core, component: numpy.f2py

#13142 BUG: Fix parameter validity checks in ``random.choice``
  numpy/random/mtrand/mtrand.pyx
  numpy/random/tests/test_random.py
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, component: numpy.random

#13143 BUG: Ensure linspace works on object input.
  numpy/core/function_base.py
  numpy/core/tests/test_function_base.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13144 BLD: fix include list for sdist building.
  MANIFEST.in
Labels: 00 - Bug, 08 - Backport, component: distribution

#13145 BUG: __array_interface__ offset was always ignored
  doc/release/1.16.3-notes.rst
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13146 MAINT: Unify polynomial power functions
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#13140 DEV: cleanup imports and some assignments (from LGTM)
  numpy/compat/py3k.py
  numpy/core/_exceptions.py
  numpy/core/overrides.py
  numpy/core/shape_base.py
  numpy/ctypeslib.py
  numpy/distutils/_shell_utils.py
  numpy/distutils/command/build_ext.py
  numpy/distutils/system_info.py
  numpy/lib/function_base.py
  numpy/lib/npyio.py
  numpy/ma/core.py
  numpy/ma/extras.py
  numpy/ma/mrecords.py
  numpy/ma/timer_comparison.py
  runtests.py
Labels: component: numpy.core

#13116 DOC: Add backticks in linalg docstrings.
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#13099 DOC: Add note about "copy and slicing"
  doc/source/reference/arrays.indexing.rst
  doc/source/user/quickstart.rst
  numpy/doc/indexing.py
Labels: 04 - Documentation, component: Documentation

#13117 DOC: Fix arg type for np.pad, fix #9489
  numpy/lib/arraypad.py
Labels: 04 - Documentation, component: numpy.lib

#13147 DOC: Add description of overflow errors
  numpy/doc/basics.py
Labels: 04 - Documentation, component: numpy.dtype

#13119 DOC: Fix c-api function documentation duplication.
  doc/source/user/c-info.how-to-extend.rst
Labels: 04 - Documentation, component: Documentation

#13169 STY: Fix weird indents to be multiples of 4 spaces
  numpy/_build_utils/src/apple_sgemv_fix.c
  numpy/core/src/common/array_assign.c
  numpy/core/src/multiarray/array_assign_array.c
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/flagsobject.c
  numpy/core/src/multiarray/hashdescr.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/umathmodule.c
  numpy/random/mtrand/distributions.c
Labels: 03 - Maintenance

#12547 ENH: Cast covariance to double in random mvnormal
  numpy/random/mtrand/mtrand.pyx
  numpy/random/tests/test_random.py
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.random

#13170 DOC, BUILD: fail the devdoc build if there are warnings
  doc/DISTUTILS.rst.txt
  doc/Makefile
  doc/release/1.17.0-notes.rst
Labels: 04 - Documentation, component: Documentation, component: build

#13174 DOC: Removed some c-api duplication
  doc/source/reference/c-api.array.rst
  doc/source/user/c-info.how-to-extend.rst
Labels: 04 - Documentation, component: Documentation

#13181 BENCH, BUG: fix Savez suite, previously was actually calling pickle.dump()
  benchmarks/benchmarks/bench_io.py
Labels: 00 - Bug, component: benchmarks

#11358 MAINT: Rewrite numpy.pad without concatenate
  doc/release/1.17.0-notes.rst
  numpy/lib/arraypad.py
  numpy/lib/tests/test_arraypad.py
Labels: 03 - Maintenance, 51 - In progress, component: numpy.lib

#13149 DOC: correction to numpy.pad docstring
  numpy/lib/arraypad.py
  numpy/lib/tests/test_arraypad.py
Labels: 04 - Documentation, component: numpy.lib

#13182 MAINT: add overlap checks to choose, take, put, putmask
  doc/release/1.17.0-notes.rst
  numpy/core/fromnumeric.py
  numpy/core/src/multiarray/item_selection.c
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, component: numpy.core

#13206 BUILD: pin sphinx to 1.8.5
  .circleci/config.yml
  azure-pipelines.yml
Labels: component: build

#12988 ENH: Create boolean and integer ufuncs for isnan, isinf, and isfinite.
  doc/release/1.17.0-notes.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/fast_loop_macros.h
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/tests/test_ufunc.py
Labels: 01 - Enhancement, component: numpy.core

#13188 MAINT: Simplify logic in convert_datetime_to_datetimestruct
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: 03 - Maintenance, component: numpy.datetime64

#13217 TST: always publish Azure tests
  azure-pipelines.yml
Labels: 05 - Testing

#13224 Improve error message for negative valued argument
  numpy/core/src/multiarray/item_selection.c
Labels: 04 - Documentation, component: numpy.core
