Repository numpy/numpy, pull requests merged in 2019-07, with the labels that each got.

#13881 MAINT: Update pavement to use python3 in shell commands.
  pavement.py
Labels: 03 - Maintenance, 14 - Release

#13880 MAINT: Remove an unnessary backslash between two string literals
  numpy/ctypeslib.py
Labels: 03 - Maintenance, component: numpy.ctypes

#13884 DOC: Add missing parameter description for keepdims in MaskedArray
  numpy/ma/core.py
Labels: 04 - Documentation, component: numpy.ma

#13883 MAINT: Replace integers in places where booleans are expected
  numpy/core/arrayprint.py
  numpy/core/records.py
  numpy/core/tests/test_function_base.py
  numpy/lib/tests/test_arraysetops.py
  numpy/lib/tests/test_function_base.py
  numpy/lib/tests/test_index_tricks.py
  numpy/lib/tests/test_regression.py
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/ma/tests/test_extras.py
  numpy/ma/tests/test_old_ma.py
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
  numpy/testing/_private/utils.py
Labels: 03 - Maintenance

#13882 MAINT: Remove unnecessary backslashes (and replace others by using parenthesis)
  numpy/distutils/command/build_src.py
  numpy/distutils/command/config.py
  numpy/distutils/cpuinfo.py
  numpy/distutils/exec_command.py
  numpy/distutils/npy_pkg_config.py
  setup.py
Labels: 03 - Maintenance

#13799 DOC: Fix unrendered links
  doc/source/dev/development_environment.rst
  doc/source/dev/gitwash/development_setup.rst
  doc/source/dev/index.rst
Labels: 04 - Documentation, component: Documentation

#13897 DOC: Use Cython >= 0.29.11 for Python 3.8 support.
  doc/release/1.17.0-notes.rst
Labels: 04 - Documentation, component: Documentation

#13901 BLD: Remove Trusty dist in Travis CI build
  .travis.yml
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: CI

#13003 BUG: Do not crash on recursive `.dtype` attribute lookup.
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/descriptor.h
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 07 - Deprecation, 09 - Backport-Candidate

#13860 BUG: Refcount fixes
  numpy/conftest.py
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/multiarray/iterators.c
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/methods.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/umath/funcs.inc.src
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/reduction.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_umath.py
  numpy/lib/tests/test__iotools.py
Labels: 00 - Bug

#13905 BUG: Fix use-after-free in boolean indexing
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13892 DOC : Refactor Array API documentation -- Array Structure and Data Access
  doc/source/reference/c-api.array.rst
  doc/source/reference/c-api.types-and-structures.rst
Labels: 04 - Documentation, component: Documentation

#13916 BUG: i0 Bessel function regression on array-likes supporting ufuncs
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, 06 - Regression, component: numpy.lib

#13876 MAINT/BUG/DOC: Fix errors in _add_newdocs
  numpy/core/_add_newdocs.py
  numpy/core/function_base.py
  numpy/core/multiarray.py
Labels: 00 - Bug, 03 - Maintenance, 09 - Backport-Candidate, component: Documentation

#13907 BUG: handle weird bytestrings in dtype() (#13902)
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 09 - Backport-Candidate

#13847 DOC: Adds documentation of functions exposed in numpy namespace
  doc/source/reference/routines.char.rst
  doc/source/reference/routines.other.rst
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: Documentation

#13933 MAINT/BUG/DOC: Fix errors in _add_newdocs
  numpy/core/_add_newdocs.py
  numpy/core/function_base.py
  numpy/core/multiarray.py
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, component: numpy.core

#13932 MAINT,BUG,DOC: Fix errors in _add_newdocs
  numpy/core/_add_newdocs.py
  numpy/core/function_base.py
  numpy/core/multiarray.py
Labels: 00 - Bug, 03 - Maintenance, 04 - Documentation, 08 - Backport, component: numpy.core

#13925 MAINT: Fix wrong spelling of ufunc
  numpy/doc/ufuncs.py
Labels: 03 - Maintenance, 04 - Documentation

#13943 MAINT: Revert #13876, "MAINT,BUG,DOC: Fix errors in _add_newdocs"
  numpy/core/_add_newdocs.py
  numpy/core/function_base.py
  numpy/core/multiarray.py
Labels: 03 - Maintenance

#13920 ENH, BUILD: refactor all OpenBLAS downloads into a single, testable file
  azure-pipelines.yml
  shippable.yml
  tools/openblas_support.py
  tools/pypy-test.sh
  tools/travis-before-install.sh
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: build

#13946 DOC: Add a numpy-doc docstring to add_newdoc
  numpy/core/function_base.py
Labels: 04 - Documentation

#13928 DOC: Don't override MaskedArray.view documentation with the one from ndarray.view
  numpy/ma/core.py
Labels: 04 - Documentation, component: numpy.ma

#13963 ENH, BUILD: refactor all OpenBLAS downloads into a single, testable file
  azure-pipelines.yml
  shippable.yml
  tools/openblas_support.py
  tools/pypy-test.sh
  tools/travis-before-install.sh
Labels: component: build

#13945 DOC, MAINT: emphasize random API changes, remove Generator.randint
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  numpy/random/generator.pyx
Labels: 03 - Maintenance, 04 - Documentation, 09 - Backport-Candidate, component: numpy.random

#13812 MAINT: Rewrite Floyd algorithm
  benchmarks/benchmarks/bench_random.py
  numpy/random/generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, 54 - Needs decision, component: numpy.random

#13971 DOC: emphasize random API changes
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  numpy/random/generator.pyx
Labels: 00 - Bug, 04 - Documentation, 08 - Backport

#13968 DOC: improve np.sort docstring
  numpy/core/fromnumeric.py
Labels: 04 - Documentation

#13972 MAINT: Rewrite Floyd algorithm
  benchmarks/benchmarks/bench_random.py
  numpy/random/generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 03 - Maintenance, 08 - Backport

#13976 MAINT, TST: remove test-installed-numpy.py
  .coveragerc
  tools/test-installed-numpy.py
  tools/travis-test.sh
  tox.ini
Labels: 03 - Maintenance, 05 - Testing

#13766 MAINT: Update NEP template.
  doc/neps/nep-template.rst
Labels: 03 - Maintenance, component: NEP

#13984 BUG: fix byte order reversal for datetime64[ns]
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13970 DOC: spellcheck numpy/doc/broadcasting.py
  numpy/doc/broadcasting.py
Labels: 04 - Documentation, component: Documentation

#13914 DOC: Update the description of byteswap
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#13673 DOC: array(obj, dtype=dt) can downcast
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#13989 BUG: Missing warnings import in polyutils
  numpy/polynomial/polyutils.py
  numpy/polynomial/tests/test_classes.py
  numpy/polynomial/tests/test_polynomial.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.polynomial

#13995 BLD: Remove Trusty dist in Travis CI build
  .travis.yml
Labels: 03 - Maintenance, 08 - Backport, component: CI

#13994 MAINT,BUG: Use nbytes to also catch empty descr during allocation
  numpy/core/src/multiarray/ctors.c
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, component: numpy.core

#13992 BUG: Do not crash on recursive `.dtype` attribute lookup.
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/descriptor.h
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 07 - Deprecation, 08 - Backport, component: numpy.core

#13893 DOC: fix links in 1.17 release note
  doc/release/1.12.0-notes.rst
  doc/release/1.17.0-notes.rst
Labels: 04 - Documentation, 10 - Forwardport-Candidate

#13996 BUG: Handle weird bytestrings in dtype()
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13997 BUG: i0 Bessel function regression on array-likes supporting ufuncs
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.lib

#13710 DOC: Add note to irfft-like functions about the default sizes
  numpy/fft/pocketfft.py
Labels: 04 - Documentation, component: numpy.fft

#13998 BUG: Missing warnings import in polyutils.
  numpy/polynomial/polyutils.py
  numpy/polynomial/tests/test_classes.py
  numpy/polynomial/tests/test_polynomial.py
Labels: 00 - Bug, 08 - Backport, component: numpy.polynomial

#13935 MAINT: Warn if `_add_newdocs.py` is used to add docstrings to pure-python objects
  numpy/core/function_base.py
Labels: 03 - Maintenance, component: numpy.core

#13979 DOC: Document array_function at a higher level.
  doc/source/reference/arrays.classes.rst
  doc/source/user/basics.dispatch.rst
  doc/source/user/basics.rst
  numpy/doc/dispatch.py
Labels: 04 - Documentation, 09 - Backport-Candidate, component: Documentation

#13991 DOC: emphasize need for matching numpy, git versions
  doc/source/docs/howto_build_docs.rst
Labels: 04 - Documentation

#13985 DOC: show workaround for backward compatibility
  doc/source/reference/random/index.rst
Labels: 04 - Documentation, 09 - Backport-Candidate, component: numpy.random

#13999 DOC: Document array_function at a higher level.
  doc/source/reference/arrays.classes.rst
  doc/source/user/basics.dispatch.rst
  doc/source/user/basics.rst
  numpy/doc/dispatch.py
Labels: 04 - Documentation, 08 - Backport, component: Documentation

#14001 DOC: show workaround for backward compatibility
  doc/source/reference/random/index.rst
Labels: 04 - Documentation, 08 - Backport, component: Documentation

#13988 DOC: Add a call for contribution paragraph to the readme
  README.md
Labels: 04 - Documentation

#14004 ENH: Chain exception for typed item assignment
  numpy/core/src/multiarray/arraytypes.c.src
Labels: 01 - Enhancement, component: numpy.core

#13993 DEP: Speed up WarnOnWrite deprecation in buffer interface
  doc/release/1.17.0-notes.rst
  numpy/core/src/multiarray/buffer.c
  numpy/lib/tests/test_stride_tricks.py
Labels: 00 - Bug, 04 - Documentation, 10 - Forwardport-Candidate

#14005 MAINT: Fix spelling error in npy_tempita kwarg
  tools/npy_tempita/__init__.py
Labels: 03 - Maintenance, component: build

#13913 ENH: improve error message for ragged-array creation failure
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.core

#14021 DOC: Prepare 1.17.0rc2 release.
  .mailmap
  doc/changelog/1.17.0-changelog.rst
Labels: 04 - Documentation, 14 - Release

#14002 TST, MAINT, BUG: expand OpenBLAS version checking
  .travis.yml
  azure-pipelines.yml
  shippable.yml
  tools/openblas_support.py
  tools/pypy-test.sh
  tools/travis-before-install.sh
  tools/travis-test.sh
Labels: 00 - Bug, 03 - Maintenance, 05 - Testing, component: CI

#14030 DEP: Speed up WarnOnWrite deprecation in buffer interface
  numpy/core/src/multiarray/buffer.c
  numpy/lib/tests/test_stride_tricks.py
Labels: 00 - Bug, 07 - Deprecation, component: numpy.core

#14025 DOC:Link between the two indexing documentation pages
  doc/source/reference/arrays.indexing.rst
  doc/source/user/basics.indexing.rst
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#14028 DOC: Improve quickstart documentation of new random Generator
  doc/source/reference/random/index.rst
Labels: 03 - Maintenance, 04 - Documentation, 09 - Backport-Candidate, component: Documentation

#14040 DOC: Improve quickstart documentation of new random Generator.
  doc/source/reference/random/index.rst
Labels: 03 - Maintenance, 04 - Documentation, 08 - Backport, component: Documentation

#14042 BUG: np.array cleared errors occured in PyMemoryView_FromObject
  numpy/core/src/multiarray/ctors.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14045 MAINT: fix histogram*d dispatchers
  numpy/lib/histograms.py
  numpy/lib/twodim_base.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#14043 BUG: Fixes for Undefined Behavior Sanitizer (UBSan) errors.
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/umath/reduction.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14041 TST, MAINT: expand OpenBLAS version checking
  .travis.yml
  azure-pipelines.yml
  shippable.yml
  tools/openblas_support.py
  tools/pypy-test.sh
  tools/travis-before-install.sh
  tools/travis-test.sh
Labels: 00 - Bug, 03 - Maintenance, 05 - Testing, 08 - Backport, component: CI

#14044 BUG: ensure that casting to/from structured is properly checked.
  numpy/core/_add_newdocs.py
  numpy/core/multiarray.py
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_numeric.py
  numpy/doc/structured_arrays.py
Labels: 00 - Bug, 08 - Backport, component: numpy.dtype

#13990 BUILD: adapt "make version-check" to "make dist"
  .circleci/config.yml
  doc/Makefile
Labels: 04 - Documentation, component: build

#13930 BUG: Fix incorrect GIL release in array.nonzero
  numpy/core/src/multiarray/item_selection.c
  numpy/core/tests/test_numeric.py
Labels: 00 - Bug, component: numpy.core

#14052 BUG: Replace contextlib.suppress for Python 2.7
  numpy/lib/histograms.py
Labels: 00 - Bug, component: numpy.lib

#14046 BUG: further fixup to histogram2d dispatcher.
  numpy/lib/tests/test_twodim_base.py
  numpy/lib/twodim_base.py
Labels: 00 - Bug, 08 - Backport, component: __array_function__

#14058 DOC: Document array_function at a higher level.
  doc/source/reference/arrays.classes.rst
  doc/source/user/basics.dispatch.rst
  doc/source/user/basics.rst
  numpy/doc/dispatch.py
Labels: 04 - Documentation, 08 - Backport, component: Documentation

#14056 BUG: fix compilation of 3rd party modules with Py_LIMITED_API enabled
  numpy/core/include/numpy/ndarrayobject.h
Labels: 00 - Bug, 08 - Backport, 30 - API

#14057 BUG: Fix memory leak in dtype from dict contructor
  numpy/core/src/common/npy_ctypes.h
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14036 DEP: Raise warnings for deprecated functions PyArray_As1D, PyArray_As2D
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 07 - Deprecation, 63 - C API changes

#14010 DOC: Array API : Directory restructure and code cleanup
  doc/source/reference/c-api/array.rst
  doc/source/reference/c-api/config.rst
  doc/source/reference/c-api/coremath.rst
  doc/source/reference/c-api/deprecations.rst
  doc/source/reference/c-api/dtype.rst
  doc/source/reference/c-api/generalized-ufuncs.rst
  doc/source/reference/c-api/index.rst
  doc/source/reference/c-api/iterator.rst
  doc/source/reference/c-api/types-and-structures.rst
  doc/source/reference/c-api/ufunc.rst
  doc/source/reference/index.rst
Labels: 04 - Documentation, component: Documentation

#14074 BUG: fix build issue on icc 2016
  numpy/core/setup_common.py
  numpy/core/src/umath/cpuid.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13964 BUG, DOC: add new recfunctions to `__all__`
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 04 - Documentation, 09 - Backport-Candidate

#14063 BUG: Fix file-like object check when saving arrays
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate

#14080 BUG, DOC: add new recfunctions to `__all__`
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 04 - Documentation, 08 - Backport, component: numpy.lib

#14081 BUG: fix build issue on icc 2016
  numpy/core/setup_common.py
  numpy/core/src/umath/cpuid.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14082 BUG: Fix file-like object check when saving arrays
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.lib

#14068 MAINT: bump ARMv8 / POWER8 OpenBLAS in CI
  .travis.yml
  shippable.yml
  tools/openblas_support.py
Labels: 03 - Maintenance, component: CI

#14084 BUG, DOC: add new recfunctions to `__all__`
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 04 - Documentation, 08 - Backport, component: numpy.lib

#14085 DOC: Add blank line above doctest for intersect1d
  numpy/lib/arraysetops.py
Labels: 03 - Maintenance, 04 - Documentation, 09 - Backport-Candidate, component: numpy.lib

#14060 DOC: Update cversions.py links and wording
  numpy/core/setup_common.py
Labels: 04 - Documentation, component: numpy.core

#14053 ENH: add pyproject.toml
  pyproject.toml
  setup.py
Labels: 01 - Enhancement

#14072 DEP: Deprecate full and economic modes for linalg.qr
  numpy/linalg/linalg.py
Labels: 07 - Deprecation

#14064 DOC: Resolve bad references in Sphinx warnings
  doc/source/reference/arrays.classes.rst
  doc/source/reference/random/generator.rst
  doc/source/user/c-info.how-to-extend.rst
  doc/source/user/c-info.python-as-glue.rst
  doc/source/user/quickstart.rst
Labels: 04 - Documentation, component: Documentation

#14026 DOC: Update NumFOCUS subcommittee replacing Nathaniel with Sebastian
  doc/source/dev/governance/people.rst
Labels: 15 - Discussion

#14092 MAINT: Improve NEP template
  doc/neps/nep-template.rst
Labels: 03 - Maintenance, component: NEP

#13908 ENH: use towncrier to build the release note
  changelog/README.rst
  changelog/template.rst
  doc/HOWTO_RELEASE.rst.txt
  doc/RELEASE_WALKTHROUGH.rst.txt
  doc/source/dev/development_workflow.rst
  pyproject.toml
Labels: 04 - Documentation, Scipy2017 Sprint, component: build

#14048 BUG, TEST: Adding validation test suite to validate float32 exp
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/data/umath-validation-set-README
  numpy/core/tests/data/umath-validation-set-cos
  numpy/core/tests/data/umath-validation-set-exp
  numpy/core/tests/data/umath-validation-set-log
  numpy/core/tests/data/umath-validation-set-sin
  numpy/core/tests/test_umath_accuracy.py
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate, component: numpy.core

#14091 MAINT: adjustments to test_ufunc_noncontigous
  numpy/core/tests/test_ufunc.py
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate, component: numpy.core

#14106 MAINT: remove duplicate variable assignments
  numpy/linalg/umath_linalg.c.src
Labels: 03 - Maintenance, component: numpy.linalg

#14108 BUG: initialize variable that is passed by pointer
  numpy/core/src/umath/ufunc_type_resolution.c
Labels: 00 - Bug, component: numpy.core

#13899 MAINT: Change the type of error raised in set_printoptions
  changelog/13899.changes.rst
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 03 - Maintenance, 56 - Needs Release Note., component: numpy.core

#14109 REV: "ENH: Improved performance of PyArray_FromAny for sequences of array-like"
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_regression.py
Labels: 06 - Regression, 09 - Backport-Candidate

#14110 DOC: fix typo in c-api/array.rst doc
  doc/source/reference/c-api/array.rst
Labels: 03 - Maintenance, component: Documentation

#14122 MAINT: Mark umath accuracy test xfail.
  numpy/core/tests/test_umath_accuracy.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#14089 DOC: Use `pip install .` where possible instead of calling setup.py
  doc/source/dev/development_environment.rst
  doc/source/user/building.rst
  doc/source/user/c-info.python-as-glue.rst
  numpy/f2py/setup.py
  shippable.yml
Labels: 04 - Documentation, component: Documentation

#14126 BUG, TEST: Adding validation test suite to validate float32 exp
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/data/umath-validation-set-README
  numpy/core/tests/data/umath-validation-set-cos
  numpy/core/tests/data/umath-validation-set-exp
  numpy/core/tests/data/umath-validation-set-log
  numpy/core/tests/data/umath-validation-set-sin
  numpy/core/tests/test_umath_accuracy.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport

#14127 DOC: Add blank line above doctest for intersect1d
  numpy/lib/arraysetops.py
Labels: 03 - Maintenance, 04 - Documentation, 08 - Backport, component: numpy.lib

#14128 MAINT: adjustments to test_ufunc_noncontigous
  numpy/core/tests/test_ufunc.py
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport, component: numpy.core

#14129 MAINT: Use equality instead of identity check with literal
  numpy/ma/core.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.ma

#14133 MAINT: Update mailmap and changelog for 1.17.0
  .mailmap
  doc/changelog/1.17.0-changelog.rst
Labels: 03 - Maintenance, 14 - Release

#14062 DOC, BUILD: cleanups and fix (again) 'make dist'
  doc/Makefile
  doc/source/reference/random/index.rst
Labels: 04 - Documentation, component: build

#14121 BUG: Add gcd/lcm definitions to npy_math.h
  numpy/core/include/numpy/npy_math.h
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#14143 BUG: Fix DeprecationWarning in python 3.8 due to implicit conversion to int
  numpy/core/src/multiarray/datetime.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.datetime64

#14144 BUG: Remove stray print that causes a SystemError on python 3.7 due to an exception being in flight
  numpy/core/src/multiarray/descriptor.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.dtype

#14134 DOC, MAINT: Update master after 1.17.0 release.
  .mailmap
  doc/changelog/1.17.0-changelog.rst
  doc/release/1.17.0-notes.rst
Labels: 03 - Maintenance, 04 - Documentation

#14152 BUG: avx2_scalef_ps must be static
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#14153 TST: Allow fuss in testing strided/non-strided exp/log loops
  numpy/core/tests/test_umath.py
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate, component: numpy.core

#14156 TST: Allow fuss in testing strided/non-strided exp/log loops
  numpy/core/tests/test_umath.py
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport, component: numpy.core

#14157 BUG: avx2_scalef_ps must be static
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14158 BUG: Remove stray print that causes a SystemError on python 3.7.
  numpy/core/src/multiarray/descriptor.c
Labels: 00 - Bug, 08 - Backport, component: numpy.dtype

#14159 BUG: Fix DeprecationWarning in python 3.8.
  numpy/core/src/multiarray/datetime.c
Labels: 00 - Bug, 08 - Backport, component: numpy.datetime64

#14160 BLD: Add missing gcd/lcm definitions to npy_math.h
  numpy/core/include/numpy/npy_math.h
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14162 BUG: Remove stray print that causes a SystemError on python 3.7
  numpy/core/src/multiarray/descriptor.c
Labels: 00 - Bug, 08 - Backport, component: numpy.dtype

#14076 TST: Add 3.8-dev to travisCI testing.
  .travis.yml
  numpy/core/tests/test_deprecations.py
  tools/travis-before-install.sh
Labels: 05 - Testing, 09 - Backport-Candidate, component: CI

#14166 TST: Add 3.8-dev to travisCI testing.
  .travis.yml
  numpy/core/tests/test_deprecations.py
  tools/travis-before-install.sh
Labels: 05 - Testing, 08 - Backport, component: CI

#14145 BUG: Remove the broken clip wrapper
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.ufunc

#14115 DOC: fix markup of news fragment readme
  changelog/README.rst
Labels: 03 - Maintenance, component: towncrier

#14039 DEP: Remove np.rank which has been deprecated for more than 5 years
  changelog/14039.expired.rst
  numpy/core/fromnumeric.py
  numpy/core/tests/test_deprecations.py
  numpy/ma/core.py
Labels: 07 - Deprecation, 56 - Needs Release Note.

#13871 MAINT: Ensure array_dealloc does not modify refcount of self
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/iterators.c
  numpy/core/src/multiarray/iterators.h
  numpy/core/src/multiarray/refcount.c
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, 54 - Needs decision, component: numpy.core
