Repository numpy/numpy, pull requests merged in 2019-05, with the labels that each got.

#13443 BLD, TST: implicit func errors
  tools/travis-test.sh
Labels: 05 - Testing, component: build

#13132 BLD: Allow users to specify BLAS and LAPACK library link order
  .travis.yml
  doc/source/user/building.rst
  numpy/distutils/system_info.py
Labels: 01 - Enhancement, component: numpy.distutils

#13336 BUILD: fail documentation build if numpy version does not match
  doc/Makefile
  setup.py
Labels: 04 - Documentation, component: build

#13446 MANT: refactor unravel_index for code repetition
  numpy/core/src/multiarray/compiled_base.c
Labels: 03 - Maintenance, component: numpy.core

#13440 MAINT: fixed typo 'wtihout' from numpy/core/shape_base.py
  numpy/core/shape_base.py
Labels: 04 - Documentation, component: numpy.core

#13439 BUG: fix unravel_index when dimension is greater than 'intp'
  numpy/core/src/multiarray/compiled_base.c
  numpy/lib/tests/test_index_tricks.py
Labels: 00 - Bug, component: numpy.core

#13449 BUG: missing git raises an OSError
  setup.py
Labels: 00 - Bug, component: build

#13298 ENH: Added clearer exception for np.diff on 0-dimensional ndarray
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement, component: numpy.lib

#13456 TST: refine Azure fail reports
  azure-pipelines.yml
Labels: 05 - Testing

#13469 DOC: correct "version added" in npymath docs
  doc/source/reference/c-api.coremath.rst
Labels: 04 - Documentation

#13467 ENH: err msg for too large sequences. See #13450
  numpy/core/src/multiarray/conversion_utils.c
Labels: 01 - Enhancement, component: numpy.core

#13477 DOC: have notes in histogram_bin_edges match parameter style
  numpy/lib/histograms.py
Labels: 04 - Documentation, component: numpy.lib

#13471 LICENSE: split license file in standard BSD 3-clause and bundled.
  LICENSE.txt
  LICENSE_bundled.txt
  MANIFEST.in
  setup.py
Labels: 03 - Maintenance

#13496 BUG: ma.tostring should respect the order parameter
  numpy/ma/core.py
  numpy/ma/tests/test_regression.py
Labels: 00 - Bug, component: numpy.ma

#13485 DOC: add security vulnerability reporting and doc links to README
  README.md
Labels: 04 - Documentation

#13495 BUG: test all ufunc.types for return type, fix for exp, log
  numpy/core/code_generators/generate_umath.py
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, component: numpy.ufunc

#13498 DOC: Clarify rcond normalization in linalg.pinv
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#13508 BUG: Removes ValueError for empty kwargs in arraymultiter_new
  numpy/core/src/multiarray/iterators.c
  numpy/core/tests/test_numeric.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13479 DOC: Mention the handling of nan in the assert_equal docstring.
  numpy/testing/_private/utils.py
Labels: 04 - Documentation, component: numpy.testing

#13416 BUG: Protect generators from log(0.0)
  doc/release/1.17.0-notes.rst
  numpy/random/mtrand/distributions.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#13332 BUG: Always return views from structured_to_unstructured when possible
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.lib

#13482 TEST: add duration report to tests, speed up two outliers
  numpy/lib/tests/test_histograms.py
  numpy/testing/tests/test_utils.py
  tools/test-installed-numpy.py
  tools/travis-test.sh
Labels: 05 - Testing

#13402 DOC: Show the default value of deletechars in the signature of genfromtxt
  numpy/lib/npyio.py
Labels: 04 - Documentation

#10723 BUG: longdouble(int) does not work
  numpy/core/src/common/npy_longdouble.c
  numpy/core/src/common/npy_longdouble.h
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_longdouble.py
Labels: 00 - Bug, 09 - Backport-Candidate, 55 - Needs work, component: numpy.core

#13534 BLD: Make CI pass again with pytest 4.5
  pytest.ini
Labels: 09 - Backport-Candidate, component: build

#12962 ENH: Add 'bitorder' keyword to packbits, unpackbits
  doc/release/1.17.0-notes.rst
  numpy/core/multiarray.py
  numpy/core/src/multiarray/compiled_base.c
  numpy/lib/tests/test_packbits.py
Labels: 01 - Enhancement, component: numpy.core

#13433 BUG: Handle subarrays in descr_to_dtype
  numpy/lib/format.py
  numpy/lib/tests/test_format.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.dtype

#13499 MAINT: Use with statement to open/close files to fix LGTM alerts
  numpy/core/code_generators/generate_umath.py
  numpy/core/numeric.py
  numpy/distutils/conv_template.py
  numpy/distutils/from_template.py
  numpy/distutils/line_endings.py
  numpy/f2py/f2py2e.py
  numpy/f2py/rules.py
  numpy/linalg/lapack_lite/clapack_scrub.py
  numpy/linalg/lapack_lite/fortran.py
Labels: 03 - Maintenance

#10308 API: Make MaskedArray.mask return a view, rather than the underlying mask
  doc/release/1.17.0-notes.rst
  numpy/lib/tests/test_function_base.py
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/ma/tests/test_old_ma.py
Labels: 03 - Maintenance, component: numpy.ma

#13518 MAINT: implement assert_array_compare without converting array to python list
  numpy/testing/_private/utils.py
Labels: 03 - Maintenance, component: numpy.testing

#13529 Use exec() instead array_function_dispatch to improve tracebacks
  numpy/core/overrides.py
Labels: 03 - Maintenance, component: numpy.core

#13549 BLD: Make CI pass again with pytest 4.5
  pytest.ini
Labels: 00 - Bug, 05 - Testing, 08 - Backport

#13530 BENCH: Modify benchmarks for radix sort.
  benchmarks/benchmarks/bench_function_base.py
Labels: 28 - Benchmark

#13305 NEP: Update NEP-18 to include the ``__skip_array_function__`` attribute.
  doc/neps/nep-0018-array-function-protocol.rst
Labels: 01 - Enhancement, component: NEP

#13550 TST: Register markers in conftest.py.
  numpy/conftest.py
  pytest.ini
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate

#13552 TST: Register markers in conftest.py.
  numpy/conftest.py
  pytest.ini
Labels: 00 - Bug, 05 - Testing, 08 - Backport

#13559 BUG: Removes ValueError for empty kwargs in arraymultiter_new
  numpy/core/src/multiarray/iterators.c
  numpy/core/tests/test_numeric.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13560 BUG: Add TypeError to accepted exceptions in crackfortran.
  numpy/f2py/crackfortran.py
Labels: 00 - Bug, 08 - Backport, component: numpy.f2py

#13561 BUG: Handle subarrays in descr_to_dtype
  numpy/lib/format.py
  numpy/lib/tests/test_format.py
Labels: 00 - Bug, 08 - Backport, component: numpy.dtype

#13562 BUG: Protect generators from log(0.0)
  doc/release/1.16.4-notes.rst
  numpy/random/mtrand/distributions.c
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#13563 BUG: Always return views from structured_to_unstructured when possible
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#13564 BUG: Catch stderr when checking compiler version
  numpy/distutils/ccompiler.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#13565 BUG: longdouble(int) does not work
  numpy/core/src/common/npy_longdouble.c
  numpy/core/src/common/npy_longdouble.h
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_longdouble.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12519 ENH/DEP: Use a ufunc under the hood for ndarray.clip
  doc/release/1.17.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/_methods.py
  numpy/core/code_generators/generate_umath.py
  numpy/core/code_generators/ufunc_docstrings.py
  numpy/core/fromnumeric.py
  numpy/core/setup.py
  numpy/core/src/common/lowlevel_strided_loops.h
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/calculation.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/number.c
  numpy/core/src/multiarray/number.h
  numpy/core/src/umath/clip.c.src
  numpy/core/src/umath/clip.h.src
  numpy/core/src/umath/fast_loop_macros.h
  numpy/core/src/umath/funcs.inc.src
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement, 03 - Maintenance, 07 - Deprecation, component: numpy.core

#13239 DOC: Minor grammatical fixes in NumPy docs
  doc/C_STYLE_GUIDE.rst.txt
  doc/HOWTO_RELEASE.rst.txt
Labels: 04 - Documentation, Outreachy 2019, component: Documentation

#13397 DOC: Resolve confusion regarding hashtag in header line of csv
  numpy/lib/npyio.py
Labels: 04 - Documentation, component: numpy.lib

#13503 ENH: Support object arrays in matmul
  doc/release/1.17.0-notes.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/matmul.c.src
  numpy/core/src/umath/matmul.h.src
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, 56 - Needs Release Note., component: numpy.ufunc

#13544 ENH: Allow broadcast to be called with zero arguments
  numpy/core/src/multiarray/iterators.c
  numpy/core/tests/test_numeric.py
  numpy/lib/stride_tricks.py
Labels: 01 - Enhancement, component: numpy.core

#13520 BUG: exp, log AVX loops do not use steps
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, component: numpy.core

#13571 DOC: Mention that expand_dims returns a view
  numpy/lib/shape_base.py
Labels: 04 - Documentation, component: numpy.lib

#13389 ENH: implement ``__skip_array_function__`` attribute for NEP-18
  numpy/core/overrides.py
  numpy/core/src/multiarray/arrayfunction_override.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/multiarraymodule.h
  numpy/core/tests/test_overrides.py
Labels: 01 - Enhancement, 58 - Ready for review, component: numpy.core

#13570 DOC: Remove duplicate documentation of the PyArray_SimpleNew family of functions
  doc/source/reference/c-api.array.rst
  doc/source/user/c-info.how-to-extend.rst
Labels: 04 - Documentation, component: Documentation

#13491 BUG/ENH: Create npy format 3.0 to support extended unicode characters in dtypes
  doc/release/1.17.0-notes.rst
  numpy/lib/format.py
  numpy/lib/tests/test_format.py
Labels: 00 - Bug, 01 - Enhancement, 03 - Maintenance, component: numpy.lib

#13277 DOC: Document caveat in random.uniform
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, Outreachy 2019, component: numpy.random

#13581 ENH: AVX support for exp/log for strided float32 arrays
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.core

#13523 BUG: distutils/system_info.py fix missing subprocess import
  numpy/distutils/system_info.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.distutils

#13587 BUG: distutils/system_info.py fix missing subprocess import (#13523)
  numpy/distutils/system_info.py
Labels: 00 - Bug, 08 - Backport, component: numpy.distutils

#12025 DOC: add detail for 'where' argument in ufunc
  numpy/core/_add_newdocs.py
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 04 - Documentation, component: numpy.core, component: numpy.ufunc

#13506 ENH: Add sparse option to np.core.numeric.indices
  numpy/core/numeric.py
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement, component: numpy.core

#13541 ENH: restore unpack bit lookup table
  benchmarks/benchmarks/bench_core.py
  numpy/core/multiarray.py
  numpy/core/src/multiarray/compiled_base.c
Labels: 01 - Enhancement, component: numpy.core

#13463 BUG,DEP: Fix writeable flag setting for arrays without base
  doc/release/1.17.0-notes.rst
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 07 - Deprecation, 09 - Backport-Candidate, component: numpy.core

#13595 NEP: update NEP 19 with API terminology
  doc/neps/nep-0019-rng-policy.rst
Labels: component: NEP, component: numpy.random

#13574 DOC: remove performance claim from searchsorted()
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#13603 TST: bump / verify OpenBLAS in CI
  azure-pipelines.yml
  tools/pypy-test.sh
Labels: 05 - Testing

#13558 MAINT: Fix errors seen on new python 3.8
  numpy/core/tests/test_multiarray.py
  numpy/random/tests/test_random.py
  numpy/tests/test_warnings.py
Labels: 03 - Maintenance, component: numpy.core, component: numpy.random

#13158 BLD: Add libflame as a LAPACK back-end
  doc/release/1.17.0-notes.rst
  doc/source/user/building.rst
  numpy/distutils/system_info.py
  site.cfg.example
Labels: 01 - Enhancement, component: build

#13584 DOC: roadmap update
  doc/neps/roadmap.rst
Labels: 04 - Documentation

#13620 BUG,DEP: Fix writeable flag setting for arrays without base
  doc/release/1.16.4-notes.rst
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 07 - Deprecation, 08 - Backport, component: numpy.core

#13626 DOC: update isfortran docs with return value
  numpy/core/numeric.py
Labels: 04 - Documentation, component: numpy.core

#13629 BUG: setup.py install --skip-build fails
  numpy/distutils/command/install_clib.py
Labels: 00 - Bug, component: numpy.distutils

#13399 ENH: Improved performance of PyArray_FromAny for sequences of array-like
  benchmarks/benchmarks/bench_core.py
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.core

#13326 DEP: Deprecate collapsing shape-1 dtype fields to scalars.
  doc/release/1.17.0-notes.rst
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_numeric.py
  numpy/core/tests/test_scalarbuffer.py
  numpy/ma/mrecords.py
  numpy/random/tests/test_random.py
Labels: 07 - Deprecation, component: numpy.core

#13639 MAINT: Update mailmap for 1.17.0
  .mailmap
Labels: 03 - Maintenance

#13642 BUG: special case object arrays when printing rel-, abs-error in assert_equal
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate

#13644 BUG: special case object arrays when printing rel-, abs-error
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport

#13641 MAINT: Prepare for the 1.16.4 release.
  .mailmap
  doc/changelog/1.16.4-changelog.rst
  doc/release/1.16.4-notes.rst
Labels: 03 - Maintenance

#13575 TST: Apply ufunc signature and type test fixmes.
  numpy/core/tests/test_ufunc.py
Labels: 05 - Testing, component: numpy.core

#13590 BUG: Fixes for Undefined Behavior Sanitizer (UBSan) errors.
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/umath/reduction.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13507 BUG: np.array cleared errors occured in PyMemoryView_FromObject
  numpy/core/src/multiarray/ctors.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13377 DOC: Add missing macros to C API documentation
  doc/source/reference/c-api.config.rst
Labels: 04 - Documentation, component: Documentation

#13652 MAINT: remove superfluous setting in can_cast_safely_table.
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, component: numpy.dtype

#13623 BUG: Workaround for bug in clang7.0
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, component: numpy.core

#13657 BUG: Avoid leading underscores in C function names.
  numpy/random/src/pcg64/pcg64.c
  numpy/random/src/pcg64/pcg64.h
Labels: 00 - Bug, component: numpy.random

#13660 DOC: Updates following NumPy 1.16.4 release.
  doc/RELEASE_WALKTHROUGH.rst.txt
  doc/changelog/1.16.4-changelog.rst
  doc/release/1.16.4-notes.rst
  doc/source/release.rst
Labels: 04 - Documentation

#13551 DOC: Add note to ``nonzero`` docstring.
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#13445 MAINT: refactor PyArrayMultiIterObject constructors
  numpy/core/src/multiarray/iterators.c
Labels: 03 - Maintenance, component: numpy.core

#13406 DOC: clarify array_{2string,str,repr} defaults
  numpy/core/arrayprint.py
Labels: 04 - Documentation, component: numpy.core

#13672 DOC: Fix rst markup in RELEASE_WALKTHROUGH.
  doc/RELEASE_WALKTHROUGH.rst.txt
Labels: 04 - Documentation, component: Documentation

#13670 BUG: Fix RandomState argument name
  numpy/random/mtrand.pyx
  numpy/random/tests/test_randomstate_regression.py
Labels: 00 - Bug, component: numpy.random

#13678 BUG: fix benchmark suite importability on Numpy<1.17
  benchmarks/benchmarks/bench_random.py
  tools/travis-test.sh
Labels: 00 - Bug, component: benchmarks

#13633 DOC: caution against relying upon NumPy's implementation in subclasses
  doc/neps/nep-0018-array-function-protocol.rst
Labels: 04 - Documentation, component: NEP

#13663 BUG: regression for array([pandas.DataFrame()])
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 06 - Regression, component: numpy.core

#13664 MAINT: Misc. typo fixes
  benchmarks/benchmarks/bench_function_base.py
  doc/DISTUTILS.rst.txt
  doc/Makefile
  doc/source/reference/c-api.array.rst
  doc/source/reference/c-api.coremath.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  numpy/core/_dtype_ctypes.py
  numpy/core/einsumfunc.py
  numpy/core/numerictypes.py
  numpy/core/shape_base.py
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/npymath/npy_math_complex.c.src
  numpy/core/src/npysort/selection.c.src
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_half.py
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_scalar_methods.py
  numpy/core/tests/test_scalarprint.py
  numpy/distutils/fcompiler/__init__.py
  numpy/doc/basics.py
  numpy/doc/indexing.py
  numpy/lib/function_base.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_histograms.py
  numpy/random/generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/src/philox/philox-benchmark.c
  numpy/random/src/philox/philox-test-data-gen.c
  numpy/random/src/threefry/threefry-benchmark.c
  numpy/random/src/threefry/threefry-test-data-gen.c
  numpy/random/src/xoshiro256/xoshiro256-test-data-gen.c
  numpy/random/src/xoshiro512/xoshiro512-test-data-gen.c
  numpy/random/tests/test_randomstate.py
  numpy/testing/_private/utils.py
Labels: 03 - Maintenance

#13665 MAINT: Use intrinsics in Win64-PCG64
  doc/source/reference/random/performance.rst
  numpy/random/src/pcg64/pcg64.h
Labels: 03 - Maintenance, component: numpy.random
