Repository numpy/numpy, pull requests merged in 2019-11, with the labels that each got.

#14197 ENH: Multivariate normal speedups
  doc/release/upcoming_changes/14197.improvement.rst
  numpy/random/_generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 01 - Enhancement, component: numpy.random

#14814 Rename helper functions to not use the word rank
  numpy/linalg/linalg.py
Labels: 03 - Maintenance, component: numpy.linalg

#14826 BUILD: ignore more build.log warnings
  tools/travis-test.sh
Labels: component: build

#14805 TST: Don't construct Fraction instances from numpy scalars
  numpy/lib/tests/test_function_base.py
Labels: 05 - Testing

#14799 DOC: Add take_along_axis to the see also section in argmin, argmax etc.
  numpy/core/fromnumeric.py
Labels: 04 - Documentation

#14800 ENH: change object-array comparisons to prefer OO->O unfuncs
  doc/release/upcoming_changes/14800.improvement.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_ufunc.py
  numpy/core/tests/test_umath.py
  numpy/lib/arraysetops.py
  numpy/lib/nanfunctions.py
  numpy/linalg/tests/test_regression.py
  numpy/ma/core.py
Labels: 01 - Enhancement, 07 - Deprecation, component: numpy.core

#14827 BLD: Prevent -flto from optimising long double representation check away
  numpy/core/setup_common.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: build

#14830 MAINT: move buffer.h -> npy_buffer.h to avoid conflicts
  numpy/core/setup.py
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/npy_buffer.h
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 00 - Bug, 03 - Maintenance, 09 - Backport-Candidate

#14829 BUG: raise ValueError for empty arrays passed to _pyarray_correlate
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_numeric.py
Labels: 00 - Bug

#14845 MAINT: revert gh-14800, which gave precedence to OO->O over OO->?
  doc/release/upcoming_changes/14800.improvement.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_ufunc.py
  numpy/core/tests/test_umath.py
  numpy/lib/arraysetops.py
  numpy/linalg/tests/test_regression.py
  numpy/ma/core.py
Labels: 03 - Maintenance

#14842 BLD: add 'apt update' to shippable
  shippable.yml
Labels: component: build

#14852 BLD: add 'apt update' to shippable
  shippable.yml
Labels: 05 - Testing, 08 - Backport, component: build

#14851 BUG: Fix _ctypes class circular reference. (#13808)
  numpy/core/_internal.py
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14853 BLD: add 'apt update' to shippable
  shippable.yml
Labels: 05 - Testing, 08 - Backport, component: build

#14854 BUG: Fix _ctypes class circular reference. (#13808)
  numpy/core/_internal.py
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14855 BUG: Fix `np.einsum` errors on Power9 Linux and z/Linux
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport

#14856 BUG: Fix `np.einsum` errors on Power9 Linux and z/Linux
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.einsum

#14857 BUG: lib: Fix histogram problem with signed integer arrays.
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#14858 BLD: Prevent -flto from optimising long double representation check away
  numpy/core/setup_common.py
Labels: 00 - Bug, 08 - Backport, component: build

#14863 BLD: Prevent -flto from optimising long double representation check away
  numpy/core/setup_common.py
Labels: 00 - Bug, 08 - Backport, component: build

#14864 BUG: lib: Fix histogram problem with signed integer arrays.
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#14866 MAINT: move buffer.h -> npy_buffer.h to avoid conflicts
  numpy/core/setup.py
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/npy_buffer.h
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, component: numpy.core

#14874 REL: Update master after 1.17.4 release.
  doc/changelog/1.17.4-changelog.rst
  doc/source/release.rst
  doc/source/release/1.17.4-notes.rst
Labels: 14 - Release, component: Documentation

#14881 BUG: Remove builtins from __all__
  numpy/__init__.py
Labels: 00 - Bug, 06 - Regression, component: numpy.core

#14898 MAINT: Delete and ignore generated files
  numpy/random/.gitignore
  numpy/random/_bounded_integers.pxd
  numpy/random/_bounded_integers.pyx
Labels: 03 - Maintenance, component: numpy.random

#14820 MAINT: Use templating to merge float loops
  numpy/core/code_generators/genapi.py
  numpy/core/src/umath/loops.c.src
Labels: 03 - Maintenance

#14879 DOC: Update NEP29 with Python3.8 informations.
  doc/neps/nep-0029-deprecation_policy.rst
Labels: component: NEP

#14901 MAINT: Remove uses of scalar aliases
  doc/neps/roadmap.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/multithreading.rst
  doc/source/release/1.11.0-notes.rst
  doc/source/release/1.13.0-notes.rst
  numpy/core/numerictypes.py
  numpy/core/tests/test_api.py
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_numeric.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_scalarinherit.py
  numpy/core/tests/test_ufunc.py
  numpy/core/tests/test_umath.py
  numpy/core/tests/test_umath_accuracy.py
  numpy/doc/basics.py
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
  numpy/lib/tests/test_ufunclike.py
  numpy/random/_bounded_integers.pyx.in
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_random.py
  numpy/random/tests/test_randomstate.py
  numpy/random/tests/test_smoke.py
Labels: 03 - Maintenance

#14878 BUILD: remove SSE2 flag from numpy.random builds
  numpy/random/setup.py
Labels: 09 - Backport-Candidate, component: build

#14914 WIP, TST: Test with Python3.8 on Windows.
  azure-pipelines.yml
Labels: 05 - Testing, component: CI

#14907 TST: Add s390x to the TravisCI test matrix.
  .travis.yml
Labels: 05 - Testing, component: CI

#14912 DOC: Note FFT type promotion
  numpy/fft/__init__.py
Labels: 04 - Documentation

#14921 TST: add no_tracing decorator to refcount-sensitive codepath tests
  .travis.yml
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_regression.py
Labels: 05 - Testing

#14793 DOC: Adjust NEP-31 to new template.
  doc/neps/nep-0031-uarray.rst
Labels: 03 - Maintenance, 04 - Documentation, component: NEP

#14915 TST: Update travis.yml
  .travis.yml
  tools/travis-test.sh
Labels: 03 - Maintenance, 05 - Testing, component: CI

#14593 MAINT: backport Cython API cleanup to 1.17.x, remove docs
  doc/release/1.17.3-notes.rst
  doc/source/reference/random/extending.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  numpy/random/common.pxd
  numpy/random/setup.py
  numpy/random/src/bitgen.h
  numpy/random/src/distributions/distributions.h
Labels: 03 - Maintenance, 08 - Backport, component: numpy.random

#14604 API: restructure and document numpy.random C-API
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/c-api.rst
  doc/source/reference/random/examples/cython/extending.pyx
  doc/source/reference/random/examples/cython/extending.pyx.rst
  doc/source/reference/random/examples/cython/extending_distributions.pyx.rst
  doc/source/reference/random/examples/cython/index.rst
  doc/source/reference/random/examples/cython/setup.py.rst
  doc/source/reference/random/examples/numba.rst
  doc/source/reference/random/examples/numba_cffi.rst
  doc/source/reference/random/extending.rst
  doc/source/reference/random/index.rst
  numpy/core/include/numpy/random/bitgen.h
  numpy/core/include/numpy/random/distributions.h
  numpy/random/_bit_generator.pxd
  numpy/random/_bounded_integers.pyx.in
  numpy/random/_generator.pyx
  numpy/random/examples/__init__.py
  numpy/random/examples/cython/extending.pyx
  numpy/random/examples/cython/extending_distributions.pyx
  numpy/random/examples/cython/setup.py
  numpy/random/examples/numba/extending.py
  numpy/random/include/legacy-distributions.h
  numpy/random/mtrand.pyx
  numpy/random/setup.py
  numpy/random/src/distributions/distributions.c
  numpy/random/src/distributions/random_hypergeometric.c
  numpy/random/src/distributions/random_mvhg_count.c
  numpy/random/src/distributions/random_mvhg_marginals.c
  numpy/random/tests/test_extending.py
  numpy/tests/test_public_api.py
Labels: 30 - API

#14935 DOC: Clarify return type for default_rng
  numpy/random/_generator.pyx
Labels: 04 - Documentation, component: numpy.random

#14937 BUG: fix integer size confusion in handling array's ndmin argument
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14939 BUILD: remove SSE2 flag from numpy.random builds
  numpy/random/setup.py
Labels: 00 - Bug, 08 - Backport, component: build, component: numpy.random

#14947 DOC: testing: Note handling of scalars in assert_array_equal and assert_equal.
  numpy/testing/_private/utils.py
Labels: 04 - Documentation, component: numpy.testing

#14944 MAINT: move numpy/random/examples -> numpy/random/_examples
  doc/source/reference/random/examples/cython/extending.pyx.rst
  doc/source/reference/random/examples/cython/extending_distributions.pyx.rst
  doc/source/reference/random/examples/cython/setup.py.rst
  doc/source/reference/random/examples/numba.rst
  doc/source/reference/random/examples/numba_cffi.rst
  doc/source/reference/random/extending.rst
  numpy/random/_examples/cython/extending.pyx
  numpy/random/_examples/cython/extending_distributions.pyx
  numpy/random/_examples/cython/setup.py
  numpy/random/_examples/numba/extending.py
  numpy/random/_examples/numba/extending_distributions.py
  numpy/random/examples/__init__.py
  numpy/random/setup.py
  numpy/random/tests/test_extending.py
  numpy/tests/test_public_api.py
Labels: 03 - Maintenance, 30 - API

#14929 BUG: Fix step returned by linspace when num=1 and endpoint=False
  numpy/core/function_base.py
  numpy/core/tests/test_function_base.py
Labels: 00 - Bug, component: numpy.core

#14841 ENH: add isinf, isnan, fmin, fmax loops for datetime64, timedelta64
  doc/release/upcoming_changes/14841.compatibility.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/tests/test_datetime.py
  numpy/testing/_private/utils.py
Labels: 01 - Enhancement, component: numpy.datetime64

#14932 DOC: Compare 'tolist' function to 'list' in example
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#14962 TST: skip if cython is not available
  numpy/random/tests/test_extending.py
Labels: 05 - Testing

#14732 TST: run refguide-check on rst files in doc/*
  doc/example.py
  doc/source/dev/development_environment.rst
  doc/source/reference/arrays.datetime.rst
  doc/source/release/1.11.0-notes.rst
  doc/source/user/basics.io.genfromtxt.rst
  tools/refguide_check.py
Labels: 05 - Testing

#14903 NEP: move nep 34 to accepted
  doc/neps/nep-0034.rst
Labels: component: NEP

#13698 DOC: Document ma.filled behavior with non-scalar fill_value
  doc/release/upcoming_changes/13698.deprecation.rst
  numpy/ma/core.py
Labels: 04 - Documentation, 56 - Needs Release Note., component: numpy.ma

#14974 MAINT: Added Python3.8 branch to dll lib discovery on Windows
  numpy/distutils/misc_util.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.distutils

#14718 API: Forbid Q<->m safe casting
  doc/release/upcoming_changes/14718.compatibility.rst
  doc/source/reference/ufuncs.rst
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_scalarmath.py
Labels: 30 - API, component: numpy.datetime64

#12658 BUG: NaT now sorts to ends of arrays
  doc/release/upcoming_changes/12658.change.rst
  numpy/core/fromnumeric.py
  numpy/core/src/npysort/npysort_common.h
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, component: numpy.core, component: numpy.datetime64

#14973 DOC: fix docstring of np.linalg.norm
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#14982 MAINT: Fix typos
  doc/neps/nep-0030-duck-array-protocol.rst
  doc/neps/nep-0031-uarray.rst
  doc/source/dev/development_environment.rst
  doc/source/reference/alignment.rst
  doc/source/release/1.16.0-notes.rst
  doc/source/release/1.16.1-notes.rst
  doc/source/release/1.18.0-notes.rst
  numpy/core/shape_base.py
  tools/refguide_check.py
Labels: 03 - Maintenance, 04 - Documentation

#14983 REV: "ENH: Improved performance of PyArray_FromAny for sequences of array-like
  numpy/core/tests/test_regression.py
Labels: 06 - Regression, component: numpy.core

#14948 DOC, API: add random.__init__.pxd and document random.* functions
  doc/source/reference/random/index.rst
  doc/source/reference/random/legacy.rst
  numpy/random/__init__.pxd
  numpy/random/_bounded_integers.pxd.in
  numpy/random/_common.pxd
  numpy/random/_examples/cython/extending.pyx
  numpy/random/_examples/cython/extending_distributions.pyx
  numpy/random/_generator.pyx
  numpy/random/_mt19937.pyx
  numpy/random/_pcg64.pyx
  numpy/random/_philox.pyx
  numpy/random/_sfc64.pyx
  numpy/random/mtrand.pyx
  numpy/random/setup.py
Labels: 04 - Documentation, 30 - API, component: numpy.random

#14954 TST. API: test using distributions.h via cffi
  doc/source/reference/random/examples/cffi.rst
  doc/source/reference/random/extending.rst
  numpy/core/include/numpy/random/distributions.h
  numpy/random/_examples/cffi/extending.py
  numpy/random/setup.py
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_extending.py
  test_requirements.txt
Labels: 05 - Testing, 30 - API

#14993 MAINT: Added Python3.8 branch to dll lib discovery
  numpy/distutils/misc_util.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.distutils

#15004 MAINT: Fix long name of PCG64
  doc/source/reference/random/bit_generators/pcg64.rst
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#15014 DOC: add a more useful comment to compat.py3k.py
  numpy/compat/py3k.py
Labels: 04 - Documentation
