Repository numpy/numpy, pull requests merged in 2019-06, with the labels that each got.

#12971 ENH: Add 'offset' keyword to 'numpy.fromfile()'
  doc/release/1.17.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.core

#13682 ENH: Support __length_hint__ in PyArray_FromIter
  numpy/core/src/multiarray/ctors.c
Labels: 01 - Enhancement, component: numpy.core

#13693 ENH: Pass input strides and dimensions by pointer to const
  doc/release/1.17.0-notes.rst
  doc/source/reference/c-api.array.rst
  doc/source/reference/c-api.iterator.rst
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/ctors.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_api.c
Labels: 01 - Enhancement

#13697 MAINT: speed up hstack and vstack by eliminating list comprehension.
  numpy/core/shape_base.py
  numpy/lib/shape_base.py
Labels: 03 - Maintenance, component: numpy.core

#13688 MAINT: Correct masked aliases
  numpy/random/__init__.py
  numpy/random/mtrand.pyx
Labels: 00 - Bug, component: numpy.random

#13700 Add links for GitHub Sponsors button.
  .github/FUNDING.yml
Labels: 16 - Development

#13696 DOC: Put the useful constants first
  numpy/doc/constants.py
Labels: 04 - Documentation, component: numpy.doc

#13684 BUG: Move ndarray.dump to python and make it close the file it opens
  numpy/core/_methods.py
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug

#13695 BUG: Ensure Windows choice returns int32
  numpy/random/mtrand.pyx
  numpy/random/tests/test_randomstate_regression.py
Labels: 00 - Bug, component: numpy.random

#13632 MAINT: Collect together the special-casing of 0d non-zero into one place
  numpy/core/src/multiarray/item_selection.c
Labels: 03 - Maintenance, component: numpy.core

#12915 ENH: pathlib support for fromfile(), .tofile() and .dump()
  doc/release/1.17.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/methods.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.core

#13715 BUG: Fix use-after-free in boolean indexing
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13716 BUG: Fix random.choice when probability is not C contiguous
  numpy/random/generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_randomstate.py
Labels: 00 - Bug, component: numpy.random

#13721 MAINT,BUG: More ufunc exception cleanup
  numpy/core/_exceptions.py
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, 03 - Maintenance, component: numpy.ufunc

#13720 MAINT/BUG: Manage more files with with statements
  numpy/core/code_generators/genapi.py
  numpy/core/records.py
  numpy/core/setup_common.py
  numpy/distutils/system_info.py
  numpy/lib/_datasource.py
  numpy/lib/format.py
Labels: 00 - Bug, 03 - Maintenance

#13692 DOC: Update C-API documentation of scanfunc, fromstr
  doc/source/reference/c-api.types-and-structures.rst
Labels: 04 - Documentation, component: Documentation

#13726 MAINT: Update PCG jump sizes
  numpy/random/bounded_integers.pyx.in
  numpy/random/common.pxd
  numpy/random/common.pyx
  numpy/random/pcg32.pyx
  numpy/random/pcg64.pyx
  numpy/random/philox.pyx
  numpy/random/tests/test_direct.py
  numpy/random/threefry.pyx
Labels: 01 - Enhancement, component: numpy.random

#13703 DOC: Adds documentation for numpy.dtype.base
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#13724 MAINT: fix use of cache_dim
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/methods.c
Labels: 03 - Maintenance, component: numpy.core

#13704 DOC: Mention PyArray_DIMS can be NULL
  doc/source/reference/c-api.array.rst
Labels: 04 - Documentation, component: Documentation

#13205 DOC : Fix C-API documentation references to items that don't exist
  doc/source/reference/c-api.iterator.rst
Labels: 04 - Documentation, Outreachy 2019

#10417 ENH: Allow dtype objects to be indexed with multiple fields at once
  doc/release/1.17.0-notes.rst
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/descriptor.h
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_records.py
Labels: 01 - Enhancement, component: numpy.core, component: numpy.dtype

#12905 BUG: fix byte order reversal for datetime64[ns]
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13741 MAINT: random: Remove unused empty file binomial.h.
  numpy/random/src/distributions/binomial.h
Labels: 03 - Maintenance, component: numpy.random

#13730 MAINT: Change keyword from reserved word
  numpy/random/dsfmt.pyx
  numpy/random/mt19937.pyx
  numpy/random/pcg32.pyx
  numpy/random/pcg64.pyx
  numpy/random/philox.pyx
  numpy/random/threefry.pyx
  numpy/random/xoshiro256.pyx
  numpy/random/xoshiro512.pyx
Labels: 03 - Maintenance, component: numpy.random

#13222 DOC: Document/ Deprecate functions exposed in "numpy" namespace
  doc/source/user/basics.io.genfromtxt.rst
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
  numpy/lib/utils.py
Labels: Outreachy 2019, component: Documentation

#13729 DOC: Merge together DISTUTILS.rst.txt#template-files" and distutils.r…
  doc/C_STYLE_GUIDE.rst.txt
  doc/DISTUTILS.rst.txt
  doc/source/conf.py
  doc/source/reference/distutils.rst
Labels: 04 - Documentation

#13737 DOC: Mention and try to explain pairwise summation in sum
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#13691 BUG: Prevent passing of size 0 to array alloc C functions
  numpy/core/src/multiarray/alloc.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/scalarapi.c
Labels: 00 - Bug, component: numpy.core

#13745 BUG: fix segfault on side-effect in __bool__ function in array.nonzero()
  numpy/core/src/multiarray/item_selection.c
  numpy/core/tests/test_item_selection.py
  numpy/core/tests/test_numeric.py
Labels: 00 - Bug, component: numpy.core

#13634 MAINT: avoid nested dispatch in numpy.core.shape_base
  numpy/core/shape_base.py
Labels: 03 - Maintenance, component: numpy.core

#13762 MAINT: Use textwrap.dedent for multiline strings
  numpy/distutils/command/autodist.py
  numpy/distutils/command/config.py
  numpy/distutils/mingw32ccompiler.py
  numpy/distutils/misc_util.py
  numpy/distutils/system_info.py
Labels: 03 - Maintenance, component: numpy.distutils

#13763 MAINT: Use with statements and dedent in core/setup.py
  numpy/core/setup.py
Labels: 03 - Maintenance, component: build

#11233 BUG: ensure i0 does not change the shape.
  doc/release/1.17.0-notes.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.lib

#13760 DOC: update test guidelines document to use pytest for skipif
  doc/TESTS.rst.txt
Labels: 04 - Documentation, component: Documentation

#13648 BUG: ensure that casting to/from structured is properly checked.
  doc/release/1.17.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/multiarray.py
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_numeric.py
  numpy/doc/structured_arrays.py
Labels: 00 - Bug, 09 - Backport-Candidate, 56 - Needs Release Note., component: numpy.dtype

#13742 ENH: Add project URLs to setup.py
  setup.py
Labels: 01 - Enhancement, 04 - Documentation, 08 - Backport, component: build

#13770 MAINT: random: Combine ziggurat.h and ziggurat_constants.h
  numpy/random/src/distributions/distributions.c
  numpy/random/src/distributions/ziggurat.h
  numpy/random/src/distributions/ziggurat_constants.h
Labels: 03 - Maintenance, component: numpy.random

#13708 DEP: Deprecate nonzero(0d) in favor of calling atleast_1d explicitly
  doc/release/1.17.0-notes.rst
  numpy/core/fromnumeric.py
  numpy/core/src/multiarray/item_selection.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_numeric.py
Labels: 07 - Deprecation, component: numpy.core

#13725 BUG: fix compilation of 3rdparty modules with Py_LIMITED_API enabled
  numpy/core/include/numpy/ndarrayobject.h
Labels: 00 - Bug, 09 - Backport-Candidate, 30 - API

#13773 DOC: Update of reference to paper for Lemire's method
  numpy/random/generator.pyx
Labels: 04 - Documentation, component: numpy.random

#13774 BUG: Make ``Generator._masked`` flag default to ``False``.
  numpy/random/generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, component: numpy.random

#13757 MAINT: fix histogram*d dispatchers
  numpy/lib/histograms.py
  numpy/lib/twodim_base.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.lib

#11859 BUG: test and fix np.dtype('i,L') #5645
  numpy/core/_internal.py
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 27 - Py3K, component: numpy.core

#13788 MAINT: fix 'in' -> 'is' typo
  numpy/distutils/misc_util.py
Labels: 03 - Maintenance, component: numpy.distutils

#13761 MAINT: random: Rewrite the hypergeometric distribution.
  numpy/random/generator.pyx
  numpy/random/setup.py
  numpy/random/src/distributions/distributions.c
  numpy/random/src/distributions/distributions.h
  numpy/random/src/distributions/logfactorial.c
  numpy/random/src/distributions/logfactorial.h
  numpy/random/src/distributions/random_hypergeometric.c
  numpy/random/src/legacy/legacy-distributions.c
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_generator_mt19937_regressions.py
Labels: 03 - Maintenance, component: numpy.random

#13789 MAINT: Fix warnings in radixsort.c.src: comparing integers of different signs
  numpy/core/src/npysort/radixsort.c.src
Labels: 03 - Maintenance, component: numpy.core

#13777 MAINT: Remove duplication of should_use_min_scalar_type function
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/convert_datatype.h
  numpy/core/src/umath/ufunc_type_resolution.c
Labels: 03 - Maintenance, component: numpy.core

#13792 LICENSE: update dragon4 license to MIT
  LICENSES_bundled.txt
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/dragon4.h
Labels: 03 - Maintenance

#13786 MAINT: random: Fix a few compiler warnings.
  numpy/random/src/distributions/distributions.c
  numpy/random/src/xoshiro256/xoshiro256.c
  numpy/random/src/xoshiro512/xoshiro512.c
Labels: 03 - Maintenance, component: numpy.random

#13767 DOC: Adds examples for dtype attributes
  doc/source/reference/arrays.dtypes.rst
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: Documentation, component: numpy.core

#13791 MAINT: remove dSFMT
  benchmarks/benchmarks/bench_random.py
  doc/source/reference/random/bit_generators/dsfmt.rst
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/parallel.rst
  doc/source/reference/random/performance.py
  doc/source/reference/random/performance.rst
  numpy/random/__init__.py
  numpy/random/_pickle.py
  numpy/random/dsfmt.pyx
  numpy/random/setup.py
  numpy/random/src/dsfmt/128-bit-jump.poly.txt
  numpy/random/src/dsfmt/96-bit-jump.poly.txt
  numpy/random/src/dsfmt/LICENSE.md
  numpy/random/src/dsfmt/calc-jump.cpp
  numpy/random/src/dsfmt/dSFMT-benchmark.c
  numpy/random/src/dsfmt/dSFMT-calc-jump.hpp
  numpy/random/src/dsfmt/dSFMT-common.h
  numpy/random/src/dsfmt/dSFMT-jump.c
  numpy/random/src/dsfmt/dSFMT-jump.h
  numpy/random/src/dsfmt/dSFMT-params.h
  numpy/random/src/dsfmt/dSFMT-params19937.h
  numpy/random/src/dsfmt/dSFMT-poly.h
  numpy/random/src/dsfmt/dSFMT-test-gen.c
  numpy/random/src/dsfmt/dSFMT.c
  numpy/random/src/dsfmt/dSFMT.h
  numpy/random/tests/data/dSFMT-testset-1.csv
  numpy/random/tests/data/dSFMT-testset-2.csv
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_smoke.py
Labels: 03 - Maintenance, 54 - Needs decision, component: numpy.random

#13815 MAINT: Correct intrinsic use on Windows
  numpy/random/src/pcg64/pcg64.h
Labels: 00 - Bug, component: numpy.random

#13781 DOC: Update TESTS.rst.txt for pytest
  doc/TESTS.rst.txt
Labels: 04 - Documentation

#13795 DOC: Update description of sep in fromstring
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation

#13820 MAINT, DOC: Fix misspelled words in documetation.
  doc/neps/nep-0016-abstract-array.rst
  doc/neps/nep-0018-array-function-protocol.rst
  doc/neps/nep-0019-rng-policy.rst
  doc/neps/nep-0026-missing-data-summary.rst
  doc/neps/nep-0027-zero-rank-arrarys.rst
  doc/release/1.14.4-notes.rst
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#13819 DOC: Fix documented default value of ``__array_priority__`` for subarrays.
  doc/source/reference/ufuncs.rst
Labels: 04 - Documentation, component: Documentation

#13813 BUG: further fixup to histogram2d dispatcher.
  numpy/lib/tests/test_twodim_base.py
  numpy/lib/twodim_base.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: __array_function__

#13803 DOC: Improve documentation for ``defchararray``
  doc/source/reference/routines.char.rst
Labels: 04 - Documentation, component: Documentation

#13823 TEST, ENH: fix tests and ctypes code for PyPy
  azure-pipelines.yml
  numpy/core/_internal.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_numerictypes.py
  numpy/f2py/tests/test_block_docstring.py
  numpy/lib/tests/test_function_base.py
  numpy/testing/_private/utils.py
  tools/pypy-test.sh
Labels: 05 - Testing, 24 - PyPy

#13832 MAINT: remove pcg32 BitGenerator
  benchmarks/benchmarks/bench_random.py
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/bit_generators/pcg32.rst
  numpy/random/__init__.py
  numpy/random/_pickle.py
  numpy/random/pcg32.pyx
  numpy/random/pcg64.pyx
  numpy/random/setup.py
  numpy/random/src/pcg32/LICENSE.md
  numpy/random/src/pcg32/pcg-advance-64.c
  numpy/random/src/pcg32/pcg32-test-data-gen.c
  numpy/random/src/pcg32/pcg32.c
  numpy/random/src/pcg32/pcg32.h
  numpy/random/src/pcg32/pcg_variants.h
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_smoke.py
Labels: 03 - Maintenance, 54 - Needs decision, component: numpy.random

#13833 MAINT: remove ThreeFry BitGenerator
  benchmarks/benchmarks/bench_random.py
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/bit_generators/threefry.rst
  numpy/random/__init__.py
  numpy/random/_pickle.py
  numpy/random/philox.pyx
  numpy/random/setup.py
  numpy/random/src/philox/LICENSE.md
  numpy/random/src/threefry/LICENSE.md
  numpy/random/src/threefry/threefry-benchmark.c
  numpy/random/src/threefry/threefry-orig.c
  numpy/random/src/threefry/threefry-test-data-gen.c
  numpy/random/src/threefry/threefry.c
  numpy/random/src/threefry/threefry.h
  numpy/random/tests/data/threefry-testset-1.csv
  numpy/random/tests/data/threefry-testset-2.csv
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_smoke.py
  numpy/random/threefry.pyx
Labels: 03 - Maintenance, 54 - Needs decision, component: numpy.random

#13818 TST: Add tests for ComplexWarning in astype
  numpy/core/tests/test_api.py
Labels: 05 - Testing, component: numpy.dtype

#13793 MAINT: remove xoshiro* BitGenerators
  benchmarks/benchmarks/bench_random.py
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/bit_generators/xoshiro256.rst
  doc/source/reference/random/bit_generators/xoshiro512.rst
  doc/source/reference/random/extending.rst
  doc/source/reference/random/generator.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/multithreading.rst
  doc/source/reference/random/new-or-different.rst
  doc/source/reference/random/parallel.rst
  doc/source/reference/random/performance.py
  doc/source/reference/random/performance.rst
  numpy/random/__init__.py
  numpy/random/_pickle.py
  numpy/random/examples/cython/extending.pyx
  numpy/random/examples/cython/extending_distributions.pyx
  numpy/random/examples/numba/extending.py
  numpy/random/examples/numba/extending_distributions.py
  numpy/random/generator.pyx
  numpy/random/setup.py
  numpy/random/src/xoshiro256/LICENSE.md
  numpy/random/src/xoshiro256/xoshiro256-test-data-gen.c
  numpy/random/src/xoshiro256/xoshiro256.c
  numpy/random/src/xoshiro256/xoshiro256.h
  numpy/random/src/xoshiro256/xoshiro256.orig.c
  numpy/random/src/xoshiro256/xoshiro256.orig.h
  numpy/random/src/xoshiro512/LICENSE.md
  numpy/random/src/xoshiro512/xoshiro512-test-data-gen.c
  numpy/random/src/xoshiro512/xoshiro512.c
  numpy/random/src/xoshiro512/xoshiro512.h
  numpy/random/src/xoshiro512/xoshiro512.orig.c
  numpy/random/src/xoshiro512/xoshiro512.orig.h
  numpy/random/tests/data/xoshiro256-testset-1.csv
  numpy/random/tests/data/xoshiro256-testset-2.csv
  numpy/random/tests/data/xoshiro512-testset-1.csv
  numpy/random/tests/data/xoshiro512-testset-2.csv
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_randomstate.py
  numpy/random/tests/test_smoke.py
  numpy/random/xoshiro256.pyx
  numpy/random/xoshiro512.pyx
Labels: 03 - Maintenance, 54 - Needs decision, component: numpy.random

#13830 MAINT: Update tox for supported Python versions
  doc/source/dev/development_environment.rst
  tox.ini
Labels: 03 - Maintenance, 05 - Testing

#13780 ENH: use SeedSequence instead of seed()
  doc/source/reference/random/bit_generators/bitgenerators.rst
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/bit_generators/mt19937.rst
  doc/source/reference/random/bit_generators/pcg64.rst
  doc/source/reference/random/bit_generators/philox.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  numpy/random/__init__.py
  numpy/random/bit_generator.pxd
  numpy/random/bit_generator.pyx
  numpy/random/common.pxd
  numpy/random/distributions.pxd
  numpy/random/entropy.pyx
  numpy/random/mt19937.pyx
  numpy/random/mtrand.pyx
  numpy/random/pcg64.pyx
  numpy/random/philox.pyx
  numpy/random/setup.py
  numpy/random/src/bitgen.h
  numpy/random/src/distributions/distributions.h
  numpy/random/src/pcg64/pcg64.h
  numpy/random/tests/data/mt19937-testset-1.csv
  numpy/random/tests/data/mt19937-testset-2.csv
  numpy/random/tests/data/pcg32-testset-1.csv
  numpy/random/tests/data/pcg32-testset-2.csv
  numpy/random/tests/data/pcg64-testset-1.csv
  numpy/random/tests/data/pcg64-testset-2.csv
  numpy/random/tests/data/philox-testset-1.csv
  numpy/random/tests/data/philox-testset-2.csv
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_generator_mt19937_regressions.py
  numpy/random/tests/test_randomstate.py
  numpy/random/tests/test_seed_sequence.py
  numpy/random/tests/test_smoke.py
Labels: 01 - Enhancement, component: numpy.random

#13838 ENH: SFC64 BitGenerator
  benchmarks/benchmarks/bench_random.py
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/bit_generators/sfc64.rst
  doc/source/reference/random/performance.py
  numpy/random/__init__.py
  numpy/random/_pickle.py
  numpy/random/setup.py
  numpy/random/sfc64.pyx
  numpy/random/src/sfc64/LICENSE.md
  numpy/random/src/sfc64/sfc64.c
  numpy/random/src/sfc64/sfc64.h
  numpy/random/tests/data/sfc64-testset-1.csv
  numpy/random/tests/data/sfc64-testset-2.csv
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_smoke.py
Labels: 01 - Enhancement, component: numpy.random

#13837 MAINT, BUG: fixes from seedsequence
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/performance.rst
  numpy/random/src/pcg64/pcg64.h
Labels: 00 - Bug, 04 - Documentation, component: numpy.random

#13772 BUILD: use numpy-wheels/openblas_support.py to create _distributor_init.py
  azure-pipelines.yml
  numpy/core/__init__.py
  tools/openblas_support.py
Labels: component: build

#13839 MAINT: Ignore some generated files.
  .gitignore
Labels: 03 - Maintenance, component: numpy.core

#12428 ENH: always use zip64, upgrade pickle protocol to 3
  doc/release/1.17.0-notes.rst
  numpy/lib/format.py
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 01 - Enhancement, component: numpy.lib

#13843 DOC: remove note about `__array_ufunc__` being provisional for 1.17.0
  doc/source/reference/arrays.classes.rst
Labels: 04 - Documentation, component: numpy.core

#13851 MAINT: Update shippable.yml to remove Python 2 dependency
  shippable.yml
Labels: 03 - Maintenance, component: CI

#13850 DOC: Update performance numbers
  doc/source/reference/random/performance.py
  doc/source/reference/random/performance.rst
Labels: 04 - Documentation, component: Documentation

#13845 BUG: use npy_intp instead of int for indexing array
  numpy/core/src/multiarray/mapping.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13856 MAINT: move location of bitgen.h
  numpy/core/include/numpy/random/bitgen.h
  numpy/core/setup.py
  numpy/random/common.pxd
  numpy/random/setup.py
  numpy/random/src/distributions/distributions.h
Labels: 03 - Maintenance, component: build, component: numpy.random

#13849 DOC: np.random documentation cleanup and expansion.
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/legacy.rst
  doc/source/reference/random/multithreading.rst
  doc/source/reference/random/parallel.rst
  doc/source/reference/random/performance.rst
  numpy/random/bit_generator.pyx
  numpy/random/mt19937.pyx
  numpy/random/pcg64.pyx
  numpy/random/philox.pyx
  numpy/random/sfc64.pyx
Labels: 04 - Documentation, component: numpy.random

#13858 BUG: do not force emulation of 128-bit arithmetic.
  numpy/random/setup.py
  numpy/random/src/pcg64/pcg64.c
  numpy/random/src/pcg64/pcg64.h
Labels: component: numpy.random

#13840 ENH: np.random.default_gen()
  doc/source/reference/random/generator.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  numpy/random/__init__.py
  numpy/random/bit_generator.pxd
  numpy/random/bit_generator.pyx
  numpy/random/generator.pyx
  numpy/random/mt19937.pyx
  numpy/random/pcg64.pyx
  numpy/random/philox.pyx
  numpy/random/sfc64.pyx
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_smoke.py
Labels: 01 - Enhancement, component: numpy.random

#13859 DOC: Update performance numbers for PCG64
  doc/source/reference/random/performance.rst
Labels: 04 - Documentation, component: Documentation

#13855 BUG: Fix memory leak in dtype from dict contructor
  numpy/core/src/common/npy_ctypes.h
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13861 BUG: Ensure consistent interpretation of uint64 states.
  numpy/random/bit_generator.pyx
  numpy/random/generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_seed_sequence.py
Labels: 00 - Bug, component: numpy.random

#12609 ENH: Deprecate writeable broadcast_array
  doc/release/1.17.0-notes.rst
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/flagsobject.c
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_ufunc.py
  numpy/lib/stride_tricks.py
  numpy/lib/tests/test_stride_tricks.py
Labels: 01 - Enhancement, component: numpy.lib

#13864 TST: Ignore DeprecationWarning during nose imports
  numpy/core/tests/test_ufunc.py
  numpy/testing/tests/test_decorators.py
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate, component: numpy.testing

#13863 DOC: Document the precise PCG variant.
  numpy/random/pcg64.pyx
  numpy/random/sfc64.pyx
Labels: 04 - Documentation, component: numpy.random

#13867 TST: Ignore DeprecationWarning during nose imports
  numpy/testing/tests/test_decorators.py
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport, component: numpy.testing

#13873 ENH: Rename default_gen -> default_rng
  doc/source/reference/random/generator.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/parallel.rst
  numpy/random/__init__.py
  numpy/random/generator.pyx
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_smoke.py
Labels: 01 - Enhancement, component: numpy.random

#13870 MAINT,BUG: Use nbytes to also catch empty descr during allocation
  numpy/core/src/multiarray/ctors.c
Labels: 00 - Bug, 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#13869 DOC: Prepare for 1.17.0rc1 release
  .mailmap
  doc/changelog/1.17.0-changelog.rst
  doc/release/1.17.0-notes.rst
Labels: 04 - Documentation

#13874 MAINT: Prepare master for 1.18.0 development.
  doc/release/1.18.0-notes.rst
  doc/source/release.rst
  pavement.py
  setup.py
Labels: 03 - Maintenance

#13825 DOC: Add missing macros to C-API documentation
  doc/source/reference/c-api.array.rst
  doc/source/reference/c-api.ufunc.rst
Labels: 04 - Documentation, component: Documentation
