Repository numpy/numpy, pull requests merged in 2019-08, with the labels that each got.

#14171 BUG: Make advanced indexing result on read-only subclass writeable
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#14190 DOC: Fix hermitian argument docs in `svd`
  numpy/linalg/linalg.py
Labels: 03 - Maintenance, 04 - Documentation, 09 - Backport-Candidate, component: numpy.linalg

#14195 MAINT: Fix a docstring typo.
  numpy/core/_dtype.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.dtype

#14194 BUG: Remove the broken clip wrapper (Backport)
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.ma

#14196 DOC: Fix links in `/.github/CONTRIBUTING.md`.
  .github/CONTRIBUTING.md
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#14178 TST: Clean up of test_pocketfft.py
  numpy/fft/tests/test_pocketfft.py
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate, component: numpy.fft

#14185 MAINT: Workaround for Intel compiler bug leading to failing test
  numpy/core/src/multiarray/compiled_base.c
Labels: 00 - Bug, 03 - Maintenance, 09 - Backport-Candidate, 29 - Intel/Anaconda, component: numpy.core

#14170 NEP: Proposal for __duckarray__ protocol
  doc/neps/nep-0030-duck-array-protocol.rst
Labels: 01 - Enhancement, component: NEP

#14198 DOC: Fix hermitian argument docs in svd.
  numpy/linalg/linalg.py
Labels: 03 - Maintenance, 04 - Documentation, 08 - Backport, component: numpy.linalg

#14199 MAINT: Workaround for Intel compiler bug leading to failing test
  numpy/core/src/multiarray/compiled_base.c
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, 29 - Intel/Anaconda, component: numpy.core

#14200 TST: Clean up of test_pocketfft.py
  numpy/fft/tests/test_pocketfft.py
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport, component: numpy.fft

#14201 BUG: Make advanced indexing result on read-only subclass writeable (#…
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14161 DOC, BUILD: cleanups and fix (again) 'build dist'
  .circleci/config.yml
  doc/Makefile
Labels: 04 - Documentation, 08 - Backport, component: build

#14032 NEP: numpy.org website redesign
  doc/neps/nep-0028-website-redesign.rst
Labels: component: NEP

#14207 BUG: Fixed default BitGenerator name
  numpy/random/_pickle.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#14219 DOC: new nan_to_num keywords are from 1.17 onwards
  numpy/lib/type_check.py
Labels: 04 - Documentation, component: numpy.lib

#14181 DEP: Deprecate np.alen
  changelog/14181.deprecation.rst
  numpy/core/fromnumeric.py
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_multiarray.py
Labels: 07 - Deprecation, component: numpy.core

#14100 DEP: Deprecate PyArray_FromDimsAndDataAndDescr, PyArray_FromDims
  changelog/14036.expired.rst
  changelog/14100.expired.rst
  numpy/core/src/multiarray/ctors.c
Labels: 07 - Deprecation, 63 - C API changes

#14069 DOC: Emphasize the need to run tests when building from source
  doc/source/dev/development_environment.rst
  doc/source/user/building.rst
Labels: 04 - Documentation, component: Documentation

#14231 DOC: update or remove outdated sourceforge links
  doc/HOWTO_RELEASE.rst.txt
  numpy/distutils/system_info.py
  numpy/f2py/cfuncs.py
  pavement.py
Labels: 04 - Documentation

#14027 DOC: update "Contributing to NumPy" with more activities/roles
  doc/source/dev/index.rst
Labels: 01 - Enhancement, 04 - Documentation

#14234 MAINT: Better error message for norm
  numpy/fft/pocketfft.py
  numpy/fft/tests/test_pocketfft.py
Labels: 03 - Maintenance, component: numpy.fft

#14141 ENH: add c-imported modules for freeze analysis in np.random
  numpy/random/__init__.py
Labels: 03 - Maintenance, 09 - Backport-Candidate

#14073 DOC: Doc release
  doc/HOWTO_RELEASE.rst.txt
  doc/Makefile
Labels: 04 - Documentation, component: build

#14236 BUG: Fixed default BitGenerator name
  numpy/random/_pickle.py
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#14237 ENH: add c-imported modules for freeze analysis in np.random
  numpy/random/__init__.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.random

#14249 DOC: set status of NEP 28 (website redesign) to Accepted
  doc/neps/nep-0028-website-redesign.rst
Labels: 04 - Documentation, component: NEP

#14235 DOC: add backlinks to numpy.org
  doc/source/_static/numpy_logo.png
  doc/source/_templates/indexsidebar.html
  doc/source/_templates/layout.html
  doc/source/conf.py
Labels: 04 - Documentation

#14204 DOC,MAINT: Move towncrier files and fixup categories
  changelog/14036.expired.rst
  changelog/14039.expired.rst
  changelog/14100.expired.rst
  changelog/14181.deprecation.rst
  doc/RELEASE_WALKTHROUGH.rst.txt
  doc/release/1.18.0-notes.rst
  doc/release/upcoming_changes/13899.change.rst
  doc/release/upcoming_changes/14036.expired.rst
  doc/release/upcoming_changes/14039.expired.rst
  doc/release/upcoming_changes/14100.expired.rst
  doc/release/upcoming_changes/14181.deprecation.rst
  doc/release/upcoming_changes/README.rst
  doc/release/upcoming_changes/template.rst
  doc/source/dev/development_workflow.rst
  doc/source/release.rst
  pyproject.toml
Labels: 04 - Documentation, 16 - Development, component: Documentation

#14266 DOC: remove scipy.org from the breadcrumb formattiong
  doc/source/conf.py
Labels: 04 - Documentation

#14252 BUG: Fixes StopIteration error from 'np.genfromtext' for empty file with skip_header > 0
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, component: numpy.lib

#14270 BUG: Fix formatting error in exception message
  numpy/random/common.pyx
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#14224 DOC: mention `take_along_axis` in `choose`
  numpy/core/fromnumeric.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.core

#14203 MAINT: Improve mismatch message of np.testing.assert_array_equal
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.testing

#14101 MAINT: Clearer error message while padding with stat_length=0
  numpy/lib/arraypad.py
  numpy/lib/tests/test_arraypad.py
Labels: 03 - Maintenance, component: numpy.lib

#14070 DOC:Add example to clarify "numpy.save" behavior on already open file #10445
  numpy/lib/npyio.py
Labels: 04 - Documentation, component: numpy.lib

#13368 ENH: Use AVX for float32 implementation of np.sin & np.cos
  numpy/core/code_generators/generate_umath.py
  numpy/core/include/numpy/npy_common.h
  numpy/core/include/numpy/npy_math.h
  numpy/core/setup_common.py
  numpy/core/src/umath/cpuid.c
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement

#14291 TST, BUG: Use python3.6-dbg.
  .travis.yml
  tools/travis-test.sh
Labels: 03 - Maintenance, 05 - Testing

#14296 Pin pytest version to 5.0.1
  .travis.yml
  tools/travis-before-install.sh
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate, component: CI

#14086 ENH: Propose standard policy for dropping support of old Python versions
  doc/neps/nep-0029-deprecation_policy.rst
Labels: 01 - Enhancement, 25 - WIP, component: NEP

#14217 BUG: Fixed a leak in the f2py-generated module initialization code
  numpy/f2py/rules.py
  numpy/f2py/src/fortranobject.c
Labels: 00 - Bug, component: numpy.f2py

#14295 BUG: core: Handle large negative np.int64 args in binary_repr.
  numpy/core/numeric.py
  numpy/core/tests/test_numeric.py
Labels: 00 - Bug, component: numpy.core

#14301 BUG: Fix leak in the f2py-generated module init and `PyMem_Del` usage
  numpy/f2py/rules.py
  numpy/f2py/src/fortranobject.c
Labels: 00 - Bug, 08 - Backport, component: numpy.f2py

#14302 BUG: Fix formatting error in exception message
  numpy/random/common.pyx
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#14256 DEP: Deprecate load/dump functions in favour of pickle methods
  doc/release/upcoming_changes/14256.expired.rst
  doc/source/reference/routines.ma.rst
  numpy/core/numeric.py
  numpy/ma/core.py
Labels: 07 - Deprecation, component: numpy.core, component: numpy.ma

#14259 DEP: Deprecate arrayprint formatting functions
  doc/release/upcoming_changes/14259.expired.rst
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 07 - Deprecation, 56 - Needs Release Note., component: numpy.core

#14303 MAINT: random: Match type of SeedSequence.pool_size to DEFAULT_POOL_SIZE.
  numpy/random/bit_generator.pxd
  numpy/random/bit_generator.pyx
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.random

#14298 BUG: Fix numpy.random bug in platform detection
  numpy/random/setup.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: build, component: numpy.random

#14307 MAINT: random: Match type of SeedSequence.pool_size to DEFAULT_POOL_SIZE.
  numpy/random/bit_generator.pxd
  numpy/random/bit_generator.pyx
Labels: 03 - Maintenance, 08 - Backport, component: numpy.random

#14216 ENH: Enable huge pages in all Linux builds
  numpy/core/src/multiarray/alloc.c
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.core

#14308 BUG: Fix numpy.random bug in platform detection
  numpy/random/setup.py
Labels: 03 - Maintenance, 08 - Backport, component: build, component: numpy.random

#14250 BLD: MAINT: change default behavior of build flag appending.
  azure-pipelines.yml
  doc/release/upcoming_changes/14248.changes.rst
  numpy/distutils/fcompiler/environment.py
  numpy/distutils/tests/test_fcompiler.py
Labels: 03 - Maintenance, component: numpy.distutils

#14321 TST, MAINT: bump to OpenBLAS 0.3.7 stable
  .travis.yml
  azure-pipelines.yml
  shippable.yml
  tools/openblas_support.py
Labels: 03 - Maintenance, 05 - Testing, component: CI

#14309 ENH: Enable huge pages in all Linux builds
  numpy/core/src/multiarray/alloc.c
Labels: 01 - Enhancement, 08 - Backport, component: numpy.core

#14322 ENH: Enable huge pages in all Linux builds
  numpy/core/src/multiarray/alloc.c
Labels: 01 - Enhancement, 08 - Backport, component: numpy.core

#14097 MAINT: Lazy import testing on python >=3.7
  numpy/__init__.py
  numpy/tests/test_public_api.py
Labels: 03 - Maintenance

#14290 BUG: Fix misuse of .names and .fields in various places
  numpy/core/_internal.py
  numpy/core/arrayprint.py
  numpy/core/records.py
  numpy/core/tests/test_records.py
  numpy/core/tests/test_regression.py
  numpy/ctypeslib.py
  numpy/lib/_iotools.py
  numpy/lib/npyio.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_io.py
  numpy/lib/tests/test_recfunctions.py
  numpy/ma/mrecords.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core, component: numpy.dtype

#14325 DEP: numpy.testing.rand
  doc/release/upcoming_changes/14325.expired.rst
  numpy/testing/_private/utils.py
  numpy/testing/utils.py
Labels: 07 - Deprecation

#14241 BUG: Fix segfault in `random.permutation(x)` when x is a string.
  numpy/random/generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_randomstate.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#14240 BUG: Don't fail when lexsorting some empty arrays.
  numpy/core/src/multiarray/item_selection.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#14330 BUG: Fix segfault in `random.permutation(x)` when x is a string.
  numpy/random/generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_randomstate.py
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#14338 BUG: don't fail when lexsorting some empty arrays (#14228)
  numpy/core/src/multiarray/item_selection.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14339 BUG: Fix misuse of .names and .fields in various places (backport 14290 to 1.17)
  numpy/core/_internal.py
  numpy/core/arrayprint.py
  numpy/core/records.py
  numpy/core/tests/test_records.py
  numpy/core/tests/test_regression.py
  numpy/ctypeslib.py
  numpy/lib/_iotools.py
  numpy/lib/npyio.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_io.py
  numpy/lib/tests/test_recfunctions.py
  numpy/ma/mrecords.py
Labels: 08 - Backport

#14310 MAINT: Fix behavior of structured_to_unstructured on non-trivial dtypes
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.lib

#14345 MAINT: fix behavior of structured_to_unstructured on non-trivial dtypes
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#14346 BUG: fix behavior of structured_to_unstructured on non-trivial dtypes
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#14335 DEP: Deprecate class `SafeEval`
  doc/release/upcoming_changes/14335.expired.rst
  numpy/lib/utils.py
Labels: 07 - Deprecation, component: numpy.lib

#14313 DOC: Clarify rules about broadcasting when empty arrays are involved.
  numpy/doc/broadcasting.py
Labels: 04 - Documentation

#14369 MAINT: Post NumPy 1.17.1 update.
  .mailmap
  doc/changelog/1.17.1-changelog.rst
  doc/release/1.17.1-notes.rst
  doc/source/release.rst
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#14364 MAINT: Fixes for prospective Python 3.10 and 4.0
  numpy/core/setup.py
  numpy/distutils/command/build.py
  numpy/distutils/command/build_src.py
  numpy/testing/_private/parameterized.py
  tools/npy_tempita/compat3.py
  tools/swig/test/testFarray.py
Labels: 03 - Maintenance

#13886 DOC: reformat top-level release index
  doc/release/1.18.0-notes.rst
  doc/release/time_based_proposal.rst
  doc/source/release.rst
  doc/source/release/1.10.0-notes.rst
  doc/source/release/1.10.1-notes.rst
  doc/source/release/1.10.2-notes.rst
  doc/source/release/1.10.3-notes.rst
  doc/source/release/1.10.4-notes.rst
  doc/source/release/1.11.0-notes.rst
  doc/source/release/1.11.1-notes.rst
  doc/source/release/1.11.2-notes.rst
  doc/source/release/1.11.3-notes.rst
  doc/source/release/1.12.0-notes.rst
  doc/source/release/1.12.1-notes.rst
  doc/source/release/1.13.0-notes.rst
  doc/source/release/1.13.1-notes.rst
  doc/source/release/1.13.2-notes.rst
  doc/source/release/1.13.3-notes.rst
  doc/source/release/1.14.0-notes.rst
  doc/source/release/1.14.1-notes.rst
  doc/source/release/1.14.2-notes.rst
  doc/source/release/1.14.3-notes.rst
  doc/source/release/1.14.4-notes.rst
  doc/source/release/1.14.5-notes.rst
  doc/source/release/1.14.6-notes.rst
  doc/source/release/1.15.0-notes.rst
  doc/source/release/1.15.1-notes.rst
  doc/source/release/1.15.2-notes.rst
  doc/source/release/1.15.3-notes.rst
  doc/source/release/1.15.4-notes.rst
  doc/source/release/1.16.0-notes.rst
  doc/source/release/1.16.1-notes.rst
  doc/source/release/1.16.2-notes.rst
  doc/source/release/1.16.3-notes.rst
  doc/source/release/1.16.4-notes.rst
  doc/source/release/1.17.0-notes.rst
  doc/source/release/1.17.1-notes.rst
  doc/source/release/1.3.0-notes.rst
  doc/source/release/1.4.0-notes.rst
  doc/source/release/1.5.0-notes.rst
  doc/source/release/1.6.0-notes.rst
  doc/source/release/1.6.1-notes.rst
  doc/source/release/1.6.2-notes.rst
  doc/source/release/1.7.0-notes.rst
  doc/source/release/1.7.1-notes.rst
  doc/source/release/1.7.2-notes.rst
  doc/source/release/1.8.0-notes.rst
  doc/source/release/1.8.1-notes.rst
  doc/source/release/1.8.2-notes.rst
  doc/source/release/1.9.0-notes.rst
  doc/source/release/1.9.1-notes.rst
  doc/source/release/1.9.2-notes.rst
  doc/source/release/template.rst
Labels: 04 - Documentation

#14385 REL: Update master after NumPy 1.16.5 release.
  doc/changelog/1.16.5-changelog.rst
  doc/source/release.rst
  doc/source/release/1.16.5-notes.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation
