Repository numpy/numpy, pull requests merged in 2019-01, with the labels that each got.

#12639 BENCH: don't fail at import time with old Numpy
  benchmarks/benchmarks/bench_overrides.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: benchmarks

#12308 ENH: add mm->q floordiv
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/tests/test_datetime.py
Labels: 01 - Enhancement, component: numpy.datetime64

#12641 DOC: update 2018 -> 2019
  LICENSE.txt
  doc/source/conf.py
Labels: 04 - Documentation, 09 - Backport-Candidate

#12549 TST: relax codecov project threshold
  .codecov.yml
Labels: 03 - Maintenance, 05 - Testing

#12591 ENH: add "max difference" messages to np.testing.assert_array_equal
  doc/release/1.17.0-notes.rst
  numpy/testing/_private/nosetester.py
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
  tools/refguide_check.py
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.testing

#12651 DOC: SimpleNewFromDescr cannot be given NULL for descr
  doc/source/reference/c-api.array.rst
Labels: 04 - Documentation, component: Documentation

#12634 DOC, TST: remove "agg" setting from docs
  numpy/core/function_base.py
  numpy/fft/pocketfft.py
  numpy/lib/function_base.py
  numpy/lib/twodim_base.py
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, 05 - Testing

#12624 BUG: Fix incorrect/missing reference cleanups found using valgrind
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/multiarray/number.c
  numpy/core/src/umath/_struct_ufunc_tests.c.src
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/src/umath/reduction.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/umathmodule.c
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, 09 - Backport-Candidate

#12626 BUG: fix uint alignment asserts in lowlevel loops
  doc/source/reference/alignment.rst
  numpy/core/src/multiarray/array_assign_array.c
  numpy/core/src/multiarray/array_assign_scalar.c
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/lowlevel_strided_loops.c.src
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12655 BUG: fix uint alignment asserts in lowlevel loops
  doc/source/reference/alignment.rst
  numpy/core/src/multiarray/array_assign_array.c
  numpy/core/src/multiarray/array_assign_scalar.c
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/lowlevel_strided_loops.c.src
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12656 BENCH: don't fail at import time with old Numpy
  benchmarks/benchmarks/bench_overrides.py
Labels: 00 - Bug, 08 - Backport, component: benchmarks

#12657 DOC: update 2018 -> 2019
  LICENSE.txt
  doc/source/conf.py
Labels: 03 - Maintenance, 04 - Documentation, 08 - Backport

#12644 ENH: where for ufunc reductions
  doc/release/1.17.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/_methods.py
  numpy/core/fromnumeric.py
  numpy/core/src/umath/override.c
  numpy/core/src/umath/reduction.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.ufunc

#12239 BUG: polyval returned non-masked arrays for masked input.
  numpy/lib/polynomial.py
  numpy/polynomial/tests/test_polynomial.py
Labels: 00 - Bug, component: numpy.polynomial

#12671 TST: Fix endianness in unstuctured_to_structured test
  numpy/lib/tests/test_recfunctions.py
Labels: 05 - Testing, 09 - Backport-Candidate, component: numpy.lib

#12672 BUG: Add 'sparc' to platforms implementing 16 byte reals.
  numpy/f2py/crackfortran.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.f2py

#12666 BENCH: add asv nanfunction benchmarks
  benchmarks/benchmarks/bench_lib.py
Labels: 01 - Enhancement, component: benchmarks

#12680 BUG: Ensure failing memory allocations are reported
  numpy/core/src/multiarray/usertypes.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12687 ENH: Better links in documentation
  doc/source/reference/maskedarray.generic.rst
  doc/source/reference/routines.ctypeslib.rst
  doc/source/reference/routines.linalg.rst
  doc/source/reference/routines.matlib.rst
  doc/source/reference/routines.polynomials.package.rst
  doc/source/reference/routines.polynomials.polynomial.rst
  doc/source/reference/routines.random.rst
  doc/source/reference/routines.testing.rst
Labels: 00 - Bug, 04 - Documentation, 09 - Backport-Candidate, component: Documentation

#12677 MAINT: Further fixups to uint alignment checks
  doc/source/reference/alignment.rst
  numpy/core/src/multiarray/array_assign_array.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#12684 DEV: remove _arg from public API, add matmul to benchmark ufuncs
  benchmarks/benchmarks/bench_ufunc.py
  numpy/core/tests/test_umath_complex.py
  numpy/core/umath.py
Labels: 16 - Development, 28 - Benchmark

#12679 ENH: remove "Invalid value" warnings from median, percentile
  doc/release/1.17.0-notes.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
  numpy/lib/utils.py
  numpy/ma/tests/test_extras.py
Labels: 01 - Enhancement, component: numpy.lib

#12704 TST: pin Azure brew version for stability
  azure-pipelines.yml
Labels: 05 - Testing

#12710 TST: pin Azure brew version for stability.
  azure-pipelines.yml
Labels: 05 - Testing, 08 - Backport

#12708 TST: Fix endianness in unstuctured_to_structured test
  numpy/lib/tests/test_recfunctions.py
Labels: 05 - Testing, 08 - Backport, component: numpy.lib

#12707 BUG: Add 'sparc' to platforms implementing 16 byte reals.
  numpy/f2py/crackfortran.py
Labels: 00 - Bug, 08 - Backport, component: numpy.f2py

#12706 MAINT: Further fixups to uint alignment checks
  doc/source/reference/alignment.rst
  numpy/core/src/multiarray/array_assign_array.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#12705 ENH: Better links in documentation
  doc/source/reference/maskedarray.generic.rst
  doc/source/reference/routines.ctypeslib.rst
  doc/source/reference/routines.linalg.rst
  doc/source/reference/routines.matlib.rst
  doc/source/reference/routines.polynomials.package.rst
  doc/source/reference/routines.polynomials.polynomial.rst
  doc/source/reference/routines.random.rst
  doc/source/reference/routines.testing.rst
Labels: 01 - Enhancement, 04 - Documentation, 08 - Backport, component: Documentation

#12620 BLD: move -std=c99 addition to CFLAGS to Azure config
  INSTALL.rst.txt
  azure-pipelines.yml
  runtests.py
Labels: component: build

#12702 TST: Check FFT results for C/Fortran ordered and non contigous input
  numpy/fft/tests/test_pocketfft.py
Labels: 05 - Testing, component: numpy.fft

#12696 BUG: Fix leak of void scalar buffer info
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate

#12545 BUG: Ensure probabilities are not NaN in choice
  numpy/random/mtrand/mtrand.pyx
  numpy/random/tests/test_random.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#12713 BUG: loosen kwargs requirements in ediff1d
  numpy/core/tests/test_regression.py
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
Labels: 00 - Bug, 56 - Needs Release Note., component: numpy.lib

#12716 NEP: change NEP20 (ufunc signatures) to 'Final'
  doc/neps/nep-0020-gufunc-signature-enhancement.rst
Labels: component: NEP

#12201 TST: coverage for _commonType()
  numpy/linalg/tests/test_linalg.py
Labels: 05 - Testing, component: numpy.linalg

#12596 ENH: improve performance of numpy.core.records.fromarrays
  benchmarks/benchmarks/bench_records.py
  numpy/core/records.py
Labels: 01 - Enhancement, component: numpy.core

#12700 ENH: chain additional exception on ufunc method lookup error
  numpy/core/src/umath/loops.c.src
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_ufunc.py
Labels: 01 - Enhancement, component: numpy.ufunc

#12693 ENH: Add a hermitian argument to `pinv` and `svd`, matching `matrix_rank`
  doc/release/1.17.0-notes.rst
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
Labels: 01 - Enhancement, component: numpy.linalg

#12728 DOC: clarify the suffix of single/extended precision math constants
  doc/source/reference/c-api.coremath.rst
Labels: 04 - Documentation

#12731 DOC: Update release notes and changelog after 1.16.0 release.
  doc/changelog/1.16.0-changelog.rst
  doc/release/1.16.0-notes.rst
Labels: 04 - Documentation, component: Documentation

#12733 DOC: clarify the extend of __array_function__ support in NumPy 1.16
  doc/release/1.16.0-notes.rst
Labels: 04 - Documentation

#12234 MAINT: refactor PyArray_AdaptFlexibleDType to return a meaningful value
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/convert_datatype.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/nditer_constr.c
Labels: 03 - Maintenance, component: numpy.ufunc

#12650 BUG: Fix reference counting for subarrays containing objects
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/refcount.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12456 ENH: Add np.ctypeslib.as_ctypes_type(dtype), improve `np.ctypeslib.as_ctypes`
  doc/release/1.17.0-notes.rst
  numpy/ctypeslib.py
  numpy/tests/test_ctypeslib.py
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.ctypes

#12606 DOC: Document NPY_SORTKIND parameter in PyArray_Sort
  doc/source/reference/c-api.array.rst
Labels: 04 - Documentation

#12463 DOC: fix docstrings for broadcastable inputs in ufunc
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 04 - Documentation, component: numpy.ufunc

#11230 MAINT: More cleanup of einsum
  numpy/core/src/multiarray/einsum.c.src
Labels: 03 - Maintenance, component: numpy.core

#12727 DOC: fix and doctest tutorial
  numpy/doc/structured_arrays.py
  tools/refguide_check.py
Labels: 04 - Documentation

#12767 ENH: add mm->q floordiv
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/tests/test_datetime.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.datetime64

#12768 ENH: port np.core.overrides to C for speed
  benchmarks/benchmarks/bench_overrides.py
  doc/neps/nep-0018-array-function-protocol.rst
  numpy/core/_internal.py
  numpy/core/_methods.py
  numpy/core/code_generators/genapi.py
  numpy/core/multiarray.py
  numpy/core/overrides.py
  numpy/core/setup.py
  numpy/core/shape_base.py
  numpy/core/src/common/get_attr_string.h
  numpy/core/src/multiarray/arrayfunction_override.c
  numpy/core/src/multiarray/arrayfunction_override.h
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/multiarraymodule.h
  numpy/core/tests/test_overrides.py
  numpy/core/tests/test_shape_base.py
  tools/travis-test.sh
Labels: 03 - Maintenance, 08 - Backport, component: __array_function__, component: numpy.core

#12769 ENH: Add np.ctypeslib.as_ctypes_type(dtype), improve `np.ctypeslib.as_ctypes`
  numpy/ctypeslib.py
  numpy/tests/test_ctypeslib.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.ctypes

#12771 BUG: Ensure probabilities are not NaN in choice
  numpy/random/mtrand/mtrand.pyx
  numpy/random/tests/test_random.py
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#12772 MAINT: add warning to numpy.distutils for LDFLAGS append behavior.
  numpy/distutils/fcompiler/environment.py
  numpy/distutils/tests/test_fcompiler.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.distutils

#12773 ENH: add "max difference" messages to np.testing.assert_array_equal .
  numpy/testing/_private/nosetester.py
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.testing

#12774 BUG: Fix incorrect/missing reference cleanups found using valgrind
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/multiarray/number.c
  numpy/core/src/umath/_struct_ufunc_tests.c.src
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/src/umath/reduction.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/umathmodule.c
  numpy/core/tests/test_arrayprint.py
Labels: 00 - Bug, 08 - Backport

#12777 DOC, TST: Clean up matplotlib imports
  numpy/lib/function_base.py
  numpy/lib/twodim_base.py
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, 05 - Testing, 08 - Backport

#12781 BUG: Fix reference counting for subarrays containing objects
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/refcount.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12782 BUG: Ensure failing memory allocations are reported
  numpy/core/src/multiarray/usertypes.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12784 BUG: Fix leak of void scalar buffer info
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12762 MAINT: Change the order of checking for locale file and import urllib modules
  numpy/lib/_datasource.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.lib

#9330 ENH: Make errstate a ContextDecorator in Python3
  doc/release/1.17.0-notes.rst
  numpy/core/numeric.py
  numpy/core/tests/test_errstate.py
Labels: 01 - Enhancement, 27 - Py3K, 60 - Needs version bump, component: numpy.core

#12788 MAINT: Change the order of checking for local file.
  numpy/lib/_datasource.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.lib

#12783 DOC: document C99 requirement in dev guide
  doc/source/dev/development_environment.rst
Labels: 04 - Documentation

#12690 WIP, ENH: add _nan_mask function
  numpy/lib/nanfunctions.py
  numpy/lib/tests/test_nanfunctions.py
Labels: 01 - Enhancement, component: numpy.lib

#12631 BUG: fix f2py problem to build wrappers using PGI's Fortran
  numpy/distutils/fcompiler/pg.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.distutils

#12593 ENH,WIP: Use richer exception types for ufunc type resolution errors
  numpy/core/_exceptions.py
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.ufunc

#12805 BUG: double decref of dtype in failure codepath. Test and fix
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12807 BUG, DOC: test, fix that f2py.compile accepts str and bytes, rework docs
  doc/source/f2py/run_main_session.dat
  doc/source/f2py/usage.rst
  numpy/f2py/__init__.py
  numpy/f2py/f2py2e.py
  numpy/f2py/tests/test_regression.py
Labels: 04 - Documentation, 09 - Backport-Candidate, component: numpy.f2py

#12808 BUG: loosen kwargs requirements in ediff1d
  numpy/core/tests/test_regression.py
  numpy/lib/arraysetops.py
  numpy/lib/tests/test_arraysetops.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#12809 DOC: clarify the extend of __array_function__ support in NumPy 1.16
  doc/release/1.16.0-notes.rst
Labels: 04 - Documentation, 08 - Backport

#12810 BUG: Check that dtype or formats arguments are not None.
  numpy/core/records.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12811 BUG: fix f2py problem to build wrappers using PGI's Fortran
  numpy/distutils/fcompiler/pg.py
Labels: 00 - Bug, 08 - Backport, component: numpy.distutils

#12812 BUG: double decref of dtype in failure codepath. Test and fix
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12813 BUG, DOC: test, fix that f2py.compile accepts str and bytes, rework docs
  doc/source/f2py/run_main_session.dat
  doc/source/f2py/usage.rst
  numpy/f2py/__init__.py
  numpy/f2py/f2py2e.py
  numpy/f2py/tests/test_compile_function.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.f2py

#12683 ENH: add mm->qm divmod
  doc/release/1.17.0-notes.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/src/umath/ufunc_type_resolution.h
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, 01 - Enhancement, 09 - Backport-Candidate, 56 - Needs Release Note., component: numpy.datetime64

#12754 BUG: Check paths are unicode, bytes or path-like
  numpy/compat/py3k.py
  numpy/compat/tests/test_compat.py
Labels: 00 - Bug, 06 - Regression, component: numpy.lib

#12820 ENH: Add mm->qm divmod
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/src/umath/ufunc_type_resolution.h
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, 01 - Enhancement, 08 - Backport, component: numpy.datetime64

#12830 ENH: __array_function__ updates for NumPy 1.17.0
  .travis.yml
  azure-pipelines.yml
  doc/release/1.17.0-notes.rst
  numpy/core/overrides.py
  numpy/core/shape_base.py
  numpy/core/tests/test_overrides.py
  numpy/lib/shape_base.py
  numpy/lib/ufunclike.py
  numpy/testing/tests/test_utils.py
  tools/travis-test.sh
Labels: 01 - Enhancement, component: numpy.core

#12824 BUG: fix to check before apply `shlex.split`
  numpy/distutils/fcompiler/__init__.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.distutils

#12748 BUG: Fix SystemError when pickling datetime64 array with pickle5
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12722 BUG: Fix rounding of denormals in double and float to half casts …
  doc/release/1.17.0-notes.rst
  numpy/core/src/npymath/halffloat.c
  numpy/core/tests/test_half.py
Labels: 00 - Bug, 09 - Backport-Candidate, 56 - Needs Release Note.

#12843 BUG: fix to check before apply `shlex.split`
  numpy/distutils/fcompiler/__init__.py
Labels: 00 - Bug, 08 - Backport, component: numpy.distutils

#12844 BUG: Fix SystemError when pickling datetime64 array with pickle5
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12845 BUG: Fix rounding of denormals in double and float to half casts.
  numpy/core/src/npymath/halffloat.c
  numpy/core/tests/test_half.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12851 TEST: use xenial by default for travis
  .travis.yml
Labels: 05 - Testing

#12854 BUG: do not Py_DECREF NULL pointer
  numpy/core/src/multiarray/methods.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12863 TEST: pin mingw version
  azure-pipelines.yml
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate

#12866 DOC: link to benchmarking info
  doc/source/_templates/indexcontent.html
  doc/source/benchmarking.rst
Labels: 04 - Documentation, 28 - Benchmark

#12842 BUG: ndarrays pickled by 1.16 cannot be loaded by 1.15.4 and lower
  numpy/core/multiarray.py
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12869 BUG: ndarrays pickled by 1.16 cannot be loaded by 1.15.4 and lower
  numpy/core/multiarray.py
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12870 BUG: do not Py_DECREF NULL pointer
  numpy/core/src/multiarray/methods.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12867 TST: Use same OpenBLAS build for testing as for current wheels.
  azure-pipelines.yml
Labels: 05 - Testing

#12857 STY: simplify code
  numpy/core/src/multiarray/getset.c
Labels: 03 - Maintenance, 25 - WIP, component: numpy.core

#12877 Remove deprecated ``sudo: false`` from .travis.yml
  .travis.yml
Labels: 05 - Testing

#12871 ENH: add c-imported modules to namespace for freeze analysis
  numpy/core/__init__.py
Labels: 01 - Enhancement, 09 - Backport-Candidate

#12850 BUG: fail if old multiarray module detected
  numpy/core/__init__.py
  numpy/core/setup.py
  numpy/core/src/multiarray/_multiarray_module_test.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#12891 BUG: fail if old multiarray module detected
  numpy/core/__init__.py
  numpy/core/setup.py
  numpy/core/src/multiarray/_multiarray_module_test.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#12892 BUG: Do not double-quote arguments passed on to the linker
  numpy/distutils/fcompiler/absoft.py
  numpy/distutils/fcompiler/gnu.py
  numpy/distutils/fcompiler/intel.py
  numpy/distutils/fcompiler/pg.py
  numpy/distutils/fcompiler/sun.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.distutils

#12418 WIP, ENH: Add timsort to npysort
  .gitignore
  doc/release/1.17.0-notes.rst
  doc/source/reference/c-api.array.rst
  numpy/core/_add_newdocs.py
  numpy/core/fromnumeric.py
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/setup.py
  numpy/core/src/common/npy_sort.h.src
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/npysort/npysort_common.h
  numpy/core/src/npysort/timsort.c.src
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, 25 - WIP, component: numpy.core

#12743 BUG: Fix crash in error message formatting introduced by gh-11230
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 06 - Regression, component: numpy.einsum

#12898 BUG: Do not double-quote arguments passed on to the linker
  numpy/distutils/fcompiler/absoft.py
  numpy/distutils/fcompiler/gnu.py
  numpy/distutils/fcompiler/intel.py
  numpy/distutils/fcompiler/pg.py
  numpy/distutils/fcompiler/sun.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#12899 BUG: Do not insert extra double quote into preprocessor macros
  numpy/distutils/system_info.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.distutils

#12902 DOC: Prepare for 1.16.1 release.
  .mailmap
  doc/changelog/1.16.1-changelog.rst
  doc/release/1.16.1-notes.rst
  doc/source/release.rst
Labels: 03 - Maintenance, 04 - Documentation

#12903 TST: fix vmImage dispatch in Azure
  azure-pipelines.yml
Labels: 05 - Testing, 09 - Backport-Candidate
