Repository numpy/numpy, pull requests merged in 2019-04, with the labels that each got.

#13177 BUG: Fix of `var` method for complex arrays
  numpy/core/_methods.py
  numpy/core/tests/test_numeric.py
Labels: 00 - Bug, component: numpy.core

#13176 BUG: fix reference count error on invalid input to ndarray.flat
  numpy/core/src/multiarray/iterators.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13231 DOC: Change the required Sphinx version to build documentation
  doc/source/docs/howto_build_docs.rst
Labels: 04 - Documentation

#13244 DOC: Improve mtrand docstrings
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, component: numpy.random

#13242 DOC: fix docstring for floor_divide
  numpy/core/code_generators/ufunc_docstrings.py
  numpy/ma/core.py
Labels: 04 - Documentation

#13243 MAINT: replace SETREF with assignment to ret array in ndarray.flat
  numpy/core/src/multiarray/iterators.c
Labels: 03 - Maintenance, component: numpy.core

#13253 TST: fail Azure CI if test failures
  azure-pipelines.yml
Labels: 05 - Testing

#13234 DOC : PyArray_Descr.names undocumented
  doc/source/reference/c-api.types-and-structures.rst
Labels: 04 - Documentation

#13269 MAINT: f2py: Add a cast to avoid a compiler warning.
  numpy/f2py/src/fortranobject.c
Labels: 03 - Maintenance, component: numpy.f2py

#13262 DOC : Correcting bug on Documentation Page (Byteswapping)
  numpy/doc/byteswapping.py
Labels: 04 - Documentation, component: Documentation

#13274 MAINT: f2py: Add a cast to avoid a compiler warning.
  numpy/f2py/src/fortranobject.c
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, component: numpy.f2py

#13275 BUG, MAINT: fix reference count error on invalid input to ndarray.flat
  numpy/core/src/multiarray/iterators.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, component: numpy.core

#13276 ENH: Cast covariance to double in random mvnormal
  numpy/random/mtrand/mtrand.pyx
  numpy/random/tests/test_random.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.random

#13273 BUG: Fix null pointer dereference in PyArray_DTypeFromObject
  numpy/core/src/multiarray/common.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13278 BUG: Fix null pointer dereference in PyArray_DTypeFromObjectHelper
  numpy/core/src/multiarray/common.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13259 DOC: Small readability improvement
  numpy/random/mtrand/mtrand.pyx
Labels: 04 - Documentation, component: numpy.random

#13264 TST: use OpenBLAS v0.3.5 for POWER8 CI runs
  .travis.yml
  tools/travis-before-install.sh
Labels: 05 - Testing

#13270 TST: use OpenBLAS v0.3.5 for ARMv8 CI
  shippable.yml
Labels: 05 - Testing

#13202 ENH: use rotated companion matrix to reduce error
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
Labels: 01 - Enhancement, component: numpy.polynomial

#13219 ENH: nan_to_num keyword addition (was #9355)
  doc/release/1.17.0-notes.rst
  numpy/lib/tests/test_type_check.py
  numpy/lib/type_check.py
Labels: 01 - Enhancement, 56 - Needs Release Note., component: numpy.lib

#13161 BLD: streamlined CBLAS linkage tries, default to try libraries *as-is*
  numpy/distutils/system_info.py
Labels: 01 - Enhancement, 03 - Maintenance, component: build

#13291 MAINT: fix unused variable warning in npy_math_complex.c.src
  numpy/core/src/npymath/npy_math_complex.c.src
Labels: 03 - Maintenance, component: numpy.core

#13060 BUG: Use C call to sysctlbyname for AVX detection on MacOS
  numpy/_build_utils/src/apple_sgemv_fix.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: build

#13289 DOC: add Quansight Labs as an Institutional Partner
  doc/source/dev/governance/people.rst
Labels: 04 - Documentation

#13309 DOC: list Quansight rather than Quansight Labs as Institutional Partner.
  doc/source/dev/governance/people.rst
  doc/source/user/quickstart.rst
Labels: 04 - Documentation

#13301 BUG: Fix crash when calling savetxt on a padded array
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.lib

#13313 MAINT: fix typo in 'self'
  numpy/distutils/fcompiler/__init__.py
Labels: 03 - Maintenance

#13310 Add project_urls to setup
  setup.py
Labels: 04 - Documentation

#13314 DOC: remove misplaced section at bottom of governance people page
  doc/source/dev/governance/people.rst
Labels: 04 - Documentation

#13311 BUG: Fix bad error message in np.memmap
  numpy/core/memmap.py
  numpy/core/tests/test_memmap.py
Labels: 00 - Bug, component: numpy.core

#11829 MAINT: Use textwrap.dedent in f2py tests
  numpy/f2py/tests/test_callback.py
  numpy/f2py/tests/test_mixed.py
  numpy/f2py/tests/util.py
Labels: 03 - Maintenance, component: numpy.f2py

#13320 MAINT: remove unused file
  MANIFEST.in
  numpy/random/mtrand/generate_mtrand_c.py
Labels: 03 - Maintenance, component: build

#13321 MAINT: Move exceptions from core._internal to core._exceptions
  numpy/core/_exceptions.py
  numpy/core/_internal.py
  numpy/core/numeric.py
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 03 - Maintenance, component: numpy.core

#13323 BUG: ufunc.at iteration variable size fix
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core, component: numpy.ufunc

#13324 MAINT: Move asarray helpers into their own module
  numpy/core/_asarray.py
  numpy/core/_methods.py
  numpy/core/fromnumeric.py
  numpy/core/numeric.py
Labels: 03 - Maintenance, component: numpy.core

#13322 MAINT: Move umath error helpers into their own module
  numpy/core/_add_newdocs.py
  numpy/core/_ufunc_config.py
  numpy/core/machar.py
  numpy/core/numeric.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.core, component: numpy.ufunc

#13328 MAINT: Tidy up error message for accumulate and reduceat
  numpy/core/src/umath/ufunc_object.c
Labels: 03 - Maintenance, component: numpy.ufunc

#13316 DOC: Added anti-diagonal examples to np.diagonal and np.fill_diagonal
  numpy/core/fromnumeric.py
  numpy/lib/index_tricks.py
Labels: 04 - Documentation

#13335 DOC: Add as_ctypes_type to the documentation
  doc/release/1.16.1-notes.rst
  doc/release/1.17.0-notes.rst
  doc/source/reference/routines.ctypeslib.rst
  numpy/ctypeslib.py
Labels: 04 - Documentation, 09 - Backport-Candidate

#13312 BUG: Close files if an error occurs in genfromtxt
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, component: numpy.lib

#13331 DOC, BLD: fix doc build issues in preparation for the next numpydoc release
  numpy/core/_add_newdocs.py
  numpy/core/fromnumeric.py
  numpy/core/numerictypes.py
  numpy/lib/function_base.py
  numpy/lib/polynomial.py
  numpy/ma/extras.py
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
Labels: 03 - Maintenance, 04 - Documentation

#13341 BUG: ufunc.at iteration variable size fix
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core, component: numpy.ufunc

#13340 BUG: Fix crash when calling savetxt on a padded array
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#13339 BUG: Use C call to sysctlbyname for AVX detection on MacOS.
  numpy/_build_utils/src/apple_sgemv_fix.c
Labels: 00 - Bug, 08 - Backport, component: build

#13342 DOC: Add as_ctypes_type to the documentation
  doc/release/1.16.1-notes.rst
  doc/source/reference/routines.ctypeslib.rst
  numpy/ctypeslib.py
Labels: 04 - Documentation, 08 - Backport

#13348 BUG: Return the coefficients array directly
  numpy/lib/polynomial.py
  numpy/lib/tests/test_polynomial.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate

#13346 BUG/MAINT: Tidy typeinfo.h and .c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/typeinfo.c
  numpy/core/src/multiarray/typeinfo.h
Labels: 00 - Bug, 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#13337 DOC: Add docstrings for consistency in aliases
  doc/source/reference/routines.math.rst
  doc/source/reference/ufuncs.rst
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 04 - Documentation

#13350 BUG: Return the coefficients array directly
  numpy/lib/polynomial.py
  numpy/lib/tests/test_polynomial.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#13351 BUG/MAINT: Tidy typeinfo.h and .c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/typeinfo.c
  numpy/core/src/multiarray/typeinfo.h
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, component: numpy.core

#12889 BUG: Make allow_pickle=False the default for loading
  doc/release/1.17.0-notes.rst
  numpy/core/tests/test_regression.py
  numpy/lib/format.py
  numpy/lib/npyio.py
  numpy/lib/tests/test_format.py
  numpy/lib/tests/test_io.py
Labels: 09 - Backport-Candidate, 30 - API, component: numpy.lib

#13359 BUG: Make allow_pickle=False the default for loading
  doc/release/1.16.3-notes.rst
  numpy/core/tests/test_regression.py
  numpy/lib/format.py
  numpy/lib/npyio.py
  numpy/lib/tests/test_format.py
  numpy/lib/tests/test_io.py
Labels: 08 - Backport, 30 - API, component: numpy.lib

#13360 DOC: fix some doctest failures
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 04 - Documentation, 08 - Backport, component: numpy.ufunc

#13293 DOC: add more info to failure message
  numpy/core/__init__.py
Labels: 01 - Enhancement, 04 - Documentation

#13354 TST: Added test_fftpocket.py::test_axes
  numpy/fft/tests/test_pocketfft.py
Labels: 05 - Testing, component: numpy.fft

#11684 BUG: Raise when unravel_index, ravel_multi_index are given empty input
  numpy/core/src/multiarray/compiled_base.c
  numpy/lib/tests/test_index_tricks.py
Labels: 00 - Bug

#13218 ENH: `isfinite` support for `datetime64` and `timedelta64`
  doc/release/1.17.0-notes.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/src/umath/ufunc_type_resolution.h
  numpy/core/tests/test_datetime.py
Labels: 01 - Enhancement, 56 - Needs Release Note., component: numpy.dtype

#10741 ENH: Implement `np.floating.as_integer_ratio`
  doc/release/1.17.0-notes.rst
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_scalar_methods.py
Labels: 01 - Enhancement, 54 - Needs decision, component: numpy.core

#8662 ENH: preserve subclasses in ufunc.outer
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.core, component: numpy.matrixlib

#13134 ENH: Use AVX for float32 implementation of np.exp & np.log
  doc/release/1.17.0-notes.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/include/numpy/npy_common.h
  numpy/core/include/numpy/npy_math.h
  numpy/core/setup.py
  numpy/core/setup_common.py
  numpy/core/src/umath/cpuid.c
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/simd.inc.src
  numpy/distutils/command/autodist.py
  numpy/distutils/command/config.py
Labels: 01 - Enhancement, component: numpy.core

#13374 DOC: Specify range for numpy.angle
  numpy/lib/function_base.py
Labels: 04 - Documentation

#13379 BLD: address mingw-w64 issue. Follow-up to gh-9977
  numpy/core/setup.py
Labels: 09 - Backport-Candidate, component: build

#13381 BLD: address mingw-w64 issue. Follow-up to gh-9977
  numpy/core/setup.py
Labels: 08 - Backport, component: build

#13382 REL: Prepare for the NumPy release.
  .mailmap
  doc/changelog/1.16.3-changelog.rst
  doc/release/1.16.3-notes.rst
Labels: 14 - Release, component: Documentation

#13383 MAINT, DOC: Post 1.16.3 release updates
  .mailmap
  doc/changelog/1.16.3-changelog.rst
  doc/release/1.16.3-notes.rst
  doc/source/release.rst
Labels: 03 - Maintenance, 04 - Documentation

#12594 DEV, BUILD: add pypy3 to azure CI
  azure-pipelines.yml
  numpy/core/_internal.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_numerictypes.py
  numpy/f2py/tests/test_block_docstring.py
  numpy/lib/tests/test_function_base.py
  numpy/testing/_private/utils.py
  tools/pypy-test.sh
Labels: 01 - Enhancement, 16 - Development, 24 - PyPy

#13371 BUG/ENH: Make floor, ceil, and trunc call the matching special methods
  doc/release/1.17.0-notes.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/funcs.inc.src
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.ufunc

#13388 BUG: Some PyPy versions lack PyStructSequence_InitType2.
  numpy/core/src/multiarray/typeinfo.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#13392 BUG: Some PyPy versions lack PyStructSequence_InitType2.
  numpy/core/src/multiarray/typeinfo.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#13391 MAINT, DEP: Fix deprecated ``assertEquals()``
  tools/swig/test/testFlat.py
  tools/swig/test/testFortran.py
  tools/swig/test/testMatrix.py
  tools/swig/test/testSuperTensor.py
  tools/swig/test/testTensor.py
  tools/swig/test/testVector.py
Labels: 03 - Maintenance, 07 - Deprecation, component: swig

#13394 MAINT, DEP: Fix deprecated ``assertEquals()``
  tools/swig/test/testFlat.py
  tools/swig/test/testFortran.py
  tools/swig/test/testMatrix.py
  tools/swig/test/testSuperTensor.py
  tools/swig/test/testTensor.py
  tools/swig/test/testVector.py
Labels: 03 - Maintenance, 07 - Deprecation, 08 - Backport, component: swig

#13367 DOC: reorganize developer docs, use scikit-image as a base for change
  doc/source/dev/development_workflow.rst
  doc/source/dev/gitwash/following_latest.rst
  doc/source/dev/gitwash/git_development.rst
  doc/source/dev/gitwash/git_intro.rst
  doc/source/dev/gitwash/git_links.inc
  doc/source/dev/gitwash/index.rst
  doc/source/dev/index.rst
  doc/source/dev/pull_button.png
Labels: 04 - Documentation

#13403 DOC: fix typos in dev/index
  doc/source/dev/index.rst
Labels: 04 - Documentation

#13046 ENH: Add shape to *_like() array creation
  doc/release/1.17.0-notes.rst
  numpy/core/multiarray.py
  numpy/core/numeric.py
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/ctors.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement, component: numpy.core

#13334 BUG: Fix structured_to_unstructured on single-field types
  doc/release/1.17.0-notes.rst
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, 09 - Backport-Candidate

#13390 ENH: Add support for Fraction to percentile and quantile
  doc/release/1.17.0-notes.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement, component: numpy.lib

#13306 MAINT: better MemoryError message (#13225)
  doc/release/1.17.0-notes.rst
  numpy/core/_exceptions.py
  numpy/core/src/multiarray/ctors.c
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.core

#13395 DOC: note re defaults allclose to assert_allclose
  numpy/testing/_private/utils.py
Labels: 04 - Documentation, 05 - Testing

#13409 BUG: (py2 only) fix unicode support for savetxt fmt string
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.lib

#13396 BUG: Fix structured_to_unstructured on single-field types (backport)
  doc/release/1.16.4-notes.rst
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 08 - Backport

#13250 MAINT: Improve efficiency of pad by avoiding use of apply_along_axis
  numpy/lib/arraypad.py
Labels: 03 - Maintenance, component: numpy.lib

#8641 BUG: Preserve types of empty arrays in ix_ when known
  numpy/lib/index_tricks.py
  numpy/lib/tests/test_index_tricks.py
Labels: 00 - Bug, component: numpy.lib

#13435 BUG: blindly add TypeError to accepted exceptions
  numpy/f2py/crackfortran.py
Labels: 09 - Backport-Candidate, component: numpy.f2py

#13436 TST: Add file-not-closed check to LGTM analysis.
  .lgtm.yml
Labels: 05 - Testing

#13157 BLD: streamlined library names in site.cfg sections
  numpy/distutils/system_info.py
  numpy/distutils/tests/test_system_info.py
  site.cfg.example
Labels: 03 - Maintenance, component: build

#13413 DOC: document existence of linalg backends
  doc/source/reference/routines.linalg.rst
Labels: 04 - Documentation
