Repository numpy/numpy, pull requests merged in 2019-09, with the labels that each got.

#14392 DOC: update np.around docstring with note about floating-point error
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#14378 BUILD: move all test dependencies to ./test_requirements.txt
  .appveyor.yml
  azure-pipelines.yml
  test_requirements.txt
  tools/ci/appveyor/requirements.txt
  tools/pypy-test.sh
  tools/travis-before-install.sh
  tools/travis-test.sh
Labels: 05 - Testing, component: build

#14404 BLD: Update RELEASE_WALKTHROUGH and cythonize.
  doc/RELEASE_WALKTHROUGH.rst.txt
  tools/cythonize.py
Labels: 32 - Installation, component: Documentation, component: build

#14408 TST: Remove build job since we now use Dependabot
  azure-pipelines.yml
Labels: 05 - Testing, component: CI

#14411 TST: Add dependabot config file.
  .dependabot/config.yml
Labels: 05 - Testing, component: CI

#14352 MAINT: Remove redundant deprecation checks
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#14416 BUG: Fix format statement associated with AttributeError.
  numpy/__init__.py
Labels: 00 - Bug

#12284 ENH: supply our version of numpy.pxd, requires cython>=0.29
  .lgtm.yml
  MANIFEST.in
  doc/release/upcoming_changes/12284.new_feature.rst
  numpy/__init__.pxd
Labels: 01 - Enhancement, component: build, component: numpy.random

#14417 BUG: Fix aradixsort indirect indexing.
  numpy/core/src/npysort/radixsort.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate

#14418 BUG: Fix aradixsort indirect indexing.
  numpy/core/src/npysort/radixsort.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.core

#14395 DOC: fix issue with __new__ usage in subclassing doc.
  numpy/doc/subclassing.py
Labels: 04 - Documentation, component: Documentation

#14387 BUG: test, fix regression in converting to ctypes
  numpy/core/tests/test_regression.py
  numpy/ctypeslib.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.core

#14421 BUG: test, fix regression in converting to ctypes
  numpy/core/tests/test_regression.py
  numpy/ctypeslib.py
Labels: 00 - Bug, 06 - Regression, component: numpy.ctypes

#14423 BUG: test, fix regression in converting to ctypes.
  numpy/core/tests/test_regression.py
  numpy/ctypeslib.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.ctypes

#14420 DOC: Fix a minor typo in dispatch documentation.
  numpy/doc/dispatch.py
Labels: 04 - Documentation, 08 - Backport

#13802 BUG: Fixed maximum relative error reporting in assert_allclose
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.testing

#14340 BUG: Fix misuse of .names and .fields in various places (backport 14290 to 1.16)
  numpy/core/_internal.py
  numpy/core/arrayprint.py
  numpy/core/records.py
  numpy/core/tests/test_records.py
  numpy/core/tests/test_regression.py
  numpy/ctypeslib.py
  numpy/lib/_iotools.py
  numpy/lib/npyio.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_io.py
  numpy/lib/tests/test_recfunctions.py
  numpy/ma/mrecords.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core, component: numpy.dtype

#14209 BUG: Fix uint-overflow if padding with linear_ramp and negative gain
  numpy/lib/arraypad.py
  numpy/lib/tests/test_arraypad.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.lib

#14429 BUG: Do not show Override module in private error classes.
  numpy/core/_exceptions.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#14432 BUG: Fixed maximum relative error reporting in assert_allclose.
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, 08 - Backport, component: numpy.testing

#14430 BUG: Do not show Override module in private error classes.
  numpy/core/_exceptions.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14433 BUG: Fix uint-overflow if padding with linear_ramp and negative gain.
  numpy/lib/arraypad.py
  numpy/lib/tests/test_arraypad.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.lib

#14434 BUG: Fixed maximum relative error reporting in assert_allclose
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 00 - Bug, 08 - Backport, component: numpy.testing

#14279 BUG: Fix ZeroDivisionError for zero length arrays in pocketfft.
  numpy/fft/pocketfft.py
Labels: 00 - Bug, component: numpy.fft

#14436 BUG: Update 1.17.x with 1.18.0-dev pocketfft.py.
  numpy/fft/pocketfft.py
Labels: 00 - Bug, 08 - Backport, component: numpy.fft

#14426 DOC: add the reference to 'printoptions'
  numpy/core/arrayprint.py
Labels: 04 - Documentation, component: numpy.core

#13610 ENH: Always produce a consistent shape in the result of `argwhere`
  doc/release/upcoming_changes/13610.improvement.rst
  numpy/core/numeric.py
  numpy/core/shape_base.py
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement

#14448 REL: Update master after 1.17.2 release.
  doc/changelog/1.17.2-changelog.rst
  doc/source/release.rst
  doc/source/release/1.17.2-notes.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#14355 DOC: clarify that PytestTester is non-public
  numpy/_pytesttester.py
Labels: 04 - Documentation

#14360 DOC: random: fix doc linking, was referencing private submodules.
  doc/source/reference/random/bit_generators/mt19937.rst
  doc/source/reference/random/bit_generators/pcg64.rst
  doc/source/reference/random/bit_generators/philox.rst
  doc/source/reference/random/bit_generators/sfc64.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/legacy.rst
  numpy/random/mtrand.pyx
Labels: 04 - Documentation, 09 - Backport-Candidate, component: Documentation, component: numpy.random

#14257 MAINT: Update NEP-30
  doc/neps/nep-0030-duck-array-protocol.rst
Labels: 03 - Maintenance, component: NEP

#14452 MAINT: clean up pocketfft modules inside numpy.fft namespace
  numpy/fft/__init__.py
  numpy/fft/_pocketfft.c
  numpy/fft/_pocketfft.py
  numpy/fft/info.py
  numpy/fft/setup.py
Labels: 03 - Maintenance, component: numpy.fft

#14393 BUG: view with fieldless dtype should raise if itemsize != 0
  doc/release/upcoming_changes/14393.c_api.rst
  doc/source/reference/c-api/array.rst
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_dtype.py
Labels: 00 - Bug, component: numpy.core

#14410 BLD: Only allow using Cython module when cythonizing.
  tools/cythonize.py
Labels: 03 - Maintenance, 32 - Installation, component: build

#14453 BLD: remove generated Cython files from sdist
  MANIFEST.in
  pyproject.toml
  setup.py
  tools/cythonize.py
Labels: component: distribution

#14456 MAINT: clean up pocketfft modules inside numpy.fft namespace.
  numpy/fft/__init__.py
  numpy/fft/_pocketfft.c
  numpy/fft/_pocketfft.py
  numpy/fft/info.py
  numpy/fft/setup.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.fft

#14349 MAINT: Fix bloated mismatch error percentage in array comparisons.
  numpy/testing/_private/utils.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, component: numpy.testing

#14458 BUG: random.hypergeometic assumes npy_long is npy_int64, hangs ppc64
  numpy/random/mtrand.pyx
Labels: 00 - Bug, 09 - Backport-Candidate

#14460 MAINT: use test_requirements.txt in tox and shippable, ship it too
  MANIFEST.in
  shippable.yml
  tox.ini
Labels: 03 - Maintenance, component: build

#14211 BUG: Fix uint-overflow if padding with linear_ramp and negative gain (backport)
  numpy/lib/arraypad.py
  numpy/lib/tests/test_arraypad.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#14463 BUG: random.hypergeometic assumes npy_long is npy_int64, hung ppc64
  numpy/random/mtrand.pyx
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#14459 ENH: Print the amount of memory that would be used by a failed allocation
  numpy/core/_exceptions.py
  numpy/core/tests/test__exceptions.py
Labels: 01 - Enhancement, component: numpy.core

#14399 NEP 32: Remove the financial functions from NumPy
  doc/neps/nep-0032-remove-financial-functions.rst
Labels: component: NEP

#12205 MAINT: avoid relying on `np.generic.__name__` in `np.dtype.name`
  numpy/core/_dtype.py
Labels: 03 - Maintenance, 25 - WIP

#14486 MAINT: distutils: Add newline at the end of printed warnings.
  numpy/distutils/misc_util.py
Labels: 00 - Bug, component: numpy.distutils

#14472 BUG: core: Fix the str function of the rational dtype.
  numpy/core/src/umath/_rational_tests.c.src
Labels: 00 - Bug, component: numpy.core

#14483 BUG,MAINT: Some fixes and minor cleanup based on clang analysis
  numpy/core/src/multiarray/convert.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/multiarray/iterators.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_api.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/multiarray/shape.c
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, 03 - Maintenance

#14477 MAINT: Extract raising of MemoryError to a helper function
  numpy/core/src/multiarray/ctors.c
Labels: 03 - Maintenance

#14499 DOC: Add backslashes so PyUFunc_FromFuncAndDataAndSignatureAndIdentity renders correctly with sphinx.
  doc/source/reference/c-api/ufunc.rst
Labels: 00 - Bug, 04 - Documentation, component: Documentation

#14500 DOC: Fix a minor typo in changelog readme
  doc/release/upcoming_changes/README.rst
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#14495 ENH: Allow NPY_PKG_CONFIG_PATH environment variable override
  numpy/distutils/misc_util.py
Labels: 01 - Enhancement, component: build, component: numpy.distutils

#14506 MAINT: Update pytest version for Python 3.8
  tools/travis-before-install.sh
Labels: 03 - Maintenance, component: CI

#14504 BUG: add a specialized loop for boolean matmul.
  numpy/core/src/umath/matmul.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.core

#14503 DOC: tweak np.round docstring to clarify floating-point error
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#14502 BUG: random: Revert gh-14458 and refix gh-14557.
  numpy/random/mtrand.pyx
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#13739 BUG: Don't produce undefined behavior for a << b if b >= bitsof(a)
  numpy/core/include/numpy/npy_math.h
  numpy/core/setup.py
  numpy/core/setup_common.py
  numpy/core/src/npymath/npy_math_internal.h.src
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/scalarmath.c.src
  numpy/core/tests/test_scalarmath.py
Labels: 00 - Bug, component: numpy.core

#14509 BUG: Fix regression in boolean matmul.
  doc/release/1.16.6-notes.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/matmul.c.src
  numpy/core/src/umath/matmul.h.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.core

#14513 BUG,MAINT: Some fixes and minor cleanup based on clang analysis
  numpy/core/src/multiarray/convert.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/multiarray/iterators.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_api.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/multiarray/shape.c
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport

#14510 API: Do not return None from recfunctions.drop_fields
  doc/release/upcoming_changes/14510.compatibility.rst
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 30 - API, component: numpy.lib

#14501 BUG: Fix randint when range is 2**32
  doc/release/upcoming_changes/14501.improvement.rst
  numpy/random/src/distributions/distributions.c
  numpy/random/tests/test_randomstate_regression.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.random

#14515 BUG: Fix randint when range is 2**32
  doc/release/upcoming_changes/14501.improvement.rst
  numpy/random/src/distributions/distributions.c
  numpy/random/tests/test_randomstate_regression.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.random

#14498 MAINT: remove the entropy c-extension module
  doc/release/upcoming_changes/14498.changes.rst
  doc/source/reference/random/entropy.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  numpy/random/__init__.py
  numpy/random/entropy.pyx
  numpy/random/mt19937.pyx
  numpy/random/setup.py
  numpy/random/src/entropy/entropy.c
  numpy/random/src/entropy/entropy.h
  numpy/random/tests/test_smoke.py
Labels: component: numpy.random

#14519 MAINT: remove the entropy c-extension module
  doc/release/upcoming_changes/14498.changes.rst
  doc/source/reference/random/entropy.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  numpy/random/__init__.py
  numpy/random/entropy.pyx
  numpy/random/mt19937.pyx
  numpy/random/setup.py
  numpy/random/src/entropy/entropy.c
  numpy/random/src/entropy/entropy.h
  numpy/random/tests/test_smoke.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.random

#13829 ENH: Add axis argument to random.permutation and random.shuffle
  changelog/13829.enhancement.rst
  numpy/random/generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 03 - Maintenance, 56 - Needs Release Note., component: numpy.random

#14511 BUG: Fix flatten_dtype so that nested 0-field structs are flattened correctly
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_recfunctions.py
Labels: 00 - Bug, component: numpy.lib

#14514 DOC: Build release notes during CircleCI step
  .circleci/config.yml
  doc/release/upcoming_changes/10151.improvement.rst
  doc/release/upcoming_changes/13605.deprecation.rst
  doc/release/upcoming_changes/14100.expired.rst
  doc/release/upcoming_changes/14248.change.rst
  doc/release/upcoming_changes/14248.changes.rst
  doc/release/upcoming_changes/template.rst
  doc/source/release.rst
  doc/source/release/1.18.0-notes.rst
  pyproject.toml
  tools/ci/test_all_newsfragments_used.py
Labels: 04 - Documentation, component: CI

#14523 MAINT: random: Remove a few duplicated C function prototypes.
  numpy/random/src/legacy/legacy-distributions.h
Labels: 03 - Maintenance, component: numpy.random

#14520 Mention that split() returns views into the original array
  numpy/lib/shape_base.py
Labels: 04 - Documentation

#14535 DOC: Fix a bit of code in 'Beyond the Basics' C API user guide.
  doc/source/user/c-info.beyond-basics.rst
Labels: 04 - Documentation

#12828 DOC: Updates to nditer usage instructions
  doc/source/reference/arrays.nditer.rst
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, 25 - WIP, component: Documentation

#14545 Changing ImportWarning to DeprecationWarning
  numpy/testing/utils.py
Labels: 07 - Deprecation, component: numpy.core, component: numpy.testing

#14529 MAINT: Advise implementing __array__ in duck arrays.
  doc/neps/nep-0030-duck-array-protocol.rst
Labels: 03 - Maintenance, component: NEP

#14223 TST: Add tests for deprecated C functions (PyArray_As1D, PyArray_As1D)
  doc/release/upcoming_changes/14036.deprecation.rst
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/tests/test_deprecations.py
Labels: 05 - Testing, 56 - Needs Release Note., component: numpy.core

#14531 BUG: random: Create a legacy implementation of random.binomial.
  numpy/random/legacy_distributions.pxd
  numpy/random/mtrand.pyx
  numpy/random/src/distributions/distributions.c
  numpy/random/src/distributions/distributions.h
  numpy/random/src/legacy/legacy-distributions.c
  numpy/random/src/legacy/legacy-distributions.h
  numpy/random/tests/test_randomstate_regression.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#14525 BUILD, MAINT: run tests with verbose for PyPY, also do not leak resource
  numpy/core/tests/test_umath_accuracy.py
  tools/pypy-test.sh
Labels: 03 - Maintenance, 24 - PyPy, component: build

#14454 MAINT: add test to prevent new public-looking modules being added
  numpy/__init__.py
  numpy/lib/__init__.py
  numpy/lib/format.py
  numpy/lib/mixins.py
  numpy/ma/version.py
  numpy/matlib.py
  numpy/tests/test_public_api.py
Labels: 05 - Testing, 30 - API, 62 - Python API changes

#14518 BUILD: Hide platform configuration probe behind --debug-configure
  azure-pipelines.yml
  doc/DISTUTILS.rst.txt
  doc/source/dev/development_environment.rst
  numpy/core/setup.py
  numpy/distutils/__init__.py
  numpy/distutils/ccompiler.py
  numpy/distutils/command/build.py
  numpy/distutils/command/build_src.py
  numpy/distutils/log.py
  numpy/distutils/system_info.py
  runtests.py
  setup.py
  shippable.yml
  tools/pypy-test.sh
  tools/travis-test.sh
Labels: component: build

#14527 BLD: add warn-error option, adds -Werror to compiler
  numpy/distutils/command/build.py
  numpy/distutils/command/build_clib.py
  numpy/distutils/command/build_ext.py
  runtests.py
Labels: component: build

#14557 DOC: remove note about Pocketfft license file (non-existing here).
  numpy/fft/README.md
Labels: 04 - Documentation, component: numpy.fft

#14554 MAINT: core: Remove duplicated inner loop ee->e from log, exp, sin, cos, sqrt.
  numpy/core/code_generators/generate_umath.py
Labels: 03 - Maintenance, component: numpy.core

#14558 DOC: Fix code that generates the table in the 'Casting Rules' section.
  doc/source/reference/ufuncs.rst
Labels: 04 - Documentation, component: Documentation

#14564 TST: ensure coercion tables aren't printed on failing public API test
  numpy/testing/print_coercion_tables.py
Labels: 03 - Maintenance

#14563 DOC: remove note about Pocketfft license file (non-existing here).
  numpy/fft/README.md
Labels: 04 - Documentation, 08 - Backport, component: numpy.fft

#14567 DEP: remove deprecated (and private) numpy.testing submodules.
  doc/release/upcoming_changes/14567.expired.rst
  doc/source/reference/routines.testing.rst
  numpy/testing/decorators.py
  numpy/testing/noseclasses.py
  numpy/testing/nosetester.py
  numpy/tests/test_public_api.py
Labels: 03 - Maintenance, component: numpy.testing

#14570 BUG: importing build_src breaks setuptools monkeypatch for msvc14
  setup.py
Labels: 00 - Bug, component: build

#14555 DOC: clarify input types in basics.io.genfromtxt.rst
  doc/source/user/basics.io.genfromtxt.rst
Labels: 04 - Documentation, component: numpy.lib

#14568 BLD, DOC: fix gh-14518, add release note
  doc/release/upcoming_changes/14518.change.rst
  numpy/distutils/command/build_src.py
Labels: 00 - Bug, 04 - Documentation, component: build

#14578 BUG: random: Create a legacy implementation of random.binomial.
  numpy/random/legacy_distributions.pxd
  numpy/random/mtrand.pyx
  numpy/random/src/distributions/distributions.c
  numpy/random/src/distributions/distributions.h
  numpy/random/src/legacy/legacy-distributions.c
  numpy/random/src/legacy/legacy-distributions.h
  numpy/random/tests/test_randomstate_regression.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.random

#14548 MAINT: Add assert that git version is available.
  setup.py
Labels: 03 - Maintenance, component: build

#14576 DOC: Document the NPY_SCALARKIND values as C variables.
  doc/source/reference/c-api/array.rst
Labels: 04 - Documentation, component: Documentation

#14356 DOC: support and require sphinx>=2.2
  .circleci/config.yml
  azure-pipelines.yml
  doc/source/_templates/autosummary/base.rst
  doc/source/conf.py
Labels: 03 - Maintenance, 04 - Documentation

#14585 BUG: Add missing check for 0-sized array in ravel_multi_index
  numpy/core/src/multiarray/compiled_base.c
  numpy/lib/tests/test_index_tricks.py
Labels: 00 - Bug

#14562 MAINT: don't install partial numpy.random C/Cython API.
  numpy/random/common.pxd
  numpy/random/setup.py
  numpy/random/src/bitgen.h
  numpy/random/src/distributions/distributions.h
Labels: 03 - Maintenance, component: numpy.random

#14573 DOC: update submodule docstrings, remove info.py files
  numpy/core/__init__.py
  numpy/core/info.py
  numpy/distutils/__init__.py
  numpy/distutils/__version__.py
  numpy/distutils/info.py
  numpy/f2py/info.py
  numpy/lib/__init__.py
  numpy/lib/info.py
  numpy/linalg/__init__.py
  numpy/linalg/info.py
  numpy/random/info.py
  numpy/tests/test_public_api.py
Labels: 03 - Maintenance, 04 - Documentation, 56 - Needs Release Note.

#14595 DOC: Change the promotion table checkmark to 'Y'.
  doc/source/reference/ufuncs.rst
Labels: 04 - Documentation, component: Documentation

#14583 DEP: remove deprecated select behaviour
  doc/release/upcoming_changes/14583.expired.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 07 - Deprecation

#14534 BLD: remove unused functions, rearrange headers (from CC=clang)
  numpy/core/src/common/npy_partition.h.src
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/npymath/npy_math_complex.c.src
  numpy/core/src/umath/scalarmath.c.src
  numpy/random/src/distributions/distributions.h
  numpy/random/src/distributions/random_hypergeometric.c
  numpy/random/src/philox/philox.h
  numpy/random/src/sfc64/sfc64.h
Labels: component: build

#14600 NEP: Accept NEP 32.
  doc/neps/nep-0032-remove-financial-functions.rst
Labels: component: NEP

#14601 Fix discrepancies in NEPs
  doc/neps/nep-0000.rst
  doc/neps/nep-0019-rng-policy.rst
  doc/neps/nep-0024-missing-data-2.rst
Labels: component: NEP
