Repository numpy/numpy, pull requests merged in 2019-10, with the labels that each got.

#14447 MAINT: Clarify policy language in NEP-29.
  doc/neps/nep-0029-deprecation_policy.rst
Labels: 03 - Maintenance, component: NEP

#14586 BUG: dtype refcount cleanups
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/ctors.c
Labels: 00 - Bug

#14649 DOC: Add IPython to dependencies needed to build docs.
  doc/source/dev/index.rst
Labels: 04 - Documentation, component: Documentation

#14605 BUG: properly define PyArray_DescrCheck{,Exact}
  numpy/core/include/numpy/ndarrayobject.h
Labels: 00 - Bug, 09 - Backport-Candidate

#14662 BUG: random: Use correct length when axis is given to shuffle.
  numpy/random/generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, component: numpy.random

#14656 MAINT: Use `extract_unit` throughout datetime
  numpy/core/src/multiarray/datetime.c
Labels: component: numpy.datetime64

#14630 BUILD: change to build_src --verbose-cfg, runtests.py --debug-info
  azure-pipelines.yml
  doc/release/upcoming_changes/14518.change.rst
  numpy/distutils/command/build_src.py
  runtests.py
  shippable.yml
  tools/pypy-test.sh
  tools/travis-test.sh
Labels: component: build

#14634 DOC: Create `class Extension` docstring and add it to documentation.
  doc/source/f2py/distutils.rst
  doc/source/reference/distutils.rst
  doc/source/reference/distutils/misc_util.rst
  numpy/distutils/extension.py
Labels: 04 - Documentation, component: numpy.distutils

#14686 BUG: properly define PyArray_DescrCheck
  numpy/core/include/numpy/ndarrayobject.h
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14687 BUG: properly define PyArray_DescrCheck
  numpy/core/include/numpy/ndarrayobject.h
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#14682 DEP: ufunc `out` argument must be a tuple for multiple outputs
  doc/release/upcoming_changes/14682.expired.rst
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_umath.py
Labels: 03 - Maintenance, 07 - Deprecation, component: numpy.ufunc

#14696 DOC: Note release notes process changes on devdocs start page
  doc/source/dev/index.rst
Labels: 04 - Documentation, component: Documentation

#13885 ENH: use AVX for float32 and float64 implementation of sqrt, square, absolute, reciprocal, rint, floor, ceil and trunc
  benchmarks/benchmarks/bench_avx.py
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.core

#14368 MAINT: Avoid BytesWarning in PyArray_DescrConverter()
  numpy/core/arrayprint.py
  numpy/core/src/multiarray/descriptor.c
  numpy/f2py/__init__.py
  numpy/lib/tests/test_io.py
  tools/travis-test.sh
  tox.ini
Labels: 03 - Maintenance, component: numpy.core

#14703 TST: Adding CI stages, with one initial job to the Travis CI
  .travis.yml
Labels: 05 - Testing

#12633 BUG: General fixes to f2py reference counts (dereferencing)
  numpy/f2py/cfuncs.py
  numpy/f2py/common_rules.py
  numpy/f2py/rules.py
  numpy/f2py/src/fortranobject.c
  numpy/f2py/src/test/foomodule.c
  numpy/f2py/tests/src/array_from_pyobj/wrapmodule.c
  numpy/f2py/tests/test_compile_function.py
  numpy/f2py/tests/util.py
Labels: 00 - Bug, 58 - Ready for review, component: numpy.f2py

#14711 Removing mentions of appveyor
  .appveyor.yml
  .codecov.yml
  README.md
Labels: 05 - Testing

#14705 DOC: Switch Markdown link to RST in NEP 29
  doc/neps/nep-0029-deprecation_policy.rst
Labels: 04 - Documentation

#14469 BUG: Fix _ctypes class circular reference. (#13808)
  numpy/core/_internal.py
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#14710 DEP: Finish the out kwarg deprecation for ufunc calls
  numpy/core/src/umath/override.c
  numpy/core/tests/test_multiarray.py
Labels: 07 - Deprecation

#12129 DOC: Improve axes shift description and example in np.tensordot
  numpy/core/numeric.py
Labels: 04 - Documentation, component: numpy.core

#9301 DOC: added note to docstring of numpy.savez
  numpy/lib/npyio.py
Labels: 04 - Documentation, 55 - Needs work, component: numpy.lib

#14714 Default start to 0 for timedelta arange
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: component: numpy.datetime64

#14342 DOC: Improve documentation of `isscalar`.
  numpy/core/numeric.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.core

#14381 BUG: lib: Fix histogram problem with signed integer arrays.
  numpy/lib/histograms.py
  numpy/lib/tests/test_histograms.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.lib

#14717 API: NaT (arg)min/max behavior
  doc/release/upcoming_changes/14717.compatibility.rst
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/umath/loops.c.src
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_multiarray.py
Labels: 30 - API

#14681 MAINT: Remove unused boolean negative/subtract loops
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.h.src
Labels: 03 - Maintenance, component: numpy.ufunc

#14725 MAINT: umath: Change error message for unsupported bool subtraction.
  numpy/core/src/umath/ufunc_type_resolution.c
Labels: 03 - Maintenance

#14608 API: rearrange the cython files in numpy.random
  MANIFEST.in
  doc/source/reference/random/bit_generators/bitgenerators.rst
  doc/source/reference/random/bit_generators/index.rst
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
  doc/source/reference/random/parallel.rst
  doc/source/reference/random/performance.rst
  doc/source/release/1.17.0-notes.rst
  doc/source/user/quickstart.rst
  numpy/matlib.py
  numpy/random/__init__.py
  numpy/random/_bit_generator.pxd
  numpy/random/_bit_generator.pyx
  numpy/random/_bounded_integers.pxd
  numpy/random/_bounded_integers.pxd.in
  numpy/random/_bounded_integers.pyx
  numpy/random/_bounded_integers.pyx.in
  numpy/random/_common.pxd
  numpy/random/_common.pyx
  numpy/random/_generator.pyx
  numpy/random/_mt19937.pyx
  numpy/random/_pcg64.pyx
  numpy/random/_philox.pyx
  numpy/random/_pickle.py
  numpy/random/_sfc64.pyx
  numpy/random/distributions.pxd
  numpy/random/include/aligned_malloc.h
  numpy/random/include/bitgen.h
  numpy/random/include/distributions.h
  numpy/random/include/legacy-distributions.h
  numpy/random/legacy_distributions.pxd
  numpy/random/mtrand.pyx
  numpy/random/setup.py
  numpy/random/src/aligned_malloc/aligned_malloc.c
  numpy/random/src/distributions/distributions.c
  numpy/random/src/distributions/random_hypergeometric.c
  numpy/random/src/legacy/legacy-distributions.c
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_randomstate.py
  numpy/random/tests/test_randomstate_regression.py
  numpy/random/tests/test_seed_sequence.py
  numpy/tests/test_public_api.py
Labels: 01 - Enhancement, 30 - API, component: numpy.random

#14736 DOC: Post 1.17.3 release update.
  doc/changelog/1.17.3-changelog.rst
  doc/source/release.rst
  doc/source/release/1.17.3-notes.rst
Labels: 04 - Documentation, component: Documentation

#14723 DOC: cleaning up examples in maskedarray.generic
  doc/source/reference/maskedarray.generic.rst
Labels: 04 - Documentation, component: Documentation

#14720 DEP: deprecate financial functions.
  doc/release/upcoming_changes/14720.deprecation.rst
  numpy/lib/financial.py
  numpy/lib/tests/test_financial.py
Labels: 03 - Maintenance, 07 - Deprecation, component: numpy.lib.financial

#14699 Doc warnings
  doc/release/upcoming_changes/14510.compatibility.rst
  doc/source/reference/arrays.classes.rst
  doc/source/reference/arrays.dtypes.rst
  doc/source/reference/arrays.interface.rst
  doc/source/reference/arrays.ndarray.rst
  doc/source/reference/c-api/array.rst
  doc/source/reference/maskedarray.baseclass.rst
  doc/source/reference/routines.array-manipulation.rst
  doc/source/reference/ufuncs.rst
  numpy/core/_add_newdocs.py
  numpy/core/_internal.py
  numpy/core/arrayprint.py
  numpy/core/code_generators/ufunc_docstrings.py
  numpy/core/defchararray.py
  numpy/core/fromnumeric.py
  numpy/core/numeric.py
  numpy/core/shape_base.py
  numpy/lib/function_base.py
  numpy/lib/nanfunctions.py
  numpy/ma/core.py
  numpy/ma/extras.py
  numpy/matrixlib/defmatrix.py
Labels: 04 - Documentation

#14035 DOC: Fix docstring of numpy.allclose regarding NaNs
  numpy/core/numeric.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.core

#14389 NEP: Add initial draft of NEP-31: Context-local and global overrides of the NumPy API
  doc/neps/nep-0031-uarray.rst
Labels: component: NEP

#14693 BUG: Fix `np.einsum` errors on Power9 Linux and z/Linux
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.einsum

#14275 BUG: fixing to allow unpickling of PY3 pickles from PY2
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, 03 - Maintenance

#13794 ENH: random: Add the multivariate hypergeometric distribution.
  doc/release/upcoming_changes/13794.new_function.rst
  doc/source/reference/random/generator.rst
  numpy/random/_generator.pyx
  numpy/random/include/distributions.h
  numpy/random/setup.py
  numpy/random/src/distributions/random_mvhg_count.c
  numpy/random/src/distributions/random_mvhg_marginals.c
  numpy/random/tests/test_generator_mt19937.py
Labels: 01 - Enhancement, component: numpy.random

#14742 DOC: lib: Fix deprecation markup in financial function docstrings.
  numpy/lib/financial.py
Labels: 04 - Documentation, component: numpy.lib.financial

#14758 BLD: declare support for python 3.8
  setup.py
Labels: component: build

#14353 MAINT: polynomial: Add an N-d vander implementation used under the hood of the vander2d and vander3d functions
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#14762 MAINT: doc: Remove doc/newdtype_example/
  doc/newdtype_example/example.py
  doc/newdtype_example/floatint.c
  doc/newdtype_example/floatint/__init__.py
  doc/newdtype_example/setup.py
  doc/source/user/c-info.beyond-basics.rst
Labels: 04 - Documentation

#14734 DOC: Edit NEP procedure for better discussion
  doc/neps/nep-0000.rst
  doc/neps/nep-template.rst
Labels: component: NEP

#14777 BUG: random: biased samples from integers() with 8 or 16 bit dtype.
  numpy/random/src/distributions/distributions.c
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#14781 BUG: random: biased samples from integers() with 8 or 16 bit dtype.
  numpy/random/src/distributions/distributions.c
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#14771 TST, BUILD: add a gcc 4.8 run on ubuntu 18.04
  INSTALL.rst.txt
  azure-pipelines.yml
  doc/release/upcoming_changes/14771.improvement.rst
  doc/source/dev/development_environment.rst
  numpy/core/setup.py
  numpy/distutils/ccompiler.py
  numpy/distutils/system_info.py
  tools/travis-test.sh
Labels: 05 - Testing, component: build

#14790 DOC: random: Remove redundant 'See Also' entry in 'uniform' docstring.
  numpy/random/_generator.pyx
Labels: 04 - Documentation, component: numpy.random

#14798 NEP: move 'NEP 29 random' from Accepted to Final
  doc/neps/nep-0019-rng-policy.rst
Labels: component: NEP

#14769 BUG: fix integer size confusion in handling array's ndmin argument
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 00 - Bug

#14745 BUG: clear only attribute errors in get_attr_string.h::maybe_get_attr
  numpy/core/src/common/binop_override.h
  numpy/core/src/common/get_attr_string.h
  numpy/core/src/common/ufunc_override.c
  numpy/core/src/multiarray/arrayfunction_override.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_issue14735.py
Labels: 00 - Bug, component: numpy.core

#14669 BUG: Do not rely on undefined behaviour to cast from float to datetime
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, component: numpy.datetime64, component: numpy.dtype

#14227 ENH: Parse complex number from string
  doc/release/upcoming_changes/14227.improvement.rst
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_longdouble.py
Labels: 01 - Enhancement, component: numpy.core

#14674 NEP: add default-dtype-object-deprecation nep 34
  doc/neps/nep-0034.rst
Labels: component: NEP
