Repository numpy/numpy, pull requests merged in 2020-11, with the labels that each got.

#17675 MAINT: Update release documentation and software
  doc/RELEASE_WALKTHROUGH.rst.txt
  release_requirements.txt
  tools/changelog.py
  tools/download-wheels.py
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#17578 NEP36: include additional feedback
  doc/neps/nep-0036-fair-play.rst
Labels: component: NEP

#17670 DOC: f2py: Add a docstring for getarrlen
  numpy/f2py/crackfortran.py
Labels: 04 - Documentation, component: numpy.f2py

#17611 BUG: mac dylib treated as part of extra objects by f2py
  numpy/f2py/f2py2e.py
Labels: 00 - Bug

#17644 ENH: Add annotations for `np.core.shape_base`
  numpy/__init__.pyi
  numpy/core/shape_base.pyi
  numpy/typing/tests/data/fail/array_constructors.py
  numpy/typing/tests/data/pass/array_constructors.py
  numpy/typing/tests/data/reveal/array_constructors.py
Labels: 01 - Enhancement, static typing

#17696 REL: Update master after 1.19.4 release.
  doc/changelog/1.19.4-changelog.rst
  doc/source/release.rst
  doc/source/release/1.19.3-notes.rst
  doc/source/release/1.19.4-notes.rst
Labels: 04 - Documentation, 14 - Release

#17689 BUG: Fix small bug in ``make_lite.py``.
  numpy/linalg/lapack_lite/make_lite.py
Labels: 00 - Bug, component: numpy.linalg

#17695 TST: use a more standard workflow for PyPy
  azure-pipelines.yml
  tools/pypy-test.sh
Labels: 05 - Testing, 24 - PyPy, component: CI

#17681 SIMD: Add sum intrinsics for float/double.
  numpy/core/src/_simd/_simd.dispatch.c.src
  numpy/core/src/common/simd/avx2/arithmetic.h
  numpy/core/src/common/simd/avx512/arithmetic.h
  numpy/core/src/common/simd/neon/arithmetic.h
  numpy/core/src/common/simd/sse/arithmetic.h
  numpy/core/src/common/simd/vsx/arithmetic.h
  numpy/core/tests/test_simd.py
Labels: 01 - Enhancement, component: SIMD

#17699 MAINT: Rename `DtypeLike` to `DTypeLike`
  numpy/__init__.pyi
  numpy/core/_asarray.pyi
  numpy/core/fromnumeric.pyi
  numpy/core/function_base.pyi
  numpy/core/numeric.pyi
  numpy/core/numerictypes.pyi
  numpy/typing/__init__.py
  numpy/typing/_array_like.py
  numpy/typing/_dtype_like.py
  numpy/typing/tests/data/fail/flatiter.py
  numpy/typing/tests/data/pass/array_like.py
Labels: 03 - Maintenance, 62 - Python API, static typing

#17295 BUG,ENH: fix pickling user-scalars by allowing non-format buffer export
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/umath/_rational_tests.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 01 - Enhancement, component: numpy.core

#17701 BUG: Fixed an issue where `.pyi` files were ignored by numpy sub-packages
  numpy/distutils/setup.py
  numpy/f2py/setup.py
  numpy/fft/setup.py
  numpy/lib/setup.py
  numpy/linalg/setup.py
  numpy/ma/setup.py
  numpy/matrixlib/setup.py
  numpy/polynomial/setup.py
  numpy/random/setup.py
  numpy/testing/setup.py
  numpy/typing/setup.py
  numpy/typing/tests/test_isfile.py
Labels: 00 - Bug, static typing

#17691 DOC: Modify Templates
  doc/source/_templates/autosummary/attribute.rst
  doc/source/_templates/autosummary/base.rst
  doc/source/_templates/autosummary/member.rst
  doc/source/_templates/autosummary/method.rst
Labels: 04 - Documentation, component: Documentation

#16736 DOC: Prepend `ma.` to references in ``numpy.ma``
  doc/source/reference/routines.ma.rst
  numpy/core/fromnumeric.py
  numpy/ma/core.py
Labels: 04 - Documentation

#17711 ENH: adds type hints to numpy.version
  numpy/typing/tests/test_isfile.py
  numpy/version.pyi
  setup.py
Labels: 01 - Enhancement, static typing

#17394 ENH: Implement sliding window
  doc/release/upcoming_changes/17394.new_function.rst
  doc/source/reference/routines.indexing.rst
  numpy/lib/stride_tricks.py
  numpy/lib/tests/test_stride_tricks.py
Labels: 01 - Enhancement, 62 - Python API

#17717 MAINT: Add more files to `.gitgnore`
  .gitignore
Labels: 03 - Maintenance

#17715 REV: Revert gh-17654 - f2py incorrectly translates dimension declarations.
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/test_crackfortran.py
Labels: 34 - Reversion, component: numpy.f2py

#17720 API: Do not import sliding_window_view to main namespace
  doc/release/upcoming_changes/17394.new_function.rst
  doc/source/reference/routines.indexing.rst
  numpy/lib/stride_tricks.py
Labels: 30 - API

#17723 MAINT: Do not override `sliding_window_view` module to `numpy`
  numpy/lib/stride_tricks.py
Labels: 03 - Maintenance

#17598 BUG: Fixed file handle leak in array_tofile.
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#17738 BLD, TST: move linux jobs to github actions
  .github/actions/action.yml
  .github/workflows/build_test.yml
  .travis.yml
  tools/travis-before-install.sh
Labels: 05 - Testing, component: build

#17735 TST: Remove Python 3.6 CI testing.
  azure-pipelines.yml
Labels: 03 - Maintenance, 05 - Testing, component: CI

#17733 MAINT: ma: Remove unused `**options` from MaskedArray `__new__` method.
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 03 - Maintenance, component: numpy.ma

#17706 BUG: Raise promotion error if a DType was provided in array coercion
  doc/release/upcoming_changes/17706.compatibility.rst
  numpy/core/src/multiarray/array_coercion.c
  numpy/core/src/multiarray/dtypemeta.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 06 - Regression, Triaged

#16247 ENH:Umath Replace raw SIMD of unary float point(32-64) with NPYV - g0
  numpy/core/code_generators/generate_umath.py
  numpy/core/include/numpy/npy_common.h
  numpy/core/include/numpy/npy_math.h
  numpy/core/setup.py
  numpy/core/src/_simd/_simd.dispatch.c.src
  numpy/core/src/common/npy_cpu_features.h
  numpy/core/src/common/simd/avx2/avx2.h
  numpy/core/src/common/simd/avx2/math.h
  numpy/core/src/common/simd/avx512/avx512.h
  numpy/core/src/common/simd/avx512/math.h
  numpy/core/src/common/simd/neon/arithmetic.h
  numpy/core/src/common/simd/neon/math.h
  numpy/core/src/common/simd/neon/neon.h
  numpy/core/src/common/simd/sse/math.h
  numpy/core/src/common/simd/sse/sse.h
  numpy/core/src/common/simd/vsx/math.h
  numpy/core/src/common/simd/vsx/vsx.h
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/loops_unary_fp.dispatch.c.src
  numpy/core/src/umath/loops_utils.h
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_simd.py
Labels: 01 - Enhancement, 25 - WIP, component: SIMD

#17751 BUG: Fix segfault due to out of bound pointer in floatstatus check
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#17745 TST: add pypy3.7
  .github/actions/action.yml
  .github/workflows/build_test.yml
  tools/travis-test.sh
Labels: 05 - Testing, 24 - PyPy

#17754 DOC, TST: avoid refcount semantics in using numpy.memmap
  numpy/core/memmap.py
  numpy/lib/tests/test_format.py
Labels: 04 - Documentation, 05 - Testing

#17753 BUG: Fix buffer export dtype references
  numpy/core/src/multiarray/buffer.c
Labels: 00 - Bug

#17749 DOC: Add "performance" category to the release notes
  doc/release/upcoming_changes/13516.performance.rst
  doc/release/upcoming_changes/README.rst
  pyproject.toml
Labels: 04 - Documentation

#17756 BUG: Fix segfault due to out of bound pointer in floatstatus check
  numpy/core/src/umath/simd.inc.src
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#17768 MAINT: update link to website in FUNDING.yml
  .github/FUNDING.yml
Labels: 03 - Maintenance

#17645 BUG: fix np.timedelta64('nat').__format__ throwing an exception
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#17643 ENH: Add annotations for `np.core._ufunc_config`
  numpy/__init__.pyi
  numpy/core/_ufunc_config.pyi
  numpy/typing/tests/data/fail/ufunc_config.py
  numpy/typing/tests/data/pass/ufunc_config.py
  numpy/typing/tests/data/reveal/ufunc_config.py
Labels: 01 - Enhancement, static typing

#17673 MAINT: Refine a number of `np.generic` annotations
  numpy/__init__.pyi
  numpy/typing/tests/data/fail/scalars.py
  numpy/typing/tests/data/pass/scalars.py
  numpy/typing/tests/data/reveal/scalars.py
Labels: 03 - Maintenance, static typing

#17763 SIMD, BUG: fix reuses the previous values during the fallback to libc
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: SIMD

#17759 BLD: use BUFFERSIZE=20 in OpenBLAS
  tools/openblas_support.py
Labels: component: build

#17773 MAINT: Add BLD and STY to labeler prefixes.
  .github/pr-prefix-labeler.yml
Labels: 03 - Maintenance

#17775 BUG: Fixed file handle leak in array_tofile.
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#17774 BUG: fix np.timedelta64('nat').__format__ throwing an exception
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#17776 MAINT: Simplify Hypothesis configuration
  numpy/_pytesttester.py
  numpy/conftest.py
Labels: 03 - Maintenance

#17725 NEP: Add NEP-35 instructions on reading like= downstream
  doc/neps/nep-0035-array-creation-dispatch-with-array-function.rst
Labels: 03 - Maintenance, component: NEP

#17788 DOC: Fix up links, code blocks of release note fragments
  doc/release/upcoming_changes/16056.deprecation.rst
  doc/release/upcoming_changes/16134.compatibility.rst
  doc/release/upcoming_changes/16200.compatibility.rst
  doc/release/upcoming_changes/16815.compatibility.rst
  doc/release/upcoming_changes/16841.change.rst
  doc/release/upcoming_changes/17219.new_feature.rst
  doc/release/upcoming_changes/17535.new_function.rst
  doc/release/upcoming_changes/17596.future.rst
Labels: 04 - Documentation

#17377 BUG: ensure _UFuncNoLoopError can be pickled
  doc/source/user/quickstart.rst
  numpy/core/_exceptions.py
  numpy/core/tests/test__exceptions.py
Labels: 00 - Bug, 09 - Backport-Candidate, Triage-review

#17796 MAINT: Minor touchups in npyio
  numpy/lib/_iotools.py
  numpy/lib/npyio.py
Labels: 03 - Maintenance

#17812 Update linalg.py
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#17815 DOC: Fix empty_like docstring
  numpy/core/multiarray.py
  numpy/core/numeric.py
Labels: 04 - Documentation, component: numpy.core

#17802 MAINT: Update mailmap.
  .mailmap
Labels: 03 - Maintenance

#17805 MAINT: Set the ufunc and ndarray ops return type to `Any`
  numpy/__init__.pyi
  numpy/typing/tests/data/reveal/arithmetic.py
  numpy/typing/tests/data/reveal/bitwise_ops.py
  numpy/typing/tests/data/reveal/mod.py
Labels: 03 - Maintenance, static typing

#15852 ENH: Add where argument to np.mean
  doc/release/upcoming_changes/15852.new_feature.rst
  numpy/core/_methods.py
  numpy/core/fromnumeric.py
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, 62 - Python API, component: numpy.core

#17828 BUG: Fix incorrectly passed size in masked processing
  numpy/core/src/multiarray/lowlevel_strided_loops.c.src
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, component: numpy.core

#16205 ENH: Add ``full_output`` argument to ``f2py.compile``.
  numpy/f2py/__init__.py
Labels: 01 - Enhancement, component: numpy.f2py

#17832 BUG: Fix subarray dtype used with too large count in fromfile
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate

#17830 TST: Add back durations flag for DEBUG builds.
  .github/actions/action.yml
  .github/workflows/build_test.yml
  tools/travis-before-install.sh
  tools/travis-test.sh
Labels: 05 - Testing, component: CI

#17823 DOC: Add missing release fragments to ``upcoming_changes``.
  doc/release/upcoming_changes/15121.new_function.rst
  doc/release/upcoming_changes/16570.compatibility.rst
  doc/release/upcoming_changes/16594.new_feature.rst
  doc/release/upcoming_changes/16710.improvement.rst
  doc/release/upcoming_changes/17123.new_feature.rst
  doc/release/upcoming_changes/17195.improvement.rst
  doc/release/upcoming_changes/17284.new_feature.rst
  doc/release/upcoming_changes/17344.new_feature.rst
  release_requirements.txt
Labels: 04 - Documentation

#17838 DOC: Update the `numpy.typing` documentation
  numpy/typing/__init__.py
  numpy/typing/_add_docstring.py
Labels: 04 - Documentation, static typing

#17833 BUG: Fix pickling of scalars with NPY_LISTPICKLE
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_records.py
Labels: 00 - Bug

#17841 DOC: Fixing boilerplate code example
  numpy/_pytesttester.py
Labels: 04 - Documentation

#17844 MAINT: Add `__all__` to `numpy.typing`
  numpy/typing/__init__.py
Labels: 03 - Maintenance, component: numpy.typing, static typing

#17401 MAINT: Rewrite can-cast logic in terms of NEP 42
  azure-pipelines.yml
  doc/neps/nep-0042-new-dtypes.rst
  doc/source/reference/global_state.rst
  numpy/core/code_generators/genapi.py
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/setup.py
  numpy/core/src/multiarray/_datetime.h
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/array_method.c
  numpy/core/src/multiarray/array_method.h
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/convert_datatype.h
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/dtypemeta.c
  numpy/core/src/multiarray/legacy_dtype_implementation.c
  numpy/core/src/multiarray/legacy_dtype_implementation.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/usertypes.c
  numpy/core/src/multiarray/usertypes.h
  numpy/core/tests/test_api.py
  numpy/core/tests/test_casting_unittests.py
  numpy/core/tests/test_dtype.py
  numpy/core/tests/test_numeric.py
  numpy/testing/print_coercion_tables.py
Labels: 03 - Maintenance, 25 - WIP

#16161 BUG: Potential fix for divmod(1.0, 0.0) to raise divbyzero and return inf
  numpy/core/src/npymath/npy_math_internal.h.src
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/scalarmath.c.src
  numpy/core/tests/test_scalarmath.py
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 56 - Needs Release Note., component: numpy.core

#17848 DOC: Add release note for gh-16161.
  doc/release/upcoming_changes/16161.change.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#17855 BUG: Fix incorrect C function prototypes/declarations.
  numpy/core/src/multiarray/_datetime.h
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/convert_datatype.h
Labels: 00 - Bug, component: numpy.core

#16938 ENH,API: Store exported buffer info on the array
  doc/release/upcoming_changes/16938.c_api.rst
  doc/source/reference/c-api/types-and-structures.rst
  numpy/core/include/numpy/arrayscalars.h
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/npy_buffer.h
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_multiarray.py
Labels: 01 - Enhancement, component: numpy.core

#17655 BLD: Fix installing Numpy on z/OS
  numpy/core/src/common/npy_config.h
  numpy/distutils/unixccompiler.py
Labels: 01 - Enhancement, component: build, component: numpy.core, component: numpy.distutils

#17857 MAINT: Prepare for the NumPy 1.20.x branch.
  numpy/core/code_generators/cversions.txt
  numpy/core/include/numpy/numpyconfig.h
  numpy/core/setup_common.py
Labels: 03 - Maintenance, component: numpy.core

#17861 MAINT: Update master after 1.20.x branch.
  doc/release/upcoming_changes/13516.performance.rst
  doc/release/upcoming_changes/14882.deprecation.rst
  doc/release/upcoming_changes/15121.new_function.rst
  doc/release/upcoming_changes/15666.improvement.rst
  doc/release/upcoming_changes/15759.improvement.rst
  doc/release/upcoming_changes/15852.new_feature.rst
  doc/release/upcoming_changes/15886.deprecation.rst
  doc/release/upcoming_changes/15900.deprecation.rst
  doc/release/upcoming_changes/15997.improvement.rst
  doc/release/upcoming_changes/16056.deprecation.rst
  doc/release/upcoming_changes/16134.compatibility.rst
  doc/release/upcoming_changes/16134.improvement.rst
  doc/release/upcoming_changes/16156.deprecation.rst
  doc/release/upcoming_changes/16161.change.rst
  doc/release/upcoming_changes/16200.compatibility.rst
  doc/release/upcoming_changes/16232.deprecation.rst
  doc/release/upcoming_changes/16350.compatibility.rst
  doc/release/upcoming_changes/16476.new_feature.rst
  doc/release/upcoming_changes/16515.new_feature.rst
  doc/release/upcoming_changes/16519.improvement.rst
  doc/release/upcoming_changes/16554.compatibility.rst
  doc/release/upcoming_changes/16554.deprecation.rst
  doc/release/upcoming_changes/16554.expired.rst
  doc/release/upcoming_changes/16558.new_feature.rst
  doc/release/upcoming_changes/16570.compatibility.rst
  doc/release/upcoming_changes/16589.compatibility.rst
  doc/release/upcoming_changes/16592.compatibility.rst
  doc/release/upcoming_changes/16594.new_feature.rst
  doc/release/upcoming_changes/16650.compatibility.rst
  doc/release/upcoming_changes/16675.improvement.rst
  doc/release/upcoming_changes/16710.improvement.rst
  doc/release/upcoming_changes/16730.improvement.rst
  doc/release/upcoming_changes/16815.compatibility.rst
  doc/release/upcoming_changes/16841.change.rst
  doc/release/upcoming_changes/16938.c_api.rst
  doc/release/upcoming_changes/16986.improvement.rst
  doc/release/upcoming_changes/17010.compatibility.rst
  doc/release/upcoming_changes/17029.compatibility.rst
  doc/release/upcoming_changes/17067.expired.rst
  doc/release/upcoming_changes/17068.compatibility.rst
  doc/release/upcoming_changes/17116.expired.rst
  doc/release/upcoming_changes/17123.new_feature.rst
  doc/release/upcoming_changes/17195.improvement.rst
  doc/release/upcoming_changes/17219.new_feature.rst
  doc/release/upcoming_changes/17233.deprecation.rst
  doc/release/upcoming_changes/17241.compatibility.rst
  doc/release/upcoming_changes/17284.new_feature.rst
  doc/release/upcoming_changes/17344.new_feature.rst
  doc/release/upcoming_changes/17394.new_function.rst
  doc/release/upcoming_changes/17456.new_feature.rst
  doc/release/upcoming_changes/17535.new_function.rst
  doc/release/upcoming_changes/17577.compatibility.rst
  doc/release/upcoming_changes/17580.compatibility.rst
  doc/release/upcoming_changes/17596.future.rst
  doc/release/upcoming_changes/17706.compatibility.rst
  doc/source/release.rst
  doc/source/release/1.21.0-notes.rst
  numpy/core/include/numpy/numpyconfig.h
  pavement.py
  setup.py
Labels: 03 - Maintenance

#17853 DOC: Clarify docs of np.resize().
  numpy/core/fromnumeric.py
Labels: 04 - Documentation

#17862 Make it clearer that np.interp input must be monotonically increasing
  numpy/lib/function_base.py
Labels: 04 - Documentation, component: numpy.lib

#17122 MAINT: Use numpy version for f2py version.
  numpy/f2py/__version__.py
  numpy/f2py/capi_maps.py
  numpy/f2py/common_rules.py
  numpy/f2py/f2py2e.py
  numpy/f2py/rules.py
  numpy/tests/test_scripts.py
Labels: 03 - Maintenance, component: numpy.f2py

#17836 MAINT: Add git rules to ignore all SIMD generated files
  .gitignore
Labels: 03 - Maintenance

#17847 TST: use latest pypy37 not pypy36
  .github/workflows/build_test.yml
  numpy/core/src/multiarray/compiled_base.c
  test_requirements.txt
Labels: 05 - Testing, component: CI

#17866 DOC: fix typo in glossary.rst
  doc/source/glossary.rst
Labels: 04 - Documentation

#17868 BLD, TST: use python-version not PYTHON_VERSION
  .github/workflows/build_test.yml
Labels: 09 - Backport-Candidate, 36 - Build

#17869 BUG, TST: use python-version not PYTHON_VERSION
  .github/workflows/build_test.yml
Labels: 00 - Bug, 08 - Backport, 36 - Build, component: CI

#17778 ENH: Add annotations for comparison operations
  numpy/__init__.pyi
  numpy/typing/_callable.py
  numpy/typing/tests/data/pass/comparisons.py
  numpy/typing/tests/data/reveal/comparisons.py
Labels: 01 - Enhancement, static typing

#17872 DOC: update the release howto for oldest-supported-numpy
  doc/HOWTO_RELEASE.rst.txt
Labels: 04 - Documentation

#17877 BUG: Fix buffer readflag errors and small leaks
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_scalarbuffer.py
Labels: 00 - Bug, 09 - Backport-Candidate

#17879 BUG: Fix buffer readflag errors and small leaks
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_scalarbuffer.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#17883 MAINT: Remove duplicate dictionary entry
  tools/openblas_support.py
Labels: 03 - Maintenance

#17886 ENH: Timestamp development versions.
  setup.py
Labels: 01 - Enhancement, 03 - Maintenance, component: build
