Repository numpy/numpy, pull requests merged in 2020-08, with the labels that each got.

#16894 DOC: Fix wrong markups in `arrays.dtypes`
  doc/source/reference/arrays.dtypes.rst
Labels: 04 - Documentation, component: Documentation

#16988 DOC: Add the new NumPy logo to Sphinx pages
  doc/source/_static/numpy_logo.png
  doc/source/_static/numpylogo.svg
  doc/source/_templates/layout.html
Labels: 04 - Documentation, component: Documentation

#16879 MAINT: Configure hypothesis in ``np.test()`` for determinism, use of global tmpdir
  numpy/_pytesttester.py
  numpy/conftest.py
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate

#16993 BLD: pin setuptools<49.2.0
  .circleci/config.yml
  azure-pipelines.yml
  pyproject.toml
  test_requirements.txt
  tools/travis-before-install.sh
Labels: component: build

#16917 DOC: Add correctness vs strictness consideration for np.dtype
  numpy/typing/__init__.py
Labels: 04 - Documentation, static typing

#16350 BUG: Set readonly flag in array interface
  doc/release/upcoming_changes/16350.compatibility.rst
  numpy/core/src/multiarray/getset.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 56 - Needs Release Note., component: numpy.core

#16802 MAINT: Explicitly disallow object user dtypes
  numpy/core/src/multiarray/usertypes.c
Labels: 03 - Maintenance, component: numpy.core

#17000 BLD: pin setuptools < 49.2.0
  .circleci/config.yml
  azure-pipelines.yml
  pyproject.toml
  test_requirements.txt
  tools/travis-before-install.sh
Labels: 03 - Maintenance, 08 - Backport, component: build

#16911 ENH: Speed up trim_zeros
  benchmarks/benchmarks/bench_trim_zeros.py
  doc/release/upcoming_changes/16911.deprecation.rst
  numpy/core/tests/test_deprecations.py
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement, 28 - Benchmark

#16998 MAINT: Configure hypothesis in ``np.test()`` for determinism, use of global tmpdir
  numpy/_pytesttester.py
  numpy/conftest.py
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport

#16962 MAINT: Chain exception in ``distutils/fcompiler/environment.py``.
  numpy/distutils/fcompiler/environment.py
Labels: 03 - Maintenance, component: numpy.distutils

#16835 DOC: Explaining why datetime64 doesn't work for allclose + isclose
  numpy/core/numeric.py
Labels: 04 - Documentation, component: numpy.core

#16420 DOC: Improve intersect1d docstring
  numpy/lib/arraysetops.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.lib

#17014 MAINT: Improve error handling in umathmodule setup
  numpy/core/src/umath/umathmodule.c
Labels: 03 - Maintenance, component: numpy.core

#17010 BUG: Raise correct errors in boolean indexing fast path
  doc/release/upcoming_changes/17010.compatibility.rst
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexing.py
Labels: 00 - Bug, 56 - Needs Release Note., component: numpy.core

#17009 NEP: Updated NEP-35 with keyword-only instruction
  doc/neps/nep-0035-array-creation-dispatch-with-array-function.rst
Labels: 03 - Maintenance, 04 - Documentation, component: NEP

#17028 DOC: Disclaimer for FFT library
  numpy/fft/__init__.py
Labels: 04 - Documentation

#17033 BUG: fix a compile and a test warning
  numpy/conftest.py
  numpy/random/bit_generator.pxd
  pytest.ini
Labels: 00 - Bug, 05 - Testing, component: numpy.random

#17039 DOC: Use a less ambiguous example for array_split
  numpy/lib/shape_base.py
Labels: 04 - Documentation

#17036 DOC: Clarify that `np.char` comparison functions always return ndarrays
  numpy/core/defchararray.py
  numpy/core/tests/test_defchararray.py
Labels: 03 - Maintenance, 04 - Documentation

#17048 STY: core._internal style fixups
  numpy/core/_internal.py
Labels: 03 - Maintenance

#17063 MAINT: Remove obsolete conversion to set
  tools/refguide_check.py
Labels: 03 - Maintenance

#17067 DEP: lib: Remove the deprecated financial functions.
  doc/release/upcoming_changes/17067.expired.rst
  doc/source/reference/routines.financial.rst
  doc/source/reference/routines.rst
  numpy/__init__.py
  numpy/lib/__init__.py
  numpy/lib/financial.py
  numpy/lib/tests/test_financial.py
  numpy/lib/tests/test_financial_expired.py
  numpy/tests/test_public_api.py
  tools/functions_missing_types.py
Labels: 07 - Deprecation, component: numpy.lib, component: numpy.lib.financial

#17013 MAINT: Simplify scalar power
  numpy/core/src/umath/scalarmath.c.src
Labels: 03 - Maintenance, component: numpy.core

#16886 DOC: Fix types including curly braces
  doc/source/reference/c-api/array.rst
  doc/source/reference/c-api/config.rst
  doc/source/reference/c-api/dtype.rst
  doc/source/reference/c-api/types-and-structures.rst
  doc/source/reference/c-api/ufunc.rst
Labels: 04 - Documentation, component: Documentation

#16675 ENH: Add support for file like objects to np.core.records.fromfile
  doc/release/upcoming_changes/16675.improvement.rst
  numpy/core/records.py
  numpy/core/tests/test_records.py
Labels: 01 - Enhancement, component: numpy.core

#17078 DOC: Fixes duplication of toctree content (Closes #17077)
  doc/source/user/tutorials_index.rst
Labels: 04 - Documentation

#16841 BUG: linspace should round towards -infinity
  doc/release/upcoming_changes/16841.change.rst
  numpy/core/function_base.py
  numpy/core/tests/test_function_base.py
Labels: 00 - Bug, 56 - Needs Release Note., component: numpy.core

#17029 MAINT: Add error return to all casting functionality and NpyIter
  doc/release/upcoming_changes/17029.compatibility.rst
  numpy/core/src/common/lowlevel_strided_loops.h
  numpy/core/src/multiarray/array_assign_array.c
  numpy/core/src/multiarray/array_assign_scalar.c
  numpy/core/src/multiarray/array_coercion.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/lowlevel_strided_loops.c.src
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/nditer_api.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_impl.h
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/multiarray/nditer_templ.c.src
  numpy/core/src/umath/reduction.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_ufunc.py
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.core, priority: high

#17053 BUG: fix typo in polydiv that prevented promotion to poly1d
  numpy/lib/polynomial.py
  numpy/lib/tests/test_polynomial.py
Labels: 00 - Bug, component: numpy.lib

#17058 MAINT: Revert boolean casting back to elementwise comparisons in `trim_zeros`
  doc/release/upcoming_changes/16911.deprecation.rst
  numpy/core/tests/test_deprecations.py
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 03 - Maintenance

#17002 DOC: clip() allows arguments.
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#17068 MAINT, BUG: Remove uses of PyString_FromString.
  doc/release/upcoming_changes/17068.compatibility.rst
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/tests/test_regression.py
  numpy/f2py/cfuncs.py
  numpy/f2py/rules.py
  numpy/f2py/src/test/foomodule.c
  numpy/f2py/tests/src/array_from_pyobj/wrapmodule.c
  numpy/linalg/umath_linalg.c.src
Labels: 00 - Bug, 03 - Maintenance, component: numpy.core, component: numpy.f2py, component: numpy.linalg

#17116 API: Remove `np.ctypeslib.ctypes_load_library`
  doc/release/upcoming_changes/17116.expired.rst
  doc/source/reference/routines.ctypeslib.rst
  numpy/ctypeslib.py
Labels: 07 - Deprecation, 62 - Python API

#17115 DOC: Fix spacing in vectorize doc
  numpy/lib/function_base.py
Labels: 04 - Documentation

#17125 BUG: Remove non-threadsafe sigint handling from fft calculation
  numpy/core/include/numpy/npy_interrupt.h
  numpy/core/multiarray.py
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/fft/_pocketfft.c
Labels: 00 - Bug, 08 - Backport, component: numpy.fft

#17132 MAINT: Chain some exceptions in arraysetops.
  numpy/lib/arraysetops.py
Labels: 03 - Maintenance, component: numpy.lib

#17143 MAINT: Change handling of the expired financial functions.
  numpy/__init__.py
  numpy/lib/tests/test_financial_expired.py
Labels: 03 - Maintenance, component: numpy.lib.financial

#17133 MAINT: Chain ValueError in ma.timer_comparison
  numpy/ma/timer_comparison.py
Labels: 03 - Maintenance, component: numpy.ma

#17146 MAINT: ``Replace PyUString_*`` by ``PyUnicode_*`` equivalents.
  numpy/core/src/common/array_assign.c
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/convert.c
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/flagsobject.c
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/multiarray/shape.c
  numpy/core/src/umath/_rational_tests.c.src
  numpy/core/src/umath/extobj.c
  numpy/core/src/umath/override.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/src/umath/umathmodule.c
Labels: 03 - Maintenance, 27 - Py3K, component: numpy.core

#16729 ENH: Add annotations to the last 8 functions in numpy.core.fromnumeric
  numpy/__init__.pyi
  numpy/tests/typing/fail/fromnumeric.py
  numpy/tests/typing/pass/fromnumeric.py
  numpy/tests/typing/reveal/fromnumeric.py
Labels: 01 - Enhancement, static typing

#17112 BUG: Handle errors from the PyCapsule API
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/multiarray/usertypes.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/ufunc_type_resolution.c
Labels: 00 - Bug, 03 - Maintenance, 27 - Py3K

#17123 ENH: allow running mypy through runtests.py
  runtests.py
Labels: static typing

#17152 MAINT: Clean up some Npy_ vs Py_ macro usage
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/multiarray/number.c
Labels: 03 - Maintenance, 27 - Py3K

#17151 BUG: Fix incorrect cython definition of npy_cfloat
  numpy/__init__.cython-30.pxd
  numpy/__init__.pxd
Labels: 00 - Bug

#17149 MAINT: Replace PyInt macros with their PyLong replacement
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/calculation.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/convert.c
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/datetime_busdaycal.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/flagsobject.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/iterators.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/src/multiarray/number.c
  numpy/core/src/multiarray/refcount.c
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/src/multiarray/shape.c
  numpy/core/src/multiarray/usertypes.c
  numpy/core/src/umath/extobj.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/f2py/tests/src/array_from_pyobj/wrapmodule.c
Labels: 03 - Maintenance, 27 - Py3K

#17164 MAINT: Remove NPY_COPY_PYOBJECT_PTR
  numpy/core/include/numpy/npy_cpu.h
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/refcount.c
  numpy/core/src/multiarray/shape.c
  numpy/core/src/npymath/npy_math_private.h
Labels: 03 - Maintenance, component: numpy.core

#16619 BLD: check if std=c99 is really required
  setup.py
Labels: 03 - Maintenance, component: build

#17160 Clean up some more bytes vs unicode handling
  numpy/core/include/numpy/arrayscalars.h
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/src/umath/_rational_tests.c.src
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 03 - Maintenance, 27 - Py3K, component: numpy.core

#16935 ENH: implement NEP-35's `like=` argument
  numpy/__init__.pyi
  numpy/core/_add_newdocs.py
  numpy/core/_asarray.py
  numpy/core/numeric.py
  numpy/core/overrides.py
  numpy/core/src/multiarray/arrayfunction_override.c
  numpy/core/src/multiarray/arrayfunction_override.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/multiarraymodule.h
  numpy/core/tests/test_overrides.py
  numpy/lib/npyio.py
  numpy/lib/twodim_base.py
Labels: 01 - Enhancement, component: __array_function__, priority: high

#16982 ENH: Increase the use of `Literal` types
  numpy/__init__.pyi
  numpy/core/_add_newdocs.py
  numpy/tests/typing/pass/literal.py
Labels: 01 - Enhancement, static typing

#17176 MAINT/ENH: datetime: remove calls to PyUnicode_AsASCIIString, allow μs as an alias for us
  doc/source/reference/arrays.datetime.rst
  numpy/core/src/multiarray/datetime.c
  numpy/core/tests/test_datetime.py
Labels: 01 - Enhancement, 03 - Maintenance, component: numpy.datetime64

#17181 DOC: Correct error in description of ndarray.base
  numpy/doc/subclassing.py
Labels: 04 - Documentation

#17195 ENH: Make the window functions exactly symmetric
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement
