Repository numpy/numpy, pull requests merged in 2020-06, with the labels that each got.

#16375 ENH: ARM Neon implementation with intrinsic for np.argmax.
  benchmarks/benchmarks/bench_reduce.py
  numpy/core/src/multiarray/arraytypes.c.src
Labels: 01 - Enhancement, component: numpy.core

#16465 DOC: Fix development_workflow links
  doc/source/dev/development_workflow.rst
  doc/source/dev/gitwash/git_links.inc
Labels: 04 - Documentation

#16474 MAINT: use zip instead of range in piecewise
  numpy/lib/function_base.py
Labels: 03 - Maintenance, component: numpy.lib

#16471 BLD: install mingw32 v7.3.0 for win32
  azure-steps-windows.yml
Labels: component: CI, component: build

#16485 BUG: Fix result when a gufunc output broadcasts the inputs.
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, component: numpy.ufunc

#16430 DOC: NEP for C style guide
  doc/C_STYLE_GUIDE.rst.txt
  doc/neps/nep-0045-c_style_guide.rst
Labels: 04 - Documentation, component: Documentation, component: NEP

#16418 MAINT: Chain some exceptions.
  numpy/core/_dtype.py
  numpy/core/fromnumeric.py
  numpy/core/records.py
  numpy/ctypeslib.py
Labels: 03 - Maintenance, component: numpy.core, component: numpy.ctypes

#16389 ENH: Hardcode buffer handling for simple scalars
  benchmarks/benchmarks/bench_scalar.py
  numpy/core/include/numpy/arrayscalars.h
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/buffer.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/npy_buffer.h
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_scalarinherit.py
Labels: 01 - Enhancement, component: benchmarks, component: numpy.core

#15666 ENH: Improved `__str__` for polynomials
  doc/release/upcoming_changes/15666.improvement.rst
  doc/source/reference/routines.polynomials.classes.rst
  doc/source/reference/routines.polynomials.package.rst
  numpy/polynomial/__init__.py
  numpy/polynomial/_polybase.py
  numpy/polynomial/polynomial.py
  numpy/polynomial/tests/test_printing.py
Labels: 01 - Enhancement, component: numpy.polynomial

#16468 BUG: fix GCC 10 major version comparison
  numpy/distutils/fcompiler/gnu.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: build

#15162 BUG,MAINT: Fix issues with non-reduce broadcasting axes
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/einsum.c.src
  numpy/core/src/multiarray/nditer_api.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/multiarray/nditer_impl.h
  numpy/core/src/umath/reduction.c
  numpy/core/src/umath/reduction.h
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_nditer.py
  numpy/core/tests/test_ufunc.py
Labels: 03 - Maintenance, component: numpy.core, component: numpy.ufunc, priority: high

#16501 MAINT: make Py_SET_SIZE and Py_SET_TYPE macros a bit safer
  numpy/core/include/numpy/npy_3kcompat.h
Labels: 03 - Maintenance, component: numpy.core

#16472 DOC: Fixes for 18 broken links
  doc/HOWTO_RELEASE.rst.txt
  doc/source/dev/gitwash/git_links.inc
  doc/source/dev/governance/governance.rst
  doc/source/dev/howto-docs.rst
  doc/source/dev/index.rst
  doc/source/reference/arrays.classes.rst
  doc/source/reference/global_state.rst
  doc/source/reference/random/new-or-different.rst
  doc/source/reference/ufuncs.rst
  doc/source/release/1.19.0-notes.rst
  doc/source/release/1.5.0-notes.rst
  doc/source/user/absolute_beginners.rst
  doc/source/user/quickstart.rst
  numpy/lib/function_base.py
  numpy/lib/mixins.py
  numpy/polynomial/chebyshev.py
  numpy/testing/_private/nosetester.py
Labels: 04 - Documentation

#16500 DOC: Point Contributing page to new NEP 45
  doc/HOWTO_RELEASE.rst.txt
  doc/neps/nep-0029-deprecation_policy.rst
  doc/neps/nep-0045-c_style_guide.rst
  doc/source/conf.py
  doc/source/dev/howto-docs.rst
  doc/source/dev/index.rst
  numpy/doc/dispatch.py
  numpy/lib/format.py
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#16514 STY: trivial doc style fix in NEP 45.
  doc/neps/nep-0045-c_style_guide.rst
Labels: 03 - Maintenance

#16520 STY: f2py: replace \t by whitespace for readability
  numpy/f2py/cb_rules.py
  numpy/f2py/rules.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.f2py

#16519 BUG: f2py: make callbacks threadsafe
  numpy/f2py/cb_rules.py
  numpy/f2py/rules.py
  numpy/f2py/src/fortranobject.c
  numpy/f2py/src/fortranobject.h
  numpy/f2py/tests/test_callback.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.f2py

#16522 MAINT:ARMHF Fix detecting feature groups NEON_HALF and NEON_VFPV4
  numpy/core/src/common/npy_cpu_features.c.src
Labels: 00 - Bug, 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#16524 MAINT: f2py: move thread-local declaration definition to common macro
  doc/release/upcoming_changes/16519.improvement.rst
  numpy/f2py/cb_rules.py
  numpy/f2py/cfuncs.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.f2py

#16503 BUG:random: Error when ``size`` is smaller than broadcast input shapes.
  numpy/random/_common.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.random

#16529 BUG: Fix cython warning in random/_common.pyx.
  numpy/random/_common.pyx
Labels: 00 - Bug, component: numpy.random

#16321 ENH: Improve the ARM cpu feature detection by parsing /proc/cpuinfo
  numpy/core/src/common/npy_cpu_features.c.src
  numpy/core/src/common/npy_cpuinfo_parser.h
Labels: 01 - Enhancement, component: numpy.core

#16528 BUG: fix GCC 10 major version comparison
  numpy/distutils/fcompiler/gnu.py
Labels: 00 - Bug, 08 - Backport, component: build

#16527 BUG:random: Error when ``size`` is smaller than broadcast input shapes.
  numpy/random/_common.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#16526 MAINT:ARMHF Fix detecting feature groups NEON_HALF and NEON_VFPV4
  numpy/core/src/common/npy_cpu_features.c.src
Labels: 00 - Bug, 03 - Maintenance, 08 - Backport, component: numpy.core

#16510 DOC: Minor rounding correction in Generator.binomial
  numpy/random/_generator.pyx
Labels: 04 - Documentation, component: numpy.random

#16056 DEP: Deprecate inexact matches for mode, searchside
  doc/release/upcoming_changes/16056.deprecation.rst
  numpy/core/_add_newdocs.py
  numpy/core/_dtype.py
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/tests/test_conversion_utils.py
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_multiarray.py
Labels: 07 - Deprecation, 62 - Python API, component: numpy.core

#16504 DOC: Correct MV Normal sig
  numpy/random/_generator.pyx
Labels: 04 - Documentation, component: numpy.random

#16445 DOC: update roadmap
  doc/neps/roadmap.rst
Labels: 04 - Documentation, component: NEP

#16446 BUG: fixes einsum output order with optimization (#14615)
  numpy/core/einsumfunc.py
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, component: numpy.core

#16515 ENH: add type stubs from numpy-stubs
  doc/release/upcoming_changes/16515.improvement.rst
  numpy/__init__.pyi
  numpy/core/_internal.pyi
  numpy/core/setup.py
  numpy/py.typed
  numpy/setup.py
  numpy/tests/setup.py
  numpy/tests/test_typing.py
  numpy/tests/typing/fail/array_like.py
  numpy/tests/typing/fail/fromnumeric.py
  numpy/tests/typing/fail/ndarray.py
  numpy/tests/typing/fail/numerictypes.py
  numpy/tests/typing/fail/scalars.py
  numpy/tests/typing/fail/simple.py
  numpy/tests/typing/fail/ufuncs.py
  numpy/tests/typing/fail/warnings_and_errors.py
  numpy/tests/typing/mypy.ini
  numpy/tests/typing/pass/array_like.py
  numpy/tests/typing/pass/fromnumeric.py
  numpy/tests/typing/pass/ndarray_conversion.py
  numpy/tests/typing/pass/ndarray_shape_manipulation.py
  numpy/tests/typing/pass/numerictypes.py
  numpy/tests/typing/pass/scalars.py
  numpy/tests/typing/pass/simple.py
  numpy/tests/typing/pass/simple_py3.py
  numpy/tests/typing/pass/ufuncs.py
  numpy/tests/typing/pass/warnings_and_errors.py
  numpy/tests/typing/reveal/constants.py
  numpy/tests/typing/reveal/fromnumeric.py
  numpy/tests/typing/reveal/ndarray_conversion.py
  numpy/tests/typing/reveal/ndarray_shape_manipulation.py
  numpy/tests/typing/reveal/numerictypes.py
  numpy/tests/typing/reveal/scalars.py
  numpy/tests/typing/reveal/warnings_and_errors.py
  numpy/typing.pyi
  test_requirements.txt
Labels: 01 - Enhancement, static typing

#16311 DOC: Fix ``np.ma.core.doc_note``
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 04 - Documentation, component: numpy.ma

#16296 DOC: Fix malformed docstrings in ma.
  numpy/ma/extras.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.ma

#16291 DOC: Improve "tobytes" docstring.
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#16385 DOC: Tighten howto-docs guide #16259
  doc/source/dev/howto-docs.rst
Labels: 04 - Documentation, component: Documentation

#16452 DOC,ENH: extend error message when Accelerate is detected
  doc/source/user/building.rst
  numpy/__init__.py
  site.cfg.example
Labels: 01 - Enhancement, 04 - Documentation, component: build

#15507 NEP 42: Technical decisions for new DTypes
  doc/neps/_static/casting_flow.svg
  doc/neps/_static/dtype_hierarchy.svg
  doc/neps/nep-0042-new-dtypes.rst
Labels: 01 - Enhancement, component: NEP, priority: high

#16572 BUG: fix sin/cos bug when input is strided array
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: SIMD, priority: high

#16574 MAINT: fix name of first parameter to dtype constructor in type stubs
  numpy/__init__.pyi
  numpy/core/_add_newdocs.py
  numpy/core/tests/test_dtype.py
  numpy/tests/typing/pass/dtype.py
Labels: 03 - Maintenance, static typing

#16586 BUG: fix sin/cos bug when input is strided array
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 00 - Bug, 08 - Backport, component: SIMD

#16590 DOC: Clarify dtype default for logspace and geomspace
  numpy/core/function_base.py
Labels: 04 - Documentation

#16596 BUG: Fix reference count leak in mapping.c
  numpy/core/src/multiarray/mapping.c
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#16601 MAINT: Move and improve ``test_ignore_nan_ulperror``.
  numpy/core/tests/test_umath_accuracy.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate, component: numpy.testing

#16602 MAINT: Move and improve ``test_ignore_nan_ulperror``.
  numpy/core/tests/test_umath_accuracy.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport, component: numpy.testing

#16603 DOC: make addition of types a "new feature" in release notes
  doc/release/upcoming_changes/16515.new_feature.rst
Labels: 04 - Documentation, static typing

#16583 MAINT: changed np.generic arguments to positional-only
  numpy/__init__.pyi
  numpy/tests/typing/fail/scalars.py
  numpy/tests/typing/pass/scalars.py
Labels: 03 - Maintenance, static typing

#16540 SIMD: SSE2 intrinsic implementation for float64 input of np.enisum
  benchmarks/benchmarks/bench_linalg.py
  numpy/core/src/multiarray/einsum.c.src
Labels: 01 - Enhancement, component: numpy.einsum

#16581 DOC: Added an example for np.transpose(4d_array)
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, 55 - Needs work

#16617 BLD: Openblas 0.3.10
  tools/openblas_support.py
Labels: component: build

#14882 DEP: Deprecate aliases of builtin types in python 3.7+
  doc/release/upcoming_changes/14882.deprecation.rst
  numpy/__init__.py
  numpy/core/tests/test_api.py
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_scalar_ctors.py
  numpy/core/tests/test_umath_complex.py
  numpy/lib/tests/test_nanfunctions.py
  numpy/tests/test_public_api.py
Labels: 07 - Deprecation, component: NEP, component: numpy.core

#16620 MAINT, CI: disable Shippable cache
  shippable.yml
Labels: 03 - Maintenance, component: CI

#16623 BUG: Initialize stop-reading in array_from_text
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#16558 ENH: make typing module available at runtime
  doc/release/upcoming_changes/16558.new_feature.rst
  doc/source/reference/index.rst
  doc/source/reference/typing.rst
  numpy/setup.py
  numpy/tests/test_public_api.py
  numpy/tests/typing/fail/array_like.py
  numpy/tests/typing/pass/array_like.py
  numpy/typing/__init__.py
  numpy/typing/_array_like.py
  numpy/typing/_dtype_like.py
  numpy/typing/_shape.py
Labels: 01 - Enhancement, Triage-review, static typing

#13516 ENH: enable multi-platform SIMD compiler optimizations
  .gitignore
  doc/release/upcoming_changes/13516.improvement.rst
  doc/source/reference/distutils.rst
  numpy/_pytesttester.py
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/include/numpy/utils.h
  numpy/core/setup.py
  numpy/core/src/common/npy_config.h
  numpy/core/src/common/npy_cpu_dispatch.h
  numpy/core/src/common/npy_cpu_features.c.src
  numpy/core/src/common/npy_cpu_features.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/src/umath/_umath_tests.dispatch.c
  numpy/core/tests/test_cpu_dispatcher.py
  numpy/distutils/ccompiler_opt.py
  numpy/distutils/checks/cpu_asimd.c
  numpy/distutils/checks/cpu_asimddp.c
  numpy/distutils/checks/cpu_asimdfhm.c
  numpy/distutils/checks/cpu_asimdhp.c
  numpy/distutils/checks/cpu_avx.c
  numpy/distutils/checks/cpu_avx2.c
  numpy/distutils/checks/cpu_avx512_clx.c
  numpy/distutils/checks/cpu_avx512_cnl.c
  numpy/distutils/checks/cpu_avx512_icl.c
  numpy/distutils/checks/cpu_avx512_knl.c
  numpy/distutils/checks/cpu_avx512_knm.c
  numpy/distutils/checks/cpu_avx512_skx.c
  numpy/distutils/checks/cpu_avx512cd.c
  numpy/distutils/checks/cpu_avx512f.c
  numpy/distutils/checks/cpu_f16c.c
  numpy/distutils/checks/cpu_fma3.c
  numpy/distutils/checks/cpu_fma4.c
  numpy/distutils/checks/cpu_neon.c
  numpy/distutils/checks/cpu_neon_fp16.c
  numpy/distutils/checks/cpu_neon_vfpv4.c
  numpy/distutils/checks/cpu_popcnt.c
  numpy/distutils/checks/cpu_sse.c
  numpy/distutils/checks/cpu_sse2.c
  numpy/distutils/checks/cpu_sse3.c
  numpy/distutils/checks/cpu_sse41.c
  numpy/distutils/checks/cpu_sse42.c
  numpy/distutils/checks/cpu_ssse3.c
  numpy/distutils/checks/cpu_vsx.c
  numpy/distutils/checks/cpu_vsx2.c
  numpy/distutils/checks/cpu_vsx3.c
  numpy/distutils/checks/cpu_xop.c
  numpy/distutils/checks/test_flags.c
  numpy/distutils/command/build.py
  numpy/distutils/command/build_clib.py
  numpy/distutils/command/build_ext.py
  numpy/distutils/setup.py
  numpy/distutils/tests/test_ccompiler_opt.py
  numpy/distutils/tests/test_ccompiler_opt_conf.py
  numpy/tests/test_public_api.py
  runtests.py
Labels: 01 - Enhancement, component: numpy.distutils

#16523 MAINT: Improve buffer speed
  numpy/core/src/multiarray/buffer.c
  numpy/core/tests/test_scalarbuffer.py
Labels: 03 - Maintenance, component: numpy.core

#16633 MAINT: lib: Some code clean up in loadtxt
  numpy/lib/npyio.py
Labels: 03 - Maintenance, component: numpy.lib

#16594 ENH: Add __f2py_numpy_version__ attribute to Fortran modules.
  numpy/f2py/rules.py
  numpy/f2py/tests/test_regression.py
Labels: component: numpy.f2py

#16591 DOC: Disallow complex args in arange
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation

#16571 TST: Add new tests for array coercion
  numpy/core/tests/test_array_coercion.py
  numpy/core/tests/test_indexing.py
  numpy/testing/_private/utils.py
Labels: 05 - Testing, component: numpy.core

#16592 BUG: Raise TypeError for float->timedelta promotion
  doc/release/upcoming_changes/16592.compatibility.rst
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/tests/test_datetime.py
Labels: 00 - Bug, component: numpy.dtype

#15471 BUG: Ensure PyArray_FromScalar always returns the requested dtype
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/tests/test_scalar_ctors.py
Labels: 00 - Bug

#16645 REL: Update 1.19.0-changelog.rst for 1.19.0 release.
  doc/changelog/1.19.0-changelog.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#16646 TST: add a static typing test for memoryviews as ArrayLikes
  numpy/tests/typing/pass/array_like.py
Labels: 05 - Testing, static typing

#16649 MAINT, CI: disable Shippable cache
  shippable.yml
Labels: 03 - Maintenance, component: CI

#16652 MAINT: Replace `PyUString_GET_SIZE` with `PyUnicode_GetLength`.
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/descriptor.c
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#16643 REL: Fix outdated docs link
  setup.py
Labels: 09 - Backport-Candidate, 14 - Release

#16651 MAINT: Prefer generator expressions over list comprehensions in any()
  numpy/polynomial/polyutils.py
Labels: 03 - Maintenance, component: numpy.polynomial

#16653 DOC: cross-reference numpy.dot and numpy.linalg.multi_dot
  numpy/core/multiarray.py
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.core

#16648 REL: Update master after 1.19.0 release.
  .mailmap
  doc/changelog/1.19.0-changelog.rst
  doc/source/release/1.19.0-notes.rst
Labels: 03 - Maintenance, 14 - Release, component: Documentation

#16618 ENH: add annotation for abs
  numpy/__init__.pyi
  numpy/tests/typing/fail/ufuncs.py
  numpy/tests/typing/pass/ufuncs.py
Labels: 01 - Enhancement, static typing

#16654 REL: Fix outdated docs link
  setup.py
Labels: 04 - Documentation, 08 - Backport, 14 - Release

#16505 BUG: raise IEEE exception on AIX
  numpy/core/src/npymath/ieee754.c.src
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#16656 BUG: raise IEEE exception on AIX
  numpy/core/src/npymath/ieee754.c.src
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#16647 ENH: Added annotations to 8 functions from np.core.fromnumeric
  numpy/__init__.pyi
  numpy/tests/typing/fail/fromnumeric.py
  numpy/tests/typing/pass/fromnumeric.py
  numpy/tests/typing/reveal/fromnumeric.py
Labels: 01 - Enhancement, static typing

#16666 BUG: Fix bug in AVX complex absolute while processing array of mixed dtypes
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath_complex.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.ufunc

#16664 DOC: Add lib.format.open_memmap to autosummary.
  doc/source/reference/routines.io.rst
  numpy/lib/format.py
Labels: 04 - Documentation

#16691 DOC: Remove "matrix" from `triu` docstring.
  numpy/lib/twodim_base.py
Labels: 04 - Documentation

#16644 MAINT: Improve performance of np.full
  numpy/core/numeric.py
  numpy/core/tests/test_api.py
Labels: 03 - Maintenance, component: numpy.core

#16260 DOC: Improve `rec.array` function documentation (#15853)
  numpy/core/records.py
Labels: 04 - Documentation, component: numpy.core

#16693 TST: Add extra debugging information to CPU features detection
  numpy/core/tests/test_cpu_features.py
Labels: 05 - Testing, 08 - Backport, component: numpy.core

#16696 MAINT: add py.typed sentinel to package manifest
  MANIFEST.in
Labels: 03 - Maintenance, component: build

#16570 ENH: Throw TypeError on operator concat on Numpy Arrays
  numpy/core/src/multiarray/sequence.c
  numpy/core/tests/test_shape_base.py
Labels: 01 - Enhancement, component: numpy.core

#16273 BUG: Order percentile monotonically
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, component: numpy.lib

#16699 MAINT: Fixup quantile tests to not use `np.float`
  numpy/lib/tests/test_function_base.py
Labels: 03 - Maintenance, component: numpy.lib

#16702 BLD: Add CPU entry for Emscripten / WebAssembly
  numpy/core/include/numpy/npy_cpu.h
  numpy/core/include/numpy/npy_endian.h
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: build

#16703 BLD Add CPU entry for Emscripten / WebAssembly
  numpy/core/include/numpy/npy_cpu.h
  numpy/core/include/numpy/npy_endian.h
Labels: 01 - Enhancement, 08 - Backport, component: build

#16704 TST: Disable Python 3.9-dev testing.
  .travis.yml
Labels: 03 - Maintenance, 05 - Testing, component: CI

#16705 TST: Disable Python 3.9-dev testing.
  .travis.yml
Labels: 03 - Maintenance, 05 - Testing, component: CI

#16709 DOC: Add dep directive to alen docstring.
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#16621 BENCH: Expand array-creation benchmarks
  benchmarks/benchmarks/bench_core.py
Labels: 01 - Enhancement, 28 - Benchmark, component: benchmarks

#16708 MAINT: Disable use_hugepages in case of ValueError
  numpy/__init__.py
Labels: 03 - Maintenance, 09 - Backport-Candidate

#16627 DOC: Updated documentation for numpy.squeeze
  numpy/core/_add_newdocs.py
  numpy/core/fromnumeric.py
  numpy/matrixlib/defmatrix.py
Labels: 04 - Documentation

#16714 MAINT: Disable use_hugepages in case of ValueError
  numpy/__init__.py
Labels: 03 - Maintenance, 08 - Backport

#16121 MAINT: Chain exceptions in several places
  numpy/lib/npyio.py
Labels: 03 - Maintenance, component: numpy.ctypes, component: numpy.lib
