Repository numpy/numpy, pull requests merged in 2020-05, with the labels that each got.

#16067 MAINT: Chain exceptions in memmap.py and core.py
  numpy/core/memmap.py
  numpy/ma/core.py
Labels: 03 - Maintenance, component: numpy.core, component: numpy.ma

#16014 DOC: Change import error "howto" to link to new troubleshooting page
  doc/source/user/setting-up.rst
  doc/source/user/troubleshooting-importerror.rst
  numpy/core/__init__.py
Labels: 03 - Maintenance, 04 - Documentation, 09 - Backport-Candidate

#16132 Backport 16014
  doc/source/user/setting-up.rst
  doc/source/user/troubleshooting-importerror.rst
  numpy/core/__init__.py
Labels: 03 - Maintenance, 04 - Documentation, 08 - Backport

#16069 DOC: Added page describing how to contribute to the docs team
  doc/source/contents.rst
  doc/source/dev/howto-docs.rst
  doc/source/dev/index.rst
  doc/source/reference/index.rst
Labels: 04 - Documentation

#15769 ENH: Allow toggling madvise hugepage and fix default
  doc/release/upcoming_changes/15769.improvement.rst
  doc/source/reference/global_state.rst
  doc/source/reference/index.rst
  numpy/__init__.py
  numpy/core/_add_newdocs.py
  numpy/core/multiarray.py
  numpy/core/src/multiarray/alloc.c
  numpy/core/src/multiarray/alloc.h
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 01 - Enhancement, component: Documentation, component: numpy.core

#16141 BENCH: Default to building HEAD instead of master
  benchmarks/asv.conf.json
Labels: component: benchmarks

#16144 REL: Update master after NumPy 1.18.4 release
  doc/changelog/1.18.4-changelog.rst
  doc/source/release.rst
  doc/source/release/1.18.4-notes.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#16147 CI: pin 32-bit manylinux2010 image tag
  azure-pipelines.yml
Labels: 05 - Testing, component: CI

#16122 DOC: Fix links for NEP 40 in NEP 41
  doc/neps/nep-0040-legacy-datatype-impl.rst
  doc/neps/nep-0041-improved-dtype-support.rst
Labels: 03 - Maintenance, 04 - Documentation, component: NEP

#15401 BUG: Flags should not contain spaces
  numpy/distutils/fcompiler/intel.py
Labels: 00 - Bug, component: numpy.distutils

#16155 CI: unpin 32-bit manylinux2010 image tag
  azure-pipelines.yml
Labels: 05 - Testing, component: CI

#15928 DOC: Update np.copy docstring to include ragged case
  numpy/lib/function_base.py
Labels: 04 - Documentation, component: numpy.lib

#15990 DEV: Pass additional runtests.py args to ASV
  runtests.py
Labels: 01 - Enhancement, 28 - Benchmark

#16125 BUG: lib: Fix a problem with vectorize with default parameters.
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, component: numpy.lib

#16171 ENH: allow choosing which manylinux artifact to download
  tools/openblas_support.py
Labels: 01 - Enhancement, component: build

#16173 MAINT: Mark tests as a subpackage rather than data.
  doc/TESTS.rst.txt
  numpy/compat/setup.py
  numpy/core/setup.py
  numpy/distutils/setup.py
  numpy/f2py/setup.py
  numpy/fft/setup.py
  numpy/lib/setup.py
  numpy/linalg/setup.py
  numpy/ma/setup.py
  numpy/matrixlib/setup.py
  numpy/polynomial/setup.py
  numpy/random/setup.py
  numpy/setup.py
  numpy/testing/setup.py
Labels: 03 - Maintenance, 05 - Testing

#16078 DOC: Add axis to random module "new or different" docs
  doc/source/reference/random/index.rst
  doc/source/reference/random/new-or-different.rst
Labels: 04 - Documentation, component: Documentation

#16129 ENH: Better error message when ``bins`` has float value in ``histogramdd``.
  numpy/lib/histograms.py
Labels: 01 - Enhancement, component: numpy.lib

#16162 BUG: add missing numpy/__init__.pxd to the wheel
  numpy/__init__.pxd
  numpy/random/tests/test_extending.py
  setup.py
Labels: 00 - Bug, component: build

#16201 DOC: update Code of Conduct committee
  doc/source/dev/conduct/code_of_conduct.rst
  doc/source/dev/governance/people.rst
Labels: 04 - Documentation

#15939 DOC: Update np.rollaxis docstring
  numpy/core/numeric.py
Labels: 04 - Documentation, component: numpy.core

#16128 ENH: Add equal_nan keyword argument to array_equal
  doc/release/upcoming_changes/16128.new_feature.rst
  numpy/core/numeric.py
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement, 62 - Python API, component: numpy.core

#16210 DOC: warn about runtime of shares_memory
  numpy/core/multiarray.py
Labels: 04 - Documentation, component: numpy.core

#16188 MAINT: cleanups to _iotools.StringConverter
  numpy/lib/_iotools.py
Labels: 03 - Maintenance, component: numpy.lib

#16068 BUG: Fix string to bool cast regression
  doc/release/upcoming_changes/16068.compatibility.rst
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_api.py
Labels: 00 - Bug, 06 - Regression, component: numpy.core

#16214 BUG: skip complex256 arcsinh precision test on glibc2.17
  numpy/core/tests/test_umath.py
Labels: 00 - Bug

#16213 ENH: backport scipy changes to openblas download script
  azure-pipelines.yml
  azure-steps-windows.yml
  shippable.yml
  tools/openblas_support.py
  tools/pypy-test.sh
  tools/travis-before-install.sh
Labels: 01 - Enhancement, component: build

#16216 DOC,BLD: pin sphinx to <3.0 in doc_requirements.txt
  doc_requirements.txt
Labels: 04 - Documentation, component: build

#16170 ENH: resync numpy/__init__.pxd with upstream
  numpy/__init__.pxd
Labels: 01 - Enhancement, 03 - Maintenance

#16185 ENH: Allow pickle with protocol 5 when higher is requested
  numpy/core/src/multiarray/methods.c
Labels: 01 - Enhancement, component: numpy.core

#16133 MAINT: Unify casting error creation (outside the iterator)
  numpy/core/src/multiarray/array_assign_array.c
  numpy/core/src/multiarray/array_assign_scalar.c
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/convert_datatype.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/datetime_strings.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/methods.h
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/tests/test_api.py
  numpy/doc/structured_arrays.py
Labels: 03 - Maintenance, component: numpy.core

#16083 DOC: improve development debugging doc
  doc/source/dev/development_environment.rst
  doc/source/dev/development_workflow.rst
Labels: 04 - Documentation, component: Documentation

#16224 ENH: add manylinux1 openblas hashes
  tools/openblas_support.py
Labels: 01 - Enhancement, component: distribution

#16223 BUG: fix signature of PyArray_SearchSorted in __init__.pxd
  numpy/__init__.pxd
Labels: 00 - Bug, component: build

#16153 BUG: Correct loop order in MT19937 jump
  doc/release/upcoming_changes/16153.change.rst
  numpy/random/_mt19937.pyx
  numpy/random/src/mt19937/mt19937-jump.c
  numpy/random/src/mt19937/mt19937-jump.h
  numpy/random/src/mt19937/mt19937-poly.h
  numpy/random/src/mt19937/mt19937.c
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, component: numpy.random

#16102 ENH: correct identity for logaddexp2 ufunc: -inf
  doc/release/upcoming_changes/16102.improvement.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.ufunc

#16199 DOC: Improve docstring of ``numpy.core.records``
  numpy/core/records.py
Labels: 04 - Documentation, component: numpy.core

#16215 MAINT: Chain exceptions and use NameError in np.bmat
  numpy/matrixlib/defmatrix.py
Labels: 03 - Maintenance, component: numpy.matrixlib

#15991 BUG: max/min of a masked array dtype fix
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, component: numpy.ma

#16240 DOC: Warn about behavior of ptp with signed integers.
  numpy/core/fromnumeric.py
  numpy/ma/core.py
Labels: 04 - Documentation, component: numpy.core

#16197 DOC: Unify cross-references between array joining methods
  doc/source/reference/routines.array-manipulation.rst
  doc/source/reference/routines.ma.rst
  numpy/core/multiarray.py
  numpy/core/shape_base.py
  numpy/lib/shape_base.py
Labels: 04 - Documentation, component: Documentation, component: numpy.core, component: numpy.lib

#16080 BUG: numpy.einsum indexing arrays now accept numpy int type
  doc/release/upcoming_changes/16080.improvement.rst
  numpy/core/einsumfunc.py
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_einsum.py
Labels: 00 - Bug, 01 - Enhancement, component: numpy.core

#16258 DOC: Update the f2py section of the "Using Python as Glue" page.
  doc/source/user/c-info.python-as-glue.rst
Labels: 04 - Documentation, component: numpy.f2py

#16263 BUG: Add missing decref in fromarray error path
  numpy/core/src/multiarray/ctors.c
Labels: 00 - Bug, component: numpy.core

#16265 ENH: Add tool for downloading release wheels from Anaconda.
  tools/download-wheels.py
Labels: 01 - Enhancement, component: Other

#16269 DOC: Fix typos and cosmetic issues
  doc/neps/nep-0012-missing-data.rst
  doc/neps/nep-0021-advanced-indexing.rst
  doc/neps/nep-0028-website-redesign.rst
  doc/neps/nep-0041-improved-dtype-support.rst
  doc/release/upcoming_changes/14995.compatibility.rst
  doc/source/reference/arrays.indexing.rst
  doc/source/reference/c-api/array.rst
  doc/source/reference/random/performance.rst
  doc/source/reference/ufuncs.rst
  doc/source/user/c-info.how-to-extend.rst
  doc/source/user/c-info.python-as-glue.rst
  numpy/core/defchararray.py
  numpy/core/setup.py
  numpy/core/src/common/mem_overlap.c
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/dragon4.c
  numpy/core/src/multiarray/mapping.c
  numpy/lib/financial.py
  tools/refguide_check.py
Labels: 04 - Documentation

#16275 REL: Update master after 1.19.x branch.
  doc/release/upcoming_changes/13421.improvement.rst
  doc/release/upcoming_changes/14924.compatibility.rst
  doc/release/upcoming_changes/14933.compatibility.rst
  doc/release/upcoming_changes/14942.compatibility.rst
  doc/release/upcoming_changes/14981.compatibility.rst
  doc/release/upcoming_changes/14995.compatibility.rst
  doc/release/upcoming_changes/15118.change.rst
  doc/release/upcoming_changes/15119.deprecation.rst
  doc/release/upcoming_changes/15217.deprecation.rst
  doc/release/upcoming_changes/15218.improvement.rst
  doc/release/upcoming_changes/15229.compatibility.rst
  doc/release/upcoming_changes/15233.highlight.rst
  doc/release/upcoming_changes/15251.c_api.rst
  doc/release/upcoming_changes/15255.compatibility.rst
  doc/release/upcoming_changes/15355.c_api.rst
  doc/release/upcoming_changes/15385.new_feature.rst
  doc/release/upcoming_changes/15427.deprecation.rst
  doc/release/upcoming_changes/15463.change.rst
  doc/release/upcoming_changes/15534.deprecation.rst
  doc/release/upcoming_changes/15648.improvement.rst
  doc/release/upcoming_changes/15685.new_feature.rst
  doc/release/upcoming_changes/15715.new_feature.rst
  doc/release/upcoming_changes/15769.improvement.rst
  doc/release/upcoming_changes/15773.compatibility.rst
  doc/release/upcoming_changes/15802.expired.rst
  doc/release/upcoming_changes/15804.expired.rst
  doc/release/upcoming_changes/15805.expired.rst
  doc/release/upcoming_changes/15815.expired.rst
  doc/release/upcoming_changes/15840.compatibility.rst
  doc/release/upcoming_changes/15840.deprecation.rst
  doc/release/upcoming_changes/15867.deprecation.rst
  doc/release/upcoming_changes/15870.new_feature.rst
  doc/release/upcoming_changes/15872.change.rst
  doc/release/upcoming_changes/15882.compatibility.rst
  doc/release/upcoming_changes/16068.compatibility.rst
  doc/release/upcoming_changes/16080.improvement.rst
  doc/release/upcoming_changes/16102.improvement.rst
  doc/release/upcoming_changes/16128.new_feature.rst
  doc/release/upcoming_changes/16153.change.rst
  doc/release/upcoming_changes/8255.new_feature.rst
  doc/source/release.rst
  doc/source/release/1.19.0-notes.rst
  doc/source/release/1.20.0-notes.rst
  numpy/core/code_generators/cversions.txt
  numpy/core/include/numpy/numpyconfig.h
  setup.py
Labels: 14 - Release

#16267 DOC: Clarifications for np.std
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#16274 MAINT: cleanups to quantile
  numpy/lib/function_base.py
Labels: 03 - Maintenance, component: numpy.lib

#16238 MAINT: Unify cached (C-level static) imports
  numpy/core/src/common/npy_import.h
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/umath/scalarmath.c.src
Labels: 03 - Maintenance, component: numpy.core

#16257 DOC: Update the f2py section of the "Using Python as Glue" page.
  doc/source/user/c-info.python-as-glue.rst
Labels: 04 - Documentation, component: Documentation

#16278 DOC: Clarifications for ``np.var``.
  numpy/core/fromnumeric.py
Labels: 04 - Documentation, component: numpy.core

#16280 REL: Prepare for the 1.19.0 release
  .mailmap
  doc/changelog/1.19.0-changelog.rst
  doc/release/upcoming_changes/13421.improvement.rst
  doc/release/upcoming_changes/14924.compatibility.rst
  doc/release/upcoming_changes/14933.compatibility.rst
  doc/release/upcoming_changes/14942.compatibility.rst
  doc/release/upcoming_changes/14981.compatibility.rst
  doc/release/upcoming_changes/14995.compatibility.rst
  doc/release/upcoming_changes/15118.change.rst
  doc/release/upcoming_changes/15119.deprecation.rst
  doc/release/upcoming_changes/15217.deprecation.rst
  doc/release/upcoming_changes/15218.improvement.rst
  doc/release/upcoming_changes/15229.compatibility.rst
  doc/release/upcoming_changes/15233.highlight.rst
  doc/release/upcoming_changes/15251.c_api.rst
  doc/release/upcoming_changes/15255.compatibility.rst
  doc/release/upcoming_changes/15355.c_api.rst
  doc/release/upcoming_changes/15385.new_feature.rst
  doc/release/upcoming_changes/15427.deprecation.rst
  doc/release/upcoming_changes/15463.change.rst
  doc/release/upcoming_changes/15534.deprecation.rst
  doc/release/upcoming_changes/15648.improvement.rst
  doc/release/upcoming_changes/15685.new_feature.rst
  doc/release/upcoming_changes/15715.new_feature.rst
  doc/release/upcoming_changes/15769.improvement.rst
  doc/release/upcoming_changes/15773.compatibility.rst
  doc/release/upcoming_changes/15802.expired.rst
  doc/release/upcoming_changes/15804.expired.rst
  doc/release/upcoming_changes/15805.expired.rst
  doc/release/upcoming_changes/15815.expired.rst
  doc/release/upcoming_changes/15840.compatibility.rst
  doc/release/upcoming_changes/15840.deprecation.rst
  doc/release/upcoming_changes/15867.deprecation.rst
  doc/release/upcoming_changes/15870.new_feature.rst
  doc/release/upcoming_changes/15872.change.rst
  doc/release/upcoming_changes/15882.compatibility.rst
  doc/release/upcoming_changes/16068.compatibility.rst
  doc/release/upcoming_changes/16080.improvement.rst
  doc/release/upcoming_changes/16102.improvement.rst
  doc/release/upcoming_changes/16128.new_feature.rst
  doc/release/upcoming_changes/16153.change.rst
  doc/release/upcoming_changes/8255.new_feature.rst
  doc/source/release/1.19.0-notes.rst
Labels: 14 - Release, component: Documentation

#16253 DOC: Modified documentation of finfo and machar
  numpy/core/getlimits.py
  numpy/core/machar.py
Labels: 04 - Documentation, component: numpy.core

#16207 DOC: Add PyArray_ContiguousFromObject C docs
  doc/source/reference/c-api/array.rst
Labels: 04 - Documentation, component: Documentation

#16292 BUG: Fix tools/download-wheels.py.
  tools/download-wheels.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: Other

#16254 MAINT: Chain exceptions in generate_umath.py
  numpy/core/code_generators/generate_umath.py
Labels: 03 - Maintenance, component: build, component: numpy.core

#16293 BUG: Fix tools/download-wheels.py.
  tools/download-wheels.py
Labels: 00 - Bug, 08 - Backport, component: Other

#16276 BUG: Ensure out argument is returned by identity for 0d arrays
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#16283 DOC: Add a note about performance of isclose compared to math.isclose
  numpy/core/numeric.py
Labels: 04 - Documentation, component: numpy.core

#16295 BUG: Require Python >= 3.6 in setup.py
  setup.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: build

#16242 BUG: Fix default fallback in genfromtxt
  numpy/lib/_iotools.py
  numpy/lib/tests/test__iotools.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, component: numpy.lib

#16156 DEP: Deprecate `numpy.dual`.
  doc/release/upcoming_changes/16156.deprecation.rst
  doc/source/reference/routines.dual.rst
  numpy/__init__.py
  numpy/dual.py
  numpy/lib/function_base.py
  numpy/matrixlib/defmatrix.py
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
  numpy/tests/test_public_api.py
Labels: 07 - Deprecation

#16301 BUG: Require Python >= 3.6 in setup.py
  setup.py
Labels: 00 - Bug, 08 - Backport, component: build

#16237 MAINT: precompute log(2.0 * M_PI) in `random_loggam'
  numpy/random/src/distributions/distributions.c
Labels: 01 - Enhancement, component: numpy.random

#16305 DOC: Fix packbits documentation rendering,
  numpy/core/multiarray.py
Labels: 04 - Documentation, 09 - Backport-Candidate

#16284 MAINT: Clean up the implementation of quantile
  numpy/lib/function_base.py
Labels: 03 - Maintenance, component: numpy.lib

#16308 BUG: relpath fails for different drives on windows
  numpy/distutils/command/build_ext.py
Labels: 00 - Bug, component: build

#16239 BUG,DOC: Allow attach docs twice but error if wrong
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/compiled_base.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/lib/tests/test_function_base.py
  numpy/tests/test_reloading.py
Labels: 00 - Bug, 04 - Documentation, 09 - Backport-Candidate, component: numpy.core

#16312 BUG: relpath fails for different drives on windows
  numpy/distutils/command/build_ext.py
Labels: 00 - Bug, 08 - Backport, component: build

#15997 ENH: improve printing of arrays with multi-line reprs
  doc/release/upcoming_changes/15997.improvement.rst
  numpy/core/arrayprint.py
  numpy/core/tests/test_arrayprint.py
Labels: 01 - Enhancement

#16314 DOC: Fix documentation rendering,
  numpy/core/multiarray.py
Labels: 04 - Documentation, 08 - Backport, component: numpy.core

#16318 MAINT: Stop Using PyEval_Call* and simplify some uses
  .travis.yml
  numpy/core/src/multiarray/strfuncs.c
  numpy/core/src/umath/loops.c.src
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: CI, component: numpy.core

#16130 DOC: Correct documentation of ``__array__`` when used as output array.
  doc/source/reference/arrays.classes.rst
Labels: 04 - Documentation

#16327 BUG: Don't segfault on bad __len__ when assigning.
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#16333 DOC: Fix spelling typo - homogenous to homogeneous. (#16324)
  doc/neps/nep-0022-ndarray-duck-typing-overview.rst
  doc/source/reference/arrays.interface.rst
  doc/source/reference/arrays.rst
  doc/source/user/absolute_beginners.rst
  numpy/core/tests/test_multiarray.py
  numpy/doc/glossary.py
Labels: 03 - Maintenance

#16337 CI: Create a link for the circleCI artifact
  .github/workflows/circleci.yml
Labels: component: CI, component: Documentation

#16336 BUG: Fix refcounting in add_newdoc
  numpy/core/src/multiarray/compiled_base.c
Labels: 00 - Bug, component: numpy.core

#16344 BUG: Allow attaching documentation twice in add_docstring
  numpy/core/src/multiarray/compiled_base.c
  numpy/tests/test_reloading.py
Labels: 00 - Bug, 04 - Documentation, 08 - Backport, component: numpy.core

#16343 BLD: Avoid "visibility attribute not supported" warning.
  numpy/distutils/command/autodist.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.distutils

#16342 MAINT: Stop Using PyEval_Call* and simplify some uses
  .travis.yml
  numpy/core/src/multiarray/strfuncs.c
  numpy/core/src/umath/loops.c.src
Labels: 03 - Maintenance, 08 - Backport, component: CI, component: numpy.core

#16341 BUG: Don't segfault on bad __len__ when assigning. (gh-16327)
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#16346 MAINT: Remove f-strings in setup.py.
  setup.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: build

#15759 BUILD: Remove Accelerate
  .travis.yml
  MANIFEST.in
  azure-pipelines.yml
  doc/release/upcoming_changes/15759.improvement.rst
  doc/source/user/building.rst
  numpy/_build_utils/README
  numpy/_build_utils/__init__.py
  numpy/_build_utils/apple_accelerate.py
  numpy/_build_utils/src/apple_sgemv_fix.c
  numpy/core/setup.py
  numpy/core/tests/test_multiarray.py
  numpy/distutils/system_info.py
  numpy/linalg/setup.py
Labels: component: build

#16298 BUG: np.info does not show keyword-only arguments
  numpy/lib/utils.py
Labels: 00 - Bug, component: numpy.lib

#16329 MAINT: Cleanup 'tools/download-wheels.py'
  tools/download-wheels.py
Labels: 03 - Maintenance, component: Other

#16349 BUG: Indentation for docstrings
  numpy/lib/tests/test_utils.py
  numpy/lib/utils.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.lib

#16348 BUG: Fix dtype leak in `PyArray_FromAny` error path
  numpy/core/src/multiarray/ctors.c
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#16355 MAINT: Remove f-strings in setup.py. (gh-16346)
  setup.py
Labels: 03 - Maintenance, 08 - Backport, component: build

#16356 BUG: Indentation for docstrings
  numpy/lib/tests/test_utils.py
  numpy/lib/utils.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#16358 BUG: Fix dtype leak in `PyArray_FromAny` error path
  numpy/core/src/multiarray/ctors.c
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#16266 ENH: include dt64/td64 isinstance checks in __init__.pxd
  numpy/__init__.pxd
  numpy/core/setup.py
  numpy/core/tests/examples/checks.pyx
  numpy/core/tests/examples/setup.py
  numpy/core/tests/test_cython.py
Labels: 01 - Enhancement, component: Other

#16323 DOC: Reconstruct Testing Guideline.
  doc/TESTS.rst.txt
Labels: 04 - Documentation, component: Documentation

#16362 MAINT: Streamline download-wheels.
  tools/download-wheels.py
Labels: 03 - Maintenance, component: Other

#16297 ENH: Optimize Cpu feature detect in X86, fix for GCC on macOS
  numpy/core/src/common/npy_cpu_features.c.src
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#16351 BUG: Fix small leaks in error path and `empty_like` with shape
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#16383 ENH: Optimize Cpu feature detect in X86, fix for GCC on macOS (#16297)
  numpy/core/src/common/npy_cpu_features.c.src
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#16387 MAINT: Make ctypes optional on Windows
  numpy/core/_dtype_ctypes.py
  tools/openblas_support.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#15037 BUG: `np.resize` negative shape and subclasses edge case fixes
  numpy/core/fromnumeric.py
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement, 58 - Ready for review, component: numpy.core

#16393 MAINT: Use a raw string for the fromstring docstring.
  numpy/core/records.py
Labels: 03 - Maintenance, 04 - Documentation, 09 - Backport-Candidate, component: numpy.core

#16392 MAINT: Stop uploading wheels to Rackspace.
  .travis.yml
  tools/travis-upload-wheel.sh
Labels: 03 - Maintenance, component: CI

#15508 API: Create Preliminary DTypeMeta class and np.dtype subclasses
  numpy/core/code_generators/cversions.txt
  numpy/core/code_generators/genapi.py
  numpy/core/code_generators/generate_numpy_api.py
  numpy/core/code_generators/numpy_api.py
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/setup.py
  numpy/core/setup_common.py
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/dtypemeta.c
  numpy/core/src/multiarray/dtypemeta.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/usertypes.c
  numpy/core/tests/test_dtype.py
Labels: 01 - Enhancement, component: numpy.core

#16304 TST, MAINT: Fix detecting and testing armhf features
  numpy/core/src/common/npy_cpu_features.c.src
  numpy/core/tests/test_cpu_features.py
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate, component: numpy.core

#16373 MAINT,DOC: add index for user docs.
  doc/source/user/index.rst
Labels: 09 - Backport-Candidate, component: Documentation

#16402 TST, MAINT: Fix detecting and testing armhf features
  numpy/core/src/common/npy_cpu_features.c.src
  numpy/core/tests/test_cpu_features.py
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport

#16400 BUG: Fix small leaks in error path and ``empty_like`` with shape
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#16399 MAINT: Make ctypes optional on Windows
  numpy/core/_dtype_ctypes.py
  tools/openblas_support.py
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#16398 MAINT: core: Use a raw string for the fromstring docstring.
  numpy/core/records.py
Labels: 03 - Maintenance, 04 - Documentation, 08 - Backport, component: numpy.core

#16404 DOC,BLD: Update make dist html target.
  doc/Makefile
Labels: 09 - Backport-Candidate, component: Documentation

#15900 DEP: Ensure indexing errors will be raised even on empty results
  doc/release/upcoming_changes/15900.deprecation.rst
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_deprecations.py
Labels: 07 - Deprecation, component: numpy.core

#16409 TST, CI: turn on codecov patch diffs
  .codecov.yml
Labels: component: CI

#16408 DOC,BLD: Update sphinx conf to use xelatex.
  doc/source/conf.py
Labels: 04 - Documentation, 09 - Backport-Candidate, component: Documentation

#16414 MAINT, DOC: add index for user docs.
  doc/source/user/index.rst
Labels: 04 - Documentation, 08 - Backport, component: Documentation

#16413 DOC,BLD: Update make dist html target.
  doc/Makefile
Labels: 04 - Documentation, 08 - Backport, component: Documentation

#16412 DOC,BLD: Update sphinx conf to use xelatex.
  doc/source/conf.py
Labels: 04 - Documentation, 08 - Backport, component: Documentation

#16423 TST: Simplify assert_warns in test_io.py
  numpy/lib/tests/test_io.py
Labels: 03 - Maintenance

#16422 DOC: Update assert_warns parameter list
  numpy/testing/_private/utils.py
Labels: 04 - Documentation, component: numpy.testing

#16427 DOC: make NEP 18 status Final
  doc/neps/index.rst.tmpl
  doc/neps/nep-0018-array-function-protocol.rst
  doc/neps/tools/build_index.py
Labels: 04 - Documentation, component: NEP, component: __array_function__

#16428 DOC: Add style guide to howto_document
  doc/source/docs/howto_document.rst
Labels: 01 - Enhancement, 04 - Documentation, component: Documentation

#16417 MAINT: support python 3.10
  numpy/core/include/numpy/npy_3kcompat.h
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/umath/_rational_tests.c.src
  numpy/f2py/rules.py
  numpy/f2py/tests/src/array_from_pyobj/wrapmodule.c
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#16441 BUG: relpath fails for different drives on windows
  numpy/distutils/command/build_ext.py
Labels: 00 - Bug, 08 - Backport, component: build

#16437 MAINT: support python 3.10
  numpy/core/include/numpy/npy_3kcompat.h
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/umath/_rational_tests.c.src
  numpy/f2py/rules.py
  numpy/f2py/tests/src/array_from_pyobj/wrapmodule.c
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#16438 MAINT: Catch remaining cases of Py_SIZE and Py_TYPE as lvalues
  numpy/core/src/multiarray/dtypemeta.c
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 03 - Maintenance, 26 - Compiler, component: numpy.core

#16439 ENH: enable pickle protocol 5 support for python3.5
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
  test_requirements.txt
Labels: 01 - Enhancement, component: numpy.core

#16442 ENH: Fix deprecated warn for Intel/Apple/Clang Compiler
  numpy/core/include/numpy/npy_1_7_deprecated_api.h
Labels: 01 - Enhancement, component: numpy.core

#16436 DOC: Add a reference into NEP 29,
  doc/neps/nep-0029-deprecation_policy.rst
Labels: 03 - Maintenance, 04 - Documentation, component: NEP

#16444 DOC: make clearer that sinc is normalized by a factor pi
  numpy/lib/function_base.py
Labels: 04 - Documentation, component: numpy.lib

#16365 DOC: Fix an obvious mistake in a message printed in doc/Makefile.
  doc/Makefile
Labels: 04 - Documentation, component: Documentation

#16450 DOC: Add a NEP link to all neps.
  doc/neps/nep-0000.rst
  doc/neps/nep-0001-npy-format.rst
  doc/neps/nep-0002-warnfix.rst
  doc/neps/nep-0003-math_config_clean.rst
  doc/neps/nep-0004-datetime-proposal3.rst
  doc/neps/nep-0005-generalized-ufuncs.rst
  doc/neps/nep-0006-newbugtracker.rst
  doc/neps/nep-0007-datetime-proposal.rst
  doc/neps/nep-0008-groupby_additions.rst
  doc/neps/nep-0009-structured_array_extensions.rst
  doc/neps/nep-0010-new-iterator-ufunc.rst
  doc/neps/nep-0011-deferred-ufunc-evaluation.rst
  doc/neps/nep-0012-missing-data.rst
  doc/neps/nep-0013-ufunc-overrides.rst
  doc/neps/nep-0014-dropping-python2.7-proposal.rst
  doc/neps/nep-0015-merge-multiarray-umath.rst
  doc/neps/nep-0016-abstract-array.rst
  doc/neps/nep-0016-benchmark.py
  doc/neps/nep-0017-split-out-maskedarray.rst
  doc/neps/nep-0018-array-function-protocol.rst
  doc/neps/nep-0019-rng-policy.rst
  doc/neps/nep-0020-gufunc-signature-enhancement.rst
  doc/neps/nep-0021-advanced-indexing.rst
  doc/neps/nep-0022-ndarray-duck-typing-overview.rst
  doc/neps/nep-0023-backwards-compatibility.rst
  doc/neps/nep-0024-missing-data-2.rst
  doc/neps/nep-0025-missing-data-3.rst
  doc/neps/nep-0026-missing-data-summary.rst
  doc/neps/nep-0027-zero-rank-arrarys.rst
  doc/neps/nep-0028-website-redesign.rst
  doc/neps/nep-0029-deprecation_policy.rst
  doc/neps/nep-0030-duck-array-protocol.rst
  doc/neps/nep-0031-uarray.rst
  doc/neps/nep-0032-remove-financial-functions.rst
  doc/neps/nep-0034-infer-dtype-is-object.rst
  doc/neps/nep-0035-array-creation-dispatch-with-array-function.rst
  doc/neps/nep-0037-array-module.rst
  doc/neps/nep-0038-SIMD-optimizations.rst
  doc/neps/nep-0044-restructuring-numpy-docs.rst
  doc/neps/roadmap.rst
Labels: 03 - Maintenance, 04 - Documentation, component: NEP

#16447 DOC: add a "make show" command to doc/Makefile
  doc/Makefile
Labels: 03 - Maintenance, component: Documentation

#16454 TST: Add tests for PyArray_IntpConverter
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/tests/test_conversion_utils.py
Labels: 05 - Testing, component: numpy.core

#16334 ENH: Use AVX-512 for np.isnan, np.infinite, np.isinf and np.signbit
  benchmarks/benchmarks/bench_avx.py
  numpy/core/code_generators/generate_umath.py
  numpy/core/include/numpy/npy_common.h
  numpy/core/setup_common.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: benchmarks, component: numpy.core

#15886 DEP: Deprecate passing shape=None to mean shape=()
  doc/release/upcoming_changes/15886.deprecation.rst
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/tests/test_conversion_utils.py
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
Labels: 07 - Deprecation, 59 - Needs tests, component: numpy.core, component: numpy.random

#16306 DOC: Fix troubleshooting code snippet when env vars are empty
  doc/source/user/troubleshooting-importerror.rst
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#16371 ENH: Use AVX-512 for np.frexp and np.ldexp
  benchmarks/benchmarks/bench_avx.py
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: numpy.core

#16456 DOC: Fix troubleshooting code snippet when env vars are empty
  doc/source/user/troubleshooting-importerror.rst
Labels: 03 - Maintenance, 04 - Documentation, 08 - Backport, component: Documentation

#16457 REL: Prepare for the NumPy 1.19.0rc2 release.
  .mailmap
  doc/changelog/1.19.0-changelog.rst
  doc/source/release/1.19.0-notes.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation
