Repository numpy/numpy, pull requests merged in 2020-04, with the labels that each got.

#15885 BUG: Respect itershape=() in nditer
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/nditer_pywrap.c
  numpy/core/tests/test_nditer.py
Labels: 00 - Bug, component: numpy.core

#15887 MAINT: Clean-up 'next = __next__' used for Python 2 compatibility
  numpy/lib/index_tricks.py
  numpy/linalg/lapack_lite/fortran.py
  numpy/ma/core.py
  numpy/ma/tests/test_subclassing.py
Labels: 03 - Maintenance, 27 - Py3K, component: numpy.lib, component: numpy.ma

#15867 DEP: Deprecate ndarray.tostring()
  doc/release/upcoming_changes/15867.deprecation.rst
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_deprecations.py
  numpy/lib/user_array.py
  numpy/ma/core.py
  numpy/ma/tests/test_regression.py
Labels: 07 - Deprecation, component: numpy.core, component: numpy.ma

#15893 TST: Run test_large_zip in a child process
  numpy/lib/tests/test_io.py
Labels: 05 - Testing

#15894 DOC: Add missing doc of numpy.ma.apply_over_axes in API list.
  doc/source/reference/routines.ma.rst
Labels: 04 - Documentation, component: Documentation

#15883 MAINT: Remove duplicated code in iotools.py
  numpy/lib/_iotools.py
Labels: 03 - Maintenance, component: numpy.lib

#15904 MAINT: records: Remove private `format_parser._descr` attribute
  numpy/core/records.py
Labels: 03 - Maintenance

#15839 DOC: Minor fix to _hist_bin_fd documentation
  numpy/lib/histograms.py
Labels: 04 - Documentation, component: numpy.lib

#15834 NEP: Add paragraph to NEP 41 about no array-object use and fix links
  doc/neps/Makefile
  doc/neps/nep-0040-legacy-datatype-impl.rst
  doc/neps/nep-0041-improved-dtype-support.rst
  doc/neps/tools/build_index.py
Labels: component: NEP

#15749 DOC: document inconsistency between the shape of data and mask in numpy.ma
  doc/source/reference/maskedarray.baseclass.rst
  numpy/ma/core.py
Labels: 04 - Documentation

#15872 BUG: Fix eigh and cholesky methods of numpy.random.multivariate_normal
  doc/release/upcoming_changes/15872.change.rst
  numpy/random/_generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#15903 BLD: report clang version on macOS
  azure-pipelines.yml
Labels: 05 - Testing, component: build

#15916 Bug: Fix eigh and cholesky methods of numpy.random.multivariate_normal
  doc/release/upcoming_changes/15872.change.rst
  numpy/random/_generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#15914 BUG: random: Disallow p=0 in negative_binomial
  numpy/random/_generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, component: numpy.random

#15929 BUG,MAINT: Remove incorrect special case in string to number casts
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/tests/test_longdouble.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#15930 BUG: Guarantee array is in valid state after memory error occurs in getset.c
  numpy/core/src/multiarray/getset.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#15931 DOC: Correct private function name to PyArray_AdaptFlexibleDType
  doc/neps/nep-0040-legacy-datatype-impl.rst
Labels: 04 - Documentation, component: NEP

#15936 MAINT: Fix capitalization in error message in `mtrand.pyx`
  numpy/random/mtrand.pyx
Labels: 03 - Maintenance, component: numpy.random

#15806 TST: Parametrize sort test
  numpy/core/tests/test_multiarray.py
Labels: 05 - Testing, Triage-review

#15840 BUG,DEP: Make `scalar.__round__()` behave like pythons round
  .gitignore
  doc/release/upcoming_changes/15840.compatibility.rst
  doc/release/upcoming_changes/15840.deprecation.rst
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement, 62 - Python API, component: numpy.core

#15907 DOC: Update documentation w.r.t. NPY_RELAXED_STRIDES_CHECKING
  doc/source/reference/arrays.ndarray.rst
Labels: 04 - Documentation, component: Documentation

#15920 DOC: improve docstring for numpy.linalg.lstsq
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#15921 ENH: Use sysconfig instead of probing Makefile
  numpy/distutils/fcompiler/gnu.py
Labels: 01 - Enhancement, Triage-review, component: numpy.distutils

#15876 BUG: Check that `pvals` is 1D in `_generator.multinomial`.
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_random.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.random

#14715 NEP: Proposal for array creation dispatching with `__array_function__`
  doc/neps/nep-0035-array-creation-dispatch-with-array-function.rst
Labels: component: NEP

#15953 NEP: minor maintenance, update filename and fix a cross-reference
  doc/neps/nep-0034-infer-dtype-is-object.rst
  doc/neps/nep-0037-array-module.rst
Labels: 03 - Maintenance, component: NEP

#14530 MAINT: Fix typos and copy edit NEP-0030.
  doc/neps/nep-0030-duck-array-protocol.rst
Labels: 03 - Maintenance, component: NEP

#15954 BUG: Check that `pvals` is 1D in `_generator.multinomial`.
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_random.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.random

#15985 BUG: Avoid duplication in stack trace of `linspace(a, b, num=1.5)`
  numpy/core/function_base.py
Labels: 00 - Bug, component: numpy.core

#15967 TST: Add slow_pypy support
  numpy/_pytesttester.py
  numpy/conftest.py
  numpy/core/tests/test_regression.py
  numpy/lib/tests/test_io.py
Labels: 01 - Enhancement, 05 - Testing

#15982 MAINT/BUG: Cleanup and minor fixes to conform_reduce_result
  numpy/core/src/umath/reduction.c
Labels: 00 - Bug, 03 - Maintenance

#15899 DOC: Improve record module documentation
  numpy/core/records.py
Labels: 04 - Documentation, component: numpy.core

#15993 DOC: Fix method documentation of function sort in MaskedArray
  numpy/ma/core.py
Labels: 04 - Documentation, component: numpy.ma

#16001 DOC: add note on flatten ordering in matlab page
  doc/source/user/numpy-for-matlab-users.rst
Labels: 04 - Documentation

#15988 BUG: Fix inf and NaN-warnings in half float `nextafter`
  numpy/core/src/npymath/halffloat.c
  numpy/core/tests/test_half.py
Labels: 00 - Bug, 59 - Needs tests, component: numpy.core

#15951 BUG: Alpha parameter must be 1D in `generator.dirichlet`
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_random.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.random

#16017 BUG: Alpha parameter must be 1D in `generator.dirichlet`
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_random.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.random

#16021 REL: Update master after 1.18.3 release.
  doc/changelog/1.18.3-changelog.rst
  doc/source/release.rst
  doc/source/release/1.18.3-notes.rst
Labels: 14 - Release, component: Documentation

#15891 DOC: Clarify docs on mixed advanced indexing and slicing
  numpy/doc/indexing.py
Labels: 04 - Documentation, component: Documentation

#16015 DOC: update first section of NEP 37 (``__array_function__`` downsides)
  doc/neps/nep-0037-array-module.rst
Labels: 04 - Documentation, component: NEP

#16010 BUG: Fix lexsort axis check
  numpy/core/src/multiarray/item_selection.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, component: numpy.core

#16038 MAINT,TST: Move _repr_latex tests to test_printing.
  numpy/polynomial/tests/test_classes.py
  numpy/polynomial/tests/test_printing.py
Labels: 03 - Maintenance, 05 - Testing

#16007 TST: Add tests for the conversion utilities
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/tests/test_conversion_utils.py
Labels: 05 - Testing

#16041 BUG: missing 'f' prefix for fstring
  numpy/random/setup.py
Labels: 00 - Bug, component: build, component: numpy.random

#16025 DOC: initialise random number generator before first use in quickstart
  doc/source/user/quickstart.rst
Labels: 04 - Documentation

#16011 DOC: Clarify single-segment arrays in np reference
  doc/source/reference/arrays.ndarray.rst
Labels: 04 - Documentation, component: Documentation

#15938 BUG: Add _LARGE_FILES to def_macros[] when platform is AIX.
  numpy/fft/setup.py
Labels: 00 - Bug, component: numpy.fft

#15648 MAINT: AVX512 implementation with intrinsic for float64 input np.exp()
  benchmarks/benchmarks/bench_avx.py
  doc/release/upcoming_changes/15648.improvement.rst
  numpy/core/code_generators/generate_umath.py
  numpy/core/include/numpy/npy_math.h
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/npy_simd_data.h
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/data/umath-validation-set-exp
  numpy/core/tests/test_umath.py
  numpy/core/tests/test_umath_accuracy.py
Labels: 01 - Enhancement, 03 - Maintenance, 56 - Needs Release Note., component: numpy.core

#16043 DOC: Add converters example to the loadtxt docstring
  numpy/lib/npyio.py
Labels: 04 - Documentation, component: numpy.lib

#16055 BLD: add i686 for 1.18 builds
  tools/openblas_support.py
Labels: component: build

#16051 DOC: Add missing bracket
  doc/DISTUTILS.rst.txt
  doc/neps/nep-0010-new-iterator-ufunc.rst
  doc/neps/nep-0012-missing-data.rst
  doc/neps/nep-0028-website-redesign.rst
  doc/neps/scope.rst
  doc/source/dev/index.rst
  doc/source/reference/c-api/array.rst
  doc/source/user/tutorial-svd.rst
  numpy/core/include/numpy/ndarrayobject.h
  numpy/core/src/common/lowlevel_strided_loops.h
  numpy/core/src/common/numpyos.c
  numpy/core/src/umath/ufunc_object.c
  numpy/doc/glossary.py
  numpy/doc/subclassing.py
  numpy/fft/_pocketfft.py
  numpy/lib/npyio.py
  numpy/ma/extras.py
  numpy/matrixlib/defmatrix.py
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/testing/_private/noseclasses.py
  numpy/testing/_private/utils.py
Labels: 03 - Maintenance

#16075 DOC: add a note on sampling 2-D arrays to random.choice docstring
  numpy/random/mtrand.pyx
Labels: 04 - Documentation, component: numpy.random

#15949 BUG: fix AttributeError on accessing object in nested MaskedArray.
  numpy/ma/core.py
  numpy/ma/tests/test_extras.py
Labels: 00 - Bug, component: numpy.ma

#16053 DOC: Small typo fixes to NEP 40.
  doc/neps/nep-0040-legacy-datatype-impl.rst
Labels: 04 - Documentation, component: NEP

#16054 DOC, BLD: update release howto and walkthrough for ananconda.org storage
  doc/HOWTO_RELEASE.rst.txt
  doc/RELEASE_WALKTHROUGH.rst.txt
Labels: 04 - Documentation, component: Documentation, component: build

#16064 MAINT: Chain exceptions in several places.
  numpy/lib/histograms.py
  numpy/lib/index_tricks.py
  numpy/lib/shape_base.py
  numpy/lib/ufunclike.py
Labels: 03 - Maintenance, component: numpy.lib

#16079 DOC,BLD: Limit timeit iterations in random docs.
  doc/source/reference/random/new-or-different.rst
Labels: component: Documentation

#16077 BLD: fix path to libgfortran on macOS
  azure-pipelines.yml
Labels: component: build

#16084 DOC: tweak neps/scope.rst
  doc/neps/scope.rst
Labels: 04 - Documentation, component: NEP

#16008 BUG: Unify handling of string enum converters
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/tests/test_conversion_utils.py
  numpy/core/tests/test_einsum.py
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#16009 MAINT: Replace npyiter_order_converter with PyArray_OrderConverter
  numpy/core/src/multiarray/nditer_pywrap.c
Labels: 03 - Maintenance

#16076 BUG: random: Generator.integers(2**32) always returned 0.
  numpy/random/src/distributions/distributions.c
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_randomstate.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.random

#16091 BLD: fix path to libgfortran on macOS
  azure-pipelines.yml
Labels: 05 - Testing, component: CI, component: build

#16090 BUG: random: Generator.integers(2**32) always returned 0.
  numpy/random/src/distributions/distributions.c
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_randomstate.py
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#16094 TST: use latest released PyPy instead of nightly builds
  tools/pypy-test.sh
Labels: 05 - Testing

#16100 NEP 41: Accept NEP 41 and add DType<->scalar duplication paragraph
  doc/neps/nep-0041-improved-dtype-support.rst
Labels: component: NEP

#16101 BLD: put openblas library in local directory on windows
  azure-steps-windows.yml
Labels: component: build

#16097 MAINT, DOC: Improve grammar on a comment in the quickstart
  doc/source/user/quickstart.rst
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#14924 BUG: Fix numpy.random.dirichlet returns NaN for small 'alpha' parameters.
  doc/release/upcoming_changes/14924.compatibility.rst
  numpy/random/_generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 00 - Bug, component: numpy.random

#15715 ENH: update numpy.linalg.multi_dot to accept an `out` argument
  doc/release/upcoming_changes/15715.new_feature.rst
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
Labels: 01 - Enhancement, component: numpy.linalg

#16113 MAINT: Fix random.PCG64 signature
  numpy/random/_pcg64.pyx
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.random

#16114 BLD: put openblas library in local directory on windows
  azure-steps-windows.yml
Labels: 03 - Maintenance, 08 - Backport, component: CI, component: build

#16109 REV: Reverts side-effect changes to casting
  numpy/core/src/multiarray/arraytypes.c.src
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.core
