Repository numpy/numpy, pull requests merged in 2020-03, with the labels that each got.

#15672 MAINT: Added comment pointing FIXME to relevant PR.
  numpy/__init__.py
Labels: 03 - Maintenance

#15677 TST: Do not create gfortran link in azure Mac testing.
  azure-pipelines.yml
  tools/travis-before-install.sh
  tools/travis-test.sh
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport, component: CI

#15675 TST: move _no_tracing to testing._private
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_regression.py
  numpy/testing/_private/utils.py
Labels: 05 - Testing, 08 - Backport, component: numpy.testing

#15676 MAINT: Large overhead in some random functions
  numpy/random/_bounded_integers.pyx.in
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
Labels: 03 - Maintenance, 06 - Regression, 08 - Backport, component: numpy.random

#15679 BUG: Added missing error check in `ndarray.__contains__`
  numpy/core/src/multiarray/sequence.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#15653 BLD: update OpenBLAS to pre-0.3.9 version
  .travis.yml
  azure-pipelines.yml
  shippable.yml
  tools/openblas_support.py
  tools/pypy-test.sh
  tools/travis-test.sh
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: CI, component: build

#15680 DOC: Improve Benchmark README with environment setup and more practical command
  benchmarks/README.rst
Labels: 04 - Documentation, component: benchmarks

#15616 DOC: Add missing imports, definitions and dummy file
  doc/source/reference/distutils.rst
Labels: 00 - Bug, 04 - Documentation, component: Documentation

#15694 DOC: Fix indexing docs to pass refguide
  doc/source/reference/arrays.indexing.rst
Labels: 04 - Documentation

#15701 MAINT: Convert shebang from python to python3 (#15687)
  doc/DISTUTILS.rst.txt
  doc/cdoc/numpyfilter.py
  doc/postprocess.py
  doc/summarize.py
  numpy/distutils/conv_template.py
  numpy/distutils/cpuinfo.py
  numpy/distutils/from_template.py
  numpy/distutils/setup.py
  numpy/distutils/system_info.py
  numpy/f2py/__init__.py
  numpy/f2py/auxfuncs.py
  numpy/f2py/capi_maps.py
  numpy/f2py/cb_rules.py
  numpy/f2py/cfuncs.py
  numpy/f2py/common_rules.py
  numpy/f2py/crackfortran.py
  numpy/f2py/diagnose.py
  numpy/f2py/f2py2e.py
  numpy/f2py/f90mod_rules.py
  numpy/f2py/func2subr.py
  numpy/f2py/rules.py
  numpy/f2py/setup.py
  numpy/f2py/use_rules.py
  numpy/linalg/lapack_lite/clapack_scrub.py
  numpy/linalg/lapack_lite/make_lite.py
  numpy/ma/bench.py
  numpy/ma/setup.py
  numpy/matrixlib/setup.py
  numpy/random/_examples/cython/extending.pyx
  numpy/random/_examples/cython/extending_distributions.pyx
  numpy/setup.py
  numpy/testing/print_coercion_tables.py
  numpy/testing/setup.py
  runtests.py
  setup.py
  tools/c_coverage/c_coverage_report.py
  tools/changelog.py
  tools/ci/push_docs_to_repo.py
  tools/ci/test_all_newsfragments_used.py
  tools/find_deprecated_escaped_characters.py
  tools/refguide_check.py
  tools/swig/test/setup.py
  tools/swig/test/testArray.py
  tools/swig/test/testFarray.py
  tools/swig/test/testFlat.py
  tools/swig/test/testFortran.py
  tools/swig/test/testMatrix.py
  tools/swig/test/testSuperTensor.py
  tools/swig/test/testTensor.py
  tools/swig/test/testVector.py
Labels: 03 - Maintenance

#15683 NEP: move NEP 44 to accepted status
  doc/neps/nep-0044-restructuring-numpy-docs.rst
Labels: 04 - Documentation, component: NEP

#15487 BUG: Fixing result of np quantile edge case
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 00 - Bug, component: numpy.core, component: numpy.lib

#15703 DOC: Fix quickstart doc to pass refguide
  doc/source/user/quickstart.rst
Labels: 04 - Documentation, component: Documentation

#15705 DOC: Change list to tuple in example description.
  doc/source/user/quickstart.rst
Labels: 04 - Documentation, component: Documentation

#15716 TST: always use 'python -mpip' not 'pip'
  tools/pypy-test.sh
Labels: 05 - Testing

#15717 DOC: update datetime reference to pass refguide
  doc/source/reference/arrays.datetime.rst
Labels: 04 - Documentation

#15718 DOC: Fix coremath.rst to fix refguide_check
  doc/source/reference/c-api/coremath.rst
Labels: 00 - Bug, 04 - Documentation, component: Documentation

#15714 MAINT: use list-based APIs to call subprocesses
  numpy/distutils/lib2def.py
  numpy/distutils/mingw32ccompiler.py
  numpy/distutils/misc_util.py
  numpy/distutils/tests/test_mingw32ccompiler.py
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.distutils

#15722 MAINT: use list-based APIs to call subprocesses
  numpy/distutils/lib2def.py
  numpy/distutils/mingw32ccompiler.py
  numpy/distutils/misc_util.py
  numpy/distutils/tests/test_mingw32ccompiler.py
  pytest.ini
  test_requirements.txt
  tools/pypy-test.sh
Labels: 03 - Maintenance, 08 - Backport, component: numpy.distutils

#15723 BUG: fix logic error when nm fails on 32-bit
  numpy/distutils/tests/test_mingw32ccompiler.py
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate, component: numpy.distutils

#15706 MAINT: Fixing typos in f2py comments and code.
  numpy/f2py/capi_maps.py
  numpy/f2py/crackfortran.py
  numpy/f2py/f90mod_rules.py
Labels: 03 - Maintenance, component: numpy.f2py

#15702 MAINT: replace optparse with argparse for 'doc' and 'tools' scripts
  doc/postprocess.py
  doc/summarize.py
  tools/c_coverage/c_coverage_report.py
Labels: 03 - Maintenance

#15733 DOC: Allow NEPs to link to python, numpy, scipy, and matplotlib docs
  doc/neps/conf.py
Labels: 04 - Documentation, component: NEP

#15734 BUG: fix logic error when nm fails on 32-bit
  doc/changelog/1.18.2-changelog.rst
  doc/source/release/1.18.2-notes.rst
  numpy/distutils/tests/test_mingw32ccompiler.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport, component: numpy.distutils

#15735 DOC: LICENSE 2019 -> 2020
  LICENSE.txt
  doc/source/conf.py
Labels: component: Documentation

#15724 TST: Remove nose from the test_requirements.txt file.
  test_requirements.txt
Labels: 03 - Maintenance, 05 - Testing, component: CI

#15696 MAINT: Add a fast path to var for complex input
  benchmarks/benchmarks/bench_core.py
  numpy/core/_methods.py
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, component: numpy.core

#15738 MAINT: Remove non-native byte order from _var check.
  numpy/core/_methods.py
Labels: 03 - Maintenance, component: numpy.core

#15685 ENH: Add `subok` parameter to np.copy function (cf. #6509)
  doc/release/upcoming_changes/15685.new_feature.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement, component: numpy.lib

#15662 DOC: Refactor `np.polynomial` docs using `automodule`
  doc/source/reference/routines.polynomials.chebyshev.rst
  doc/source/reference/routines.polynomials.hermite.rst
  doc/source/reference/routines.polynomials.hermite_e.rst
  doc/source/reference/routines.polynomials.laguerre.rst
  doc/source/reference/routines.polynomials.legendre.rst
  doc/source/reference/routines.polynomials.package.rst
  doc/source/reference/routines.polynomials.polynomial.rst
  doc/source/reference/routines.polynomials.rst
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
Labels: 04 - Documentation, Triaged

#15745 MAINT: doc: Remove doc/summarize.py
  doc/summarize.py
Labels: 03 - Maintenance

#10600 DOC: Do not complain about contiguity when mutating `ndarray.shape`
  numpy/core/_add_newdocs.py
  numpy/core/fromnumeric.py
  numpy/core/src/multiarray/getset.c
Labels: 04 - Documentation, component: numpy.core

#15740 MAINT: Add better error handling in linalg.norm for vectors and clarify it in documentation
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
  numpy/linalg/tests/test_regression.py
Labels: 03 - Maintenance, component: numpy.linalg

#15757 MAINT: CI: Add an explicit 'pr' section to azure-pipelines.yml
  azure-pipelines.yml
  tools/pypy-test.sh
Labels: 03 - Maintenance, component: CI

#15695 MAINT: Test during import to detect bugs with Accelerate(MacOS) LAPACK
  azure-pipelines.yml
  numpy/__init__.py
Labels: 03 - Maintenance

#15463 ENH: expose `bit_generator` and random C-API to cython
  doc/release/upcoming_changes/15463.change.rst
  doc/source/reference/random/extending.rst
  numpy/random/__init__.pxd
  numpy/random/__init__.py
  numpy/random/_examples/cython/extending_distributions.pyx
  numpy/random/_examples/cython/setup.py
  numpy/random/_generator.pyx
  numpy/random/bit_generator.pxd
  numpy/random/bit_generator.pyx
  numpy/random/c_distributions.pxd
  numpy/random/setup.py
  numpy/random/tests/test_direct.py
  numpy/random/tests/test_extending.py
  numpy/tests/test_public_api.py
Labels: 00 - Bug, 09 - Backport-Candidate, Triaged, component: numpy.random

#15768 REL: Update master after 1.18.2 release.
  .mailmap
  doc/RELEASE_WALKTHROUGH.rst.txt
  doc/changelog/1.18.2-changelog.rst
  doc/source/release.rst
  doc/source/release/1.18.2-notes.rst
Labels: 14 - Release, component: Documentation

#15766 BUG,MAINT: Remove incorrect special case in string to number casts
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/tests/test_longdouble.py
Labels: 00 - Bug, component: numpy.core

#15505 NEP 40: Informational NEP about current DTypes
  doc/neps/_static/nep-0040_dtype-hierarchy.png
  doc/neps/nep-0040-legacy-datatype-impl.rst
Labels: 01 - Enhancement, component: NEP

#15774 MAINT: remove useless `global` statements
  numpy/f2py/capi_maps.py
  numpy/f2py/cb_rules.py
  numpy/f2py/cfuncs.py
  numpy/f2py/f90mod_rules.py
  numpy/f2py/rules.py
  numpy/lib/utils.py
Labels: 03 - Maintenance, component: numpy.f2py

#15736 BUG: Guarantee array is in valid state after memory error occurs in getset.c
  numpy/core/src/multiarray/getset.c
Labels: 00 - Bug, component: numpy.core

#15750 BUG, TST: fix f2py for PyPy, skip one test for PyPy
  numpy/core/tests/test_numerictypes.py
  numpy/f2py/cfuncs.py
  numpy/f2py/tests/test_block_docstring.py
  numpy/f2py/tests/test_callback.py
  numpy/f2py/tests/test_mixed.py
  numpy/f2py/tests/test_return_character.py
  numpy/f2py/tests/test_return_complex.py
  numpy/f2py/tests/test_return_integer.py
  numpy/f2py/tests/test_return_real.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, 05 - Testing, 24 - PyPy, component: numpy.f2py

#15799 MAINT: Cleanups to np.insert and np.delete
  numpy/lib/function_base.py
Labels: 03 - Maintenance, component: numpy.lib

#15809 TST: switch PyPy job with CPython
  azure-pipelines.yml
Labels: 05 - Testing

#15805 DEP: Forbid passing non-integral index arrays to `insert` and `delete`
  doc/release/upcoming_changes/15805.expired.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 07 - Deprecation, component: numpy.lib

#15804 DEP: Make np.delete on out-of-bounds indices an error
  doc/release/upcoming_changes/15804.expired.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 07 - Deprecation, component: numpy.lib

#15812 TST: Remove code that is not supposed to warn out of warning assertion
  numpy/lib/tests/test_function_base.py
Labels: 05 - Testing

#15802 DEP: Make `np.insert` and `np.delete` on 0d arrays with an axis an error
  doc/release/upcoming_changes/15802.expired.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 07 - Deprecation, component: numpy.lib

#15800 BUG: Add error-checking versions of strided casts.
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#15794 BUG: Add basic __format__ for masked element to fix incorrect print
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, component: numpy.ma

#15830 MAINT: pathlib and hashlib are in stdlib in Python 3.5+
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_regression.py
  numpy/f2py/tests/util.py
Labels: 03 - Maintenance

#15827 BUG: Break on all errors when performing strided casts.
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug

#15797 TST: Add unit test for out=None of np.einsum
  numpy/core/tests/test_einsum.py
Labels: 05 - Testing, component: numpy.einsum

#15815 DEP: Do not cast boolean indices to integers in np.delete
  doc/release/upcoming_changes/15815.expired.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 07 - Deprecation, component: numpy.lib

#15784 ENH: Use TypeError in `np.array` for python consistency
  numpy/core/_add_newdocs.py
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 01 - Enhancement, component: numpy.core

#15832 ENH: improved error message `IndexError: too many indices for array`
  numpy/core/src/multiarray/mapping.c
  numpy/core/tests/test_indexerrors.py
Labels: 01 - Enhancement, component: numpy.core

#15781 BUG: don't add 'public' or 'private' if the other one exists
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/test_crackfortran.py
Labels: 00 - Bug, component: numpy.f2py

#15816 MAINT: simplify code that assumes str/unicode and int/long are different types
  doc/source/reference/c-api/array.rst
  doc/source/reference/maskedarray.baseclass.rst
  numpy/__init__.py
  numpy/core/_internal.py
  numpy/core/defchararray.py
  numpy/core/memmap.py
  numpy/core/numerictypes.py
  numpy/core/records.py
  numpy/core/tests/test_arrayprint.py
  numpy/core/tests/test_mem_overlap.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_regression.py
  numpy/core/tests/test_shape_base.py
  numpy/core/tests/test_unicode.py
  numpy/doc/indexing.py
  numpy/f2py/tests/test_return_complex.py
  numpy/f2py/tests/test_return_integer.py
  numpy/f2py/tests/test_return_logical.py
  numpy/f2py/tests/test_return_real.py
  numpy/lib/arrayterator.py
  numpy/lib/format.py
  numpy/lib/function_base.py
  numpy/lib/tests/test__iotools.py
  numpy/lib/tests/test_function_base.py
  numpy/lib/tests/test_regression.py
  numpy/lib/tests/test_type_check.py
  numpy/lib/user_array.py
  numpy/ma/core.py
  numpy/polynomial/tests/test_classes.py
  numpy/random/tests/test_generator_mt19937_regressions.py
  numpy/random/tests/test_randomstate_regression.py
  numpy/random/tests/test_regression.py
Labels: 03 - Maintenance, 27 - Py3K

#15720 DOC: fix remaining doc files for refguide_check
  doc/source/f2py/f2py.getting-started.rst
  doc/source/f2py/index.rst
  doc/source/reference/arrays.nditer.cython.rst
  doc/source/reference/arrays.nditer.rst
  tools/refguide_check.py
Labels: 00 - Bug, 04 - Documentation, Triaged, component: Documentation

#15843 DOC: First steps towards docs restructuring (NEP 44)
  doc/source/_templates/indexcontent.html
  doc/source/contents.rst
  doc/source/dev/underthehood.rst
  doc/source/reference/index.rst
  doc/source/user/explanations_index.rst
  doc/source/user/howtos_index.rst
  doc/source/user/index.rst
  doc/source/user/ionumpy.rst
  doc/source/user/quickstart.rst
  doc/source/user/tutorials_index.rst
Labels: component: Documentation

#15877 DOC: Add missing signature from nditer docstring
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: numpy.core

#15882 BUG: Do not ignore empty tuple of strides in ndarray.__new__
  doc/release/upcoming_changes/15882.compatibility.rst
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/conversion_utils.h
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core

#15870 ENH: Add keepdims argument to count_nonzero
  doc/release/upcoming_changes/15870.new_feature.rst
  numpy/core/numeric.py
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement, component: numpy.core

#15868 TST: use draft OpenBLAS build
  .travis.yml
  azure-pipelines.yml
  tools/openblas_support.py
Labels: 05 - Testing, component: build

#15884 BUG: Setting a 0d array's strides to themselves should be legal
  numpy/core/src/multiarray/getset.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, component: numpy.core
