Repository numpy/numpy, pull requests merged in 2020-09, with the labels that each got.

#17204 DOC: Fixed headings for tutorials so they appear at new theme sidebar.
  doc/source/user/tutorial-ma.rst
  doc/source/user/tutorial-svd.rst
Labels: 04 - Documentation

#17197 MAINT: Improve error handling in npy_cpu_init
  numpy/core/src/common/npy_cpu_features.c.src
Labels: 03 - Maintenance

#17163 MAINT: Remove redundant headers
  numpy/core/src/common/array_assign.c
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/convert.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/umath/reduction.c
Labels: 03 - Maintenance, component: numpy.core

#17172 ENH: Make `np.complexfloating` generic w.r.t. `np.floating`
  numpy/__init__.pyi
  numpy/tests/typing/reveal/scalars.py
Labels: 01 - Enhancement, static typing

#17182 DOC: Document `dtype.metadata`
  doc/source/reference/arrays.dtypes.rst
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation, component: Documentation, component: numpy.dtype

#15121 ENH: random: Add the method `permuted` to Generator.
  doc/source/reference/random/generator.rst
  numpy/random/_generator.pyx
  numpy/random/tests/test_generator_mt19937.py
Labels: 01 - Enhancement, component: numpy.random

#17199 DOC: Fix the documented signatures of four `ufunc` methods
  numpy/core/_add_newdocs.py
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation, component: numpy.ufunc

#17180 ENH: Added missing methods to `np.flatiter`
  numpy/__init__.pyi
  numpy/tests/typing/fail/flatiter.py
  numpy/tests/typing/pass/flatiter.py
  numpy/tests/typing/reveal/flatiter.py
Labels: 01 - Enhancement, static typing

#17168 TST: Add tests mapping out the rules for metadata in promotion
  numpy/core/tests/test_numeric.py
Labels: 05 - Testing, component: numpy.core

#17222 MAINT, DOC: move informational files from numpy.doc.*.py to their *.rst counterparts
  doc/source/glossary.rst
  doc/source/reference/internals.rst
  doc/source/user/basics.broadcasting.rst
  doc/source/user/basics.byteswapping.rst
  doc/source/user/basics.creation.rst
  doc/source/user/basics.dispatch.rst
  doc/source/user/basics.indexing.rst
  doc/source/user/basics.io.genfromtxt.rst
  doc/source/user/basics.rec.rst
  doc/source/user/basics.subclassing.rst
  doc/source/user/basics.types.rst
  doc/source/user/misc.rst
  doc/source/user/whatisnumpy.rst
  numpy/core/tests/test_umath.py
  numpy/doc/basics.py
  numpy/doc/broadcasting.py
  numpy/doc/byteswapping.py
  numpy/doc/creation.py
  numpy/doc/dispatch.py
  numpy/doc/glossary.py
  numpy/doc/indexing.py
  numpy/doc/internals.py
  numpy/doc/misc.py
  numpy/doc/structured_arrays.py
  numpy/doc/subclassing.py
  numpy/lib/npyio.py
  numpy/tests/test_public_api.py
  tools/refguide_check.py
Labels: 04 - Documentation

#17127 MAINT: Remove duplicated symbols from link step
  numpy/core/setup.py
Labels: 03 - Maintenance, component: build

#17237 BUG: Avoid using ``np.random`` in typing tests.
  numpy/tests/typing/pass/flatiter.py
Labels: 00 - Bug, component: numpy.typing, static typing

#17239 DOC: Fix link quick-start in old random API functions
  doc/source/reference/random/legacy.rst
  numpy/random/mtrand.pyx
Labels: 04 - Documentation, 09 - Backport-Candidate, component: numpy.random

#17238 DOC: Use SPDX license expressions with correct license
  LICENSES_bundled.txt
Labels: 00 - Bug, 09 - Backport-Candidate

#17233 DEP: Deprecated ndindex.ndincr
  doc/release/upcoming_changes/17233.deprecation.rst
  numpy/lib/index_tricks.py
Labels: 07 - Deprecation

#16134 ENH: Implement concatenate dtype and casting keyword arguments
  doc/release/upcoming_changes/16134.compatibility.rst
  doc/release/upcoming_changes/16134.improvement.rst
  numpy/core/multiarray.py
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_shape_base.py
Labels: 01 - Enhancement, 07 - Deprecation, 62 - Python API, component: numpy.core

#17145 MAINT, BUG: Replace uses of PyString_AsString.
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/umath/umathmodule.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 03 - Maintenance, 27 - Py3K, component: numpy.core

#17240 MAINT: added exception chaining in shape_base.py
  numpy/lib/shape_base.py
Labels: 03 - Maintenance, component: numpy.lib

#17193 MAINT: Remove some callers of functions in numpy.compat
  numpy/core/tests/test_multiarray.py
  numpy/distutils/fcompiler/__init__.py
  numpy/fft/helper.py
  numpy/fft/tests/test_helper.py
  numpy/lib/_iotools.py
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 03 - Maintenance, 27 - Py3K

#17242 MAINT: Run slow CI jobs earlier so builds finishes sooner
  .travis.yml
Labels: 03 - Maintenance, 05 - Testing, component: CI

#17243 BUG: core: fix ilp64 blas dot/vdot/... for strides > int32 max
  numpy/core/src/common/npy_cblas.h
  numpy/core/src/multiarray/common.h
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#17244 DOC: Use SPDX license expressions with correct license
  LICENSES_bundled.txt
Labels: 00 - Bug, 08 - Backport

#17245 DOC: Fix the link to the quick-start in the old API functions
  doc/source/reference/random/legacy.rst
  numpy/random/mtrand.pyx
Labels: 04 - Documentation, 08 - Backport, component: Documentation, component: numpy.random

#17220 BUG, DOC: comment out metadata added via javascript
  doc/source/_templates/layout.html
Labels: 00 - Bug, 04 - Documentation

#17223 MAINT: use sysconfig not distutils.sysconfig where possible
  numpy/core/setup.py
  numpy/distutils/fcompiler/gnu.py
  numpy/distutils/system_info.py
  numpy/distutils/unixccompiler.py
  numpy/tests/test_public_api.py
  runtests.py
Labels: 03 - Maintenance

#17225 BUG: Fix dimension discovery of within array ragged cases
  numpy/core/src/multiarray/array_coercion.c
  numpy/core/tests/test_array_coercion.py
Labels: 00 - Bug, component: numpy.core

#17241 MAINT: ``__array_interface__`` data address cannot be bytes
  doc/release/upcoming_changes/17241.compatibility.rst
  numpy/core/src/multiarray/ctors.c
Labels: 03 - Maintenance, component: numpy.core

#17235 MAINT: Remove old PY_VERSION_HEX and sys.version_info code
  numpy/__init__.pyi
  numpy/core/src/multiarray/alloc.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/temp_elide.c
  numpy/core/tests/test_multiarray.py
  numpy/lib/npyio.py
  numpy/ma/tests/test_core.py
  numpy/testing/tests/test_utils.py
Labels: 03 - Maintenance, 27 - Py3K

#17264 DOC: remove some glosssary terms
  doc/source/glossary.rst
Labels: 04 - Documentation, component: Documentation

#17257 DOC: work around a bug in the new theme
  doc/source/dev/index.rst
Labels: 04 - Documentation

#17104 ENH: Add placeholder stubs for all sub-modules
  numpy/__init__.pyi
  numpy/char.pyi
  numpy/ctypeslib.pyi
  numpy/distutils/__init__.pyi
  numpy/emath.pyi
  numpy/f2py/__init__.pyi
  numpy/fft/__init__.pyi
  numpy/lib/__init__.pyi
  numpy/linalg/__init__.pyi
  numpy/ma/__init__.pyi
  numpy/matrixlib/__init__.pyi
  numpy/polynomial/__init__.pyi
  numpy/random/__init__.pyi
  numpy/rec.pyi
  numpy/testing/__init__.pyi
  numpy/tests/typing/fail/modules.py
  numpy/tests/typing/reveal/modules.py
  numpy/version.pyi
Labels: 01 - Enhancement, static typing

#17214 MAINT: Fix various issues with the `np.generic` annotations
  numpy/__init__.pyi
  numpy/tests/test_typing.py
  numpy/tests/typing/fail/scalars.py
  numpy/tests/typing/pass/scalars.py
Labels: 03 - Maintenance, static typing

#17144 ENH: Add annotations to 3 functions in `np.core.function_base`
  numpy/__init__.pyi
  numpy/core/function_base.py
  numpy/core/function_base.pyi
  numpy/tests/typing/fail/linspace.py
  numpy/tests/typing/pass/linspace.py
  numpy/tests/typing/reveal/linspace.py
Labels: 01 - Enhancement, static typing

#17188 MAINT: Add placeholder stubs for `ndarray` and `generic`
  numpy/__init__.pyi
  numpy/tests/typing/reveal/ndarray_conversion.py
Labels: 03 - Maintenance, static typing

#16800 MAINT: Move typing tests
  numpy/typing/__init__.py
  numpy/typing/setup.py
  numpy/typing/tests/__init__.py
  numpy/typing/tests/data/fail/array_like.py
  numpy/typing/tests/data/fail/dtype.py
  numpy/typing/tests/data/fail/flatiter.py
  numpy/typing/tests/data/fail/fromnumeric.py
  numpy/typing/tests/data/fail/linspace.py
  numpy/typing/tests/data/fail/modules.py
  numpy/typing/tests/data/fail/ndarray.py
  numpy/typing/tests/data/fail/numerictypes.py
  numpy/typing/tests/data/fail/scalars.py
  numpy/typing/tests/data/fail/simple.py
  numpy/typing/tests/data/fail/ufuncs.py
  numpy/typing/tests/data/fail/warnings_and_errors.py
  numpy/typing/tests/data/mypy.ini
  numpy/typing/tests/data/pass/array_like.py
  numpy/typing/tests/data/pass/dtype.py
  numpy/typing/tests/data/pass/flatiter.py
  numpy/typing/tests/data/pass/fromnumeric.py
  numpy/typing/tests/data/pass/linspace.py
  numpy/typing/tests/data/pass/literal.py
  numpy/typing/tests/data/pass/ndarray_conversion.py
  numpy/typing/tests/data/pass/ndarray_shape_manipulation.py
  numpy/typing/tests/data/pass/numerictypes.py
  numpy/typing/tests/data/pass/scalars.py
  numpy/typing/tests/data/pass/simple.py
  numpy/typing/tests/data/pass/simple_py3.py
  numpy/typing/tests/data/pass/ufuncs.py
  numpy/typing/tests/data/pass/warnings_and_errors.py
  numpy/typing/tests/data/reveal/constants.py
  numpy/typing/tests/data/reveal/flatiter.py
  numpy/typing/tests/data/reveal/fromnumeric.py
  numpy/typing/tests/data/reveal/linspace.py
  numpy/typing/tests/data/reveal/modules.py
  numpy/typing/tests/data/reveal/ndarray_conversion.py
  numpy/typing/tests/data/reveal/ndarray_shape_manipulation.py
  numpy/typing/tests/data/reveal/numerictypes.py
  numpy/typing/tests/data/reveal/scalars.py
  numpy/typing/tests/data/reveal/warnings_and_errors.py
  numpy/typing/tests/test_typing.py
Labels: 03 - Maintenance, 05 - Testing, component: numpy.typing, static typing

#17167 BLD: Merge the npysort library into multiarray
  numpy/core/setup.py
  numpy/core/src/common/npy_binsearch.h.src
  numpy/core/src/common/npy_partition.h.src
  numpy/core/src/common/npy_sort.h.src
  numpy/core/src/npysort/binsearch.c.src
  numpy/core/src/npysort/heapsort.c.src
  numpy/core/src/npysort/mergesort.c.src
  numpy/core/src/npysort/quicksort.c.src
  numpy/core/src/npysort/radixsort.c.src
  numpy/core/src/npysort/selection.c.src
  numpy/core/src/npysort/timsort.c.src
Labels: 03 - Maintenance, component: build

#17154 DOC: Remove references to PyCObject
  doc/source/reference/arrays.interface.rst
  numpy/core/include/numpy/ndarraytypes.h
Labels: 04 - Documentation, 27 - Py3K

#17093 NEP: Adjust NEP-35 to make it more user-accessible
  doc/neps/nep-0035-array-creation-dispatch-with-array-function.rst
Labels: component: NEP

#17268 BUG: sysconfig attributes/distutils issue
  numpy/distutils/system_info.py
Labels: 00 - Bug, component: numpy.distutils

#17267 TST: Fix the path to `mypy.ini` in `runtests.py`
  runtests.py
Labels: 00 - Bug, 05 - Testing, static typing

#17258 SIMD: add fused multiply subtract/add intrinics for all supported platforms
  numpy/core/src/common/simd/avx2/arithmetic.h
  numpy/core/src/common/simd/avx512/arithmetic.h
  numpy/core/src/common/simd/neon/arithmetic.h
  numpy/core/src/common/simd/sse/arithmetic.h
  numpy/core/src/common/simd/vsx/arithmetic.h
Labels: 01 - Enhancement, component: SIMD

#17247 ENH: Add tool to help speed up Travis CI
  tools/travis-sorter.py
Labels: 01 - Enhancement

#17272 BUG: fix pickling of arrays larger than 2GiB
  numpy/core/src/multiarray/methods.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#17278 MAINT: Merge together index page content into a single file
  doc/source/_templates/defindex.html
  doc/source/_templates/indexcontent.html
Labels: 03 - Maintenance, component: Documentation

#17129 BLD: Check for reduce intrinsics and AVX512BW mask operations
  numpy/distutils/ccompiler_opt.py
  numpy/distutils/checks/extra_avx512bw_mask.c
  numpy/distutils/checks/extra_avx512f_reduce.c
  numpy/distutils/tests/test_ccompiler_opt_conf.py
Labels: 01 - Enhancement, component: numpy.distutils

#17288 REL: Update master after 1.19.2 release.
  .mailmap
  doc/changelog/1.19.2-changelog.rst
  doc/source/release.rst
  doc/source/release/1.19.2-notes.rst
Labels: 14 - Release, component: Documentation

#17250 DOC: Fix docstring cross-referencing
  numpy/core/fromnumeric.py
  numpy/core/records.py
  numpy/distutils/ccompiler_opt.py
  numpy/doc/constants.py
  numpy/lib/function_base.py
  numpy/lib/nanfunctions.py
  numpy/lib/scimath.py
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
Labels: 04 - Documentation

#17290 MAINT: Cleanup some pystring macros
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/dtypemeta.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/f2py/cfuncs.py
  tools/swig/numpy.i
Labels: 03 - Maintenance, 27 - Py3K

#16650 ENH: Allow genfromtxt to unpack structured arrays
  doc/release/upcoming_changes/16650.compatibility.rst
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 01 - Enhancement, component: numpy.lib

#17297 BLD: set upper versions for build dependencies
  pyproject.toml
Labels: 09 - Backport-Candidate, 14 - Release, component: build

#17296 MAINT: Replace some ``pyint_*`` macros defined in ``npy_3kcompat``.
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/umath/_rational_tests.c.src
  numpy/core/src/umath/funcs.inc.src
  numpy/f2py/cfuncs.py
Labels: 03 - Maintenance, 27 - Py3K

#17293 MAINT: Replace PyUString_Check by PyUnicode_Check.
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/hashdescr.c
Labels: 03 - Maintenance, 27 - Py3K

#17298 BLD: set upper versions for build dependencies
  pyproject.toml
Labels: 08 - Backport, 14 - Release, component: build

#17150 ENH: Add support for the abstract scalars to cython code
  numpy/__init__.cython-30.pxd
  numpy/__init__.pxd
  numpy/core/tests/examples/checks.pyx
  numpy/core/tests/test_cython.py
Labels: 01 - Enhancement, component: build

#17285 DEP: Change the financial name access warning to DeprecationWarning
  numpy/__init__.py
  numpy/lib/tests/test_financial_expired.py
Labels: 03 - Maintenance, 07 - Deprecation

#17300 MAINT: Replace PyBaseString_Check by PyUnicode_Check
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, 27 - Py3K

#17302 MAINT: Replace a couple of missed npy_3kcompat macros
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/iterators.c
Labels: 03 - Maintenance, 27 - Py3K

#17292 MAINT: Replace remaining PyString macros.
  numpy/core/include/numpy/npy_common.h
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/scalarapi.c
  numpy/f2py/cfuncs.py
Labels: 03 - Maintenance, 27 - Py3K

#17312 MAINT: Syntax-highlight .src files on github
  .gitattributes
Labels: 03 - Maintenance

#17263 DOC: add new glossary terms
  doc/source/glossary.rst
  doc/source/reference/arrays.indexing.rst
Labels: 04 - Documentation, component: Documentation

#17319 BUG: Set deprecated fields to null in PyArray_InitArrFuncs
  numpy/core/src/multiarray/usertypes.c
Labels: 00 - Bug, 09 - Backport-Candidate

#17336 BUG: Set deprecated fields to null in PyArray_InitArrFuncs
  numpy/core/src/multiarray/usertypes.c
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#17309 MAINT: Move the `fromnumeric` annotations to their own stub file
  numpy/__init__.pyi
  numpy/core/fromnumeric.pyi
Labels: 03 - Maintenance, static typing

#17330 DOC: improve `issubdtype` and scalar type docs
  doc/source/reference/arrays.scalars.rst
  numpy/core/numerictypes.py
Labels: 04 - Documentation, component: numpy.dtype

#17219 BLD: enabled negation of library choices in NPY_*_ORDER
  doc/release/upcoming_changes/17219.new_feature.rst
  doc/source/user/building.rst
  numpy/distutils/system_info.py
  numpy/distutils/tests/test_system_info.py
Labels: 01 - Enhancement, component: numpy.distutils

#17227 DOC: Added templates for different types of issues.
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/post-install.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 03 - Maintenance, 04 - Documentation

#17337 NEP: Regenerate table in NEP 29 (add numpy 1.18 and 1.19 to list)
  doc/neps/nep-0029-deprecation_policy.rst
Labels: 03 - Maintenance, component: NEP

#17346 BLD,BUG: Fix a macOS build failure when `NPY_BLAS_ORDER=""`
  numpy/distutils/system_info.py
  numpy/distutils/tests/test_system_info.py
Labels: 00 - Bug, component: numpy.distutils

#17329 DOC: Fix incorrect `.. deprecated::` syntax that led to this note being invisible
  doc/source/reference/arrays.dtypes.rst
Labels: 04 - Documentation

#17354 DOC: clarify residuals return param
  numpy/linalg/linalg.py
Labels: 04 - Documentation, component: numpy.linalg

#17356 ENH: Add Npy__PyLong_AsInt function.
  numpy/core/include/numpy/npy_3kcompat.h
Labels: 01 - Enhancement, component: numpy.core

#17315 MAINT: Cleanup f2py/cfuncs.py
  numpy/f2py/cfuncs.py
Labels: 03 - Maintenance, 27 - Py3K, component: numpy.f2py

#17137 API,MAINT: Rewrite promotion using common DType and common instance
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/src/multiarray/array_coercion.c
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/convert_datatype.h
  numpy/core/src/multiarray/dtypemeta.c
  numpy/core/src/multiarray/dtypemeta.h
  numpy/core/src/multiarray/usertypes.c
  numpy/core/src/multiarray/usertypes.h
  numpy/core/src/umath/ufunc_type_resolution.c
  numpy/core/tests/test_numeric.py
Labels: 01 - Enhancement, 30 - API, component: numpy.core, component: numpy.dtype

#17352 DOC: Guide to writing how-tos
  doc/source/user/how-to-how-to.rst
  doc/source/user/howtos_index.rst
Labels: 04 - Documentation, component: Documentation

#17369 DOC: distutils: Remove an obsolete paragraph.
  doc/DISTUTILS.rst.txt
Labels: 04 - Documentation

#17289 MAINT: Simplify ufunc pickling
  numpy/core/__init__.py
  numpy/core/src/umath/_umath_tests.c.src
  numpy/core/tests/test_ufunc.py
Labels: 03 - Maintenance, component: numpy.core

#17350 ENH: Add PR prefix labeler and numpy prefix mapping
  .github/pr-prefix-labeler.yml
  .github/workflows/labeler.yml
Labels: 01 - Enhancement, 16 - Development, Triage-review

#17380 Minor grammatical correction in quickstart doc.
  doc/source/user/quickstart.rst
Labels: 04 - Documentation

#17373 BUG: Fixes module data docstrings.
  doc/source/f2py/allocarr_session.dat
  doc/source/f2py/common_session.dat
  doc/source/f2py/moddata_session.dat
  numpy/f2py/src/fortranobject.c
  numpy/f2py/tests/src/module_data/mod.mod
  numpy/f2py/tests/src/module_data/module_data_docstring.f90
  numpy/f2py/tests/test_block_docstring.py
  numpy/f2py/tests/test_module_doc.py
Labels: 00 - Bug, component: numpy.f2py

#17370 NEP: Edit nep-0042 for more clarity
  doc/neps/_static/nep-0041-type-sketch-no-fonts.svg
  doc/neps/_static/nep-0041-type-sketch.svg
  doc/neps/nep-0040-legacy-datatype-impl.rst
  doc/neps/nep-0041-improved-dtype-support.rst
  doc/neps/nep-0042-new-dtypes.rst
Labels: 03 - Maintenance, component: NEP

#17364 MAINT: Finish replacing PyInt_Check
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/hashdescr.c
  numpy/core/src/multiarray/iterators.c
  numpy/core/src/multiarray/number.c
  numpy/core/src/multiarray/refcount.c
  numpy/core/src/multiarray/scalarapi.c
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, 27 - Py3K, component: numpy.core

#17388 MAINT: Remove old debug print statement.
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 03 - Maintenance, component: numpy.core

#17383 MAINT: Fix docstring for np.matmul
  numpy/core/code_generators/ufunc_docstrings.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.core

#16996 DOC: Revise glossary page
  doc/source/glossary.rst
Labels: 01 - Enhancement, 04 - Documentation

#17393 BUG: Fix default void, datetime, and timedelta in array coercion
  numpy/core/src/multiarray/dtypemeta.c
  numpy/core/tests/test_array_coercion.py
Labels: 00 - Bug, component: numpy.core

#17392 DOC: Update info on doc style rules
  doc/source/docs/howto_document.rst
Labels: 04 - Documentation

#17396 MAINT: Replace append_metastr_to_string function.
  numpy/core/_dtype.py
  numpy/core/src/multiarray/_datetime.h
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, component: numpy.core

#17402 DOC: Add arraysetops to an autosummary
  doc/source/reference/routines.set.rst
  numpy/lib/arraysetops.py
Labels: 04 - Documentation, component: numpy.lib

#17382 DOC: NumPy restyling for pydata theme
  doc/source/_static/numpy.css
  doc/source/_templates/layout.html
Labels: 04 - Documentation

#17400 DOC: rm incorrect alias from recarray user article.
  doc/source/user/basics.rec.rst
Labels: 04 - Documentation

#17407 DOC: in PR template, set expectations for PR review timeline
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 03 - Maintenance, 04 - Documentation
