Repository numpy/numpy, pull requests merged in 2020-07, with the labels that each got.

#15791 [DOC] Added tutorial about the numpy.ma module.
  doc/source/user/tutorial-ma.rst
  doc/source/user/tutorials_index.rst
  doc/source/user/who_covid_19_sit_rep_time_series.csv
Labels: 04 - Documentation, component: numpy.ma

#16718 DOC: fix typo
  doc/source/f2py/python-usage.rst
Labels: 04 - Documentation, component: numpy.f2py

#16720 BUG: Fix PyArray_SearchSorted signature.
  numpy/__init__.pxd
Labels: 00 - Bug, 09 - Backport-Candidate, 30 - API

#16724 BUG: Fix PyArray_SearchSorted signature.
  numpy/__init__.pxd
Labels: 00 - Bug, 08 - Backport, 30 - API

#16731 DOC: reword random c-api introduction, cython is documented in Extending
  doc/source/reference/random/c-api.rst
Labels: 04 - Documentation, component: numpy.random

#16735 DOC: Tweak a sentence about broadcasting.
  numpy/doc/broadcasting.py
Labels: 04 - Documentation

#16482 SIMD: Optimize the performace of np.packbits in ARM-based machine.
  numpy/core/src/multiarray/compiled_base.c
Labels: 01 - Enhancement, component: SIMD, component: numpy.core

#16752 BLD: add manylinux1 OpenBlAS 0.3.10 hashes and test for them
  tools/openblas_support.py
Labels: component: build

#16684 MAINT: Allow `None` to be passed to certain `generic` subclasses
  numpy/__init__.pyi
  numpy/tests/typing/pass/scalars.py
Labels: 03 - Maintenance, static typing

#16629 ENH: add tool to find functions missing types
  tools/functions_missing_types.py
Labels: 01 - Enhancement, static typing

#16762 MAINT: Fixes for deprecated functions in scalartypes.c.src
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#16742 DOC: add unique() to See Also of repeat()
  numpy/core/fromnumeric.py
Labels: 04 - Documentation

#16768 MAINT: Fixes for deprecated functions in scalartypes.c.src
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#16770 MAINT: Remove unneeded call to PyUnicode_READY
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#16772 MAINT: Remove unneeded call to PyUnicode_READY
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#16771 MAINT: Fix deprecated functions in scalarapi.c
  numpy/core/src/multiarray/scalarapi.c
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: numpy.core

#16767 ENH: Update NumPy logos
  README.md
  branding/icons/logoguidelines.md
  branding/icons/logomark/numpylogoicon.png
  branding/icons/logomark/numpylogoicon.svg
  branding/icons/logomark/numpylogoicondark.png
  branding/icons/logomark/numpylogoiconlight.png
  branding/icons/numpylogo.svg
  branding/icons/numpylogoicon.svg
  branding/icons/primary/numpylogo.png
  branding/icons/primary/numpylogo.svg
  branding/icons/primary/numpylogodark.png
  branding/icons/primary/numpylogolight.png
  branding/icons/secondary/numpylogo2.png
  branding/icons/secondary/numpylogo2.svg
  branding/icons/secondary/numpylogo2dark.png
  branding/icons/secondary/numpylogo2light.png
Labels: 01 - Enhancement

#16775 DOC: switch to logo with text
  README.md
Labels: 04 - Documentation

#16776 MAINT: Fix deprecated functions in scalarapi.c
  numpy/core/src/multiarray/scalarapi.c
Labels: 03 - Maintenance, 08 - Backport, component: numpy.core

#16743 DOC: add example to unique() and make connection to repeat()
  numpy/lib/arraysetops.py
Labels: 04 - Documentation

#16710 BLD, ENH: Add RPATH support for AIX
  numpy/distutils/fcompiler/gnu.py
Labels: 01 - Enhancement, 09 - Backport-Candidate, component: numpy.distutils

#16779 BLD, ENH: Add RPATH support for AIX
  numpy/distutils/fcompiler/gnu.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.distutils

#16780 BUG: Fix default fallback in genfromtxt
  numpy/lib/_iotools.py
  numpy/lib/tests/test__iotools.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, 08 - Backport, component: numpy.lib

#16777 BUG: Added missing return after raising error in methods.c
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.core

#16784 BUG: Added missing return after raising error in methods.c
  numpy/core/src/multiarray/methods.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug, 08 - Backport, component: numpy.core

#16778 NEP: Update NEP 42 to note the issue of circular references
  doc/neps/nep-0042-new-dtypes.rst
Labels: 03 - Maintenance, component: NEP

#16589 MAINT: Remove nickname from polynomial classes.
  doc/release/upcoming_changes/16589.compatibility.rst
  numpy/polynomial/_polybase.py
  numpy/polynomial/chebyshev.py
  numpy/polynomial/hermite.py
  numpy/polynomial/hermite_e.py
  numpy/polynomial/laguerre.py
  numpy/polynomial/legendre.py
  numpy/polynomial/polynomial.py
Labels: component: numpy.polynomial

#16395 ENH: Validate and disable CPU features in runtime
  numpy/core/src/common/npy_cpu_features.c.src
  numpy/core/src/common/npy_cpu_features.h
Labels: 01 - Enhancement, component: SIMD

#16761 MAINT: Tidy exception chaining in _datasource.py
  numpy/lib/_datasource.py
Labels: 03 - Maintenance, component: numpy.lib

#16200 ENH: Rewrite of array-coercion to support new dtypes
  doc/release/upcoming_changes/16200.compatibility.rst
  numpy/core/code_generators/genapi.py
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/setup.py
  numpy/core/src/multiarray/_datetime.h
  numpy/core/src/multiarray/abstractdtypes.c
  numpy/core/src/multiarray/abstractdtypes.h
  numpy/core/src/multiarray/array_coercion.c
  numpy/core/src/multiarray/array_coercion.h
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/common.c
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/convert_datatype.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/ctors.h
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/descriptor.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/dtypemeta.c
  numpy/core/src/multiarray/dtypemeta.h
  numpy/core/src/multiarray/item_selection.c
  numpy/core/src/multiarray/iterators.c
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/nditer_constr.c
  numpy/core/tests/test_array_coercion.py
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_indexing.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_regression.py
  numpy/ma/tests/test_core.py
Labels: 25 - WIP, component: numpy.core, priority: high

#16397 ENH: Implement the NumPy C SIMD vectorization interface
  numpy/core/include/numpy/npy_common.h
  numpy/core/setup.py
  numpy/core/src/common/simd/avx2/arithmetic.h
  numpy/core/src/common/simd/avx2/avx2.h
  numpy/core/src/common/simd/avx2/conversion.h
  numpy/core/src/common/simd/avx2/memory.h
  numpy/core/src/common/simd/avx2/misc.h
  numpy/core/src/common/simd/avx2/operators.h
  numpy/core/src/common/simd/avx2/reorder.h
  numpy/core/src/common/simd/avx2/utils.h
  numpy/core/src/common/simd/avx512/arithmetic.h
  numpy/core/src/common/simd/avx512/avx512.h
  numpy/core/src/common/simd/avx512/conversion.h
  numpy/core/src/common/simd/avx512/memory.h
  numpy/core/src/common/simd/avx512/misc.h
  numpy/core/src/common/simd/avx512/operators.h
  numpy/core/src/common/simd/avx512/reorder.h
  numpy/core/src/common/simd/avx512/utils.h
  numpy/core/src/common/simd/neon/arithmetic.h
  numpy/core/src/common/simd/neon/conversion.h
  numpy/core/src/common/simd/neon/memory.h
  numpy/core/src/common/simd/neon/misc.h
  numpy/core/src/common/simd/neon/neon.h
  numpy/core/src/common/simd/neon/operators.h
  numpy/core/src/common/simd/neon/reorder.h
  numpy/core/src/common/simd/simd.h
  numpy/core/src/common/simd/simd_utils.h
  numpy/core/src/common/simd/sse/arithmetic.h
  numpy/core/src/common/simd/sse/conversion.h
  numpy/core/src/common/simd/sse/memory.h
  numpy/core/src/common/simd/sse/misc.h
  numpy/core/src/common/simd/sse/operators.h
  numpy/core/src/common/simd/sse/reorder.h
  numpy/core/src/common/simd/sse/sse.h
  numpy/core/src/common/simd/vsx/arithmetic.h
  numpy/core/src/common/simd/vsx/conversion.h
  numpy/core/src/common/simd/vsx/memory.h
  numpy/core/src/common/simd/vsx/misc.h
  numpy/core/src/common/simd/vsx/operators.h
  numpy/core/src/common/simd/vsx/reorder.h
  numpy/core/src/common/simd/vsx/vsx.h
Labels: 01 - Enhancement, component: SIMD

#16793 BLD, MAINT: update cython to 0.29.21
  .travis.yml
  INSTALL.rst.txt
  numpy/core/tests/test_cython.py
  numpy/random/tests/test_extending.py
  pyproject.toml
  test_requirements.txt
  tools/cythonize.py
Labels: component: build

#16760 DOC: Added a section in the 'Iterating over arrays' doc page on basic iteration.
  doc/source/reference/arrays.nditer.rst
Labels: 04 - Documentation, component: Documentation

#16174 DOC: Add transition note to all lib/poly functions
  numpy/lib/polynomial.py
Labels: 04 - Documentation, component: numpy.lib

#16795 BLD: update cython to 0.29.21
  .travis.yml
  INSTALL.rst.txt
  numpy/random/tests/test_extending.py
  pyproject.toml
  test_requirements.txt
  tools/cythonize.py
Labels: 03 - Maintenance, 05 - Testing, 08 - Backport, component: CI

#16794 TST: Upgrade to Python 3.8 for DEBUG testing.
  .travis.yml
  tools/travis-test.sh
Labels: 03 - Maintenance, 05 - Testing, component: CI

#16805 DOC: add example to corrcoef function
  numpy/lib/function_base.py
Labels: 04 - Documentation, component: numpy.lib

#15551 DOC: Simd optimization documentation
  doc/source/reference/figures/opt-infra.odg
  doc/source/reference/figures/opt-infra.png
  doc/source/reference/index.rst
  doc/source/reference/simd/simd-optimizations-tables.inc
  doc/source/reference/simd/simd-optimizations.py
  doc/source/reference/simd/simd-optimizations.rst
Labels: 04 - Documentation, Triaged

#16816 BLD: temporarily disable OpenBLAS hash checks
  tools/openblas_support.py
Labels: component: build

#16476 ENH: add `norm=forward,backward` to numpy.fft functions
  doc/release/upcoming_changes/16476.new_feature.rst
  numpy/fft/__init__.py
  numpy/fft/_pocketfft.py
  numpy/fft/tests/test_pocketfft.py
Labels: 62 - Python API, NumPy Sprint, Triaged, component: numpy.fft

#16822 MAINT: setuptools 49.2.0 emits a warning, avoid it
  numpy/core/src/multiarray/abstractdtypes.h
  numpy/core/src/multiarray/array_coercion.c
  numpy/distutils/__init__.py
  setup.py
Labels: 03 - Maintenance, 09 - Backport-Candidate

#16821 DOC: fix inconsistent parameter name in np.ndindex docstring
  numpy/lib/index_tricks.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.lib

#16827 MAINT: Fix ``runtest.py`` warning.
  runtests.py
Labels: 03 - Maintenance, 05 - Testing, 09 - Backport-Candidate

#16831 MAINT: fix sphinx deprecation
  .gitignore
  doc/source/conf.py
Labels: 03 - Maintenance, 04 - Documentation, component: Documentation

#16829 DOC,BLD: Add pandas to doc_requirements.txt
  doc_requirements.txt
Labels: component: Documentation

#16819 DOC: replace dec.slow with pytest.mark.slow
  doc/TESTS.rst.txt
Labels: 04 - Documentation, component: Documentation

#16832 MAINT: setuptools 49.2.0 emits a warning, avoid it
  numpy/distutils/__init__.py
  runtests.py
  setup.py
Labels: 03 - Maintenance, 08 - Backport

#16807 BUG, MAINT: Remove overzealous automatic RST link
  doc/neps/nep-0016-benchmark.py
Labels: 00 - Bug, 03 - Maintenance, 04 - Documentation, component: NEP

#16837 BLD: update openblas hashes, re-enable check
  tools/openblas_support.py
Labels: component: build

#16820 MAINT: Make void scalar to array creation copy when dtype is given
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 03 - Maintenance, component: numpy.core

#16817 BUG: Do not inherit flags from the structured part of a union dtype
  numpy/core/src/multiarray/descriptor.c
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, component: numpy.dtype

#16845 TST: Disable shippable until we can fix it.
  shippable.yml
Labels: 05 - Testing

#16824 DOC: add examples to random number generator pages
  doc/source/reference/random/index.rst
  numpy/random/_generator.pyx
Labels: 04 - Documentation, component: numpy.random

#16167 DOC: Increase guidance and detail of np.polynomial docstring
  numpy/polynomial/__init__.py
Labels: 04 - Documentation, component: numpy.polynomial

#16605 MAINT: Avx512 intrinsics implementation for float64 input np.log
  benchmarks/benchmarks/bench_avx.py
  numpy/core/code_generators/generate_umath.py
  numpy/core/src/umath/loops.c.src
  numpy/core/src/umath/loops.h.src
  numpy/core/src/umath/npy_simd_data.h
  numpy/core/src/umath/simd.inc.src
  numpy/core/tests/data/umath-validation-set-log
  numpy/core/tests/test_umath.py
Labels: 01 - Enhancement, component: SIMD

#16848 MAINT: Remove Duplicated Code
  numpy/linalg/linalg.py
Labels: 03 - Maintenance, component: numpy.linalg

#16811 DOC: Add explanation of 'K' and 'A' layout options to 'asarray*' functions
  numpy/core/_asarray.py
  numpy/lib/function_base.py
Labels: 04 - Documentation, component: numpy.core

#16857 MAINT: fix new compiler warnings on clang
  numpy/core/src/umath/matmul.c.src
  numpy/core/src/umath/simd.inc.src
Labels: 03 - Maintenance, component: SIMD, component: build

#16860 MAINT: Remove deprecated python function 'file()'
  numpy/distutils/misc_util.py
Labels: 03 - Maintenance

#16870 BLD, MAINT: Pin setuptools
  azure-pipelines.yml
  azure-steps-windows.yml
  numpy/distutils/__init__.py
  pyproject.toml
  runtests.py
  setup.py
  shippable.yml
  test_requirements.txt
  tools/pypy-test.sh
  tools/travis-before-install.sh
Labels: 03 - Maintenance, 09 - Backport-Candidate, component: build

#16872 BUG: Validate output size in bin- and multinomial
  numpy/random/_common.pxd
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_randomstate.py
Labels: 00 - Bug, 08 - Backport, component: numpy.random

#16871 BUG: Update compiler check for AVX-512F
  numpy/core/setup_common.py
Labels: 00 - Bug, component: SIMD

#16875 BLD, MAINT: Pin setuptools
  azure-pipelines.yml
  azure-steps-windows.yml
  numpy/distutils/__init__.py
  pyproject.toml
  runtests.py
  setup.py
  shippable.yml
  test_requirements.txt
  tools/pypy-test.sh
  tools/travis-before-install.sh
Labels: 03 - Maintenance, 08 - Backport, component: build

#16878 DOC: edit to the documentation of lib/polynomial.py/polyfit
  numpy/lib/polynomial.py
Labels: 03 - Maintenance, 04 - Documentation, component: numpy.lib

#16854 DOC: clarify whats required for new features see #13924
  .github/CONTRIBUTING.md
Labels: 04 - Documentation

#16826 DOC: describe ufunc copy behavior when input and output overlap
  doc/source/reference/ufuncs.rst
Labels: 04 - Documentation, component: Documentation

#16883 BUG,DOC: Fix bad MPL kwarg in docs
  numpy/lib/twodim_base.py
Labels: 04 - Documentation, component: CI, component: numpy.lib

#16232 DEP: Deprecate ufunc.outer with matrix inputs
  doc/release/upcoming_changes/16232.deprecation.rst
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_umath.py
  numpy/matrixlib/tests/test_masked_matrix.py
Labels: 07 - Deprecation, component: numpy.core, component: numpy.matrixlib

#16532 BUG: Remove non-threadsafe sigint handling from fft calculation
  numpy/core/include/numpy/npy_interrupt.h
  numpy/core/multiarray.py
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/fft/_pocketfft.c
Labels: 00 - Bug, component: numpy.fft

#16847 MAINT: Remove Duplicated Code (function extract rmap)
  numpy/lib/arraypad.py
Labels: 03 - Maintenance, component: numpy.lib

#16890 TST, BUG: Re-raise MemoryError exception in test_large_zip's process
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate, component: numpy.lib

#16906 BUG,DOC: Fix bad MPL kwarg.
  numpy/lib/twodim_base.py
Labels: 04 - Documentation, 08 - Backport, component: CI, component: numpy.lib

#16905 TST, BUG: Re-raise MemoryError exception in test_large_zip's process
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport, component: numpy.lib

#16904 DOC: Reconstruct Testing Guideline.
  doc/TESTS.rst.txt
Labels: 04 - Documentation, 08 - Backport, component: Documentation

#16914 BUG: Fix string/bytes to complex assignment
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_api.py
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 06 - Regression, 09 - Backport-Candidate, component: numpy.core

#16916 BUG: Fix string/bytes to complex assignment
  numpy/core/src/multiarray/arraytypes.c.src
  numpy/core/tests/test_api.py
  numpy/core/tests/test_regression.py
Labels: 00 - Bug, 06 - Regression, 08 - Backport, component: numpy.core

#15604 MAINT: Avoid exception in NpzFile destructor if constructor raises BadZipFile
  numpy/lib/npyio.py
Labels: 03 - Maintenance, component: numpy.lib

#16888 ENH: Integrate the new CPU dispatcher with umath generator
  numpy/core/code_generators/generate_umath.py
Labels: 01 - Enhancement, component: numpy.core

#16850 DEP: Deprecate NumPy object scalars
  numpy/core/src/multiarray/scalartypes.c.src
Labels: 07 - Deprecation, component: numpy.core

#16919 DOC: Add ufunc docstring to generated docs.
  doc/source/reference/ufuncs.rst
  numpy/core/_add_newdocs.py
Labels: 04 - Documentation

#16925 REL: Update master after 1.19.1 release.
  .mailmap
  doc/changelog/1.19.1-changelog.rst
  doc/source/release.rst
  doc/source/release/1.19.1-notes.rst
Labels: 04 - Documentation, 14 - Release, component: Documentation

#16248 MRG, ENH: added edge keyword argument to digitize
  doc/release/upcoming_changes/16248.new_feature.rst
  numpy/lib/function_base.py
  numpy/lib/tests/test_function_base.py
Labels: 01 - Enhancement, 62 - Python API, component: numpy.lib

#16900 MAINT: Chaining exceptions in numpy/__init__.py
  numpy/__init__.py
Labels: 03 - Maintenance

#16940 BLD: update OpenBLAS build
  tools/openblas_support.py
Labels: component: build

#16815 BUG: fix mgrid output for lower precision float inputs
  doc/release/upcoming_changes/16815.compatibility.rst
  numpy/lib/index_tricks.py
  numpy/lib/tests/test_index_tricks.py
Labels: 00 - Bug, component: numpy.lib

#16943 DEP: Deprecate size-one ragged array coercion
  numpy/core/src/multiarray/array_coercion.c
  numpy/core/tests/test_array_coercion.py
  numpy/core/tests/test_deprecations.py
Labels: 07 - Deprecation, component: numpy.core

#16949 ENH: enable colors for `runtests.py --ipython`
  runtests.py
Labels: 01 - Enhancement

#16957 MAINT: Use arm64 instead of aarch64 on travisCI.
  .travis.yml
  numpy/core/src/multiarray/arraytypes.c.src
Labels: 00 - Bug, 03 - Maintenance, component: CI, component: numpy.core

#16959 TST: Change aarch64 to arm64 in travis.yml.
  .travis.yml
Labels: 03 - Maintenance, 05 - Testing, component: CI

#16941 BUG: Allow array-like types to be coerced as object array elements
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_array_coercion.py
Labels: 00 - Bug, component: numpy.core

#16973 DOC: Fixed typo in lib/recfunctions.py
  numpy/lib/recfunctions.py
Labels: 04 - Documentation

#16974 TST: Add pypy win32 CI testing.
  azure-pipelines.yml
  azure-steps-windows.yml
  numpy/core/tests/test_memmap.py
  numpy/distutils/mingw32ccompiler.py
  numpy/lib/tests/test_format.py
  numpy/lib/tests/test_io.py
  numpy/testing/_private/utils.py
Labels: 01 - Enhancement, 05 - Testing, component: CI

#16966 MAINT: Added the `order` parameter to `np.array()`
  numpy/__init__.pyi
  numpy/tests/typing/fail/simple.py
  numpy/tests/typing/pass/simple.py
Labels: 03 - Maintenance, static typing

#16730 ENH: Use f90 compiler specified in f2py command line args for pgi compiler
  doc/release/upcoming_changes/16730.improvement.rst
  numpy/distutils/fcompiler/pg.py
Labels: 01 - Enhancement, component: numpy.f2py

#16622 MAINT: Implemented two dtype-related TODO's
  numpy/tests/typing/fail/dtype.py
  numpy/tests/typing/pass/dtype.py
  numpy/tests/typing/pass/simple.py
  numpy/typing/_dtype_like.py
Labels: 03 - Maintenance, static typing

#16969 ENH: Add Neon SIMD implementations for add, sub, mul, and div
  numpy/core/src/umath/simd.inc.src
Labels: 01 - Enhancement, component: SIMD

#16907 DOC: update val to be scalar or array like optional closes #16901
  numpy/lib/index_tricks.py
Labels: 04 - Documentation

#16897 DOC: Fix the declarations of C fuctions
  doc/source/reference/c-api/array.rst
Labels: 04 - Documentation, component: Documentation

#16896 DOC: Remove links for C codes
  doc/DISTUTILS.rst.txt
  doc/source/reference/c-api/array.rst
  doc/source/reference/c-api/config.rst
  doc/source/reference/c-api/coremath.rst
  doc/source/reference/c-api/dtype.rst
  doc/source/reference/c-api/iterator.rst
  doc/source/reference/c-api/types-and-structures.rst
  doc/source/reference/c-api/ufunc.rst
Labels: 04 - Documentation, component: Documentation

#16887 DOC: Remove the links for ``True`` and ``False``
  doc/source/reference/arrays.indexing.rst
  doc/source/reference/arrays.scalars.rst
Labels: 04 - Documentation, component: Documentation
