Repository numpy/numpy, pull requests merged in 2021-12, with the labels that each got.

#20470 ENH: Add dtype-typing support to `np.core.function_base`
  numpy/core/function_base.pyi
  numpy/typing/tests/data/fail/array_constructors.pyi
  numpy/typing/tests/data/reveal/array_constructors.pyi
  numpy/typing/tests/test_typing.py
Labels: 01 - Enhancement, static typing

#20407 DOC: Update axis parameter for np.ma.{min,max}
  numpy/ma/core.py
Labels: 04 - Documentation, component: numpy.ma

#20140 DOC: Fix some target not found sphinx warnings.
  doc/source/reference/c-api/types-and-structures.rst
  doc/source/user/basics.io.genfromtxt.rst
  doc/source/user/basics.rec.rst
  numpy/lib/recfunctions.py
Labels: 04 - Documentation

#20499 BUG: Fix the .T attribute in the array_api namespace
  numpy/array_api/_array_object.py
  numpy/array_api/tests/test_array_object.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.array_api

#20490 BUG: Protect divide by 0 in multinomial
  numpy/random/mtrand.pyx
  numpy/random/tests/test_randomstate_regression.py
Labels: 00 - Bug, 09 - Backport-Candidate

#20502 BUG: Fix the .T attribute in the array_api namespace
  numpy/array_api/_array_object.py
  numpy/array_api/tests/test_array_object.py
Labels: 00 - Bug, 08 - Backport, component: numpy.array_api

#20503 BUG: Protect divide by 0 in multinomial distribution.
  numpy/random/mtrand.pyx
  numpy/random/tests/test_randomstate_regression.py
Labels: 00 - Bug, component: numpy.random, 08 - Backport

#20509 DOC Adds valgrind to the test command
  doc/source/dev/development_advanced_debugging.rst
Labels: 04 - Documentation

#20389 MAINT: Raise different type of errors
  numpy/lib/npyio.py
  numpy/lib/tests/test_io.py
Labels: 00 - Bug, component: numpy.lib, 03 - Maintenance

#20521 MAINT: Pin OS versions when building wheels [wheel build]
  .github/workflows/wheels.yml
Labels: 03 - Maintenance

#20479 TST,STY: Clean up F2PY tests for pathlib.Path
  numpy/f2py/tests/test_abstract_interface.py
  numpy/f2py/tests/test_array_from_pyobj.py
  numpy/f2py/tests/test_assumed_shape.py
  numpy/f2py/tests/test_block_docstring.py
  numpy/f2py/tests/test_callback.py
  numpy/f2py/tests/test_common.py
  numpy/f2py/tests/test_compile_function.py
  numpy/f2py/tests/test_crackfortran.py
  numpy/f2py/tests/test_kind.py
  numpy/f2py/tests/test_mixed.py
  numpy/f2py/tests/test_module_doc.py
  numpy/f2py/tests/test_parameter.py
  numpy/f2py/tests/test_quoted_character.py
  numpy/f2py/tests/test_regression.py
  numpy/f2py/tests/test_return_character.py
  numpy/f2py/tests/test_return_complex.py
  numpy/f2py/tests/test_return_integer.py
  numpy/f2py/tests/test_return_logical.py
  numpy/f2py/tests/test_return_real.py
  numpy/f2py/tests/test_semicolon_split.py
  numpy/f2py/tests/test_size.py
  numpy/f2py/tests/test_string.py
  numpy/f2py/tests/test_symbolic.py
  numpy/f2py/tests/util.py
Labels: 05 - Testing, component: numpy.f2py

#20417 BLD: Add macOS arm64 wheels [wheel build]
  .github/workflows/wheels.yml
  tools/wheels/cibw_before_build.sh
  tools/wheels/gfortran_utils.sh
Labels: 36 - Build

#20524 CI: make sure CI stays on VS2019 unless changed explicitly
  azure-pipelines.yml
Labels: component: CI

#20516 DOC: Add more details on F2PY output conditions
  doc/source/f2py/buildtools/index.rst
Labels: 04 - Documentation

#20527 ENH: Add __array__ to the array_api Array object
  numpy/array_api/_array_object.py
  numpy/array_api/tests/test_array_object.py
Labels: 01 - Enhancement, 09 - Backport-Candidate

#20484 BUG: Fix reduce promotion with out argument
  numpy/core/include/numpy/experimental_dtype_api.h
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/dispatching.h
  numpy/core/src/umath/legacy_array_method.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, 09 - Backport-Candidate

#20518 PERF: Fix performance bug in ufunc dispatching cache
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, 09 - Backport-Candidate

#20533 BUG: Fix handling of the dtype parameter to numpy.array_api.prod()
  numpy/array_api/_statistical_functions.py
Labels: 00 - Bug, 09 - Backport-Candidate, component: numpy.array_api

#20535 BUG: Fix reduce promotion with out argument
  numpy/core/include/numpy/experimental_dtype_api.h
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/dispatching.h
  numpy/core/src/umath/legacy_array_method.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_datetime.py
  numpy/core/tests/test_ufunc.py
Labels: 00 - Bug, component: numpy.core, 08 - Backport

#20538 BUG: Fix handling of the dtype parameter to numpy.array_api.prod()
  numpy/array_api/_statistical_functions.py
Labels: 00 - Bug, 08 - Backport, component: numpy.array_api

#20539 PERF: Fix performance bug in dispatching cache
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, component: numpy.core, 08 - Backport

#20246 DOC: Merge doc strings of divide and true_divide.
  numpy/core/_ufunc_config.py
  numpy/core/code_generators/generate_umath.py
  numpy/core/code_generators/ufunc_docstrings.py
  numpy/core/src/umath/umathmodule.c
  numpy/core/tests/test_datetime.py
  numpy/lib/tests/test_arraypad.py
Labels: 04 - Documentation, 54 - Needs decision

#20541 REL: Prepare for NumPy 1.22.0rc2 release.
  doc/changelog/1.22.0-changelog.rst
  doc/source/release/1.22.0-notes.rst
Labels: 14 - Release

#18846 DOC: Improve documentation of default int type on windows
  doc/source/user/basics.creation.rst
Labels: 04 - Documentation

#20548 REV: Revert adding a default ufunc promoter
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_datetime.py
Labels: 08 - Backport, 34 - Reversion

#20556 DOC: Update links to mailing list on python.org
  doc/neps/nep-0031-uarray.rst
  doc/neps/nep-0038-SIMD-optimizations.rst
  doc/neps/nep-0049.rst
Labels: 04 - Documentation

#20557 REL: Prepare for the NumPy 1.22.0rc2 release.
  doc/changelog/1.22.0-changelog.rst
  doc/source/release/1.22.0-notes.rst
Labels: 14 - Release, component: Documentation

#20528 BLD: Add PyPy wheels [wheel build]
  .github/workflows/wheels.yml
Labels: 36 - Build

#19581 DOC: Improve SIMD documentation(1/4)
  doc/source/reference/index.rst
  doc/source/reference/simd/build-options.rst
  doc/source/reference/simd/gen_features.py
  doc/source/reference/simd/generated_tables/compilers-diff.inc
  doc/source/reference/simd/generated_tables/cpu_features.inc
  doc/source/reference/simd/how-it-works.rst
  doc/source/reference/simd/index.rst
  doc/source/reference/simd/log_example.txt
  doc/source/reference/simd/simd-optimizations-tables-diff.inc
  doc/source/reference/simd/simd-optimizations-tables.inc
  doc/source/reference/simd/simd-optimizations.py
  doc/source/reference/simd/simd-optimizations.rst
Labels: 04 - Documentation, component: Documentation, component: SIMD

#20558 TST: move get_glibc_version to np.testing; skip 2 more tests for old glibc
  numpy/core/tests/test_umath.py
  numpy/core/tests/test_umath_accuracy.py
  numpy/testing/_private/utils.py
Labels: 05 - Testing

#20563 BUG: Fix small issues found using valgrind
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/legacy_array_method.c
  numpy/core/src/umath/reduction.c
Labels: 00 - Bug

#20571 DOC: fix typo
  doc/source/user/whatisnumpy.rst
Labels: 04 - Documentation

#20572 DOC: Adds link to NEP 43 from NEP 41
  doc/neps/nep-0041-improved-dtype-support.rst
Labels: 04 - Documentation

#20579 MAINT: make sure CI stays on VS2019 unless changed explicitly
  azure-pipelines.yml
Labels: 03 - Maintenance, 08 - Backport, component: CI

#20577 BUG: Fix sorting of int8/int16
  numpy/core/src/npysort/radixsort.cpp
  numpy/ma/tests/test_core.py
Labels: 00 - Bug, component: numpy.core, 08 - Backport

#20576 BUG: Fix small issues found using valgrind
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/legacy_array_method.c
  numpy/core/src/umath/reduction.c
Labels: 00 - Bug, component: numpy.core, 08 - Backport

#20578 ENH: Add __array__ to the array_api Array object
  numpy/array_api/_array_object.py
  numpy/array_api/tests/test_array_object.py
Labels: 01 - Enhancement, 08 - Backport, component: numpy.array_api

#20553 BLD: Use the new hypotl on Cygwin, rather than defaulting to npy_hypot
  numpy/core/src/common/npy_config.h
  numpy/core/tests/test_scalarmath.py
Labels: 36 - Build

#20489 Convert binsearch.c.src to binsearch.cpp
  numpy/core/setup.py
  numpy/core/src/common/npy_binsearch.h
  numpy/core/src/common/npy_binsearch.h.src
  numpy/core/src/common/npy_sort.h.src
  numpy/core/src/common/numpy_tag.h
  numpy/core/src/npysort/binsearch.c.src
  numpy/core/src/npysort/binsearch.cpp
  numpy/core/src/npysort/npysort_common.h
Labels: C++

#20515 ENH: Generate the docstrings of umath into a separated C header
  numpy/core/code_generators/generate_umath.py
  numpy/core/code_generators/generate_umath_doc.py
  numpy/core/code_generators/ufunc_docstrings.py
  numpy/core/setup.py
  numpy/tests/test_public_api.py
Labels: 01 - Enhancement, 04 - Documentation, component: numpy.ufunc, C++

#20552 ENH: Extending CPU feature detection framework to support IBM Z SIMD
  doc/source/reference/simd/build-options.rst
  doc/source/reference/simd/gen_features.py
  doc/source/reference/simd/generated_tables/cpu_features.inc
  numpy/core/src/common/npy_cpu_features.c.src
  numpy/core/src/common/npy_cpu_features.h
  numpy/core/tests/test_cpu_features.py
  numpy/distutils/ccompiler_opt.py
  numpy/distutils/checks/cpu_vx.c
  numpy/distutils/checks/cpu_vxe.c
  numpy/distutils/checks/cpu_vxe2.c
  numpy/distutils/command/build.py
  numpy/distutils/fcompiler/gnu.py
  numpy/distutils/tests/test_ccompiler_opt.py
Labels: 01 - Enhancement, component: numpy.distutils, component: SIMD

#19756 DOC: Update front page of documentation with Sphinx-Panels
  doc/source/_static/index-images/api.svg
  doc/source/_static/index-images/contributor.svg
  doc/source/_static/index-images/getting_started.svg
  doc/source/_static/index-images/user_guide.svg
  doc/source/_templates/indexcontent.html
  doc/source/_templates/indexsidebar.html
  doc/source/conf.py
  doc/source/getting_started.rst
  doc/source/index.rst
  doc_requirements.txt
Labels: 04 - Documentation, 09 - Backport-Candidate

#20482 BUG: Fix tensorsolve for 0-sized input
  numpy/linalg/linalg.py
  numpy/linalg/tests/test_linalg.py
Labels: 00 - Bug, component: numpy.linalg

#20583 BUG: Fix issues (mainly) found using pytest-leaks
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, 09 - Backport-Candidate

#20588 BUG, DIST: fix normalize IBMZ features flags
  numpy/distutils/ccompiler_opt.py
  numpy/distutils/tests/test_ccompiler_opt.py
Labels: 00 - Bug, component: numpy.distutils, component: SIMD, 36 - Build

#20593 MAINT: Check for buffer interface support rather than try/except
  numpy/core/src/multiarray/ctors.c
Labels: 03 - Maintenance, 09 - Backport-Candidate

#20595 BUG: Fix PyInit__umath_linalg type
  numpy/linalg/umath_linalg.c.src
Labels: 00 - Bug

#20592 BUG: Reject buffers with suboffsets
  numpy/core/src/multiarray/ctors.c
  numpy/core/tests/test_multiarray.py
Labels: 00 - Bug

#20590 BUG: Fix leaks found using pytest-leaks
  numpy/core/src/_simd/_simd_convert.inc
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/umath/dispatching.c
Labels: 00 - Bug, 09 - Backport-Candidate

#20587 MAINT: Fix two minor typing-related problems
  numpy/core/records.pyi
  numpy/lib/npyio.pyi
  numpy/typing/tests/data/reveal/npyio.pyi
  numpy/typing/tests/data/reveal/rec.pyi
Labels: 03 - Maintenance, 09 - Backport-Candidate, static typing

#20500 ENH: add ndmin to `genfromtxt` behaving the same as `loadtxt`
  doc/release/upcoming_changes/20500.new_feature.rst
  numpy/lib/npyio.py
  numpy/lib/npyio.pyi
  numpy/lib/tests/test_io.py
  numpy/typing/tests/data/reveal/npyio.pyi
Labels: 01 - Enhancement

#20604 DEV: add a warningfilter to fix pytest workflow.
  pytest.ini
Labels: 16 - Development, 09 - Backport-Candidate

#20602 BUG: Fix PyInit__umath_linalg type
  numpy/linalg/umath_linalg.c.src
Labels: 00 - Bug, component: numpy.core, 08 - Backport

#20601 MAINT: Check for buffer interface support rather than try/except
  numpy/core/src/multiarray/ctors.c
Labels: component: numpy.core, 03 - Maintenance, 08 - Backport

#20600 BUG: Fix leaks found using pytest-leaks
  numpy/core/src/_simd/_simd_convert.inc
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/umath/dispatching.c
Labels: 00 - Bug, component: numpy.core, 08 - Backport

#20599 MAINT: Fix two minor typing-related problems
  numpy/core/records.pyi
  numpy/lib/npyio.pyi
  numpy/typing/tests/data/reveal/npyio.pyi
  numpy/typing/tests/data/reveal/rec.pyi
Labels: 03 - Maintenance, 08 - Backport, static typing

#20598 BUG: Fix issues (mainly) found using pytest-leaks (#20583)
  numpy/core/src/multiarray/conversion_utils.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/umath/dispatching.c
  numpy/core/src/umath/ufunc_object.c
Labels: 00 - Bug, component: numpy.core, 08 - Backport

#20607 BUG: Protect kahan_sum from empty arrays
  numpy/random/_common.pyx
Labels: 00 - Bug

#20611 TST: Bump mypy: 0.910 -> 0.920
  environment.yml
  numpy/typing/tests/data/reveal/array_constructors.pyi
  test_requirements.txt
Labels: 05 - Testing, 09 - Backport-Candidate, static typing

#20605 DEV: add a warningfilter to fix pytest workflow.
  pytest.ini
Labels: 16 - Development, 08 - Backport

#20613 DEV: add a warningfilter to fix pytest workflow.
  pytest.ini
Labels: 16 - Development, 08 - Backport

#20614 TST: Bump mypy: 0.910 -> 0.920
  environment.yml
  numpy/typing/tests/data/reveal/array_constructors.pyi
  test_requirements.txt
Labels: 05 - Testing, 08 - Backport, static typing

#20616 MAINT: Help boost::python libraries at least not crash
  numpy/core/src/multiarray/multiarraymodule.c
Labels: 03 - Maintenance, 09 - Backport-Candidate

#20617 MAINT: Help boost::python libraries at least not crash
  numpy/core/src/multiarray/multiarraymodule.c
Labels: component: numpy.core, 03 - Maintenance, 08 - Backport

#20585 DOC: Update front page of documentation with Sphinx-Panels
  doc/source/_static/index-images/api.svg
  doc/source/_static/index-images/contributor.svg
  doc/source/_static/index-images/getting_started.svg
  doc/source/_static/index-images/user_guide.svg
  doc/source/_templates/indexcontent.html
  doc/source/_templates/indexsidebar.html
  doc/source/conf.py
  doc/source/getting_started.rst
  doc/source/index.rst
  doc_requirements.txt
Labels: 04 - Documentation, component: Documentation, 08 - Backport

#20618 MAINT: Help boost::python libraries at least not crash
  numpy/core/src/multiarray/multiarraymodule.c
Labels: component: numpy.core, 03 - Maintenance, 08 - Backport

#20619 REL: Prepare for the NumPy 1.22.0rc3 release.
  doc/changelog/1.22.0-changelog.rst
  doc/source/release/1.22.0-notes.rst
Labels: 14 - Release, 04 - Documentation, component: Documentation

#20589 DEP: remove NPY_ARRAY_UPDATEIFCOPY, deprecated in 1.14
  doc/release/upcoming_changes/20589.expired.rst
  doc/source/reference/c-api/array.rst
  doc/source/reference/c-api/types-and-structures.rst
  doc/source/user/c-info.how-to-extend.rst
  numpy/__init__.cython-30.pxd
  numpy/__init__.pxd
  numpy/core/_add_newdocs.py
  numpy/core/_asarray.py
  numpy/core/include/numpy/ndarrayobject.h
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/include/numpy/noprefix.h
  numpy/core/include/numpy/npy_1_7_deprecated_api.h
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/calculation.c
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/flagsobject.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/mapping.c
  numpy/core/src/multiarray/methods.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/multiarray/scalartypes.c.src
  numpy/core/src/multiarray/temp_elide.c
  numpy/core/tests/test_deprecations.py
  numpy/core/tests/test_multiarray.py
  numpy/core/tests/test_nditer.py
  numpy/ctypeslib.py
  numpy/ctypeslib.pyi
  numpy/f2py/tests/src/array_from_pyobj/wrapmodule.c
  numpy/f2py/tests/test_array_from_pyobj.py
  numpy/ma/core.py
Labels: 07 - Deprecation

#20628 REL: Update main after 1.21.5 release.
  doc/changelog/1.21.5-changelog.rst
  doc/source/release.rst
  doc/source/release/1.21.5-notes.rst
Labels: 14 - Release, 04 - Documentation, component: Documentation

#20630 BUG: f2py: Simplify creation of an exception message. Closes gh-19000.
  numpy/f2py/src/fortranobject.c
Labels: 00 - Bug, component: numpy.f2py, 09 - Backport-Candidate

#20621 BUG: random: Check 'writeable' flag in 'shuffle' and 'permuted'.
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
  numpy/random/tests/test_generator_mt19937.py
  numpy/random/tests/test_random.py
Labels: 00 - Bug, component: numpy.random

#20176 MAINT: Use intp output param viewable casts/methods
  numpy/core/include/numpy/experimental_dtype_api.h
  numpy/core/include/numpy/ndarraytypes.h
  numpy/core/src/multiarray/_multiarray_tests.c.src
  numpy/core/src/multiarray/array_method.c
  numpy/core/src/multiarray/array_method.h
  numpy/core/src/multiarray/convert_datatype.c
  numpy/core/src/multiarray/convert_datatype.h
  numpy/core/src/multiarray/datetime.c
  numpy/core/src/multiarray/dtype_transfer.c
  numpy/core/src/multiarray/experimental_public_dtype_api.c
  numpy/core/src/multiarray/multiarraymodule.c
  numpy/core/src/umath/_scaled_float_dtype.c
  numpy/core/src/umath/legacy_array_method.c
  numpy/core/src/umath/legacy_array_method.h
  numpy/core/src/umath/ufunc_object.c
  numpy/core/tests/test_casting_unittests.py
  numpy/testing/print_coercion_tables.py
Labels: 03 - Maintenance

#20629 DOC: Refer to NumPy, not pandas, in main page
  doc/source/index.rst
Labels: 04 - Documentation

#20632 DOC: Document implementation of NEP 43 and experimental new DType API
  doc/source/release/1.22.0-notes.rst
Labels: 04 - Documentation

#20288 DOC: make some doctests in user,reference pass pytest
  doc/conftest.py
  doc/source/reference/arrays.classes.rst
  doc/source/reference/arrays.ndarray.rst
  doc/source/reference/arrays.nditer.cython.rst
  doc/source/reference/arrays.nditer.rst
  doc/source/reference/distutils.rst
  doc/source/reference/maskedarray.baseclass.rst
  doc/source/reference/maskedarray.generic.rst
  doc/source/reference/random/generator.rst
  doc/source/reference/routines.polynomials.classes.rst
  doc/source/user/absolute_beginners.rst
  doc/source/user/basics.broadcasting.rst
  doc/source/user/basics.byteswapping.rst
  doc/source/user/basics.copies.rst
  doc/source/user/basics.creation.rst
  doc/source/user/basics.dispatch.rst
  doc/source/user/basics.indexing.rst
  doc/source/user/basics.io.genfromtxt.rst
  doc/source/user/basics.rec.rst
  doc/source/user/basics.subclassing.rst
  doc/source/user/basics.types.rst
  doc/source/user/basics.ufuncs.rst
  doc/source/user/misc.rst
  doc/source/user/quickstart.rst
  pytest.ini
Labels: 04 - Documentation

#20640 BUG: Support env argument in CCompiler.spawn
  numpy/distutils/ccompiler.py
Labels: 00 - Bug, component: numpy.distutils

#20622 BLD: Add Windows 32-bit wheels
  .github/workflows/wheels.yml
  tools/wheels/cibw_before_build.sh
Labels: 36 - Build

#20648 DOC: Modify SVGs to be visible on Chrome
  doc/source/_static/index-images/api.svg
  doc/source/_static/index-images/getting_started.svg
Labels: 04 - Documentation

#20649 DOC: Modify SVG to be visible on Chrome
  doc/source/_static/index-images/api.svg
  doc/source/_static/index-images/getting_started.svg
Labels: 04 - Documentation, 08 - Backport

#20650 BUG: Support env argument in CCompiler.spawn
  numpy/distutils/ccompiler.py
Labels: 00 - Bug, component: numpy.distutils, 08 - Backport

#20651 BUG: f2py: Simplify creation of an exception message.
  numpy/f2py/src/fortranobject.c
Labels: 00 - Bug, component: numpy.f2py, 08 - Backport

#20653 DEV: Add `TYP`, a standard acronym for static typing
  .github/pr-prefix-labeler.yml
  doc/source/dev/development_workflow.rst
Labels: 16 - Development, static typing

#20646 DOC: add np.iterable to reference guide
  doc/source/reference/arrays.indexing.rst
Labels: 04 - Documentation

#20594 BUG: Fix setstate logic for empty arrays
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/methods.c
Labels: 00 - Bug

#20505 BUG: fix `ma.average` not working well with `nan` weights
  numpy/ma/extras.py
  numpy/ma/tests/test_extras.py
Labels: 00 - Bug

#20416 ENH: Add ARM Compiler with ARM Performance Library support
  numpy/distutils/armccompiler.py
  numpy/distutils/ccompiler.py
  numpy/distutils/fcompiler/__init__.py
  numpy/distutils/fcompiler/arm.py
  numpy/distutils/system_info.py
  numpy/tests/test_public_api.py
Labels: 01 - Enhancement, component: numpy.distutils

#20380 DOC: random: Fix a comment and example in the multivariate_normal docstring
  numpy/random/_generator.pyx
  numpy/random/mtrand.pyx
Labels: 04 - Documentation, component: numpy.random

#20654 CI: Find cygwin test failures
  .github/workflows/cygwin.yml
  numpy/linalg/tests/test_linalg.py
Labels: component: CI

#20647 DOC: Add PyArray_FailUnlessWriteable to the online C-API docs.
  doc/source/reference/c-api/array.rst
  doc/source/release/1.7.0-notes.rst
  numpy/core/src/multiarray/arrayobject.c
Labels: 04 - Documentation

#20666 DOC: Add help string for F2PY
  doc/source/f2py/usage.rst
  numpy/f2py/f2py2e.py
Labels: 04 - Documentation, component: numpy.f2py

#20663 TYP,TST: Bump mypy to 0.930
  environment.yml
  numpy/typing/tests/data/fail/scalars.pyi
  test_requirements.txt
Labels: 05 - Testing, 09 - Backport-Candidate, static typing

#20672 DOC: add hypothesis test dependency in README and PyPI long-description
  README.md
  setup.py
Labels: 04 - Documentation

#20680 TYP,TST: Bump mypy to 0.930
  environment.yml
  numpy/typing/tests/data/fail/scalars.pyi
  test_requirements.txt
Labels: 05 - Testing, 08 - Backport, static typing

#20681 BUG: Fix setstate logic for empty arrays
  numpy/core/src/multiarray/arrayobject.c
  numpy/core/src/multiarray/common.h
  numpy/core/src/multiarray/ctors.c
  numpy/core/src/multiarray/getset.c
  numpy/core/src/multiarray/methods.c
Labels: 00 - Bug, 08 - Backport

#20682 ENH: Add ARM Compiler with ARM Performance Library support
  numpy/distutils/armccompiler.py
  numpy/distutils/ccompiler.py
  numpy/distutils/fcompiler/__init__.py
  numpy/distutils/fcompiler/arm.py
  numpy/distutils/system_info.py
  numpy/tests/test_public_api.py
Labels: 01 - Enhancement, component: numpy.distutils, 08 - Backport

#20685 Prepare for 1.22.0 release
  doc/changelog/1.22.0-changelog.rst
  doc/source/release/1.22.0-notes.rst
Labels: 14 - Release, 04 - Documentation, component: Documentation
