Repository numpy/numpy, pull requests merged in 2025-04, with the labels that each got.

#28616 TYP: Type ``ma.MaskedArray.min``
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28621 DOC: Update __init__.py
  numpy/typing/__init__.py
Labels: 04 - Documentation

#28576 API,ENH: Allow forcing an array result in ufuncs
  doc/release/upcoming_changes/28576.new_feature.rst
  doc/source/reference/ufuncs.rst
  doc/source/user/basics.ufuncs.rst
  numpy/_core/_add_newdocs.py
  numpy/_core/numeric.py
  numpy/_core/src/umath/ufunc_object.c
  numpy/_core/tests/test_ufunc.py
  numpy/lib/_function_base_impl.py
  numpy/lib/_nanfunctions_impl.py
Labels: 30 - API

#28627 MAINT: replace string.format() with f-strings
  benchmarks/benchmarks/bench_records.py
  benchmarks/benchmarks/bench_ufunc.py
  numpy/_core/_add_newdocs_scalars.py
  numpy/_core/_dtype.py
  numpy/_core/_dtype_ctypes.py
  numpy/_core/_exceptions.py
  numpy/_core/_internal.py
  numpy/_core/arrayprint.py
  numpy/_core/code_generators/genapi.py
  numpy/_core/code_generators/generate_umath.py
  numpy/_core/code_generators/ufunc_docstrings.py
  numpy/_core/memmap.py
  numpy/_core/numeric.py
  numpy/_core/records.py
  numpy/_core/shape_base.py
  numpy/_core/tests/test_arrayprint.py
  numpy/_core/tests/test_conversion_utils.py
  numpy/_core/tests/test_datetime.py
  numpy/_core/tests/test_longdouble.py
  numpy/_core/tests/test_multiarray.py
  numpy/_core/tests/test_protocols.py
  numpy/_core/tests/test_regression.py
  numpy/_core/tests/test_scalar_methods.py
  numpy/_core/tests/test_scalarprint.py
  numpy/_core/tests/test_umath.py
  numpy/_utils/_pep440.py
  numpy/ctypeslib/_ctypeslib.py
  numpy/f2py/capi_maps.py
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/util.py
  numpy/lib/_arraypad_impl.py
  numpy/lib/_arraysetops_impl.py
  numpy/lib/_format_impl.py
  numpy/lib/_function_base_impl.py
  numpy/lib/_histograms_impl.py
  numpy/lib/_index_tricks_impl.py
  numpy/lib/mixins.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_arraypad.py
  numpy/lib/tests/test_arraysetops.py
  numpy/lib/tests/test_histograms.py
  numpy/lib/tests/test_mixins.py
  numpy/lib/tests/test_recfunctions.py
  numpy/linalg/lapack_lite/make_lite.py
  numpy/ma/core.py
  numpy/polynomial/_polybase.py
  numpy/testing/_private/extbuild.py
  numpy/testing/_private/utils.py
Labels: 03 - Maintenance

#28396 BUG: Fix crackfortran parsing error when a division occurs within a common block
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/src/crackfortran/common_with_division.f
  numpy/f2py/tests/test_crackfortran.py
Labels: 00 - Bug, component: numpy.f2py, 09 - Backport-Candidate

#28631 MAINT, CI: Update Ubuntu to 22.04 in azure-pipelines
  azure-pipelines.yml
Labels: 03 - Maintenance, component: CI

#28632 BUG: Set writeable flag for writeable dlpacks.
  numpy/_core/_add_newdocs.py
  numpy/_core/src/multiarray/dlpack.c
  numpy/_core/tests/test_dlpack.py
Labels: 00 - Bug, 08 - Backport

#28633 BUG: Fix crackfortran parsing error when a division occurs within a common block
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/src/crackfortran/common_with_division.f
  numpy/f2py/tests/test_crackfortran.py
Labels: 00 - Bug, component: numpy.f2py, 08 - Backport

#28637 TYP: Fix overload for ``ma.MaskedArray.{min,max,ptp}`` and ``ma.{min,max,ptp}`` for positional ``axis`` and ``out``
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: 41 - Static typing

#28638 TYP: Type ``MaskedArray.{argmin, argmax}`` and ``np.ma.{argmin, argmax}``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28643 BUG: fix deepcopying StringDType arrays
  numpy/_core/src/multiarray/methods.c
  numpy/_core/tests/test_stringdtype.py
Labels: 00 - Bug, 09 - Backport-Candidate

#28647 DOC: Fix typos found by codespell
  doc/source/_static/numpy.css
  numpy/_core/src/multiarray/calculation.c
  numpy/_core/src/umath/ufunc_object.c
  numpy/_core/strings.py
Labels: 04 - Documentation

#28644 TYP: fix `ndarray.tolist()` and `.item()` for unknown dtype
  numpy/__init__.pyi
  numpy/typing/tests/data/reveal/ndarray_conversion.pyi
Labels: 09 - Backport-Candidate, 41 - Static typing

#28650 TYP: fix `ndarray.tolist()` and `.item()` for unknown dtype
  numpy/__init__.pyi
  numpy/typing/tests/data/reveal/ndarray_conversion.pyi
Labels: 08 - Backport, 41 - Static typing

#28654 BUG: fix deepcopying StringDType arrays (#28643)
  numpy/_core/src/multiarray/methods.c
  numpy/_core/tests/test_stringdtype.py
Labels: 00 - Bug, 08 - Backport

#28657 TYP: simplified type-aliases in ``numpy._typing``
  numpy/_typing/_array_like.py
  numpy/_typing/_dtype_like.py
  numpy/_typing/_scalars.py
Labels: 41 - Static typing

#28660 TYP: Accept objects that ``write()`` to ``str`` in ``savetxt``
  numpy/lib/_npyio_impl.pyi
Labels: 09 - Backport-Candidate, 41 - Static typing

#28661 TYP: Accept objects that ``write()`` to ``str`` in ``savetxt``
  numpy/lib/_npyio_impl.pyi
Labels: 08 - Backport, 41 - Static typing

#28653 CI: Replace QEMU armhf with native (32-bit compatibility mode)
  .github/workflows/linux.yml
  .github/workflows/linux_qemu.yml
  numpy/_core/src/common/npy_cpu_features.c
  numpy/_core/src/common/npy_cpuinfo_parser.h
  numpy/_core/src/common/simd/neon/math.h
  numpy/_core/tests/test_cpu_features.py
  numpy/_core/tests/test_function_base.py
Labels: 00 - Bug, 05 - Testing, 09 - Backport-Candidate, component: CI, component: SIMD

#28663 CI: Replace QEMU armhf with native (32-bit compatibility mode)
  .github/workflows/linux.yml
  .github/workflows/linux_qemu.yml
  numpy/_core/src/common/npy_cpu_features.c
  numpy/_core/src/common/npy_cpuinfo_parser.h
  numpy/_core/src/common/simd/neon/math.h
  numpy/_core/tests/test_cpu_features.py
  numpy/_core/tests/test_function_base.py
Labels: 00 - Bug, 05 - Testing, 08 - Backport, component: CI, component: SIMD

#28664 TYP: Type ``MaskedArray.sort``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28667 TYP: replace `_ScalarType` with `_SCT`
  numpy/_typing/_add_docstring.py
  numpy/_typing/_array_like.py
  numpy/typing/tests/data/reveal/ma.pyi
Labels: 41 - Static typing

#28671 SIMD: Fix Highway QSort symbol linking error on aarch32/ASIMD
  numpy/_core/src/npysort/highway_qsort.dispatch.cpp
  numpy/_core/src/npysort/highway_qsort.hpp
  numpy/_core/src/npysort/highway_qsort_16bit.dispatch.cpp
  numpy/_core/src/npysort/quicksort.cpp
Labels: 00 - Bug, 09 - Backport-Candidate, component: SIMD

#28668 TYP: replace `_ArrayType` with `_ArrayT`
  numpy/_core/_asarray.pyi
  numpy/_core/einsumfunc.pyi
  numpy/_core/multiarray.pyi
  numpy/_core/numeric.pyi
  numpy/_typing/_ufunc.pyi
  numpy/lib/_function_base_impl.pyi
  numpy/lib/_ufunclike_impl.pyi
  numpy/linalg/_linalg.pyi
  numpy/ma/core.pyi
  numpy/random/_generator.pyi
  numpy/typing/tests/data/fail/einsumfunc.pyi
Labels: 41 - Static typing

#28669 TYP: default to `dtype[Any]`
  doc/release/upcoming_changes/28669.new_feature.rst
  numpy/__init__.pyi
Labels: 41 - Static typing

#28674 TYP: add missing `"b1"` literals for `dtype[bool]`
  numpy/_typing/_char_codes.py
  numpy/typing/tests/data/reveal/dtype.pyi
Labels: 09 - Backport-Candidate, 41 - Static typing

#28677 TYP: Type ``MaskedArray.partition`` and ``MaskedArray.argpartition``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28683 TYP: add missing `"b1"` literals for `dtype[bool]`
  numpy/_typing/_char_codes.py
  numpy/typing/tests/data/reveal/dtype.pyi
Labels: 08 - Backport, 41 - Static typing

#28680 TYP: Type ``MaskedArray.take`` and ``np.ma.take``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28688 TYP: rename ``_ShapeType`` TypeVar to ``_ShapeT``
  numpy/__init__.pyi
  numpy/_core/fromnumeric.pyi
  numpy/_core/multiarray.pyi
  numpy/_core/numeric.pyi
  numpy/ma/core.pyi
  numpy/ma/mrecords.pyi
  numpy/polynomial/_polybase.pyi
  numpy/typing/tests/data/fail/shape.pyi
  numpy/typing/tests/data/pass/shape.py
Labels: 41 - Static typing

#28684 TYP: replace ``_DType`` with ``_DTypeT``
  numpy/__init__.pyi
  numpy/_core/defchararray.pyi
  numpy/_core/multiarray.pyi
  numpy/_core/numeric.pyi
  numpy/_typing/_array_like.py
  numpy/_typing/_dtype_like.py
  numpy/ctypeslib/_ctypeslib.pyi
  numpy/ma/core.pyi
  numpy/ma/mrecords.pyi
Labels: 41 - Static typing

#28693 BLD: fix meson_version warning
  meson.build
Labels: 36 - Build

#28695 DOC: linalg.matrix_transpose: add alias note
  numpy/linalg/_linalg.py
Labels: 04 - Documentation

#28690 TYP: replace ``_SCT`` with ``_ScalarT``
  numpy/__init__.pyi
  numpy/_core/defchararray.pyi
  numpy/_core/fromnumeric.pyi
  numpy/_core/function_base.pyi
  numpy/_core/multiarray.pyi
  numpy/_core/numeric.pyi
  numpy/_core/records.pyi
  numpy/_core/shape_base.pyi
  numpy/_typing/_add_docstring.py
  numpy/_typing/_array_like.py
  numpy/_typing/_dtype_like.py
  numpy/ctypeslib/_ctypeslib.pyi
  numpy/dtypes.pyi
  numpy/fft/_helper.pyi
  numpy/lib/_arraypad_impl.pyi
  numpy/lib/_arraysetops_impl.pyi
  numpy/lib/_function_base_impl.pyi
  numpy/lib/_npyio_impl.pyi
  numpy/lib/_shape_base_impl.pyi
  numpy/lib/_stride_tricks_impl.pyi
  numpy/lib/_twodim_base_impl.pyi
  numpy/lib/_type_check_impl.pyi
  numpy/ma/core.pyi
  numpy/polynomial/_polytypes.pyi
  numpy/polynomial/chebyshev.pyi
  numpy/typing/tests/data/reveal/array_constructors.pyi
  numpy/typing/tests/data/reveal/ma.pyi
  numpy/typing/tests/data/reveal/multiarray.pyi
  numpy/typing/tests/data/reveal/polynomial_polybase.pyi
  numpy/typing/tests/data/reveal/twodim_base.pyi
Labels: 41 - Static typing

#28702 TYP: Fix inconsistent ``NDArray[float64].__[r]truediv__`` return type with ``float``
  numpy/__init__.pyi
  numpy/typing/tests/data/reveal/arithmetic.pyi
Labels: 09 - Backport-Candidate, 41 - Static typing

#28705 TYP: Fix false rejection of ``NDArray[object_].__abs__()``
  numpy/__init__.pyi
  numpy/typing/tests/data/reveal/arithmetic.pyi
Labels: 08 - Backport, 41 - Static typing, numtype

#28706 TYP: Fix inconsistent ``NDArray[float64].__[r]truediv__`` return type with ``float``
  numpy/__init__.pyi
  numpy/typing/tests/data/reveal/arithmetic.pyi
Labels: 08 - Backport, 41 - Static typing

#28712 MAINT: `%i` → `%d`
  numpy/_core/tests/test_deprecations.py
Labels: 03 - Maintenance

#28713 MAINT: remove use of ld_classic on macOS
  doc/release/upcoming_changes/28713.change.rst
  meson.build
Labels: 03 - Maintenance, component: build, 36 - Build

#28689 TYP: Type ``MaskedArray.__{ge,gt,le,lt}__``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28715 TYP: Type ``np.ma.{is_masked,ndim,size,ids,iscontiguous}``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: 41 - Static typing

#28717 TYP: fix string-like ``ndarray`` rich comparison operators
  numpy/__init__.pyi
  numpy/typing/tests/data/pass/comparisons.py
Labels: 09 - Backport-Candidate, 41 - Static typing

#28645 DOC: fixes classes decorated with set_module not showing its source on numpy's documentation (#28629)
  doc/source/conf.py
  numpy/_utils/__init__.py
Labels: 04 - Documentation

#28723 TYP: fix string-like ``ndarray`` rich comparison operators
  numpy/__init__.pyi
  numpy/typing/tests/data/pass/comparisons.py
Labels: 08 - Backport, 41 - Static typing

#28733 TYP: remove `_typing._UnknownType` and `_ArrayLikeUnknown`
  numpy/_core/numeric.pyi
  numpy/_typing/__init__.py
  numpy/_typing/_array_like.py
  numpy/linalg/_linalg.pyi
Labels: 41 - Static typing

#28735 TYP: Type ``MaskedArray.count`` and ``np.ma.count``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28675 TYP: fix and improve ``numpy.lib._type_check_impl``
  numpy/lib/_type_check_impl.pyi
  numpy/typing/tests/data/reveal/type_check.pyi
Labels: 41 - Static typing, numtype

#28738 TYP: fix incorrect `random.Generator.integers` return type
  numpy/random/_generator.pyi
  numpy/typing/tests/data/reveal/random.pyi
Labels: component: numpy.random, 09 - Backport-Candidate, 41 - Static typing

#28739 MNT: get rid of references to Python 3.10
  doc/HOWTO_RELEASE.rst
  doc/source/dev/development_advanced_debugging.rst
  environment.yml
  numpy/lib/tests/test_shape_base.py
  numpy/tests/test_public_api.py
  requirements/test_requirements.txt
Labels: 03 - Maintenance

#28719 MAINT: switching from `%i` to `fstrings`
  numpy/f2py/crackfortran.py
  numpy/lib/_function_base_impl.py
  numpy/lib/_iotools.py
  numpy/lib/_npyio_impl.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_io.py
  numpy/ma/core.py
  numpy/ma/mrecords.py
  tools/refguide_check.py
Labels: 03 - Maintenance

#28725 STY: Enforce ruff/pycodestyle warnings (W)
  benchmarks/benchmarks/bench_function_base.py
  benchmarks/benchmarks/bench_linalg.py
  benchmarks/benchmarks/bench_polynomial.py
  doc/conftest.py
  doc/neps/nep-0016-benchmark.py
  doc/preprocess.py
  doc/source/conf.py
  doc/source/reference/random/performance.py
  doc/source/reference/simd/gen_features.py
  numpy/_core/numeric.py
  numpy/_core/tests/test_casting_floatingpoint_errors.py
  numpy/_core/tests/test_casting_unittests.py
  numpy/_core/tests/test_datetime.py
  numpy/_core/tests/test_einsum.py
  numpy/_core/tests/test_multiarray.py
  numpy/_core/tests/test_scalarprint.py
  numpy/_utils/__init__.py
  numpy/f2py/_src_pyf.py
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/test_parameter.py
  numpy/lib/_format_impl.py
  numpy/lib/tests/test_format.py
  numpy/lib/tests/test_function_base.py
  numpy/ma/core.py
  numpy/ma/tests/test_core.py
  numpy/polynomial/_polybase.py
  numpy/random/_examples/cffi/parse.py
  numpy/random/_examples/numba/extending.py
  numpy/tests/test_public_api.py
  ruff.toml
Labels: 03 - Maintenance

#28728 STY: Apply assorted ruff/pyupgrade rules (UP)
  numpy/__init__.pyi
  numpy/_core/tests/test_api.py
  numpy/_core/tests/test_defchararray.py
  numpy/_core/tests/test_multiarray.py
  numpy/_core/tests/test_print.py
  numpy/_core/tests/test_regression.py
  numpy/_core/tests/test_scalar_methods.py
  numpy/_core/tests/test_shape_base.py
  numpy/conftest.py
  numpy/f2py/f2py2e.pyi
  numpy/lib/_array_utils_impl.pyi
  numpy/lib/_format_impl.py
  numpy/lib/recfunctions.py
  numpy/lib/tests/test_histograms.py
  numpy/ma/core.py
  numpy/polynomial/_polybase.py
  numpy/polynomial/tests/test_classes.py
  numpy/tests/test_public_api.py
Labels: 03 - Maintenance

#28742 TYP: Type ``MaskedArray.filled`` and ``np.ma.filled``
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28745 TYP: Type ``MaskedArray.put``, ``np.ma.put``, ``np.ma.putmask``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28751 MNT: discard Python 2 leftover
  tools/refguide_check.py
Labels: 03 - Maintenance

#28747 TYP: some ``[arg]partition`` fixes
  numpy/__init__.pyi
  numpy/_core/fromnumeric.pyi
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: 09 - Backport-Candidate, 41 - Static typing

#28743 MNT: Enforce ruff/pygrep-hooks rules (PGH)
  numpy/_core/multiarray.py
  numpy/_core/tests/test_multiarray.py
  numpy/_core/tests/test_regression.py
  numpy/exceptions.py
  numpy/lib/tests/test_function_base.py
  ruff.toml
Labels: 03 - Maintenance

#28744 STY: Apply more ruff rules (RUF)
  numpy/_core/_ufunc_config.py
  numpy/_core/arrayprint.py
  numpy/_core/tests/_natype.py
  numpy/_core/tests/test_cpu_features.py
  numpy/_core/tests/test_regression.py
  numpy/exceptions.py
  numpy/f2py/_src_pyf.py
  numpy/f2py/auxfuncs.py
  numpy/f2py/crackfortran.py
  numpy/f2py/tests/test_array_from_pyobj.py
  numpy/lib/_index_tricks_impl.py
  numpy/lib/tests/test_io.py
  numpy/polynomial/tests/test_printing.py
  tools/c_coverage/c_coverage_report.py
  tools/changelog.py
  tools/refguide_check.py
  tools/wheels/check_license.py
Labels: 03 - Maintenance

#28752 MNT: Apply ruff/Pylint rule PLW0129 (assertions that never fail)
  numpy/f2py/tests/test_f2py2e.py
  numpy/tests/test_configtool.py
Labels: 03 - Maintenance

#28754 MNT: Enforce ruff/Pylint Error rules (PLE)
  numpy/_core/tests/test_array_coercion.py
  numpy/_core/tests/test_multiarray.py
  numpy/fft/__init__.py
  numpy/linalg/__init__.py
  numpy/ma/testutils.py
  numpy/matlib.py
  ruff.toml
Labels: 03 - Maintenance

#28766 TYP: Type ``MaskedArray.compressed`` and ``np.ma.compressed``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28703 MAINT: Improve float16 and float32 printing
  doc/release/upcoming_changes/28703.change.rst
  numpy/_core/arrayprint.py
  numpy/_core/src/multiarray/scalartypes.c.src
  numpy/_core/tests/test_arrayprint.py
  numpy/_core/tests/test_scalarprint.py
Labels: 03 - Maintenance

#28760 STY: Apply ruff/pyupgrade rule UP032
  numpy/__init__.py
  numpy/_core/_exceptions.py
  numpy/_core/_internal.py
  numpy/_core/code_generators/generate_numpy_api.py
  numpy/_core/einsumfunc.py
  numpy/_core/fromnumeric.py
  numpy/_core/function_base.py
  numpy/_core/getlimits.py
  numpy/_core/shape_base.py
  numpy/_core/tests/test_shape_base.py
  numpy/conftest.py
  numpy/f2py/__init__.py
  numpy/lib/__init__.py
  numpy/lib/_arraypad_impl.py
  numpy/lib/_function_base_impl.py
  numpy/lib/tests/test_histograms.py
  numpy/random/tests/test_extending.py
  numpy/tests/test_public_api.py
  numpy/tests/test_warnings.py
  tools/swig/test/testFarray.py
  tools/wheels/check_license.py
Labels: 03 - Maintenance

#28763 STY: Use f-string instead of `format` call
  doc/neps/nep-0013-ufunc-overrides.rst
  doc/source/reference/random/bit_generators/index.rst
  numpy/f2py/_src_pyf.py
  numpy/f2py/f2py2e.py
  numpy/random/_common.pyx
  numpy/random/_generator.pyx
  numpy/random/_mt19937.pyx
  numpy/random/_pcg64.pyx
  numpy/random/_philox.pyx
  numpy/random/_sfc64.pyx
  numpy/random/bit_generator.pyx
  numpy/random/mtrand.pyx
Labels: 03 - Maintenance

#28750 TYP: fix `count_nonzero` signature
  numpy/_core/numeric.pyi
  numpy/typing/tests/data/reveal/numeric.pyi
Labels: 09 - Backport-Candidate, 41 - Static typing

#28756 MNT: Apply assorted ruff/Pylint Warning rules (PLW)
  doc/source/conf.py
  numpy/_core/tests/test_arrayprint.py
  numpy/_core/tests/test_deprecations.py
  numpy/_core/tests/test_multiarray.py
  numpy/f2py/tests/test_callback.py
  numpy/lib/_function_base_impl.py
  numpy/lib/tests/test_function_base.py
  numpy/testing/_private/utils.py
  numpy/typing/tests/test_typing.py
Labels: 03 - Maintenance

#28741 BUG: Re-enable overriding functions in the `np.strings` module.
  doc/release/upcoming_changes/28741.change.rst
  numpy/_core/strings.py
  numpy/_core/tests/test_strings.py
Labels: 00 - Bug

#28772 TYP: fix incorrect `random.Generator.integers` return type
  numpy/random/_generator.pyi
  numpy/typing/tests/data/reveal/random.pyi
Labels: component: numpy.random, 08 - Backport, 41 - Static typing

#28771 ENH: Include offset in error message when fallocate() fails
  numpy/_core/src/multiarray/convert.c
Labels: 01 - Enhancement

#28770 MNT: Enforce ruff/pyupgrade rules (UP)
  numpy/_core/tests/test_multiarray.py
  ruff.toml
Labels: 03 - Maintenance

#28774 TYP: fix `count_nonzero` signature
  numpy/_core/numeric.pyi
  numpy/typing/tests/data/reveal/numeric.pyi
Labels: 08 - Backport, 41 - Static typing

#28779 MAINT: Update main after Numpy 2.2.5 release
  .mailmap
  doc/changelog/2.2.5-changelog.rst
  doc/source/release.rst
  doc/source/release/2.2.5-notes.rst
Labels: 03 - Maintenance

#28778 MAINT: Prepare 2.2.x for further development
  doc/source/release.rst
  doc/source/release/2.2.6-notes.rst
  pavement.py
  pyproject.toml
Labels: 03 - Maintenance

#28789 BUG: Re-enable GCC function-specific optimization attributes
  numpy/_core/meson.build
Labels: 00 - Bug

#28757 BUG: Fix AVX512_SPR dispatching for SVML half-precision operations
  numpy/_core/code_generators/generate_umath.py
  numpy/_core/meson.build
  numpy/_core/src/umath/loops.h.src
  numpy/_core/src/umath/loops_half.dispatch.c.src
  numpy/_core/src/umath/loops_umath_fp.dispatch.c.src
Labels: 00 - Bug, 06 - Regression, component: SIMD

#28731 BUG: Prevent nanmax/nanmin from copying memmap arrays
  numpy/lib/_nanfunctions_impl.py
  numpy/lib/tests/test_nanfunctions.py
Labels: 00 - Bug

#27523 ENH: Improve performance of np.count_nonzero for float arrays
  benchmarks/benchmarks/bench_core.py
  numpy/_core/src/multiarray/arraytypes.c.src
  numpy/_core/src/multiarray/arraytypes.h.src
  numpy/_core/src/multiarray/item_selection.c
  numpy/_core/tests/test_numeric.py
Labels: 01 - Enhancement

#28746 TYP: ``numpy.ma`` squiggly line cleanup
  numpy/ma/core.pyi
Labels: component: numpy.ma, 41 - Static typing

#28798 TST: skip test if spawning threads triggers a RuntimeError
  numpy/testing/_private/utils.py
Labels: 05 - Testing

#28804 BUG: fix heap buffer overflow in np.strings.find
  numpy/_core/src/umath/string_fastsearch.h
  numpy/_core/tests/test_strings.py
Labels: 00 - Bug, 09 - Backport-Candidate

#28662 MAINT: Remove distutils CPU dispatcher compatibility code
  meson_cpu/main_config.h.in
  numpy/_core/code_generators/generate_umath.py
  numpy/_core/src/_simd/_simd.c
  numpy/_core/src/_simd/_simd.dispatch.c.src
  numpy/_core/src/_simd/_simd.h
  numpy/_core/src/common/npy_cpu_dispatch.h
  numpy/_core/src/common/npy_cpu_dispatch_distutils.h
  numpy/_core/src/multiarray/argfunc.dispatch.c.src
  numpy/_core/src/multiarray/arraytypes.c.src
  numpy/_core/src/multiarray/arraytypes.h.src
  numpy/_core/src/npysort/highway_qsort.hpp
  numpy/_core/src/npysort/quicksort.cpp
  numpy/_core/src/npysort/selection.cpp
  numpy/_core/src/npysort/x86_simd_qsort.hpp
  numpy/_core/src/umath/_umath_tests.c.src
  numpy/_core/src/umath/_umath_tests.dispatch.c
  numpy/_core/src/umath/loops.h.src
  numpy/_core/src/umath/loops_arithm_fp.dispatch.c.src
  numpy/_core/src/umath/loops_arithmetic.dispatch.c.src
  numpy/_core/src/umath/loops_autovec.dispatch.c.src
  numpy/_core/src/umath/loops_comparison.dispatch.c.src
  numpy/_core/src/umath/loops_exponent_log.dispatch.c.src
  numpy/_core/src/umath/loops_hyperbolic.dispatch.cpp.src
  numpy/_core/src/umath/loops_minmax.dispatch.c.src
  numpy/_core/src/umath/loops_modulo.dispatch.c.src
  numpy/_core/src/umath/loops_umath_fp.dispatch.c.src
  numpy/_core/src/umath/loops_unary.dispatch.c.src
  numpy/_core/src/umath/loops_unary_complex.dispatch.c.src
  numpy/_core/src/umath/loops_unary_fp.dispatch.c.src
  numpy/_core/src/umath/loops_unary_fp_le.dispatch.c.src
Labels: 03 - Maintenance, component: SIMD, 36 - Build

#28806 BUG: Fix ` __array__(None)` to preserve dtype
  numpy/_core/src/multiarray/methods.c
  numpy/_core/tests/test_multiarray.py
Labels: 00 - Bug

#28820 TYP: ``None`` at the end of a union
  numpy/__init__.pyi
  numpy/_core/_asarray.pyi
  numpy/_core/_ufunc_config.pyi
  numpy/_core/arrayprint.pyi
  numpy/_core/defchararray.pyi
  numpy/_core/einsumfunc.pyi
  numpy/_core/multiarray.pyi
  numpy/_core/numeric.pyi
  numpy/_pytesttester.pyi
  numpy/_typing/_ufunc.pyi
  numpy/ctypeslib/_ctypeslib.pyi
  numpy/exceptions.pyi
  numpy/fft/_pocketfft.pyi
  numpy/lib/_array_utils_impl.pyi
  numpy/lib/_arraypad_impl.pyi
  numpy/lib/_function_base_impl.pyi
  numpy/lib/_histograms_impl.pyi
  numpy/lib/_polynomial_impl.pyi
  numpy/lib/_shape_base_impl.pyi
  numpy/lib/_stride_tricks_impl.pyi
  numpy/lib/_twodim_base_impl.pyi
  numpy/linalg/_linalg.pyi
  numpy/matrixlib/defmatrix.pyi
  numpy/polynomial/_polybase.pyi
  numpy/polynomial/_polytypes.pyi
  numpy/polynomial/chebyshev.pyi
  numpy/polynomial/polyutils.pyi
  numpy/random/_generator.pyi
  numpy/random/_mt19937.pyi
  numpy/random/_pcg64.pyi
  numpy/random/_philox.pyi
  numpy/random/_sfc64.pyi
  numpy/random/mtrand.pyi
  numpy/typing/tests/data/pass/array_like.py
  numpy/typing/tests/data/reveal/arrayterator.pyi
  numpy/typing/tests/data/reveal/dtype.pyi
  numpy/typing/tests/data/reveal/lib_function_base.pyi
  numpy/typing/tests/data/reveal/npyio.pyi
  numpy/typing/tests/data/reveal/random.pyi
  numpy/typing/tests/data/reveal/testing.pyi
  numpy/typing/tests/data/reveal/ufunc_config.pyi
  numpy/typing/tests/test_runtime.py
  numpy/typing/tests/test_typing.py
Labels: 41 - Static typing

#28807 TYP: fix ``NDArray[floating] + float`` return type
  numpy/__init__.pyi
  numpy/typing/tests/data/reveal/arithmetic.pyi
Labels: 09 - Backport-Candidate, 41 - Static typing

#28810 TYP: replace ``_Self`` type parameters with ``typing.Self``
  numpy/polynomial/_polybase.pyi
  numpy/polynomial/_polytypes.pyi
  numpy/polynomial/chebyshev.pyi
Labels: 41 - Static typing

#28819 TYP: simplify redundant unions of builtin scalar types
  numpy/_core/fromnumeric.pyi
  numpy/_core/numeric.pyi
  numpy/lib/_twodim_base_impl.pyi
  numpy/typing/tests/data/reveal/dtype.pyi
Labels: 41 - Static typing

#28811 TYP: remove unnecessary scalar-type ``Any`` type-args
  numpy/__init__.pyi
  numpy/_core/_type_aliases.pyi
  numpy/_core/einsumfunc.pyi
  numpy/_core/fromnumeric.pyi
  numpy/_core/multiarray.pyi
  numpy/_core/numeric.pyi
  numpy/_typing/_callable.pyi
  numpy/lib/_function_base_impl.pyi
  numpy/lib/_polynomial_impl.pyi
  numpy/lib/_scimath_impl.pyi
  numpy/lib/_shape_base_impl.pyi
  numpy/lib/_twodim_base_impl.pyi
  numpy/lib/_ufunclike_impl.pyi
  numpy/linalg/_linalg.pyi
  numpy/polynomial/_polybase.pyi
  numpy/polynomial/_polytypes.pyi
  numpy/polynomial/chebyshev.pyi
  numpy/polynomial/polyutils.pyi
  numpy/typing/tests/data/reveal/arithmetic.pyi
  numpy/typing/tests/data/reveal/array_constructors.pyi
  numpy/typing/tests/data/reveal/arraypad.pyi
  numpy/typing/tests/data/reveal/arrayprint.pyi
  numpy/typing/tests/data/reveal/bitwise_ops.pyi
  numpy/typing/tests/data/reveal/dtype.pyi
  numpy/typing/tests/data/reveal/emath.pyi
  numpy/typing/tests/data/reveal/fft.pyi
  numpy/typing/tests/data/reveal/fromnumeric.pyi
  numpy/typing/tests/data/reveal/getlimits.pyi
  numpy/typing/tests/data/reveal/lib_function_base.pyi
  numpy/typing/tests/data/reveal/lib_polynomial.pyi
  numpy/typing/tests/data/reveal/linalg.pyi
  numpy/typing/tests/data/reveal/multiarray.pyi
  numpy/typing/tests/data/reveal/ndarray_conversion.pyi
  numpy/typing/tests/data/reveal/numeric.pyi
  numpy/typing/tests/data/reveal/polynomial_polybase.pyi
  numpy/typing/tests/data/reveal/polynomial_polyutils.pyi
  numpy/typing/tests/data/reveal/polynomial_series.pyi
  numpy/typing/tests/data/reveal/shape_base.pyi
  numpy/typing/tests/data/reveal/testing.pyi
  numpy/typing/tests/data/reveal/twodim_base.pyi
  numpy/typing/tests/data/reveal/ufunclike.pyi
Labels: 41 - Static typing

#28764 MNT: Enforce ruff rules: Flynt (FLY) and flake8-pie (PIE)
  numpy/_core/tests/test_numeric.py
  ruff.toml
Labels: 03 - Maintenance

#28831 TYP: Fix type annotations for ``np.ma.nomask`` and ``np.ma.MaskType``
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28833 TYP: Type ``np.ma.is_mask``
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28832 TYP: Type ``np.ma.getmask``
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28841 BUG: Fix Clang warning in loops_half.dispatch.c.src
  numpy/_core/src/umath/loops_half.dispatch.c.src
Labels: 00 - Bug

#28852 BUG: fix heap buffer overflow in np.strings.find
  numpy/_core/src/umath/string_fastsearch.h
  numpy/_core/tests/test_strings.py
Labels: 00 - Bug, 08 - Backport

#28769 ENH: Improve Floating Point Cast Performance on ARM
  doc/release/upcoming_changes/28769.performance.rst
  numpy/_core/src/multiarray/lowlevel_strided_loops.c.src
Labels: 01 - Enhancement

#28864 BUG: fix stringdtype singleton thread safety
  numpy/_core/src/multiarray/stringdtype/dtype.c
Labels: 00 - Bug, 08 - Backport, component: numpy.strings, 39 - free-threading

#28865 MAINT: use OpenBLAS 0.3.29
  .github/workflows/linux_musl.yml
  requirements/ci32_requirements.txt
  requirements/ci_requirements.txt
Labels: 03 - Maintenance, 08 - Backport

#28847 TYP: Use _Array1D alias in ``numpy.ma.core.pyi``
  numpy/ma/core.pyi
Labels: component: numpy.ma, 41 - Static typing

#28848 TYP: Type ``MaskedArray.ravel``
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28849 TYP: Type ``MaskedArray.repeat``, improve overloads for ``NDArray.repeat``, ``generic.repeat``, and ``np.repeat``
  numpy/__init__.pyi
  numpy/_core/fromnumeric.pyi
  numpy/ma/core.pyi
  numpy/typing/tests/data/reveal/fromnumeric.pyi
  numpy/typing/tests/data/reveal/ma.pyi
  numpy/typing/tests/data/reveal/ndarray_misc.pyi
Labels: component: numpy.ma, 41 - Static typing

#28863 TYP: Improve consistency of (masked) array typing aliases
  numpy/_typing/_add_docstring.py
  numpy/_typing/_array_like.py
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing

#28850 TYP: Type ``MaskedArray.swapaxes``
  numpy/ma/core.pyi
  numpy/typing/tests/data/fail/ma.pyi
  numpy/typing/tests/data/reveal/ma.pyi
Labels: component: numpy.ma, 41 - Static typing
